Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Prettier check
  .github/workflows/src/arm-lease-validation/arm-lease-validation.js
Due: none

Test the command change
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Due: eng/pipelines/typespec-validation-all.yml

Update tspconfig.yaml
  specification/keyvault/data-plane/Keys/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove ineffective where: selector from snapshot ResourceNameRestriction suppression
  specification/compute/resource-manager/Microsoft.Compute/Compute/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rebase on latest feature/foundry-release, use shared EvaluationLevel
  specification/ai-foundry/data-plane/Foundry/client.tsp
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/relocate-beta-operations.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluation-suites/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluation-suites/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Re-gen OpenAPI3 files
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restored and Updated/Generated swagger change with TypeSpec
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update references in PrivateEndpoint to Common file and Update Readme with 2025-07-01 PrivateEndpoint
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Descriptions
  specification/network/resource-manager/Microsoft.Network/Network/stable/2018-10-01/vmssNetwork.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

added vmss for typespec validation
  specification/network/resource-manager/Microsoft.Network/Network/stable/2018-10-01/vmssNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Reverted changes- Added BillingSku to PrivateEndpoint resource in VirtualNetwork file
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Default description
  specification/network/resource-manager/Microsoft.Network/Network/stable/2018-10-01/vmssNetwork.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added billing sku property to private endpoint
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added PrivateEndpoints to 2025-07-01
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Removed extra line
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix compile error in 'npx tsp compile client.tsp'
  specification/ai-foundry/data-plane/Foundry/src/openai-evaluations/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Use a more descriptive input argument than "body" in emitted SDK (#42860)
  specification/ai-foundry/data-plane/Foundry/src/evaluation-taxonomies/routes.tsp
  specification/ai-foundry/data-plane/Foundry/src/servicepatterns.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsp format routes.tsp
  specification/deviceupdate/data-plane/DeviceUpdate/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add SDK emitter config to tspconfig.yaml for SdkTspConfigValidation
  specification/deviceupdate/data-plane/DeviceUpdate/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Compute 2026-03-01: add minimumCommitmentDays and reservationStateInfo
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-03-01/capacityReservationExamples/CapacityReservation_CreateOrUpdate.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-03-01/capacityReservationExamples/CapacityReservation_Get.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-03-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-03-01/examples/capacityReservationExamples/CapacityReservation_CreateOrUpdate.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-03-01/examples/capacityReservationExamples/CapacityReservation_Get.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Run prettier on tspconfig.yaml
  specification/deviceupdate/data-plane/DeviceUpdate/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update doc to generic text
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2024-11-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2025-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2025-11-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/ComputeRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

examples
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01-preview/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01-preview/GetDeploymentSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01-preview/PutDeploymentSettingsWithADLess.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01-preview/PutDeploymentSettings_StorageS2D.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01-preview/PutDeploymentSettings_StorageSAN.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/ConfigureRemoteSupport.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/GetDeploymentSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/PutDeploymentSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/PutDeploymentSettingsWithADLess.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/PutDeploymentSettings_StorageS2D.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/PutDeploymentSettings_StorageSAN.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/examples/GetDeploymentSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/examples/PutDeploymentSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/examples/PutDeploymentSettingsWithADLess.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/examples/PutDeploymentSettings_StorageS2D.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/examples/PutDeploymentSettings_StorageSAN.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/hci.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/ConfigureRemoteSupport.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/GetDeploymentSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/PutDeploymentSettings.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/PutDeploymentSettingsWithADLess.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/PutDeploymentSettings_StorageS2D.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/PutDeploymentSettings_StorageSAN.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/hci.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add readme changes
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fixed auto tool issue
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/preview/2026-04-01-preview/openapi.json
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix mv
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01-preview/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2026-05-01/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2026-05-01-preview/examples/GetCluster.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/stable/2026-05-01/examples/GetCluster.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Compute 2026-03-01: TypeSpec models - add minimumCommitmentDays and reservationStateInfo
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove data gen Task type option
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/data_generation_jobs/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

MultipartBodyParameterGo
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make DataGenerationType optional in generation options
  specification/ai-foundry/data-plane/Foundry/src/evaluation-suites/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add code download endpoints for hosted code-based agents (#42672)
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Agents_DownloadAgentCode_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Agents_DownloadAgentVersionCode_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/agents/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

added else
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

fix purge date bug
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml
