Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Add new Microsoft.ResourceConnector API version 2025-03-01-preview
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesCreate_Update.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesDelete.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesGet.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesListByResourceGroup.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesListBySubscription.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesListClusterUserCredential.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesListKeys.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesListOperations.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesPatch.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesUpdateProxy.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/TelemetryConfig.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/UpgradeGraph.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/main.tsp
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/models.tsp
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/appliances.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesCreate_Update.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesDelete.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesGet.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesListByResourceGroup.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesListBySubscription.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesListClusterUserCredential.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesListKeys.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesListOperations.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesPatch.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesUpdateProxy.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/TelemetryConfig.json
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/UpgradeGraph.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Address review feedbacks.
  specification/ai/ContentUnderstanding/documentContent.tsp
  specification/ai/ContentUnderstanding/examples/2025-11-01/ContentAnalyzers_DeleteResult.json
  specification/ai/ContentUnderstanding/main.tsp
  specification/ai/ContentUnderstanding/models.tsp
  specification/ai/ContentUnderstanding/routes.tsp
  specification/ai/data-plane/ContentUnderstanding/stable/2025-11-01/ContentUnderstanding.json
  specification/ai/data-plane/ContentUnderstanding/stable/2025-11-01/examples/ContentAnalyzers_DeleteResult.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/containerservice/Fleet.Management/kubefleet/apis/placement/v1/types.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update readme.md with new API version
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Next TypeSpec Validation error
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fixing metav1 errors
  specification/containerservice/Fleet.Management/k8s.io/apimachinery/apis/meta/v1/types.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

python name update
  specification/batch/Azure.Batch/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[typespec-validation] Add eslint packages
  eng/tools/typespec-validation/package.json
Due: eng/pipelines/typespec-validation-all.yml

npm i
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

add minimal config
  eng/tools/typespec-validation/eslint.config.js
Due: eng/pipelines/typespec-validation-all.yml

[sdk-tspconfig-validation] Disable eslint - too many errors
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

[index.ts] var -> let, any -> unknown
  eng/tools/typespec-validation/src/index.ts
Due: eng/pipelines/typespec-validation-all.yml

[folder-structure.ts] useless escape
  eng/tools/typespec-validation/src/rules/folder-structure.ts
Due: eng/pipelines/typespec-validation-all.yml

test
  specification/batch/Azure.Batch/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[linter-ruleset.ts] let -> const
  eng/tools/typespec-validation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

[npm-prefix.ts] let -> const
  eng/tools/typespec-validation/src/rules/npm-prefix.ts
Due: eng/pipelines/typespec-validation-all.yml

update codeowners
  .github/CODEOWNERS
Due: none

update owners
  .github/CODEOWNERS
Due: none

Update garnetCache.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/preview/2025-11-01-preview/garnetCache.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update modals.tsp for python multipart
  specification/cognitiveservices/Speech.Transcription/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated property descriptions for 'daily' objects.
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Bump cspell from 9.2.1 to 9.3.2 in /eng/common/spelling (#38897)
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Due: eng/pipelines/typespec-validation-all.yml

Update address object properties (#38675)
  specification/maps/data-plane/Search/stable/1.0/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fixing some more issues.
  specification/communication/data-plane/CallAutomation/stable/2024-09-15/communicationservicescallautomation.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix timestamp format in examples
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/examples/2025-03-01-preview/AppliancesGet.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update guardian.yml
  eng/pipelines/guardian.yml
Due: eng/pipelines/typespec-validation-all.yml

Fixing formatting.
  specification/communication/data-plane/CallAutomation/stable/2024-09-15/communicationservicescallautomation.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Reformat
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/main.tsp
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update guardian.yml (#38909)
  eng/pipelines/guardian.yml
Due: eng/pipelines/typespec-validation-all.yml

Regenerate files again
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/preview/2025-03-01-preview/examples/AppliancesGet.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

prettier fixes 2
  specification/confidentialledger/Confidentialledger.Management/tspconfig.yaml
  specification/confidentialledger/Microsoft.CodeTransparency/tspconfig.yaml
  specification/confidentialledger/data-plane/ConfidentialLedgerIdentity/tspconfig.yaml
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/RegistryTasks/tspconfig.yaml
  specification/databasefleetmanager/DatabaseFleetManager.Management/tspconfig.yaml
  specification/paloaltonetworks/PaloAltoNetworks.Management/tspconfig.yaml
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/DataReplication/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update defination to be required
  specification/cognitiveservices/Speech.Transcription/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

python name updates
  specification/batch/Azure.Batch/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix clientname
  specification/cognitiveservices/data-plane/LanguageAnalyzeText/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fixed formatting.
  specification/communication/data-plane/CallAutomation/stable/2024-09-15/communicationservicescallautomation.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update Web Apps Owners (#38906)
  .github/CODEOWNERS
Due: none

update examples
  specification/batch/Azure.Batch/examples/2025-06-01/Pools_CreatePool_ConfidentialDiskEncryptionSet_ForUserSubscriptionAccounts.json
  specification/batch/Azure.Batch/examples/2025-06-01/Pools_GetPool_ConfidentialDiskEncryptionSet.json
  specification/batch/data-plane/Azure.Batch/stable/2025-06-01/examples/Pools_CreatePool_ConfidentialDiskEncryptionSet_ForUserSubscriptionAccounts.json
  specification/batch/data-plane/Azure.Batch/stable/2025-06-01/examples/Pools_GetPool_ConfidentialDiskEncryptionSet.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

commentout scm
  specification/cognitiveservices/Speech.Transcription/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
