Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: 242bfd6027c22fab048166dc671df712f2a2d200
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Added tag for 2025-07-01-preview in readme file
  specification/devcenter/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

2025-07-01-preview changes and examples
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/devcenter.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/DevCenterEncryptionSets_CreateWithKeyIdentity.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/DevCenterEncryptionSets_CreateWithSystemAssignedKeyIdentity.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/DevCenterEncryptionSets_PatchKeyIdentity.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/ImageDefinitions_GetByDevCenterCatalog.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/Pools_Get.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/Pools_List.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/Pools_Put.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/vdi.json
Due: eng/pipelines/spec-gen-sdk.yml

Update workspace roots implementation to fix breaking change
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-06-01-preview/Operation_List.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/workspace.tsp
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-01-01-preview/storageDiscoveryWorkspace.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-03-01-preview/storageDiscoveryWorkspace.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-04-01-preview/storageDiscoveryWorkspace.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-06-01-preview/examples/Operation_List.json
  specification/storagediscovery/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

update filter description
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2025-01-01/advisor.json
Due: eng/pipelines/spec-gen-sdk.yml

fix
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2025-01-01/advisor.json
Due: eng/pipelines/spec-gen-sdk.yml

review comments after api review
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/azure-ai-projects.json
Due: eng/pipelines/spec-gen-sdk.yml

Add TypeSpec configuration for generated Batch error model in Java (#35482)
  specification/batch/Azure.Batch/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Added watcher for breaking change check (#35479)
  .github/workflows/watch-breakingchange.yaml
Due: none

fix modelValidation errros
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-03-01-preview/StorageDiscoveryWorkspaces_CreateOrUpdate.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-03-01-preview/StorageDiscoveryWorkspaces_Get.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-03-01-preview/StorageDiscoveryWorkspaces_ListByResourceGroup.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-03-01-preview/StorageDiscoveryWorkspaces_ListBySubscription.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-03-01-preview/StorageDiscoveryWorkspaces_Update.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-04-01-preview/StorageDiscoveryWorkspaces_CreateOrUpdate.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-04-01-preview/StorageDiscoveryWorkspaces_Get.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-04-01-preview/StorageDiscoveryWorkspaces_ListByResourceGroup.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-04-01-preview/StorageDiscoveryWorkspaces_ListBySubscription.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-04-01-preview/StorageDiscoveryWorkspaces_Update.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-03-01-preview/examples/StorageDiscoveryWorkspaces_CreateOrUpdate.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-03-01-preview/examples/StorageDiscoveryWorkspaces_Get.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-03-01-preview/examples/StorageDiscoveryWorkspaces_ListByResourceGroup.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-03-01-preview/examples/StorageDiscoveryWorkspaces_ListBySubscription.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-03-01-preview/examples/StorageDiscoveryWorkspaces_Update.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-04-01-preview/examples/StorageDiscoveryWorkspaces_CreateOrUpdate.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-04-01-preview/examples/StorageDiscoveryWorkspaces_Get.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-04-01-preview/examples/StorageDiscoveryWorkspaces_ListByResourceGroup.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-04-01-preview/examples/StorageDiscoveryWorkspaces_ListBySubscription.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-04-01-preview/examples/StorageDiscoveryWorkspaces_Update.json
Due: eng/pipelines/spec-gen-sdk.yml

update typespec
  specification/compute/Compute.Management/models.tsp
  specification/compute/Compute.Management/routes.tsp
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/ComputeRP.json
Due: eng/pipelines/spec-gen-sdk.yml

updates
  specification/compute/Compute.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/ComputeRP.json
  specification/compute/resource-manager/readme.md
  specification/compute/resource-manager/sdk-suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml

fix
  specification/ai/Azure.AI.Projects/agents/models.tsp
  specification/ai/Azure.AI.Projects/agents/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/stable/2025-05-01/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/azure-ai-projects.json
Due: eng/pipelines/spec-gen-sdk.yml

fix
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_DeployAgent_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_DeployAgent_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_GetRevisions_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_GetRevisions_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_Get_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_Get_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_List_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_List_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_PauseOrResumeAgent_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_PauseOrResumeAgent_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_RevertLatest_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_RevertLatest_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_UpdateRevisions_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_UpdateRevisions_MinimumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

TEST: Add test comment to PureStorage TypeSpec for release plan testing
  specification/purestorage/PureStorage.Block.Management/main.tsp
Due: eng/pipelines/spec-gen-sdk.yml

fix
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_DeployAgent_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_DeployAgent_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_GetPreviousVersions_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_GetPreviousVersions_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_Get_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/examples/Agents_Get_MinimumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

Run npm install and prettier as per Swagger PrettierCheck instructions
  package-lock.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/devcenter.json
  specification/devcenter/resource-manager/Microsoft.DevCenter/preview/2025-07-01-preview/examples/ImageDefinitions_GetByDevCenterCatalog.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

fix indent
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

format
  specification/compute/Compute.Management/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

add c# sdk gen section
  specification/portalservices/CopilotConnectors.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

fix reference redirection and no version change
  specification/storagediscovery/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

adding more sdk options
  specification/portalservices/CopilotConnectors.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Updated RedTeam scanName to displayName
  specification/ai/Azure.AI.Projects/red-teams/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

remove where for testing
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

adding copilot connectors to suppression list
  specification/portalservices/CopilotConnectors.Management/tspconfig.yaml
  specification/suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml

adjust the tests
  specification/cognitiveservices/Language.AnalyzeText-authoring/examples/2025-05-15-preview/analyzetext-authoring/SuccessfulCreateProject.json
  specification/cognitiveservices/Language.AnalyzeText-authoring/examples/2025-05-15-preview/analyzetext-authoring/SuccessfulDeployProject.json
  specification/cognitiveservices/Language.AnalyzeText-authoring/examples/2025-05-15-preview/analyzetext-authoring/SuccessfulGetDeployment.json
  specification/cognitiveservices/Language.AnalyzeText-authoring/examples/2025-05-15-preview/analyzetext-authoring/SuccessfulGetProject.json
  specification/cognitiveservices/Language.AnalyzeText-authoring/examples/2025-05-15-preview/analyzetext-authoring/SuccessfulListProjects.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/analyzetext-authoring/SuccessfulCreateProject.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/analyzetext-authoring/SuccessfulDeployProject.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/analyzetext-authoring/SuccessfulGetDeployment.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/analyzetext-authoring/SuccessfulGetProject.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/analyzetext-authoring/SuccessfulListProjects.json
Due: eng/pipelines/spec-gen-sdk.yml

Float LintDiff dependencies
  eng/tools/lint-diff/package.json
Due: eng/pipelines/typespec-validation-all.yml

Update package-lock.json (run npm install at root)
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

fix Typespec validation
  specification/cognitiveservices/data-plane/Language/preview/2023-04-15-preview/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2024-11-15-preview/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzetext-authoring.json
Due: eng/pipelines/spec-gen-sdk.yml

Added new example
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-05-01-preview/examples/CreateOrReplace_IoTHub_With_TlsCompatMode.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-05-01-preview/iothub.json
Due: eng/pipelines/spec-gen-sdk.yml

lintdiff suppresion
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

remove "where" in suppresion
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Undo package-lock that happened due to npm install?
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Update .github/workflows/copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Updated RedTeam scanName to displayName (#35510)
  specification/ai/Azure.AI.Projects/red-teams/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

Update eng/tools/lint-diff/package.json
  eng/tools/lint-diff/package.json
Due: eng/pipelines/typespec-validation-all.yml

Update package-lock.json in light of new autorest version
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Float LintDiff dependencies (#35511)
  eng/tools/lint-diff/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Add generate instead of report
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/client.tsp
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-06-01-preview/Operation_List.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/examples/2025-06-01-preview/Report_Generate.json
  specification/storagediscovery/Microsoft.StorageDiscovery.Management/report.tsp
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-06-01-preview/examples/Operation_List.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-06-01-preview/examples/Report_Report.json
  specification/storagediscovery/resource-manager/Microsoft.StorageDiscovery/preview/2025-06-01-preview/storageDiscoveryWorkspace.json
  specification/storagediscovery/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
