Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: ${{ parameters.SdkRepoCommit }}
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

The first version of TSP
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/AzureBareMetalInstance.tsp
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/AzureBareMetalStorageInstance.tsp
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/client.tsp
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_Create.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_Delete.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_Get.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_ListBySubscription.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_PatchTags.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_Restart.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_Shutdown.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalInstances_Start.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalOperations_List.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalStorageInstances_Create.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalStorageInstances_Delete.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalStorageInstances_Get.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalStorageInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalStorageInstances_ListBySubscription.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalStorageInstances_PatchTags.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/examples/2024-08-01-preview/AzureBareMetalStorageInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/main.tsp
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/models.tsp
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

update readme.go.md
  specification/EnterpriseKnowledgeGraph/resource-manager/readme.go.md
  specification/addons/resource-manager/readme.go.md
  specification/adhybridhealthservice/resource-manager/readme.go.md
  specification/advisor/resource-manager/readme.go.md
  specification/alertsmanagement/resource-manager/readme.go.md
  specification/analysisservices/resource-manager/readme.go.md
  specification/apimanagement/resource-manager/readme.go.md
  specification/appconfiguration/resource-manager/readme.go.md
  specification/applicationinsights/resource-manager/readme.go.md
  specification/appplatform/resource-manager/readme.go.md
  specification/attestation/resource-manager/readme.go.md
  specification/authorization/resource-manager/readme.go.md
  specification/automanage/resource-manager/readme.go.md
  specification/automation/resource-manager/readme.go.md
  specification/azure-kusto/resource-manager/readme.go.md
Due: eng/pipelines/spec-gen-sdk.yml

comment
  .github/workflows/avocado-status.yml
Due: none

comment
  .github/workflows/src/avocado-status.js
Due: none

mgmt, java, Update tspconfig.yaml (#34009)
  specification/carbon/Carbon.Management/client.tsp
  specification/carbon/Carbon.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

add triggers
  .github/workflows/avocado-status.yml
Due: none

Update client.tsp
  specification/containerservice/Fleet.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

widen filter
  .github/workflows/avocado-status.yml
Due: none

support more target actions
  .github/workflows/src/context.js
Due: none

simplify, add comment
  .github/workflows/src/avocado-status.js
Due: none

use html_url
  .github/workflows/src/avocado-status.js
Due: none

fix tests
  .github/workflows/test/context.test.js
Due: none

update readme.go.md
  specification/EnterpriseKnowledgeGraph/resource-manager/readme.go.md
  specification/addons/resource-manager/readme.go.md
  specification/adhybridhealthservice/resource-manager/readme.go.md
  specification/advisor/resource-manager/readme.go.md
Due: eng/pipelines/spec-gen-sdk.yml

Update tspconfig.yaml
  specification/liftrhyperexecute/LambdaTest.HyperExecute.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Swagger difference fix
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/AzureBareMetalInstance.tsp
  specification/baremetalinfrastructure/BareMetalInfrastructure.Management/AzureBareMetalStorageInstance.tsp
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/baremetalinfrastructure.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Create.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Get.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_ListBySubscription.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_PatchTags.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_PatchTags_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Restart.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Shutdown.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalInstances_Start.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalOperations_List.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_Create.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_Delete.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_Get.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_ListByResourceGroup.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_ListBySubscription.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_PatchTags.json
  specification/baremetalinfrastructure/resource-manager/Microsoft.BareMetalInfrastructure/preview/2024-08-01-preview/examples/AzureBareMetalStorageInstances_PatchTags_Delete.json
Due: eng/pipelines/spec-gen-sdk.yml

Fixing all examples
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-01-01-preview/Connectors_Delete.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-01-01-preview/Connectors_TestExistingConnection.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-01-01-preview/Connectors_Update.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-05-01-preview/Connectors_Create.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-05-01-preview/Connectors_Delete.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-05-01-preview/Connectors_Get.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-05-01-preview/Connectors_ListByStorageAccount.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-05-01-preview/Connectors_TestExistingConnection.json
  specification/storage/Microsoft.StorageDataManagement.Management/examples/2025-05-01-preview/Connectors_Update.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-01-01-preview/examples/Connectors_Delete.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-01-01-preview/examples/Connectors_TestExistingConnection.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-01-01-preview/examples/Connectors_Update.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-05-01-preview/examples/Connectors_Create.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-05-01-preview/examples/Connectors_Delete.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-05-01-preview/examples/Connectors_Get.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-05-01-preview/examples/Connectors_ListByStorageAccount.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-05-01-preview/examples/Connectors_TestExistingConnection.json
  specification/storage/resource-manager/Microsoft.Storage/storageDataManagement/preview/2025-05-01-preview/examples/Connectors_Update.json
Due: eng/pipelines/spec-gen-sdk.yml

Revert the tag to 2025-01, update the description
  specification/maps/data-plane/Search/preview/2025-04-01-preview/search.json
  specification/maps/data-plane/Search/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Update branch.txt
  .js/branch.txt
Due: none

update readme.go.md
  specification/EnterpriseKnowledgeGraph/resource-manager/readme.md
  specification/adhybridhealthservice/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Added operations folder
  specification/loadtestservice/Operations.Management/examples/2025-07-01-preview/Operations_List.json
  specification/loadtestservice/Operations.Management/main.tsp
  specification/loadtestservice/Operations.Management/tspconfig.yaml
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/Operations/preview/2025-07-01-preview/examples/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/Operations/preview/2025-07-01-preview/playwright.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/Playwright.Management/preview/2025-07-01-preview/examples/Operations_List.json
Due: eng/pipelines/spec-gen-sdk.yml

Added readme changes for fixing CI failures
  specification/loadtestservice/data-plane/Playwright/readme.md
  specification/loadtestservice/data-plane/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Add SamplingConfiguration and update get agent evaluation results API
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

update service-name
  specification/portalservices/CopilotSettings.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

The first version of TSP
  specification/hybridkubernetes/HybridKubernetes.Management/ConnectedCluster.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/client.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/ConnectedClustersListClusterCredentialResultCSPAAD.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/ConnectedClustersListClusterCredentialResultCSPToken.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/ConnectedClustersListClusterCredentialResultHPAAD.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/ConnectedClustersListClusterCredentialResultHPToken.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/CreateClusterAgentless_KindAWSExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/CreateClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/CreateClusterPrivateLinkExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/CreateCluster_KindExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/DeleteClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/GetClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/GetClustersByResourceGroupExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/GetClustersBySubscriptionExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/GetProvisionedClusterExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/ListConnectedClusterOperationsExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/UpdateClusterByPatchExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/examples/2024-12-01-preview/UpdateClusterByPutExample.json
  specification/hybridkubernetes/HybridKubernetes.Management/main.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/models.tsp
  specification/hybridkubernetes/HybridKubernetes.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Base version check in 2024-02-01
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListPoliciesUnderSubscription.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyPatch.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/webapplicationfirewall.json
Due: eng/pipelines/spec-gen-sdk.yml

1. Ran prettier check
  specification/applicationmigration/ApplicationMigration.Management/WorkloadsDiscovery.Management/examples/2025-02-01-preview/PgsqlInstances_CreateOrUpdate_MaximumSet_Gen.json
  specification/applicationmigration/ApplicationMigration.Management/WorkloadsDiscovery.Management/examples/2025-02-01-preview/PgsqlInstances_Get_MaximumSet_Gen.json
  specification/applicationmigration/ApplicationMigration.Management/WorkloadsDiscovery.Management/examples/2025-02-01-preview/PgsqlInstances_ListBySite_MaximumSet_Gen.json
  specification/applicationmigration/ApplicationMigration.Management/WorkloadsDiscovery.Management/examples/2025-02-01-preview/PgsqlInstances_Update_MaximumSet_Gen.json
  specification/applicationmigration/resource-manager/Microsoft.ApplicationMigration/WorkloadsDiscovery/preview/2025-02-01-preview/examples/PgsqlInstances_CreateOrUpdate_MaximumSet_Gen.json
  specification/applicationmigration/resource-manager/Microsoft.ApplicationMigration/WorkloadsDiscovery/preview/2025-02-01-preview/examples/PgsqlInstances_Get_MaximumSet_Gen.json
  specification/applicationmigration/resource-manager/Microsoft.ApplicationMigration/WorkloadsDiscovery/preview/2025-02-01-preview/examples/PgsqlInstances_ListBySite_MaximumSet_Gen.json
  specification/applicationmigration/resource-manager/Microsoft.ApplicationMigration/WorkloadsDiscovery/preview/2025-02-01-preview/examples/PgsqlInstances_Update_MaximumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

Update
  specification/compute/Compute.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/ComputeRP.json
  specification/elasticsan/resource-manager/Microsoft.ElasticSan/preview/2024-07-01-preview/elasticsan.json
Due: eng/pipelines/spec-gen-sdk.yml

Renaming operations folder
  specification/loadtestservice/Playwright.Management/examples/2025-07-01-preview/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/Operations/preview/2025-07-01-preview/examples/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/Operations/preview/2025-07-01-preview/operations.json
Due: eng/pipelines/spec-gen-sdk.yml

Renaming operations folder
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/operations/preview/2025-07-01-preview/examples/Operations_List.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/operations/preview/2025-07-01-preview/operations.json
Due: eng/pipelines/spec-gen-sdk.yml

Minor comment change
  specification/loadtestservice/Playwright.Management/main.tsp
Due: eng/pipelines/spec-gen-sdk.yml

AFD WAF 2025-03-01 stable version.
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListPoliciesUnderSubscription.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyPatch.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Added client application contracts, client application to product link contract, and modified product contract
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/apimanagement.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/apimclientApplications.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/definitions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementCreateClientApplication.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementCreateClientApplicationProductLink.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementDeleteClientApplication.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementDeleteClientApplicationProductLink.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementGetClientApplication.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementGetClientApplicationProductLink.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementHeadClientApplication.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementListClientApplicationProductLinks.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/examples/ApiManagementListClientApplications.json
Due: eng/pipelines/spec-gen-sdk.yml

Update eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

Address PR comments, add more examples
  specification/maps/data-plane/Search/preview/2025-04-01-preview/examples/AutocompleteAddress.json
  specification/maps/data-plane/Search/preview/2025-04-01-preview/examples/AutocompleteParkAndPopulatedPlaceResultType.json
  specification/maps/data-plane/Search/preview/2025-04-01-preview/examples/AutocompleteParkResultType.json
  specification/maps/data-plane/Search/preview/2025-04-01-preview/search.json
Due: eng/pipelines/spec-gen-sdk.yml

spell check
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-10-01-preview/definitions.json
Due: eng/pipelines/spec-gen-sdk.yml

Resolved examples error
  specification/loadtestservice/Playwright/tspconfig.yaml
  specification/loadtestservice/data-plane/Playwright/preview/2025-07-01-preview/examples/Accounts_Get.json
  specification/loadtestservice/data-plane/Playwright/preview/2025-07-01-preview/examples/Accounts_GetBrowsers.json
  specification/loadtestservice/data-plane/Playwright/preview/2025-07-01-preview/examples/Workspaces_Get.json
  specification/loadtestservice/data-plane/Playwright/preview/2025-07-01-preview/playwright.json
Due: eng/pipelines/spec-gen-sdk.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
