Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Fix DescriptionMustNotBeNodeName
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/helpers.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/fleets.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add DisablePeeringRoute property to RouteTable TypeSpec for API version 2025-07-01 (#42058)
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-07-01/RouteTableCreateWithDisablePeeringRoute.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2018-10-01/vmssNetwork.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/RouteTableCreateWithDisablePeeringRoute.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Run tsp compile
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/fleets.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Regenerate swagger from TypeSpec with ManagedComputeUsages
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/ListManagedComputeUsages.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add missing headers
  specification/storage/data-plane/FileStorage/routes.tsp
  specification/storage/data-plane/FileStorage/stable/2026-06-06/generated_file.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add managedResourceGroupName property, fix docs wording, update examples
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/aimanager.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/aimanagernamespace.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-04-02-preview/AIManagers_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-04-02-preview/AIManagers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-04-02-preview/AIManagers_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-04-02-preview/AIManagers_ListBySubscription.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-04-02-preview/AIManagers_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/helpers.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-04-02-preview/aimanagers.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-04-02-preview/examples/AIManagers_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-04-02-preview/examples/AIManagers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-04-02-preview/examples/AIManagers_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-04-02-preview/examples/AIManagers_ListBySubscription.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-04-02-preview/examples/AIManagers_Update.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rust customizations
  specification/storage/data-plane/FileStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ADR Ignite Pipeline Fixes (#27785)
  specification/deviceregistry/DeviceRegistry.Management/namespaces.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/client.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/devices.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/main.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/tspconfig.yaml
  specification/deviceregistry/resource-manager/readme.md
  specification/deviceregistry/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update provision & fix dataplane base class (#27846)
  specification/deviceregistry/data-plane/DeviceRegistry/deviceCapabilities.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/deviceStates.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/devices.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceCapabilities_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceCapabilities_Get.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceCapabilities_GetCapabilityByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceCapabilities_List.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceCapabilities_Update.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceStates_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceStates_Get.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceStates_Update.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Devices_ExecuteAction.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Devices_GetDeviceByExternalId.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Devices_GetDeviceByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Devices_GetGroupMemberships.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Devices_Provision.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Groups_GetGroupByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/groups.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/models.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/deviceregistry.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceCapabilities_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceCapabilities_Get.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceCapabilities_GetCapabilityByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceCapabilities_List.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceCapabilities_Update.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceStates_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceStates_Get.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceStates_Update.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Devices_ExecuteAction.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Devices_GetDeviceByExternalId.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Devices_GetDeviceByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Devices_GetGroupMemberships.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Devices_Provision.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Groups_GetGroupByUuid.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Deduplicating Properties in TypeSpec & Other Updates from Review (#27944)
  specification/deviceregistry/DeviceRegistry.Management/groups.tsp
  specification/deviceregistry/DeviceRegistry.Management/namespaces.tsp
  specification/deviceregistry/DeviceRegistry.Management/newDevices.tsp
  specification/deviceregistry/common/deviceTypes.tsp
  specification/deviceregistry/common/groupTypes.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/client.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/deviceCapabilities.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/deviceStates.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/devices.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceCapabilities_GetCapabilityByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Devices_GetDeviceByExternalId.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Devices_GetDeviceByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Groups_GetGroupByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Groups_GetGroupMemberships.json
  specification/deviceregistry/data-plane/DeviceRegistry/groups.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/deviceregistry.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceCapabilities_GetCapabilityByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Devices_GetDeviceByExternalId.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Devices_GetDeviceByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Groups_GetGroupByUuid.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Groups_GetGroupMemberships.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/deviceregistry.json
  specification/deviceregistry/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Users/chunyli/cogsvc managed compute deployment (#42130)
  specification/cognitiveservices/CognitiveServices.Management/ManagedComputeDeployment.tsp
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/CreateOrUpdateManagedComputeDeployment.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/DeleteManagedComputeDeployment.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/GetManagedComputeDeployment.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/ListManagedComputeDeployments.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/UpdateManagedComputeDeployment.json
  specification/cognitiveservices/CognitiveServices.Management/main.tsp
  specification/cognitiveservices/CognitiveServices.Management/models.tsp
  specification/cognitiveservices/cspell.yaml
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/cspell.yaml
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/CreateOrUpdateManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/DeleteManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/GetManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/ListManagedComputeDeployments.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/UpdateManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

regen the swaggers
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-11-05/generated_blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-02-06/generated_blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-04-06/generated_blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-06-06/generated_blob.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update upstream alignment dates and enhance review instructions across multiple files
  .github/instructions/armapi-review.instructions.md
  .github/instructions/openapi-review.instructions.md
  .github/instructions/typespec-review.instructions.md
  .github/skills/azure-api-review/SKILL.md
  .github/skills/azure-api-review/references/enum-best-practices.md
  .github/skills/azure-api-review/references/lro-final-state-via.md
  .github/skills/azure-api-review/references/naming-conventions.md
  .github/skills/azure-api-review/references/property-mutability.md
  .github/skills/azure-api-review/references/provisioning-state.md
  .github/skills/azure-api-review/references/secret-detection.md
  .github/skills/azure-api-review/references/suppression-review-criteria.md
  .github/skills/azure-api-review/references/tracked-resource-lifecycle.md
Due: none

Updates tsp- no spec changes caused
  specification/appconfiguration/data-plane/AppConfiguration/client.tsp
  specification/appconfiguration/data-plane/AppConfiguration/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove Usage inheritance from ManagedComputeUsage
  specification/cognitiveservices/CognitiveServices.Management/models.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add a note to clarify upstream alignment comment in review instructions
  .github/instructions/armapi-review.instructions.md
  .github/instructions/openapi-review.instructions.md
  .github/instructions/typespec-review.instructions.md
  .github/skills/azure-api-review/references/enum-best-practices.md
  .github/skills/azure-api-review/references/lro-final-state-via.md
  .github/skills/azure-api-review/references/naming-conventions.md
  .github/skills/azure-api-review/references/property-mutability.md
  .github/skills/azure-api-review/references/provisioning-state.md
  .github/skills/azure-api-review/references/secret-detection.md
  .github/skills/azure-api-review/references/suppression-review-criteria.md
  .github/skills/azure-api-review/references/tracked-resource-lifecycle.md
Due: none

remove scopetype
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/ListManagedComputeUsages.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix(dps): consolidate OperationMode/BulkEnrollmentMode via @renamedFrom
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/preview/2025-07-01-preview/service.json
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/service/models.tsp
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/stable/2021-10-01/service.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

docs(dps): correct BulkEnrollmentMode/OperationMode direction and document @renamedFrom
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/TYPESPEC-MIGRATION.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Nest generation jobs under evaluators sub-client via @@clientLocation
  specification/ai-foundry/data-plane/Foundry/client.tsp
  specification/ai-foundry/data-plane/Foundry/relocate-beta-operations.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[dependabot.yml] Add cooldown period for actions updates
  .github/dependabot.yml
Due: none

Add CODEOWNERS verification pipeline step and script
  eng/common/pipelines/templates/steps/verify-codeowners.yml
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: eng/pipelines/typespec-validation-all.yml

Apply suggestions from code review
  eng/common/pipelines/templates/steps/verify-codeowners.yml
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: eng/pipelines/typespec-validation-all.yml

Review feedback
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: eng/pipelines/typespec-validation-all.yml

Fail closed on missing release status
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: eng/pipelines/typespec-validation-all.yml

ignore pkg files python
  specification/storage/Microsoft.QueueStorage/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Delete the previous preview version
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_Cancel.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_CreateOrUpdate.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_Delete.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_Get.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_ListByResourceGroup.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_ListBySubscription.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_ListVirtualMachineScaleSets.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_ListVirtualMachines.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Fleets_Update.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2025-07-01-preview/Operations_List.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_CreateOrUpdate.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_Delete.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_Get.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_ListByResourceGroup.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_ListBySubscription.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_ListVirtualMachineScaleSets.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_ListVirtualMachines.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Fleets_Update.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/Operations_List.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/examples/2026-04-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/fleet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/main.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_Cancel.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_CreateOrUpdate.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_Delete.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_Get.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_ListByResourceGroup.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_ListBySubscription.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_ListVirtualMachineScaleSets.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_ListVirtualMachines.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Fleets_Update.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2025-07-01-preview/examples/Operations_List.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2026-04-01-preview/azurefleet.json
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updated swagger
  specification/cognitiveservices/data-plane/LanguageAnalyzeDocuments/preview/2026-05-15-preview/analyzedocuments.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix missing HTTP 200 response on Projects_Delete
  specification/cognitiveservices/CognitiveServices.Management/Project.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2025-12-01/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2026-03-01/cognitiveservices.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[dependabot.yml] Add cooldown period for actions updates (#42479)
  .github/dependabot.yml
Due: none

fix typespec validation
  specification/cognitiveservices/data-plane/LanguageAnalyzeDocuments/main.tsp
  specification/cognitiveservices/data-plane/LanguageAnalyzeDocuments/models/pii.entity.recognition.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ReadOnly for UUID & Property Name Update (#28014)
  specification/deviceregistry/data-plane/DeviceRegistry/client.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceCapabilities_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/DeviceStates_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/examples/2026-11-01-preview/Groups_GetGroupsForDevice.json
  specification/deviceregistry/data-plane/DeviceRegistry/groups.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/models.tsp
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/deviceregistry.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceCapabilities_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/DeviceStates_CreateOrReplace.json
  specification/deviceregistry/data-plane/DeviceRegistry/preview/2026-11-01-preview/examples/Groups_GetGroupsForDevice.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

blobs: customize enums for c#
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix example path
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/AzureFleet/preview/2026-04-01-preview/azurefleet.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Consolidate instruction files into skills — single source of truth
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/references/release-plan-details.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: none

Restore original SKILL.md content — only change is name: prefix
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/references/release-plan-details.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: none

Add x-ms-pageable to batchOutboundRules POST for CognitiveServices
  specification/cognitiveservices/CognitiveServices.Management/ManagedNetworkSettingsPropertiesBasicResource.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2025-12-01/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2026-03-01/cognitiveservices.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
