Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

nit
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[Model/Semantic Validation] Add job-summary artifact
  .github/workflows/swagger-modelvalidation-code.yaml
  .github/workflows/swagger-semanticvalidation-code.yaml
Due: none

[Model/Semantic Validation] Add job-summary artifact (#36614)
  .github/workflows/swagger-modelvalidation-code.yaml
  .github/workflows/swagger-semanticvalidation-code.yaml
Due: none

Update sdk-suppressions.yaml
  specification/datafactory/resource-manager/sdk-suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Minor change in property name
  specification/migrate/resource-manager/Microsoft.OffAzure/preview/2024-12-01-preview/migrate.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/apicenter/ApiCenter.DataApi/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix model error
  specification/security/resource-manager/Microsoft.Security/preview/2025-07-01-preview/examples/DefenderForStorage/GetDefenderForStorageSettings_example.json
  specification/security/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Change the description of deprecating vm refresh action of RetainedData.
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
  specification/batch/data-plane/Microsoft.Batch/stable/2024-07-01.20.0/BatchService.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/BatchManagement.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "Change the description of deprecating vm refresh action of RetainedData."
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
  specification/batch/data-plane/Microsoft.Batch/stable/2024-07-01.20.0/BatchService.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/BatchManagement.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add deprecated directive and slightly change the description.
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
  specification/batch/data-plane/Microsoft.Batch/stable/2024-07-01.20.0/BatchService.json
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/BatchManagement.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Include operation list example file
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-06-30/examples/Operations_List.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix another test
  .github/workflows/test/summarize-checks/summarize-checks.test.js
Due: none

delete watcher workflows
  .github/workflows/watch-modelvalidation.yaml
  .github/workflows/watch-semanticvalidation.yaml
Due: none

[summarize-checks.js] Remove test-ignore
  .github/workflows/src/summarize-checks/summarize-checks.js
Due: none

[set-status.test.js] Remove test-ignore
  .github/workflows/test/set-status.test.js
Due: none

comment
  .github/workflows/src/summarize-checks/summarize-checks.js
Due: none

fix nextlinkname
  specification/servicelinker/ServiceLinker.Management/routes.tsp
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/preview/2024-07-01-preview/servicelinker.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Changing the property name to items in the list wrappers
  specification/storage/Azure.Storage.Queues/client.tsp
  specification/storage/Azure.Storage.Queues/models.tsp
  specification/storage/Azure.Storage.Queues/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Initial commit of TypeSpec files for Azure.Storage.Queues
  specification/storage/Azure.Storage.Queues/client.tsp
  specification/storage/Azure.Storage.Queues/main.tsp
  specification/storage/Azure.Storage.Queues/models.tsp
  specification/storage/Azure.Storage.Queues/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updating TypeSpec to align with Microsoft.BlobStorage
  specification/storage/Azure.Storage.Queues/client.tsp
  specification/storage/Azure.Storage.Queues/main.tsp
  specification/storage/Azure.Storage.Queues/models.tsp
  specification/storage/Azure.Storage.Queues/routes.tsp
  specification/storage/Azure.Storage.Queues/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update typespec to use namespace in place of interface and consolidate all operations to only queue_service_client and queue_client.
  specification/storage/Azure.Storage.Queues/client.tsp
  specification/storage/Azure.Storage.Queues/main.tsp
  specification/storage/Azure.Storage.Queues/models.tsp
  specification/storage/Azure.Storage.Queues/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix pagination for list queue segments
  specification/storage/Azure.Storage.Queues/models.tsp
  specification/storage/Azure.Storage.Queues/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updating spec to reflect dotnet api
  specification/storage/Azure.Storage.Queues/models.tsp
  specification/storage/Azure.Storage.Queues/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rename StorageServiceProperties to QueueServiceProperties
  specification/storage/Azure.Storage.Queues/models.tsp
  specification/storage/Azure.Storage.Queues/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Ensuring that metadata on set is not optional to bring it out of the option bag and make it a method argument.
  specification/storage/Microsoft.QueueStorage/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Moving the typespec location to old storage to align with blob
  specification/storage/Microsoft.QueueStorage/client.tsp
  specification/storage/Microsoft.QueueStorage/main.tsp
  specification/storage/Microsoft.QueueStorage/models.tsp
  specification/storage/Microsoft.QueueStorage/routes.tsp
  specification/storage/Microsoft.QueueStorage/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Renaming StorageServiceStats to QueueServiceStats
  specification/storage/Microsoft.QueueStorage/models.tsp
  specification/storage/Microsoft.QueueStorage/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fixing the package
  specification/monitor/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

example fix
  specification/edge/Microsoft.Edge.SiteInsights.Management/examples/2025-08-01-preview/SiteInsights_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.SiteInsights.Management/examples/2025-08-01-preview/SiteInsights_List_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/siteInsights/preview/2025-08-01-preview/siteInsights.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

readme fix
  specification/edge/resource-manager/Microsoft.Edge/siteInsights/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tspconfig fix
  specification/edge/Microsoft.Edge.SiteInsights.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsmv fix
  specification/storagesync/StorageSync.Management/CloudEndpoint.tsp
  specification/storagesync/StorageSync.Management/PrivateEndpointConnection.tsp
  specification/storagesync/StorageSync.Management/RegisteredServer.tsp
  specification/storagesync/StorageSync.Management/ServerEndpoint.tsp
  specification/storagesync/StorageSync.Management/StorageSyncService.tsp
  specification/storagesync/StorageSync.Management/main.tsp
  specification/storagesync/StorageSync.Management/models.tsp
  specification/storagesync/StorageSync.Management/tspconfig.yaml
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/storagesync.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove c# configs
  specification/edge/Microsoft.Edge.SiteInsights.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/dynatrace/Dynatrace.Management/MonitorResource.tsp
  specification/dynatrace/Dynatrace.Management/MonitoredSubscriptionProperties.tsp
  specification/dynatrace/Dynatrace.Management/tspconfig.yaml
  specification/dynatrace/resource-manager/Dynatrace.Observability/stable/2024-04-24/dynatrace.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsmv fix
  specification/connectedvmware/ConnectedVMwareSphere.Management/main.tsp
  specification/connectedvmware/ConnectedVMwareSphere.Management/tspconfig.yaml
  specification/connectedvmware/resource-manager/Microsoft.ConnectedVMwarevSphere/stable/2023-12-01/connectedvmware.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/ai/DocumentIntelligence/tspconfig.yaml
  specification/ai/Face/tspconfig.yaml
  specification/loadtestservice/LoadTestService/tspconfig.yaml
  specification/loadtestservice/Playwright/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added changes for name clashing
  specification/edge/Microsoft.Edge.ConfigurationManager.Management/DynamicSchema.tsp
  specification/edge/Microsoft.Edge.ConfigurationManager.Management/Solution.tsp
  specification/edge/Microsoft.Edge.ConfigurationManager.Management/SolutionTemplate.tsp
  specification/edge/Microsoft.Edge.Configurations.Management/DynamicConfiguration.tsp
  specification/edge/resource-manager/Microsoft.Edge/configurationmanager/stable/2025-08-01/configurationmanager.json
  specification/edge/resource-manager/Microsoft.Edge/configurations/stable/2025-08-01/configurations.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/shared/src/doc-preview.js, .github/shared/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
