Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:

trigger: none
pr:
  branches:
    include:
      - network-*
  paths:
    include:
    - specification/network/*

pool:
  vmImage: vs2017-win2016

steps:
  - powershell: |
      & "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  - powershell: |
      & "npm" install autorest -g
    displayName: Install autorest

eng/pipelines/typespec-validation-all.yml:

trigger:
  branches:
    include:
    - main
    - RPSaaSMaster
    - typespec-next

pr:
  branches:
    include:
    - main
    - RPSaaSMaster
    - typespec-next
  paths:
    include:
    - .gitattributes
    - .prettierrc.json
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng
    - specification/suppressions.yaml
    - specification/common-types

resources:
  pipelines:
  - pipeline: typespec
    source: typespec - Publish
    project: internal
    trigger:
      branches:
        include:
        - main
  - pipeline: typespec-azure
    source: typespec-azure - Publish
    project: internal
    trigger:
      branches:
        include:
        - main

jobs:
- job:

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mms-ubuntu-2204-general
        OsVmImage: ubuntu-22.04
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - script: git -c user.name="azure-sdk" -c user.email="azuresdk@microsoft.com" merge -Xours origin/main
    displayName: git merge origin/main

  - template: /eng/pipelines/templates/steps/npm-install.yml

  - pwsh: |
      $(Build.SourcesDirectory)/eng/scripts/TypeSpec-Validation.ps1 -CheckAll -GitClean -Verbose
    displayName: Validate All Specs
    ignoreLASTEXITCODE: true

eng/pipelines/typespec-validation-ci.yml:

trigger:
  branches:
    include:
    - main
    - typespec-next

pr:
  branches:
    include:
    - main
    - typespec-next
  paths:
    include:
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng/tools/TypeSpecValidation

jobs:
- job: Test_TypeSpec_Validation

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mms-ubuntu-2204-general
        OsVmImage: ubuntu-22.04
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - template: /eng/pipelines/templates/steps/npm-install.yml

  - script: npm test
    displayName: Test TypeSpecValidation Tool
    workingDirectory: $(Build.SourcesDirectory)/eng/tools/TypeSpecValidation

Added pattern restriction
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

changed the prefix of subclients to `AuthoringConversationAnalysis`
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/routes.tsp
  specification/cognitiveservices/data-plane/Language/preview/2023-04-15-preview/analyzeconversations-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2024-11-15-preview/analyzeconversations-authoring.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzeconversations-authoring.json
Due: none

Fixed pattern regex
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

change the prefix of common models to AnalyzeConversationAuthoring
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/common.tsp
Due: none

java, tspconfig for computeschedule (#32264)
  specification/computeschedule/ComputeSchedule.Management/client.tsp
  specification/computeschedule/ComputeSchedule.Management/tspconfig.yaml
Due: none

fix: types
  specification/ai/ModelInference/examples/2025-02-01-preview/GetImageGenerations_MaximumSet_Gen.json
  specification/ai/data-plane/ModelInference/preview/2025-02-01-preview/examples/GetImageGenerations_MaximumSet_Gen.json
Due: none

Backward compatibility for service networking (#32247)
  specification/servicenetworking/ServiceNetworking.Management/main.tsp
Due: none

Add package
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Removing 2024-07-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLoggingConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLoggingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspLoggingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspOperationStatusGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-07-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

Copied files from previous version to 2024-01-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

Changed version to 2024-01-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

Changes in the new version
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLoggingConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLoggingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLoggingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspOperationStatusGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

Removing nsp files from 2024-01-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLoggingConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLoggingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspLoggingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspOperationStatusGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-01-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

Removing readme changes
  specification/network/resource-manager/readme.md
Due: .azure-pipelines/network-validation.yml

Copied files from previous version to 2024-02-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

Changed version to 2024-02-01-preview
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAccessRuleReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationReconcile.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkReferenceDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkReferenceGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLinkReferenceList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfileDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfileGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfileList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspProfilePut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/PerimeterAssociableResourcesList.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml

Changes in the new version
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspAssociationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLoggingConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLoggingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspLoggingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/examples/NspOperationStatusGet.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/network.json
  specification/network/resource-manager/Microsoft.Network/preview/2024-02-01-preview/networkSecurityPerimeter.json
  specification/network/resource-manager/readme.md
Due: .azure-pipelines/network-validation.yml

Remove typespec requirements
  specification/monitor/suppressions.yaml
Due: none

Update tspconfig.yaml
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Due: none

updating api version
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2025-01-01/examples/Predict.json
Due: none

Update tspconfig.yaml (#32268)
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Due: none

Bump openapi-to-typespec to 0.10.8 (#32267)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Add public preview 2024-11-01-preview
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlanPooledSchedule_CreateUsingCreateDelete.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlanPooledSchedule_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlanPooledSchedule_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlanPooledSchedule_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlan_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlan_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlan_ListByHostPool.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlan_ListByResourceGroup.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlan_ListBySubscription.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/ScalingPlan_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/SessionHost_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/SessionHost_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-11-01-preview/examples/SessionHost_Update.json
Due: none

[Synapse] Add credential reference in notebook/sjd activity
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Due: none

update
  specification/deviceregistry/DeviceRegistry.Management/client.tsp
Due: none

add config
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
Due: none

override service-dir for java
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Due: none

override service-dir for java (#32271)
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Due: none

update
  specification/iotoperations/IoTOperations.Management/client.tsp
Due: none

add go config
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
Due: none

liftrpinecone, java config
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
Due: none

Added typespec suppressions to preview api
  specification/monitor/suppressions.yaml
Due: none

Fixing the x-ms-pageable issue
  specification/loadtestservice/LoadTestService/models.tsp
  specification/loadtestservice/LoadTestService/routes.tsp
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2023-04-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-03-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-07-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/loadtestservice.json
Due: none

Prettier fix
  specification/loadtestservice/LoadTestService/examples/2024-05-01-preview/ListTestProfileRuns.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2024-05-01-preview/examples/ListTestProfileRuns.json
Due: none

added all rules! : )
  eng/tools/eslint-plugin-tsv/src/interfaces/rule-interfaces.ts
  eng/tools/eslint-plugin-tsv/src/rules/tspconfig-validation-rules.ts
  eng/tools/eslint-plugin-tsv/src/utils/rule-creator.ts
  eng/tools/eslint-plugin-tsv/src/utils/rule-doc.ts
  eng/tools/eslint-plugin-tsv/src/utils/rule.ts
  eng/tools/eslint-plugin-tsv/test/rules/tspconfig-options-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Revert "updating api version"
  specification/advisor/resource-manager/Microsoft.Advisor/stable/2025-01-01/examples/Predict.json
Due: none
