Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Fix file name change
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/UpgradeWindow_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/oep.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/search/data-plane/Search/models-service.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/search/data-plane/Search/models-shared.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/search/data-plane/Search/models-knowledgebase.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Improve CopyAnalyzer fixes
  specification/ai/ContentUnderstanding/client.tsp
  specification/ai/ContentUnderstanding/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

EXAMPLE: Added missing models in Analyzer CreateOrReplace
  specification/ai/ContentUnderstanding/examples/2025-11-01/ContentAnalyzers_CreateOrReplace.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix comment
  specification/ai/Azure.AI.Agents/common/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/2025-05-01/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/v1/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

whitespace
  .github/workflows/arm-auto-signoff-status.yaml
Due: none

Fix incorrect copyAnalyzer name
  specification/ai/ContentUnderstanding/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add pattern to resourceName. Remove UpgradeWindow object
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ReadyForUpgrade_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/oep.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Commented Data Assets
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/examples/2026-01-15-preview/CriticalDataElements_QueryDuplicateCriticalDataElements_Gen.json
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/examples/2026-01-15-preview/DataProducts_QueryDataProducts_Gen.json
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/examples/2026-01-15-preview/DataProducts_QueryDuplicateDataProducts_Gen.json
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/examples/2026-01-15-preview/Okr_QueryDuplicateObjectives_Gen.json
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/examples/2026-01-15-preview/Okr_QueryObjectives_Gen.json
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/examples/2026-01-15-preview/Terms_QueryDuplicateTerms_Gen.json
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/models.tsp
  specification/purviewdatagovernance/Azure.Analytics.Purview.UnifiedCatalog/routes.tsp
  specification/purviewdatagovernance/data-plane/Azure.Analytics.Purview.UnifiedCatalog/preview/2026-01-15-preview/CatalogApiService.json
  specification/purviewdatagovernance/data-plane/Azure.Analytics.Purview.UnifiedCatalog/preview/2026-01-15-preview/examples/CriticalDataElements_QueryDuplicateCriticalDataElements_Gen.json
  specification/purviewdatagovernance/data-plane/Azure.Analytics.Purview.UnifiedCatalog/preview/2026-01-15-preview/examples/DataProducts_QueryDataProducts_Gen.json
  specification/purviewdatagovernance/data-plane/Azure.Analytics.Purview.UnifiedCatalog/preview/2026-01-15-preview/examples/DataProducts_QueryDuplicateDataProducts_Gen.json
  specification/purviewdatagovernance/data-plane/Azure.Analytics.Purview.UnifiedCatalog/preview/2026-01-15-preview/examples/Okr_QueryDuplicateObjectives_Gen.json
  specification/purviewdatagovernance/data-plane/Azure.Analytics.Purview.UnifiedCatalog/preview/2026-01-15-preview/examples/Okr_QueryObjectives_Gen.json
  specification/purviewdatagovernance/data-plane/Azure.Analytics.Purview.UnifiedCatalog/preview/2026-01-15-preview/examples/Terms_QueryDuplicateTerms_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix examples to be 15 chars or less for resourceName. Revert UpgradeWindow model change.
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_AddPartition_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Create_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Delete_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ListPartitions_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ListPartitions_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ReadyForUpgrade_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_RemovePartition_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Update_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_CreateOrUpdate_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_Delete_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_ListByOAKInstance_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_CreateOrUpdate_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_ListByOAKInstance_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateLinkResources_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateLinkResources_Get_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/oep.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

adding examples
  specification/sql/resource-manager/Microsoft.Sql/preview/2025-08-01-preview/ManagedInstanceAdministratorCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2025-08-01-preview/ManagedInstanceAdministratorDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2025-08-01-preview/ManagedInstanceAdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2025-08-01-preview/ManagedInstanceAdministratorListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2025-08-01-preview/ManagedInstanceAdministratorUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2025-08-01/ManagedInstanceAdministratorCreate.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2025-08-01/ManagedInstanceAdministratorDelete.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2025-08-01/ManagedInstanceAdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2025-08-01/ManagedInstanceAdministratorListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2025-08-01/ManagedInstanceAdministratorUpdate.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

pushing changes so far
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-11-01-preview/ManagedInstanceAdministratorCreate.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-11-01-preview/ManagedInstanceAdministratorDelete.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-11-01-preview/ManagedInstanceAdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-11-01-preview/ManagedInstanceAdministratorListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-11-01-preview/ManagedInstanceAdministratorUpdate.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2023-08-01/ManagedInstanceAdministratorCreate.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2023-08-01/ManagedInstanceAdministratorDelete.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2023-08-01/ManagedInstanceAdministratorGet.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2023-08-01/ManagedInstanceAdministratorListByInstance.json
  specification/sql/resource-manager/Microsoft.Sql/stable/2023-08-01/ManagedInstanceAdministratorUpdate.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[arm-auto-signoff] Refactor to code+status pattern
  .github/workflows/arm-auto-signoff-code.yaml
  .github/workflows/arm-auto-signoff-status.yaml
  .github/workflows/src/arm-auto-signoff/arm-auto-signoff-status.js
  .github/workflows/src/arm-auto-signoff/arm-incremental-typespec.js
  .github/workflows/test/arm-auto-signoff.test.js
Due: none

move tests to subfolder
  .github/workflows/test/arm-auto-signoff/arm-auto-signoff.test.js
  .github/workflows/test/arm-auto-signoff/arm-incremental-typespec.test.js
Due: none

rename test
  .github/workflows/test/arm-auto-signoff/arm-auto-signoff-status.test.js
Due: none

update
  specification/search/data-plane/Search/models-service.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Trying to fix Lint errors since this is a simple get call, not a resource
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/oep.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rename step
  .github/workflows/arm-auto-signoff-status.yaml
Due: none

[update-labels.yaml] Rename upstream workflow
  .github/workflows/update-labels.yaml
Due: none

Trying to fix linter
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/oep.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix comment (#39147)
  specification/ai/Azure.AI.Agents/common/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/2025-05-01/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/v1/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

instruction fix
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

description + instructions
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Fix broken links in copilot intructions (#39096)
  .github/copilot-instructions.md
Due: none

Add missing bucket
  specification/netapp/resource-manager/Microsoft.NetApp/NetApp/Bucket.tsp
  specification/netapp/resource-manager/Microsoft.NetApp/NetApp/examples/2025-09-01-preview/Buckets_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/NetApp/preview/2025-09-01-preview/examples/Buckets_CreateOrUpdate.json
  specification/netapp/resource-manager/Microsoft.NetApp/NetApp/preview/2025-09-01-preview/netapp.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[arm-auto-signoff] Refactor to code+status pattern (#39149)
  .github/workflows/arm-auto-signoff-code.yaml
  .github/workflows/arm-auto-signoff-status.yaml
  .github/workflows/src/arm-auto-signoff/arm-auto-signoff-status.js
  .github/workflows/src/arm-auto-signoff/arm-incremental-typespec.js
  .github/workflows/test/arm-auto-signoff/arm-auto-signoff-status.test.js
  .github/workflows/test/arm-auto-signoff/arm-incremental-typespec.test.js
  .github/workflows/update-labels.yaml
Due: none

[widget] Update title
  specification/widget/resource-manager/Microsoft.Widget/Widget/main.tsp
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-10-01-preview/widget.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/stable/2021-11-01/widget.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[addons] Test change to handwritten swagger
  specification/addons/resource-manager/Microsoft.Addons/Addons/preview/2018-03-01/addons-swagger.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

bump the targeted proxy version
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/typespec-validation-all.yml

test
  .github/copilot-instructions.md
Due: none

rename finalize
  specification/resources/RegionalMove.Management/examples/2026-01-01-preview/RegionalMoveContainers_FinalizeMove.json
  specification/resources/RegionalMove.Management/routes.tsp
  specification/resources/resource-manager/Microsoft.Resources/regionalmove/preview/2026-01-01-preview/examples/RegionalMoveContainers_FinalizeMove.json
  specification/resources/resource-manager/Microsoft.Resources/regionalmove/preview/2026-01-01-preview/regionalMove.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove package-name from C# HTTP client config
  specification/storageactions/StorageAction.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/search/data-plane/Search/models-shared.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[swagger.js] Add version
  .github/shared/src/swagger.js
Due: none

[compile.ts] Check for swagger after tsp
  eng/tools/typespec-validation/src/rules/compile.ts
Due: eng/pipelines/typespec-validation-all.yml

[widget] Add swagger after tsp
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_CreateOrUpdate_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_Delete_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_Get_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListByResourceGroup_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListByResourceGroup_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListBySubscription_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListBySubscription_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_Update_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/widget.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[widget] Add version to readme
  specification/widget/resource-manager/Microsoft.Widget/Widget/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove spec-model
  eng/tools/typespec-validation/src/rules/compile.ts
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
