Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:

trigger: none
pr:
  branches:
    include:
      - network-*
  paths:
    include:
    - specification/network/*

pool:
  vmImage: vs2017-win2016

steps:
  - powershell: |
      & "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  - powershell: |
      & "npm" install autorest -g
    displayName: Install autorest

eng/pipelines/typespec-validation-all.yml:

trigger:
  branches:
    include:
    - main
    - typespec-next

pr:
  branches:
    include:
    - main
    - typespec-next
  paths:
    include:
    - .gitattributes
    - .prettierrc.json
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng
    - specification/common-types

resources:
  pipelines:
  - pipeline: typespec
    source: typespec - Publish
    project: internal
    trigger:
      branches:
        include:
        - main
  - pipeline: typespec-azure
    source: typespec-azure - Publish
    project: internal
    trigger:
      branches:
        include:
        - main

jobs:
- job:

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mariner-2.0-gen2
        OsVmImage: mariner-2.0-gen2
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - template: /eng/pipelines/templates/steps/npm-install.yml

  - pwsh: |
      $(Build.SourcesDirectory)/eng/scripts/TypeSpec-Validation.ps1 -CheckAll -GitClean -Verbose
    displayName: Validate All Specs
    ignoreLASTEXITCODE: true

eng/pipelines/typespec-validation-ci.yml:

trigger:
  branches:
    include:
    - main
    - typespec-next

pr:
  branches:
    include:
    - main
    - typespec-next
  paths:
    include:
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng/tools/TypeSpecValidation

jobs:
- job: Test_TypeSpec_Validation

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mms-ubuntu-2204-general
        OsVmImage: ubuntu-22.04
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - template: /eng/pipelines/templates/steps/npm-install.yml

  - script: npm test
    displayName: Test TypeSpecValidation Tool
    workingDirectory: $(Build.SourcesDirectory)/eng/tools/TypeSpecValidation

Remove flatten attribute to fix conflict for CLI generation tool (#29276)
  specification/security/resource-manager/Microsoft.Security/preview/2022-12-01-preview/defenderForStorageSettings.json
  specification/security/resource-manager/sdk-suppressions.yaml
Due: none

adding spec
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_ListBySubscription_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/DeidServices_Update_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/Operations_List_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/Operations_List_MinimumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateEndpointConnections_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-02-28-preview/PrivateLinks_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/main.tsp
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_ListBySubscription_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/DeidServices_Update_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateEndpointConnections_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/examples/PrivateLinks_ListByDeidService_MaximumSet_Gen.json
  specification/healthdataaiservices/resource-manager/Microsoft.HealthDataAIServices/preview/2024-02-28-preview/openapi.json
  specification/healthdataaiservices/resource-manager/readme.az.md
  specification/healthdataaiservices/resource-manager/readme.cli.md
  specification/healthdataaiservices/resource-manager/readme.csharp.md
  specification/healthdataaiservices/resource-manager/readme.go.md
  specification/healthdataaiservices/resource-manager/readme.md
  specification/healthdataaiservices/resource-manager/readme.python.md
  specification/healthdataaiservices/resource-manager/readme.typescript.md
Due: none

Remove debugging
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

Add debugging
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Update examples for kubernetes clusters and agent pools for consistency
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/AgentPools_Create.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/AgentPools_Get.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/AgentPools_ListByKubernetesCluster.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/AgentPools_Patch.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/KubernetesClusters_Create.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/KubernetesClusters_Get.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/KubernetesClusters_L2LoadBalancer_Create.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/KubernetesClusters_ListByResourceGroup.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/KubernetesClusters_ListBySubscription.json
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/examples/KubernetesClusters_Patch.json
Due: none

More debugging
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Remove debugging
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Write GitHub logs to correct stream
  eng/scripts/Logging-Functions.ps1
Due: eng/pipelines/typespec-validation-all.yml

Add trailing newline
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Remove blank line
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Add test for error parsing json
  eng/tools/typespec-requirement/test/specification/no-tspconfig/resource-manager/Microsoft.NoTspConfig/preview/2024-01-01-preview/no-tspconfig.json
  eng/tools/typespec-requirement/test/specification/parse-error/resource-manager/Microsoft.NoTspConfig/preview/2024-01-01-preview/parse-error.json
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Add test for success case
  eng/tools/typespec-requirement/test/specification/parse-error/resource-manager/Microsoft.ParseError/preview/2024-01-01-preview/parse-error.json
  eng/tools/typespec-requirement/test/specification/success/Microsoft.Success.Management/tspconfig.yaml
  eng/tools/typespec-requirement/test/specification/success/resource-manager/Microsoft.Success/preview/2024-01-01-preview/valid.json
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

update code owner for storage/resource-manager (#29645)
  .github/CODEOWNERS
Due: none

Fixed examples
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/ListTenantConfigurationViolationsOperations_List.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Operations_List.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/ListTenantConfigurationViolationsOperations_List.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Operations_List.json
Due: none

Update swagger.json for app protect update
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/swagger.json
Due: none

fixed grammar
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-06-01-preview/swagger.json
Due: none

Fixed examples
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_CreateOrUpdate.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_Get.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_Update.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/TenantConfigurations_Get.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_CreateOrUpdate.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_Get.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_Update.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Get.json
Due: none

ran prettier
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/settings/UpdateEyesOnSetting.json
Due: none

Fixed examples
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_Update.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/TenantConfigurations_Create.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_Update.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Create.json
Due: none

fix version reference in python readme
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.python.md
Due: none

Removed Id
  specification/portal/Dashboard.Management/TenantConfiguration.tsp
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/TenantConfigurations_ListByTenant.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_ListByTenant.json
Due: none

prettier
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_ListByResourceGroup.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_ListBySubscription.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/Dashboards_Update.json
Due: none

Prettier
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_ListByResourceGroup.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_ListBySubscription.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/Dashboards_Update.json
Due: none

Prettier
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/TenantConfigurations_Create.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/TenantConfigurations_Delete.json
  specification/portal/Dashboard.Management/examples/2022-12-01-preview/TenantConfigurations_Get.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Create.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Delete.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/examples/TenantConfigurations_Get.json
Due: none

Add test for hand-written exists in main
  eng/tools/typespec-requirement/test/specification/hand-written/resource-manager/Microsoft.HandWritten/preview/2024-01-01-preview/hand-written.json
  eng/tools/typespec-requirement/test/specification/suppression/resource-manager/Microsoft.Suppression/preview/2024-01-01-preview/foo.json
  eng/tools/typespec-requirement/test/specification/suppression/resource-manager/Microsoft.Suppression/preview/2024-01-01-preview/suppression.json
  eng/tools/typespec-requirement/test/specification/typespec-generated/Microsoft.Success.Management/tspconfig.yaml
  eng/tools/typespec-requirement/test/specification/typespec-generated/resource-manager/Microsoft.Success/preview/2024-01-01-preview/valid.json
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Add tests for not exist in main
  eng/scripts/TypeSpec-Requirement.ps1
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Adding post processing for java
  specification/healthdataaiservices/HealthDataAIServices.Deidentification/tspconfig.yaml
Due: none

Rename test folder
  eng/tools/typespec-requirement/test/specification/typespec-generated/Microsoft.TypeSpecGenerated.Management/tspconfig.yaml
  eng/tools/typespec-requirement/test/specification/typespec-generated/resource-manager/Microsoft.TypeSpecGenerated/preview/2024-01-01-preview/valid.json
Due: eng/pipelines/typespec-validation-all.yml

Add content to test file
  eng/tools/typespec-requirement/test/specification/empty/placeholder.txt
Due: eng/pipelines/typespec-validation-all.yml

Add readme to fix Avocado
  eng/tools/typespec-requirement/test/specification/typespec-generated/resource-manager/readme.md
Due: eng/pipelines/typespec-validation-all.yml

updated settings file (#29658)
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/Settings.json
  specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2024-04-01-preview/examples/settings/UpdateEyesOnSetting.json
Due: none

Delete test readme
  eng/tools/typespec-requirement/test/specification/typespec-generated/resource-manager/readme.md
Due: eng/pipelines/typespec-validation-all.yml

Initial commit
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml

Add vite config
  eng/tools/typespec-requirement/package.json
  eng/tools/typespec-requirement/vite.config.ts
Due: eng/pipelines/typespec-validation-all.yml

Include Keshav's change
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/privateLinkService.json
Due: .azure-pipelines/network-validation.yml

Add test content
  eng/tools/typespec-requirement/test/specification/suppression/resource-manager/Microsoft.Suppression/preview/2024-01-01-preview/suppression.json
Due: eng/pipelines/typespec-validation-all.yml

Fill empty file
  eng/tools/typespec-requirement/test/specification/typespec-generated/Microsoft.TypeSpecGenerated.Management/tspconfig.yaml
Due: eng/pipelines/typespec-validation-all.yml

Remove debug statement
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

npm update
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml
