Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: 242bfd6027c22fab048166dc671df712f2a2d200
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

LintDiff: Fix correlations and usage of Readme objects
  eng/tools/lint-diff/src/correlateResults.ts
  eng/tools/lint-diff/src/processChanges.ts
Due: eng/pipelines/typespec-validation-all.yml

update the success summary!
  eng/tools/oav-runner/src/cli.ts
  eng/tools/oav-runner/src/formatting.ts
  eng/tools/oav-runner/src/runner.ts
Due: eng/pipelines/typespec-validation-all.yml

Unsuspend domain service swagger documentions
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/domainservices.json
Due: eng/pipelines/spec-gen-sdk.yml

Swagger changes for Instant Access Snapshot and Availability Policy features
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/diskRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/examples/diskExamples/Disk_CreateOrUpdate_AvailabilityPolicyjson
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/examples/snapshotExamples/Snapshot_Create_InstantAccessSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/examples/snapshotExamples/Snapshot_GetIncrementalSnapshot.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/snapshot.json
Due: eng/pipelines/spec-gen-sdk.yml

refactor readme and tag
  .github/shared/src/readme.js
  .github/shared/src/tag.js
Due: none

fix tag test (much better)
  .github/shared/test/tag.test.js
Due: none

dead code
  .github/shared/src/readme.js
Due: none

Updated Java TSP config
  specification/keyvault/Security.KeyVault.Administration/client.tsp
  specification/keyvault/Security.KeyVault.Administration/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Keys/client.tsp
  specification/keyvault/Security.KeyVault.Keys/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Secrets/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

missed file in previous commit
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/disk.json
Due: eng/pipelines/spec-gen-sdk.yml

adding missed description AvailabilityPolicy
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/diskRPCommon.json
Due: eng/pipelines/spec-gen-sdk.yml

resolve paths relative to backpointer
  .github/shared/src/readme.js
  .github/shared/src/swagger.js
Due: none

add tests, use dirname
  .github/shared/src/swagger.js
  .github/shared/test/readme.test.js
  .github/shared/test/swagger.test.js
Due: none

fix tests for windows
  .github/shared/test/readme.test.js
  .github/shared/test/swagger.test.js
Due: none

making zones a top level property
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-04-01/examples/MachineGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-04-01/examples/MachineList.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-04-01/managedClusters.json
Due: eng/pipelines/spec-gen-sdk.yml

[tsv-all] Trigger on changes to .github/shared
  .github/workflows/typespec-validation-all.yaml
Due: none

fixing format
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-04-01/examples/MachineGet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-04-01/examples/MachineList.json
Due: eng/pipelines/spec-gen-sdk.yml

review feedback
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/providerhub.json
Due: eng/pipelines/spec-gen-sdk.yml

should be able to run either specs or examples properly now
  .github/workflows/validate-examples.yaml
  .github/workflows/validate-specs.yaml
  eng/tools/oav-runner/src/cli.ts
  eng/tools/oav-runner/src/formatting.ts
  eng/tools/oav-runner/src/runner.ts
Due: eng/pipelines/typespec-validation-all.yml

Sync eng/common directory with azure-sdk-tools for PR 10736 (#34916)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/typespec-validation-all.yml

cleanup commit
  .github/workflows/validate-examples.yaml
  eng/tools/oav-runner/README.md
  eng/tools/oav-runner/src/formatting.ts
Due: eng/pipelines/typespec-validation-all.yml

formatting the project properly now
  eng/tools/oav-runner/.prettierrc
  eng/tools/oav-runner/package.json
  eng/tools/oav-runner/src/cli.ts
  eng/tools/oav-runner/src/formatting.ts
  eng/tools/oav-runner/src/runner.ts
  eng/tools/oav-runner/test/runner.test.ts
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

fix examples
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/CustomRollouts_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/CustomRollouts_ListByProviderRegistration.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/DefaultRollouts_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/DefaultRollouts_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/DefaultRollouts_ListByProviderRegistration.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/DirectProviderRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/DirectResourceTypeRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/NewRegionFrontloadRelease_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/NewRegionFrontloadRelease_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/NotificationRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/NotificationRegistrations_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/NotificationRegistrations_ListByProviderRegistration.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ProviderMonitorSettings_Create.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ProviderMonitorSettings_Update.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ProviderRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ProviderRegistrations_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ProviderRegistrations_List.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ResourceTypeRegistrations_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ResourceTypeRegistrations_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/ResourceTypeRegistrations_ListByProviderRegistration.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_CreateOrUpdateNestedResourceTypeFirst.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_CreateOrUpdateNestedResourceTypeSecond.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_CreateOrUpdateNestedResourceTypeThird.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_GetNestedResourceTypeFirst.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_GetNestedResourceTypeSecond.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_GetNestedResourceTypeThird.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_ListByResourceTypeRegistrations.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/stable/2024-09-01/examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird.json
Due: eng/pipelines/spec-gen-sdk.yml

undo
  specification/appconfiguration/AppConfiguration/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

updating gengerated swagger
  specification/batch/data-plane/Azure.Batch/stable/2025-06-01.21.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

[SpecModel] Add backpointers, resolve paths against backpointers, move "new Swagger" from Readme to Tag (#34913)
  .github/shared/src/readme.js
  .github/shared/src/spec-model-error.js
  .github/shared/src/spec-model.js
  .github/shared/src/swagger.js
  .github/shared/src/tag.js
  .github/shared/test/readme.test.js
  .github/shared/test/spec-model.test.js
  .github/shared/test/swagger.test.js
  .github/shared/test/tag.test.js
  .github/workflows/typespec-validation-all.yaml
Due: none

Adding statusCode and statusMessage for AutoImport
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2025-07-01/amlfilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2025-07-01/examples/autoImportJobs_ListByAmlFilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2025-07-01/examples/autoImportJobs_Update.json
Due: eng/pipelines/spec-gen-sdk.yml

fix: Update the description for Dynamic Individual to be similar to the one in the GA version
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2025-03-02-preview/managedClusters.json
Due: eng/pipelines/spec-gen-sdk.yml

Copy files from stable/2022-12-01
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/CreateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/CreateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/DeleteDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/DeleteOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/GetDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/GetOperations.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/GetOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/ListDomainServicesByResourceGroup.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/ListDomainServicesBySubscription.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/ListOuContainers.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/UpdateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/UpdateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/oucontainer.json
Due: eng/pipelines/spec-gen-sdk.yml

Update version to preview/2025-05-01
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/domainservices.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/CreateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/CreateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/DeleteDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/DeleteOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/GetDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/GetOperations.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/GetOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/ListDomainServicesByResourceGroup.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/ListDomainServicesBySubscription.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/ListOuContainers.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/UpdateDomainService.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/examples/UpdateOuContainer.json
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/oucontainer.json
Due: eng/pipelines/spec-gen-sdk.yml

Added tag for 2025-05-01 in readme file
  specification/domainservices/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Unsuspend domain swagger update
  specification/domainservices/resource-manager/Microsoft.AAD/preview/2025-05-01/domainservices.json
Due: eng/pipelines/spec-gen-sdk.yml

Adding supportedSecurityOption
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/diskRPCommon.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/stable/2025-01-02/examples/diskExamples/Disk_Create_FromAnAzureComputeGalleryImage.json
Due: eng/pipelines/spec-gen-sdk.yml

Copy files from stable/2024-02-01
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/GetOperations.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ListBotsByResourceGroup.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ListBotsBySubscription.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ListSecrets.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/RegenerateApiJwtSecret.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceCreationPut.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceDeletionDelete.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceInfoGet.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceUpdatePatch.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/healthbot.json
Due: eng/pipelines/spec-gen-sdk.yml

Update version to stable/2025-05-25
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/GetOperations.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ListBotsByResourceGroup.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ListBotsBySubscription.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ListSecrets.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/RegenerateApiJwtSecret.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceCreationPut.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceDeletionDelete.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceInfoGet.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/examples/ResourceUpdatePatch.json
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/healthbot.json
Due: eng/pipelines/spec-gen-sdk.yml

Added tag for 2025-05-25 in readme file
  specification/healthbot/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

add access control method property
  specification/healthbot/resource-manager/Microsoft.HealthBot/stable/2025-05-25/healthbot.json
Due: eng/pipelines/spec-gen-sdk.yml

V changes :)
  specification/monitor/resource-manager/Microsoft.Insights/preview/2024-03-01-preview/metricAlert_API.json
Due: eng/pipelines/spec-gen-sdk.yml

converted rawly
  specification/confidentialledger/Confidentialledger.Management/ConfidentialLedger.tsp
  specification/confidentialledger/Confidentialledger.Management/ManagedCCF.tsp
  specification/confidentialledger/Confidentialledger.Management/back-compatible.tsp
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/CheckNameAvailability.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_Backup.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_Create.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_Delete.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_Get.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_List.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_ListBySub.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_Restore.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ConfidentialLedger_Update.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_Backup.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_Create.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_Delete.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_Get.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_List.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_ListBySub.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_Restore.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/ManagedCCF_Update.json
  specification/confidentialledger/Confidentialledger.Management/examples/2024-09-19-preview/Operations_Get.json
  specification/confidentialledger/Confidentialledger.Management/main.tsp
  specification/confidentialledger/Confidentialledger.Management/models.tsp
  specification/confidentialledger/Confidentialledger.Management/routes.tsp
  specification/confidentialledger/Confidentialledger.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
