Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

fix description
  specification/computelimit/resource-manager/Microsoft.ComputeLimit/ComputeLimit/SharedLimitCap.tsp
  specification/computelimit/resource-manager/Microsoft.ComputeLimit/ComputeLimit/stable/2026-07-01/ComputeLimit.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

chore: upgrades openai-typespec definitions to 1.20.1
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

chore: refreshes generated assets
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ContainerService: csharp clientName rename for GatewayAPIImplementations (API->Api) (#43882)
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/tsconfig.json
  eng/tools/oav-runner/package.json
  eng/tools/oav-runner/tsconfig.json
  eng/tools/openapi-diff-runner/package.json
  eng/tools/openapi-diff-runner/tsconfig.json
  eng/tools/sdk-suppressions/package.json
  eng/tools/sdk-suppressions/tsconfig.json
  eng/tools/spec-gen-sdk-runner/package.json
  eng/tools/spec-gen-sdk-runner/tsconfig.json
  eng/tools/summarize-impact/package.json
  eng/tools/summarize-impact/tsconfig.json
  eng/tools/suppressions/package.json
  eng/tools/suppressions/tsconfig.json
  eng/tools/tsp-client-tests/package.json
  eng/tools/tsp-client-tests/tsconfig.json
  eng/tools/typespec-migration-validation/package.json
  eng/tools/typespec-migration-validation/tsconfig.json
  eng/tools/typespec-requirement/package.json
  eng/tools/typespec-requirement/tsconfig.json
  eng/tools/typespec-validation/package.json
  eng/tools/typespec-validation/tsconfig.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

fix: add explicit json usage for DocumentTranslateContent
  specification/translation/data-plane/DocumentTranslation/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix lint
  eng/tools/eslint.base.config.js
Due: eng/pipelines/typespec-validation-all.yml

Updates to weather API descriptions.
  specification/maps/cspell.yaml
  specification/maps/data-plane/Weather/models.tsp
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add miss dependent directory (#43867)
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-js-azure-ai-projects/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix?
  eng/tools/lint-diff/cmd/lint-diff.js
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/tsconfig.json
  eng/tools/oav-runner/cmd/oav-runner.js
  eng/tools/oav-runner/package.json
  eng/tools/oav-runner/tsconfig.json
  eng/tools/openapi-diff-runner/cmd/openapi-diff-runner.js
  eng/tools/openapi-diff-runner/package.json
  eng/tools/openapi-diff-runner/tsconfig.json
  eng/tools/sdk-suppressions/cmd/sdk-suppressions-label.js
  eng/tools/sdk-suppressions/package.json
  eng/tools/sdk-suppressions/tsconfig.json
  eng/tools/spec-gen-sdk-runner/cmd/spec-gen-sdk-runner.js
  eng/tools/spec-gen-sdk-runner/package.json
  eng/tools/spec-gen-sdk-runner/tsconfig.json
  eng/tools/summarize-impact/cmd/summarize-impact.js
  eng/tools/summarize-impact/package.json
  eng/tools/summarize-impact/tsconfig.json
  eng/tools/suppressions/cmd/get-suppressions.js
  eng/tools/suppressions/package.json
  eng/tools/suppressions/tsconfig.json
  eng/tools/tsconfig.json
  eng/tools/typespec-migration-validation/cmd/tsmv.js
  eng/tools/typespec-migration-validation/package.json
  eng/tools/typespec-migration-validation/tsconfig.json
  eng/tools/typespec-validation/cmd/tsv.js
  eng/tools/typespec-validation/package.json
  eng/tools/typespec-validation/tsconfig.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

adding powershell directives
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/License.tsp
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/preview/2026-06-16-preview/openapi.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/routes.tsp
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updates to weather API descriptions.
  specification/maps/data-plane/Weather/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: add explicit json usage for DocumentTranslateContent (#43886)
  specification/translation/data-plane/DocumentTranslation/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove stale Microsoft.DBforPostgreSQL/PostgreSQL/ ARM lease (case-collision fix)
  .github/arm-leases/postgresql/Microsoft.DBforPostgreSQL/PostgreSQL/lease.yaml
Due: none

[IdentityBinding] Add allowedSubjects to 2026-05-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/IdentityBinding.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/examples/2026-05-02-preview/IdentityBindings_Create_Or_UpdateWithAllowedSubjects.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-05-02-preview/examples/IdentityBindings_Create_Or_UpdateWithAllowedSubjects.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-05-02-preview/managedClusters.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update helper function to print nested exception details.
  eng/common/TestResources/TestResources-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Remove stale Microsoft.DBforPostgreSQL/PostgreSQL/ ARM lease (case-collision fix) (#43889)
  .github/arm-leases/postgresql/Microsoft.DBforPostgreSQL/PostgreSQL/lease.yaml
Due: none

remove candidate sub-resource endpoints and fix doc inaccuracies
  specification/ai-foundry/data-plane/Foundry/src/agents-optimization/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/agents-optimization/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Run formatter
  .github/skills/azure-ps-design-review/SKILL.md
  .github/skills/azure-ps-design-review/references/design-guidelines-summary.md
  .github/skills/azure-ps-design-review/references/issue-template.md
  .vscode/mcp.json
Due: none

regenerate openapi3 output
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add package-preview-2026-06-16-preview tag for new HybridCompute API version
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add C# client naming customizations and align service-dir to sdk/compute
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update suppression description
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix matchLabels in AllowedSubjects example to use string[] form (shared LabelSelector schema)
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/examples/2026-05-02-preview/IdentityBindings_Create_Or_UpdateWithAllowedSubjects.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-05-02-preview/examples/IdentityBindings_Create_Or_UpdateWithAllowedSubjects.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Microsoft.BillingTrust TypeSpec API spec (2026-03-17-preview)
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/.cspell.yaml
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_CreateOrUpdate.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_CreateOrUpdate_BV.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_CreateOrUpdate_PayeeEnrollment.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_CreateOrUpdate_PayeeProfile.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_Delete.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_Get.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_List.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Assessments_ListUploadToken.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Operations_List.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Rules_CreateOrUpdate.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Rules_Get.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Rules_List.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Rules_Update.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/examples/2026-03-17-preview/Rules_Update_BV.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/main.tsp
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_CreateOrUpdate.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_CreateOrUpdate_BV.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_CreateOrUpdate_PayeeEnrollment.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_CreateOrUpdate_PayeeProfile.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_Delete.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_Get.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_List.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Assessments_ListUploadToken.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Operations_List.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Rules_CreateOrUpdate.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Rules_Get.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Rules_List.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Rules_Update.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/examples/Rules_Update_BV.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/preview/2026-03-17-preview/openapi.json
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/readme.md
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/tspconfig.yaml
  specification/billingtrust/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Policy ARM resource for CognitiveServices (2026-07-01-preview)
  specification/cognitiveservices/CognitiveServices.Management/Policy.tsp
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/AccountPolicy/createOrUpdate.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/AccountPolicy/delete.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/AccountPolicy/get.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/AccountPolicy/list.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/createOrUpdate.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/delete.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/get.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/list.json
  specification/cognitiveservices/CognitiveServices.Management/main.tsp
  specification/cognitiveservices/CognitiveServices.Management/models.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/AccountPolicy/createOrUpdate.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/AccountPolicy/delete.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/AccountPolicy/get.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/AccountPolicy/list.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/createOrUpdate.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/delete.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/get.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/list.json
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix path
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-extensions-openai/tspconfig.yaml
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects-agents/tspconfig.yaml
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add EndpointBasedEvaluatorDefinition to evaluator TypeSpec
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove project-level policy operations (account-only scope)
  specification/cognitiveservices/CognitiveServices.Management/Policy.tsp
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/createOrUpdate.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/delete.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/get.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-07-01-preview/ProjectPolicy/list.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/createOrUpdate.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/delete.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/get.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-07-01-preview/examples/ProjectPolicy/list.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add tags support to Cosmos DB Fleet PATCH (update)
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/examples/2026-03-15/fleet/CosmosDBFleetUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/examples/2026-04-01-preview/fleet/CosmosDBFleetUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/models.tsp
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/preview/2026-04-01-preview/examples/fleet/CosmosDBFleetUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/preview/2026-04-01-preview/openapi.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/stable/2026-03-15/examples/fleet/CosmosDBFleetUpdate.json
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/DocumentDB/stable/2026-03-15/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Microsoft.ProgramEnrollment TypeSpec API spec (2026-03-01-preview) (#43694)
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/examples/2026-03-01-preview/EduEnrollments_CreateOrUpdate.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/examples/2026-03-01-preview/EduEnrollments_Delete.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/examples/2026-03-01-preview/EduEnrollments_Get.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/examples/2026-03-01-preview/EduEnrollments_ListByResourceGroup.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/examples/2026-03-01-preview/EduEnrollments_ListBySubscription.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/examples/2026-03-01-preview/EduEnrollments_Update.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/examples/2026-03-01-preview/Operations_List.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/main.tsp
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/examples/EduEnrollments_CreateOrUpdate.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/examples/EduEnrollments_Delete.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/examples/EduEnrollments_Get.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/examples/EduEnrollments_ListByResourceGroup.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/examples/EduEnrollments_ListBySubscription.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/examples/EduEnrollments_Update.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/examples/Operations_List.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/preview/2026-03-01-preview/openapi.json
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/readme.md
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/tsp-output/@azure-tools/typespec-metadata/typespec-metadata.yaml
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/tspconfig.yaml
  specification/programenrollment/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Export installationToken as output variable to allow it be used in subsequesnt steps
  eng/common/pipelines/templates/steps/login-to-github.yml
  eng/common/scripts/login-to-github.ps1
Due: eng/pipelines/typespec-validation-all.yml

add Blob Access Tier to download responses
  specification/storage/data-plane/BlobStorage/main.tsp
  specification/storage/data-plane/BlobStorage/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Devices_Reprovision + Support hub initiated provisioning (#28885)
  specification/deviceregistry/DeviceRegistry.DataPlane/client.tsp
  specification/deviceregistry/DeviceRegistry.DataPlane/deviceAuthenticationProfiles.tsp
  specification/deviceregistry/DeviceRegistry.DataPlane/devices.tsp
  specification/deviceregistry/DeviceRegistry.DataPlane/examples/2026-11-02-preview/Devices_Provision_IotHubSource.json
  specification/deviceregistry/DeviceRegistry.DataPlane/examples/2026-11-02-preview/Devices_Reprovision.json
  specification/deviceregistry/DeviceRegistry.DataPlane/examples/2026-11-02-preview/Operations_Get_DeviceReprovision.json
  specification/deviceregistry/DeviceRegistry.DataPlane/operations.tsp
  specification/deviceregistry/data-plane/preview/2026-11-02-preview/deviceregistry.json
  specification/deviceregistry/data-plane/preview/2026-11-02-preview/examples/Devices_Provision_IotHubSource.json
  specification/deviceregistry/data-plane/preview/2026-11-02-preview/examples/Devices_Reprovision.json
  specification/deviceregistry/data-plane/preview/2026-11-02-preview/examples/Operations_Get_DeviceReprovision.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

chore: regenerate OpenAPI specs after EndpointBasedEvaluatorDefinition
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add .NET emitter configuration for Microsoft.ProgramEnrollment
  specification/programenrollment/resource-manager/Microsoft.ProgramEnrollment/ProgramEnrollment/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove v1preview for agents optimization
  specification/ai-foundry/data-plane/Foundry/src/servicepatterns.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add .NET emitter configuration for Microsoft.BillingTrust
  specification/billingtrust/resource-manager/Microsoft.BillingTrust/BillingTrust/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
