Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

update
  specification/storagesync/StorageSync.Management/examples/2022-09-01/Operations_List.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2022-09-01/examples/Operations_List.json
Due: eng/pipelines/spec-gen-sdk.yml

fix tsp validation
  specification/postgresqlhsc/PostgresqlHsc.Management/ServerConfiguration.tsp
  specification/postgresqlhsc/PostgresqlHsc.Management/main.tsp
  specification/postgresqlhsc/PostgresqlHsc.Management/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

modifying files with the new version
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/databox.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/AvailableSkusPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/BookShipmentPickupPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobMitigate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsCancelPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsCreate.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsCreateDevicePassword.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsCreateDoubleEncryption.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsCreateExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsCreateWithUserAssignedIdentity.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsDelete.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsGetCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsGetCopyStuck.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsGetExport.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsGetWaitingForAction.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsList.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsListByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsListCredentials.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsPatch.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsPatchCmk.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/JobsPatchSystemAssignedToUserAssigned.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/MarkDevicesShipped.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/OperationsGet.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/RegionConfiguration.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/RegionConfigurationByResourceGroup.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/ValidateAddressPost.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/ValidateInputs.json
  specification/databox/resource-manager/Microsoft.DataBox/stable/2025-07-01/examples/ValidateInputsByResourceGroup.json
  specification/databox/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

revert rename
  .github/workflows/avocado-code.yml
Due: none

update operation id
  specification/recoveryservicesbackup/RecoveryServices.Management/BackupEngineBaseResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/BackupResourceConfigResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/BackupResourceEncryptionConfigExtendedResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/BackupResourceVaultConfigResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/JobResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/PrivateEndpointConnectionResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ProtectedItemResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ProtectionContainerResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ProtectionIntentResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ProtectionPolicyResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/RecoveryPointResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ResourceGuardProxyBaseResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/back-compatible.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/models.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/routes.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2025-02-01/bms.json
Due: eng/pipelines/spec-gen-sdk.yml

remove duplicate tag package-2024-02
  specification/redisenterprise/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

[EngSys] Rename workflow files from .yml to .yaml (#35736)
  .github/workflows/_reusable-set-check-status.yaml
  .github/workflows/avocado-code.yaml
  .github/workflows/avocado-status.yaml
  .github/workflows/breaking-change-status.yaml
  .github/workflows/lintdiff-status.yaml
  .github/workflows/post-apiview.yaml
  .github/workflows/swagger-modelvalidation-status.yaml
  .github/workflows/swagger-semanticvalidation-status.yaml
Due: none

remove unnecessary empty file
  .github/workflows/avocado-code.yml
Due: none

fix cspell
  specification/postgresqlhsc/cspell.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Fix java sdk-tspconfig-validation rule (#35685)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

fix tsp format
  specification/postgresqlhsc/PostgresqlHsc.Management/Configuration.tsp
  specification/postgresqlhsc/PostgresqlHsc.Management/main.tsp
  specification/postgresqlhsc/PostgresqlHsc.Management/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Merge containerservice changes from main.
  specification/containerservice/Fleet.Management/client.tsp
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/helpers.tsp
  specification/containerservice/Fleet.Management/tspconfig.yaml
  specification/containerservice/Fleet.Management/update/autoupgradeprofile.tsp
  specification/containerservice/Fleet.Management/update/common.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.go.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.typescript.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2025-03-01/fleets.json
Due: eng/pipelines/spec-gen-sdk.yml

Update tspconfig.yaml
  specification/storage/Storage.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

update
  .gitignore
Due: none

Read output file and console log, set artifact
  .github/workflows/avocado-code.yml
  .github/workflows/avocado-status.yaml
  .github/workflows/src/avocado.js
Due: none

update
  specification/recoveryservicesbackup/RecoveryServices.Management/BackupEngineBaseResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/JobResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ProtectedItemResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ProtectionContainerResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ProtectionPolicyResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/RecoveryPointResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/ResourceGuardProxyBaseResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/VirtualResource.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/models.tsp
  specification/recoveryservicesbackup/RecoveryServices.Management/routes.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2025-02-01/bms.json
Due: eng/pipelines/spec-gen-sdk.yml

rename, lint
  .github/workflows/avocado-code.yaml
  .github/workflows/src/avocado-code.js
Due: none

Update API Version 2024-10-01 in Microsoft.Network
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkManagerRoutingConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkManagerSecurityAdminConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkManagerSecurityUserConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkVerifier.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/virtualWan.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/webapplicationfirewall.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml

update
  specification/keyvault/Keyvault.Management/examples/2024-11-01/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/createKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/getKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listKeys.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/listVault.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmCreateKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmGetKey.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmGetKeyVersion.json
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2024-11-01/examples/managedHsmListKeys.json
Due: eng/pipelines/spec-gen-sdk.yml

fix duplicate tag
  specification/redisenterprise/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

fix flatten
  specification/postgresqlhsc/PostgresqlHsc.Management/back-compatible.tsp
  specification/postgresqlhsc/PostgresqlHsc.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

update
  specification/storage/Storage.Management/main.tsp
  specification/storage/Storage.Management/models.tsp
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/examples/storageTaskAssignmentsCrud/DeleteStorageTaskAssignment.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/examples/storageTaskAssignmentsCrud/PatchStorageTaskAssignment.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/examples/storageTaskAssignmentsCrud/PutStorageTaskAssignment.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/examples/storageTaskAssignmentsCrud/PutStorageTaskAssignmentRequiredProperties.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

comment
  .github/workflows/src/avocado-code.js
Due: none

set pipefail so "| tee" doesn't swallow exit
  .github/workflows/avocado-code.yaml
Due: none

Remove "file" from filename vars
  .github/workflows/avocado-code.yaml
  .github/workflows/src/avocado-code.js
Due: none

java config
  specification/postgresqlhsc/PostgresqlHsc.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

tsp validation
  specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2023-03-02-preview/postgresqlhsc.json
Due: eng/pipelines/spec-gen-sdk.yml

conditional
  .github/workflows/avocado-code.yaml
Due: none

resolve comment
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Due: eng/pipelines/spec-gen-sdk.yml

fix output
  .github/workflows/avocado-code.yaml
Due: none

simplify code
  .github/workflows/src/avocado-code.js
Due: none

update
  specification/storage/Storage.Management/examples/2025-01-01/StorageAccountCheckNameAvailability.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/examples/StorageAccountCheckNameAvailability.json
Due: eng/pipelines/spec-gen-sdk.yml

Add missing typespec-python config.
  specification/containerservice/Fleet.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

rename interface for python to keep compatibility
  specification/devtestlabs/Microsoft.DevTestLab.Management/back-compatible.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Change gates from tracked to proxy resource.
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_Get.json
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_ListByFleet.json
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_Update.json
  specification/containerservice/Fleet.Management/gate.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

change tags
  specification/alertsmanagement/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

change global to tenant
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2025-05-25-preview/AlertsManagement.json
Due: eng/pipelines/spec-gen-sdk.yml
