Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: ${{ parameters.SdkRepoCommit }}
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

pretty check
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_CheckNameAvailability_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_CheckNameAvailability_MinimumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_CreateOrUpdate_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_Delete_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_Get_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_ListByParent_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_ListBySubscription_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/FileShares_Update_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/Operations_List_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2023-01-01-preview/Operations_List_MinimumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_CheckNameAvailability_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_CheckNameAvailability_MinimumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_CreateOrUpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_CreateOrUpdate_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_DeleteFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_Delete_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_GetFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_Get_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_ListByFileShare_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_ListByParent_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_ListBySubscription_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_UpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_Update_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/Operations_List_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/Operations_List_MinimumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

Remove Permanent suppression file
  specification/network/suppressions.yaml
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml

Trying to generate examples
  specification/ai/Azure.AI.Projects/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Remove Permanent suppression file (#34400)
  specification/network/suppressions.yaml
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml

addressing comments
  specification/dsts/Dsts.Management/README.md
  specification/dsts/Dsts.Management/tspconfig.yaml
  specification/dsts/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Fixing readme.ruby.md with current api version
  specification/eventgrid/resource-manager/readme.ruby.md
Due: eng/pipelines/spec-gen-sdk.yml

sdk/compute for python
  specification/vmware/Microsoft.AVS.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

add WorkloadNetworksClient in Customizations
  specification/vmware/Microsoft.AVS.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

remove profile ref
  specification/iotoperations/IoTOperations.Management/models/dataflows/dataflowGraphs.tsp
  specification/iotoperations/IoTOperations.Management/models/dataflows/dataflows.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2025-07-01-preview/iotoperations.json
Due: eng/pipelines/spec-gen-sdk.yml

remove pvc default
  specification/iotoperations/IoTOperations.Management/models/broker/brokers.tsp
Due: eng/pipelines/spec-gen-sdk.yml

prettier
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_CheckNameAvailability_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_CheckNameAvailability_MinimumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_CreateOrUpdate_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_Delete_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_Get_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_ListByParent_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_ListBySubscription_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/FileShares_Update_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_CheckNameAvailability_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_CheckNameAvailability_MinimumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_CreateOrUpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_CreateOrUpdate_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_DeleteFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_Delete_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_GetFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_Get_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_ListByFileShare_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_ListByParent_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_ListBySubscription_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_UpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_Update_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/Operations_List_MinimumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

readme files
  specification/fileshares/resource-manager/readme.az.md
  specification/fileshares/resource-manager/readme.cli.md
  specification/fileshares/resource-manager/readme.csharp.md
  specification/fileshares/resource-manager/readme.go.md
  specification/fileshares/resource-manager/readme.java.md
  specification/fileshares/resource-manager/readme.md
  specification/fileshares/resource-manager/readme.python.md
  specification/fileshares/resource-manager/readme.typescript.md
Due: eng/pipelines/spec-gen-sdk.yml

Lint-diff
  specification/fileshares/FileShares.Management/fileshares.tsp
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/fileshares.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/fileshares.json
Due: eng/pipelines/spec-gen-sdk.yml

Remove market from OAC
  specification/programmableconnectivity/ProgrammableConnectivity.Management/OperatorApiConnection.tsp
  specification/programmableconnectivity/ProgrammableConnectivity.Management/examples/2025-03-30-preview/OperatorApiConnections_Create_MaximumSet_Gen.json
  specification/programmableconnectivity/ProgrammableConnectivity.Management/examples/2025-03-30-preview/OperatorApiConnections_Get_MaximumSet_Gen.json
  specification/programmableconnectivity/ProgrammableConnectivity.Management/examples/2025-03-30-preview/OperatorApiConnections_ListByResourceGroup_MaximumSet_Gen.json
  specification/programmableconnectivity/ProgrammableConnectivity.Management/examples/2025-03-30-preview/OperatorApiConnections_ListBySubscription_MaximumSet_Gen.json
  specification/programmableconnectivity/ProgrammableConnectivity.Management/examples/2025-03-30-preview/OperatorApiConnections_Update_MaximumSet_Gen.json
  specification/programmableconnectivity/resource-manager/Microsoft.ProgrammableConnectivity/preview/2025-03-30-preview/examples/OperatorApiConnections_Create_MaximumSet_Gen.json
  specification/programmableconnectivity/resource-manager/Microsoft.ProgrammableConnectivity/preview/2025-03-30-preview/examples/OperatorApiConnections_Get_MaximumSet_Gen.json
  specification/programmableconnectivity/resource-manager/Microsoft.ProgrammableConnectivity/preview/2025-03-30-preview/examples/OperatorApiConnections_ListByResourceGroup_MaximumSet_Gen.json
  specification/programmableconnectivity/resource-manager/Microsoft.ProgrammableConnectivity/preview/2025-03-30-preview/examples/OperatorApiConnections_ListBySubscription_MaximumSet_Gen.json
  specification/programmableconnectivity/resource-manager/Microsoft.ProgrammableConnectivity/preview/2025-03-30-preview/examples/OperatorApiConnections_Update_MaximumSet_Gen.json
  specification/programmableconnectivity/resource-manager/Microsoft.ProgrammableConnectivity/preview/2025-03-30-preview/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

Fix validation
  specification/programmableconnectivity/resource-manager/Microsoft.ProgrammableConnectivity/preview/2025-03-30-preview/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

lint-diff
  specification/fileshares/FileShares.Management/fileshares.tsp
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/fileshares.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/fileshares.json
Due: eng/pipelines/spec-gen-sdk.yml

AppConfiguration control plane 2024-06-01 stable api version (#32208)
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-06-01/scenarios/basic.yaml
  specification/appconfiguration/resource-manager/readme.md
  specification/appconfiguration/resource-manager/sdk-suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml

test of AI directory structure modification
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_Get_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2024-08-01-preview/neon.json
  specification/liftrneon/resource-manager/operations/Operations_List_MaximumSet_Gen.json
  specification/liftrneon/resource-manager/operations/Operations_List_MinimumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

deleted unreferenced files
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/stable/2024-01-15/examples/EvaluatedAvsMachinesOperations_Get_MaximumSet_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/stable/2024-01-15/examples/EvaluatedMachinesOperations_Get_MaximumSet_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/stable/2024-01-15/examples/EvaluatedSqlEntitiesOperations_Get_MaximumSet_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/AssessmentProjects/stable/2024-01-15/examples/EvaluatedWebAppsOperations_Get_MaximumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

rename broker types
  specification/iotoperations/IoTOperations.Management/models/broker/brokers.tsp
  specification/iotoperations/IoTOperations.Management/models/common/aliases.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2025-07-01-preview/iotoperations.json
Due: eng/pipelines/spec-gen-sdk.yml

lint
  specification/iotoperations/IoTOperations.Management/models/base.tsp
  specification/iotoperations/IoTOperations.Management/models/broker/brokers.tsp
  specification/iotoperations/IoTOperations.Management/models/instance.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Fix bad merge
  specification/appconfiguration/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Initial commit. (#34292)
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Compute/createOrUpdate/AKSCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Compute/createOrUpdate/AmlCompute.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/Compute/createOrUpdate/BasicAKSCompute.json
Due: eng/pipelines/spec-gen-sdk.yml

add inputtextcontent
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2025-04-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2025-04-01-preview/azureopenai.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Update readme.md
  specification/fileshares/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

bump to version of the proxy with multipart/mixed encoded contents human readable on disk + sanitization enabled
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/typespec-validation-all.yml

target newest version of the proxy
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/typespec-validation-all.yml

hopefully last update!
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/typespec-validation-all.yml

update examples
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_CreateOrUpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_GetFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_ListByFileShare_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_UpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_CreateOrUpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_GetFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_ListByFileShare_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_UpdateFileShareSnapshot_MaximumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

Fix prettier;
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2025-04-01-preview/azureopenai.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2025-04-01-preview/azureopenai.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Create new 2024-06-15-preview API version for `Microsoft.AppConfiguration` (#32996)
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresCreateWithTelemetry.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-06-15-preview/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Update scope
  specification/ai/Azure.AI.Projects/main.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/stable/2025-05-01/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/stable/v1/azure-ai-projects.json
Due: eng/pipelines/spec-gen-sdk.yml

Log violations
  eng/tools/lint-diff/src/generateReport.ts
Due: eng/pipelines/typespec-validation-all.yml

-table
  eng/tools/lint-diff/src/generateReport.ts
Due: eng/pipelines/typespec-validation-all.yml

Logging inside lint-diff.ts instead of lintdiff.yaml
  .github/workflows/lintdiff.yaml
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

+list
  eng/tools/lint-diff/src/generateReport.ts
Due: eng/pipelines/typespec-validation-all.yml

log GITHUB_SERVER_URL
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
