Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Reuse the extensible session type in creation responses
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Declare the initial created fine-tuning session status
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove redundant deletion and heartbeat response markers
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Clarify retained fine-tuning request and category type fields
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  .github/workflows/cmd/arm-lease-fetch-resource-providers.ts
  .github/workflows/test/arm-lease-validation/arm-lease-fetch-resource-providers.test.ts
Due: none

Use the shared required Foundry preview operation contract
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Import shared Foundry service files directly
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/routes.tsp
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/service.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix invalid-ref build errors: anonymous union properties need a local named type before alternateType/clientNamespace
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix js ci error
  specification/orbital/resource-manager/Microsoft.Orbital/Orbital/readme.md
  specification/orbital/resource-manager/Microsoft.Orbital/Orbital/readme.typescript.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix pre-existing invalid-ref for OpenAI.TranscriptionLanguage (unrelated to the namespace-leak fix)
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/openai-preview-models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Mitigate Oracle Database Java breaking changes
  specification/oracle/resource-manager/Oracle.Database/OracleDatabase/client.tsp
  specification/oracle/resource-manager/Oracle.Database/OracleDatabase/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix Gary's comments
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeSku/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeSku/main.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeSku/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Mitigate Oracle Database Java breaking changes (#46662)
  specification/oracle/resource-manager/Oracle.Database/OracleDatabase/client.tsp
  specification/oracle/resource-manager/Oracle.Database/OracleDatabase/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add managed environment name constraints
  specification/app/resource-manager/Microsoft.App/ContainerApps/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix namespace leak by retargeting alternateType/clientNamespace to the source OpenAI property
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refine Relationships C# API names
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Sync TypeSpec authoring skill from azure-sdk-tools
  .github/skills/azure-typespec-author/SKILL.md
  .github/skills/azure-typespec-author/references/authoring-plan.md
  .github/skills/azure-typespec-author/references/intake.md
Due: none

Added ExpressRouteLag Authorization
  specification/network/resource-manager/Microsoft.Network/Network/Network/ExpressRouteLagAuthorization.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagAuthorizationCreate.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagAuthorizationDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagAuthorizationGet.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagAuthorizationList.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagAuthorizationListKeys.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagAuthorizationCreate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagAuthorizationDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagAuthorizationGet.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagAuthorizationList.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagAuthorizationListKeys.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/expressRoute.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix cspell failure: reword comment to avoid the unrecognized acronym "TCGC"
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Use default Network management model names and version
  specification/network/resource-manager/Microsoft.Network/Network/client.tsp
  specification/network/resource-manager/Microsoft.Network/Network/tspconfig.yaml
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update Search resource manager codeowners
  .github/CODEOWNERS
Due: none

Fix TypeSpec Validation Format failure: run tsp format on client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fixed examples
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteCircuitCreateOnExpressRouteLagWithAuthorizationKey.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagCreate.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagGet.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagList.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagPatch.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteCircuitCreateOnExpressRouteLagWithAuthorizationKey.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagCreate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagGet.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagList.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagPatch.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/expressRoute.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "update"
  .github/workflows/cmd/arm-lease-fetch-resource-providers.ts
  .github/workflows/test/arm-lease-validation/arm-lease-fetch-resource-providers.test.ts
Due: none

Remove duplicate @removed(Versions.v2026_10_01) lines
  specification/search/data-plane/Search/models-knowledgebase.tsp
  specification/search/data-plane/Search/models-service.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add python scope to ArmProxyResource/ArmResource client name renames to fix SDK duplicate-client-name error
  specification/network/resource-manager/Microsoft.Network/Network/client.tsp
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix authoring skill CI compatibility
  .github/skills/azure-typespec-author/SKILL.md
  .github/skills/azure-typespec-author/references/intake.md
Due: none

Exclude regional resource-protection surface from GA 2026-10-01 (#7)
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/examples/2026-10-01/RecoveryResources_Get_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/examples/2026-10-01/RecoveryResources_List_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/models/common/common.tsp
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/models/recoveryPlan/recoveryResource.tsp
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/models/recoveryPlan/resourceProtection.tsp
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/stable/2026-10-01/examples/RecoveryResources_Get_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/stable/2026-10-01/examples/RecoveryResources_List_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/stable/2026-10-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove redundant @removed(Versions.v2026_10_01) on LegacyIndexes list params
  specification/search/data-plane/Search/routes-service.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert unrelated targetIndexName example tweak in 2026-08-01-preview
  specification/search/data-plane/Search/examples/2026-08-01-preview/SearchServiceCreateOrUpdateIndexer.json
  specification/search/data-plane/Search/preview/2026-08-01-preview/examples/SearchServiceCreateOrUpdateIndexer.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

recoveryservicesbackup: scope IASnapshotRP enum value to 2026-10-01 only
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/models.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/preview/2026-01-31-preview/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/preview/2026-03-31-preview/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/preview/2026-05-31-preview/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2025-02-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2025-08-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2026-01-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2026-02-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2026-05-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2026-07-01/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2026-08-01/bms.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

recoveryservicesbackup: document Instant Access duration/enabled interdependency
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/models.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/stable/2026-10-01/bms.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add azureai and readback to cognitiveservices cspell dictionary
  specification/cognitiveservices/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add azureai and readback to root cspell dictionary
  cspell.yaml
Due: none

sync azure-typespec-author skill
  .github/skills/azure-typespec-author/SKILL.md
  .github/skills/azure-typespec-author/references/authoring-plan.md
Due: none

Bump browserslist
  pnpm-lock.yaml
Due: none

format
  .github/skills/azure-typespec-author/SKILL.md
Due: none

Add Voice Agent Handoff TypeSpec
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/agents.tsp
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/handoff.tsp
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/protocol.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
