Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Fix formatting
  specification/batch/Azure.Batch/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Update swagger
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

Fix go overrides
  specification/batch/Azure.Batch/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

last LRO's for csharp
  specification/batch/Azure.Batch/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Property update - remove adjacent double capital case naming
  specification/batch/Azure.Batch/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

updated BatchTaskAddResult
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

Fix names of task number properties
  specification/batch/Azure.Batch/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

adding more CSharp LRO overrides
  specification/batch/Azure.Batch/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

updating samples to fit the new defined types
  specification/batch/Azure.Batch/examples/2024-07-01.20.0/Certificates_CreateCertificate.json
  specification/batch/Azure.Batch/examples/2024-07-01.20.0/Nodes_ListNodeFiles.json
  specification/batch/Azure.Batch/examples/2024-07-01.20.0/Tasks_ListTaskFiles.json
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/examples/Certificates_GetCertificate.json
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/examples/Nodes_ListNodeFiles.json
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/examples/Tasks_ListTaskFiles.json
Due: eng/pipelines/spec-gen-sdk.yml

updating AccessScope and AffinityInfo names, changing the type of all urls from string to url, changing etag, changing batch certificate data to bytes
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

additional fix
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

test
  specification/batch/Azure.Batch/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

compile update
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

replacing deletejob
  specification/batch/Azure.Batch/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

compile
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

Update more property names from Java API View review
  specification/batch/Azure.Batch/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Csharp lro apis
  specification/batch/Azure.Batch/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

updating the name of httpheader and BatchTaskAddCollectionResult
  specification/batch/Azure.Batch/java-client.tsp
  specification/batch/Azure.Batch/models.tsp
  specification/batch/Azure.Batch/routes.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

Replace Content suffix on model names with Options
  specification/batch/Azure.Batch/common.tsp
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

update rules to make namespace and package name follow the guideline
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

Establish API pattern with agent specific service error for agentsv1
  specification/ai/Azure.AI.Agents/routes.tsp
  specification/ai/Azure.AI.Agents/servicepatterns.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/2025-05-01/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/v1/azure-ai-agents.json
Due: eng/pipelines/spec-gen-sdk.yml

updating BatchNodeRebootKinds to BatchNodeRebootOptions
  specification/batch/Azure.Batch/client.tsp
  specification/batch/Azure.Batch/common.tsp
  specification/batch/Azure.Batch/java-client.tsp
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

Match typescript version from root package.json
  eng/tools/lint-diff/package.json
Due: eng/pipelines/typespec-validation-all.yml

Pulled forward docs changes
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-07-05/blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-11-05/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/stable/2025-11-05/file.json
Due: eng/pipelines/spec-gen-sdk.yml

fixed samples support for 202 return status for ImportPipeline, ExportPipeline, PipelineRun delete operations
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2025-06-01-preview/examples/ExportPipelineDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2025-06-01-preview/examples/ImportPipelineDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2025-06-01-preview/examples/PipelineRunDelete.json
Due: eng/pipelines/spec-gen-sdk.yml

Add execNpmExec instead of having to write "exec", "--no", "--" into a execNpm invocation
  .github/shared/src/exec.js
  eng/tools/lint-diff/src/runChecks.ts
Due: eng/pipelines/typespec-validation-all.yml

more directory v2
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_CreateOrUpdateWidgetSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_DeleteWidgetSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_GetWidgetOperationStatusSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_GetWidgetSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/preview/2022-11-01-preview/examples/Widgets_ListWidgetsSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/preview/2022-11-01-preview/widgets.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/stable/2022-12-01/examples/Widgets_CreateOrUpdateWidgetSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/stable/2022-12-01/examples/Widgets_DeleteWidgetSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/stable/2022-12-01/examples/Widgets_GetWidgetOperationStatusSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/stable/2022-12-01/examples/Widgets_GetWidgetSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/stable/2022-12-01/examples/Widgets_ListWidgetsSample.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/stable/2022-12-01/widgets.json
  specification/contosowidgetmanager_new/data-plane/Contoso.WidgetManager/tspconfig.yaml
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/contoso.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/examples/Employees_CreateOrUpdate.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/examples/Employees_Delete.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/examples/Employees_Get.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/examples/Employees_ListByResourceGroup.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/examples/Employees_ListBySubscription.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/examples/Employees_Update.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/preview/2021-10-01-preview/examples/Operations_List.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/contoso.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/examples/Employees_CreateOrUpdate.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/examples/Employees_Delete.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/examples/Employees_Get.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/examples/Employees_ListByResourceGroup.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/examples/Employees_ListBySubscription.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/examples/Employees_Update.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/stable/2021-11-01/examples/Operations_List.json
  specification/contosowidgetmanager_new/resource-manager/Contoso/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Added two options to batch run and change required settings (#34577)
  .github/workflows/src/spec-gen-sdk-status.js
  eng/pipelines/spec-gen-sdk-batch.yml
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/types.ts
  eng/tools/spec-gen-sdk-runner/test/src/__snapshots__/commands.test.ts.snap
  eng/tools/spec-gen-sdk-runner/test/src/command-helper.test.ts
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Fix mocks
  eng/tools/lint-diff/test/runChecks.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Use the special suppressions type, instead of the older style directive.
  specification/eventgrid/data-plane/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

fix
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/extensions/readme.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/extensions/stable/2021-09-01/examples/OperationsList.json
Due: eng/pipelines/spec-gen-sdk.yml

Add the readme changes
  specification/dnsresolver/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Undo-ing an accidental field rename. (#34603)
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.ApiManagement/ApiManagement.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Add error response for every operations
  specification/ai/Azure.AI.Agents/files/routes.tsp
  specification/ai/Azure.AI.Agents/messages/routes.tsp
  specification/ai/Azure.AI.Agents/routes.tsp
  specification/ai/Azure.AI.Agents/run_steps/routes.tsp
  specification/ai/Azure.AI.Agents/runs/routes.tsp
  specification/ai/Azure.AI.Agents/servicepatterns.tsp
  specification/ai/Azure.AI.Agents/threads/routes.tsp
  specification/ai/Azure.AI.Agents/vector_stores/file_batches/routes.tsp
  specification/ai/Azure.AI.Agents/vector_stores/files/routes.tsp
  specification/ai/Azure.AI.Agents/vector_stores/routes.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/2025-05-01/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/v1/azure-ai-agents.json
Due: eng/pipelines/spec-gen-sdk.yml

Add test coverage for execNpmExec
  .github/shared/test/exec.test.js
Due: none

Prettier
  .github/shared/test/exec.test.js
Due: none

Allow links to use the checked out repo for validation
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/typespec-validation-all.yml

Update eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/typespec-validation-all.yml
