Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

[Application Insights] Update readme.python.md (#32459)
  specification/applicationinsights/resource-manager/readme.md
  specification/applicationinsights/resource-manager/readme.python.md
Due: none

remove x-ms-client-flatten
  specification/maps/data-plane/Route/stable/2025-01-01/route.json
Due: none

updating examples
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/IpamPools_Get.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/IpamPools_List.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/IpamPools_Update.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerConnectivityConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkManagerEffectiveConnectivityConfigurationsList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspaceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspaceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspacePatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/VerifierWorkspacePut.json
Due: .azure-pipelines/network-validation.yml

override @npmcli/arborist to "^8.0.0" for compat with node 18
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Drop support for Node 18
  .github/dependabot.yml
  .github/workflows/_reusable-eng-tools-test.yaml
  eng/tools/sdk-suppressions/package.json
  eng/tools/specs-model/package.json
  eng/tools/suppressions/package.json
  eng/tools/tsp-client-tests/package.json
  eng/tools/typespec-requirement/package.json
  eng/tools/typespec-validation/package.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Removed dup error entries
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/spec-gen-sdk-runner/src/commands.ts
Due: eng/pipelines/typespec-validation-all.yml

Errorresponse correction (#32508)
  specification/eventhub/resource-manager/Microsoft.EventHub/preview/2024-05-01-preview/namespaces.json
  specification/eventhub/resource-manager/readme.md
Due: none

Adding location header to example response
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/SavingsPlanUpdate.json
Due: none

[Part 1] Add Old Rules for TypeSpecValidation Tool (#32504)
  eng/tools/typespec-validation/src/index.ts
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/src/rules/tspconfig-java-package-dir.ts
  eng/tools/typespec-validation/src/tspconfig-rule-helper.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
  eng/tools/typespec-validation/test/tspconfig.test.ts
Due: eng/pipelines/typespec-validation-all.yml

merge files
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/src/tspconfig-rule-helper.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Recompile typespec
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2024-09-01/appconfiguration.json
Due: none

model
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/AppAttachPackageInfo_Import.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/AppAttachPackage_Update.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/MsixImages_Expand.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/AppAttachPackageInfo_Import.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/AppAttachPackage_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/MsixImages_Expand.json
Due: none

Change API version date
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-28-preview/GeoCatalogs_Create.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-28-preview/GeoCatalogs_Delete.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-28-preview/GeoCatalogs_Get.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-28-preview/GeoCatalogs_ListByResourceGroup.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-28-preview/GeoCatalogs_ListBySubscription.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-28-preview/GeoCatalogs_Update.json
  specification/orbitalplanetarycomputer/Orbital.Management/main.tsp
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-28-preview/aopc.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-28-preview/examples/GeoCatalogs_Create.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-28-preview/examples/GeoCatalogs_Delete.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-28-preview/examples/GeoCatalogs_Get.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-28-preview/examples/GeoCatalogs_ListByResourceGroup.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-28-preview/examples/GeoCatalogs_ListBySubscription.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-28-preview/examples/GeoCatalogs_Update.json
  specification/orbitalplanetarycomputer/resource-manager/readme.md
Due: none

Incorporate customer feedback and ProvisioningConfigurations resource for ZTP in existing PrivatePreview API version (#21191)
  specification/edge/Microsoft.Edge.Configurations.Management/ConnectivityConfiguration.tsp
  specification/edge/Microsoft.Edge.Configurations.Management/NetworkConfiguration.tsp
  specification/edge/Microsoft.Edge.Configurations.Management/ProvisioningConfigurations.tsp
  specification/edge/Microsoft.Edge.Configurations.Management/examples/2024-09-01-preview/ProvisioningConfigurations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.Configurations.Management/examples/2024-09-01-preview/ProvisioningConfigurations_Delete_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.Configurations.Management/examples/2024-09-01-preview/ProvisioningConfigurations_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.Configurations.Management/examples/2024-09-01-preview/ProvisioningConfigurations_ListByConfiguration_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.Configurations.Management/examples/2024-09-01-preview/ProvisioningConfigurations_Update_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.Configurations.Management/main.tsp
  specification/edge/resource-manager/Microsoft.Edge/configurations/preview/2024-09-01-preview/configurations.json
  specification/edge/resource-manager/Microsoft.Edge/configurations/preview/2024-09-01-preview/examples/ProvisioningConfigurations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/configurations/preview/2024-09-01-preview/examples/ProvisioningConfigurations_Delete_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/configurations/preview/2024-09-01-preview/examples/ProvisioningConfigurations_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/configurations/preview/2024-09-01-preview/examples/ProvisioningConfigurations_ListByConfiguration_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/configurations/preview/2024-09-01-preview/examples/ProvisioningConfigurations_Update_MaximumSet_Gen.json
Due: none

Add timestamp
  specification/edgecopilot/Microsoft.EdgeManagement.Management/examples/2025-02-01-preview/PostChat.json
  specification/edgecopilot/Microsoft.EdgeManagement.Management/models.tsp
  specification/edgecopilot/resource-manager/Microsoft.EdgeManagement/preview/2025-02-01-preview/chat.json
  specification/edgecopilot/resource-manager/Microsoft.EdgeManagement/preview/2025-02-01-preview/examples/PostChat.json
Due: none

Forgot folder names
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-11-preview/GeoCatalogs_Create.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-11-preview/GeoCatalogs_Delete.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-11-preview/GeoCatalogs_Get.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-11-preview/GeoCatalogs_ListByResourceGroup.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-11-preview/GeoCatalogs_ListBySubscription.json
  specification/orbitalplanetarycomputer/Orbital.Management/examples/2025-02-11-preview/GeoCatalogs_Update.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-11-preview/aopc.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-11-preview/examples/GeoCatalogs_Create.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-11-preview/examples/GeoCatalogs_Delete.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-11-preview/examples/GeoCatalogs_Get.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-11-preview/examples/GeoCatalogs_ListByResourceGroup.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-11-preview/examples/GeoCatalogs_ListBySubscription.json
  specification/orbitalplanetarycomputer/resource-manager/Microsoft.Orbital/preview/2025-02-11-preview/examples/GeoCatalogs_Update.json
Due: none

Add language to request body
  specification/edgecopilot/Microsoft.EdgeManagement.Management/examples/2025-02-01-preview/PostChat.json
  specification/edgecopilot/Microsoft.EdgeManagement.Management/models.tsp
  specification/edgecopilot/resource-manager/Microsoft.EdgeManagement/preview/2025-02-01-preview/chat.json
  specification/edgecopilot/resource-manager/Microsoft.EdgeManagement/preview/2025-02-01-preview/examples/PostChat.json
Due: none

Fix a tsp format
  specification/edgecopilot/Microsoft.EdgeManagement.Management/models.tsp
Due: none

Change description of language
  specification/edgecopilot/Microsoft.EdgeManagement.Management/models.tsp
  specification/edgecopilot/resource-manager/Microsoft.EdgeManagement/preview/2025-02-01-preview/chat.json
Due: none

merge files (#32577)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/src/tspconfig-rule-helper.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

model validation renames
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/PrivateEndpointConnections_DeleteByWorkspace.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/PrivateEndpointConnections_GetByWorkspace.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/PrivateEndpointConnections_ListByWorkspace.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/PrivateEndpointConnections_UpdateByWorkspace.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/SessionHostManagementsUpdateStatus_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/PrivateEndpointConnections_DeleteByWorkspace.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/PrivateEndpointConnections_GetByWorkspace.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/PrivateEndpointConnections_ListByWorkspace.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/PrivateEndpointConnections_UpdateByWorkspace.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHostManagementsUpdateStatus_Get.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHostManagements_ControlSessionHostUpdate_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHostManagements_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHostManagements_UpdateSessionHosts_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHost_RetryProvisioning_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/UserSession_Get.json
Due: none

AppAttachPackagePatch fix
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/AppAttachPackage_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/AppAttachPackage_Update.json
Due: none

remove en-us
  specification/maps/data-plane/Route/stable/2025-01-01/route.json
Due: none

Addressed rerview comment.
  specification/migrate/resource-manager/Microsoft.OffAzure/preview/2024-12-01-preview/migrate.json
Due: none

last model validation bunch
  specification/desktopvirtualization/DesktopVirtualization.Management/client.tsp
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/AppAttachPackage_Update.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/PrivateEndpointConnections_UpdateByWorkspace.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/ScalingPlans_Update.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/SessionHostManagements_UpdateSessionHosts_Post.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/SessionHost_RetryProvisioning_Post.json
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/UserSessions_SendMessage.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/AppAttachPackage_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/PrivateEndpointConnections_UpdateByWorkspace.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/ScalingPlans_Update.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHostManagements_UpdateSessionHosts_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHost_RetryProvisioning_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/UserSessions_SendMessage.json
Due: none

Added operations List example
  specification/desktopvirtualization/DesktopVirtualization.Management/examples/2024-08-08-preview/Operations_List.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/examples/Operations_List.json
Due: none

Updated Maintenance to use model as false enums
  specification/desktopvirtualization/DesktopVirtualization.Management/models.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2024-08-08-preview/desktopvirtualization.json
Due: none

remove useless file
  .github/workflows/spelling.yaml
Due: none

1. Initial commit
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/PGSQLInventoryApiVersions.tsp
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/WebModels/PGSQLInstance.tsp
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/main.tsp
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/tspconfig.yaml
  specification/offazureinventory/cspell.yaml
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/Agents_Create.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/Agents_Delete.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/Agents_Get.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/Agents_ListBySite.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/Agents_TriggerRefresh.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/Agents_Update.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/Operations_List.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLDatabases_CreateOrUpdate_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLDatabases_Delete_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLDatabases_Get_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLDatabases_ListBySite_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLDatabases_Update_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLInstances_CreateOrUpdate_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLInstances_Delete_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLInstances_Get_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLInstances_ListBySite_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLInstances_Update_MaximumSet_Gen.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLSites_Create.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLSites_Delete.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLSites_Get.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLSites_ListByResourceGroup.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLSites_ListBySubscription.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLSites_TriggerRefresh.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/examples/PGSQLSites_Update.json
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/offazureinventory.json
Due: none

1. Removed files
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/PGSQLInventoryApiVersions.tsp
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/WebModels/PGSQLInstance.tsp
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/main.tsp
  specification/offazureinventory/OffAzureInventory.Management/PGSQLInventory.Management/tspconfig.yaml
Due: none

Added tag for 2025-02-02-preview in readme file
  specification/app/resource-manager/readme.md
Due: none

Hiding access for begin* methods in Python
  specification/loadtestservice/LoadTestService/client.tsp
Due: none

Examples
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/CreateOrUpdateWebApp.json
  specification/web/resource-manager/Microsoft.Web/stable/2024-11-01/examples/CreateOrUpdateWebAppSlot.json
Due: none

1. Removed unnecessary required props
  specification/offazureinventory/resource-manager/Microsoft.OffAzureInventory/preview/2025-02-01-preview/offazureinventory.json
Due: none

add missing accept parameter in the example file to getentry
  specification/confidentialledger/Microsoft.CodeTransparency/examples/2025-01-31-preview/GetEntry.json
  specification/confidentialledger/data-plane/Microsoft.CodeTransparency/preview/2025-01-31-preview/examples/GetEntry.json
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
