Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Fix all resource ID fields in examples to use proper ARM resource ID format
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_ListBySyncGroup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/LocationOperationStatus_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateLinkResources_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Update_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_ListBySubscription_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Update_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_ListByStorageSyncService_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix storageAccountTenantId and offlineDataTransferStorageAccountTenantId to use proper UUID format
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_ListBySyncGroup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/LocationOperationStatus_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateLinkResources_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Update_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_ListBySyncGroup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Update_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_ListBySubscription_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Update_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_ListByStorageSyncService_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix JSON parsing errors: remove trailing commas and invalid requestBody properties
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PreRestore_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Update_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updating sequence to use uint64 instead of int64
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix trailing commas in PrivateEndpointConnections example files
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_ListByStorageSyncService_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Format all example JSON files with prettier
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_AfsShareMetadataCertificatePublicKeys_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PostBackup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PostRestore_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PreBackup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PreRestore_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_TriggerChangeDetection_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_restoreheartbeat_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/OperationStatus_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Operations_List_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Operations_List_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_triggerRollover_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_recallAction_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_CheckNameAvailability_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_Abort_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

undo commit - updating sequence to use uint64 instead of int64
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add missing locationName parameter to StorageSyncServices_CheckNameAvailability_MinimumSet example
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_CheckNameAvailability_MinimumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update StorageSync example responses and IDs
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PostBackup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PostRestore_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PreBackup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PreRestore_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_TriggerChangeDetection_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_restoreheartbeat_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/LocationOperationStatus_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/OperationStatus_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/OperationStatus_Get_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_ListByStorageSyncService_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_triggerRollover_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_ListBySyncGroup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Update_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_recallAction_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_CheckNameAvailability_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Create_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Delete_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Delete_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Get_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_ListBySubscription_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Update_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_Abort_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_Get_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add defineBaseConfig()
  .github/eslint.config.js
  .github/shared/eslint.base.config.js
  .github/shared/eslint.config.js
Due: none

Cross-Tenant support for Principal Bound Delegation Sas 101 (#38020)
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-04-06/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/stable/2026-04-06/file.json
  specification/storage/data-plane/Microsoft.QueueStorage/stable/2026-04-06/queue.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update StorageSync 2025-12-01 minimum set examples
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_AfsShareMetadataCertificatePublicKeys_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_Delete_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PostBackup_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PostRestore_MaximumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PostRestore_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PreBackup_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_PreRestore_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_TriggerChangeDetection_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/CloudEndpoints_restoreheartbeat_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/LocationOperationStatus_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/PrivateEndpointConnections_Delete_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_Delete_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/RegisteredServers_triggerRollover_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_Delete_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/ServerEndpoints_recallAction_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/StorageSyncServices_Delete_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/SyncGroups_Delete_MinimumSet_Gen.json
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/examples/Workflows_Abort_MinimumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

comment
  .github/shared/eslint.base.config.js
Due: none

[.github/shared] Export eslint-base-config
  .github/shared/package.json
Due: none

[typespec-validation] Use defineBaseConfig()
  eng/tools/typespec-validation/eslint.config.js
Due: eng/pipelines/typespec-validation-all.yml

remove extra getExportStatus
  specification/cognitiveservices/data-plane/LanguageAnalyzeConversationsAuthoring/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

move getImportstatus
  specification/cognitiveservices/data-plane/LanguageAnalyzeConversationsAuthoring/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add base config for eng/tools
  eng/tools/eslint.base.config.js
  eng/tools/package.json
  eng/tools/typespec-validation/eslint.config.js
Due: eng/pipelines/typespec-validation-all.yml

[suppressions] Add dev dep on specs-shared
  eng/tools/suppressions/package.json
Due: eng/pipelines/typespec-validation-all.yml

npm i
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[suppressions] Use base config
  eng/tools/suppressions/eslint.config.js
Due: eng/pipelines/typespec-validation-all.yml

[oav-runner] Use base config
  eng/tools/oav-runner/eslint.config.js
Due: eng/pipelines/typespec-validation-all.yml

Undelete container tsp changes
  specification/storage/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "Undelete container tsp changes"
  specification/storage/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

move jobs and pass in the custom job
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: eng/pipelines/typespec-validation-all.yml

Add GitHub Action to validate lease folder structure
  .github/workflows/validate-lease-folder-structure.yaml
Due: none

Remove deprecated myWorkbooks from API
  profile/2019-06-01-profile.json
  specification/applicationinsights/cspell.yaml
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/examples/MyWorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/myworkbooks_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/examples/MyWorkbooksList2.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2020-10-20/myworkbooks_API.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/examples/MyWorkbookAdd.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/examples/MyWorkbookDelete.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/examples/MyWorkbookGet.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/examples/MyWorkbookUpdate.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/examples/MyWorkbooksList.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/examples/MyWorkbooksList2.json
  specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/myworkbooks_API.json
  specification/applicationinsights/resource-manager/readme.md
  specification/monitor/resource-manager/Microsoft.Insights/preview/2017-09-01-preview/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2015-07-01/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-06-01/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2019-07-01/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2021-05-01/examples/OperationList.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

client.tsp: Remove the renaming for ContentCategoryDefinition
  specification/ai/ContentUnderstanding/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update certain model property values
  specification/applicationinsights/ApplicationInsights.Monitor.Exporters/models.tsp
  specification/applicationinsights/data-plane/Monitor.Exporters/preview/v2.1/swagger.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update definition comparison
  specification/search/swagger_equiv/semantic_equiv/compare.py
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

address some model diffs
  specification/search/Azure.Search/models-index.tsp
  specification/search/Azure.Search/models-knowledgebase.tsp
  specification/search/Azure.Search/models-service.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[lint-diff] Use shared eslint config
  eng/tools/lint-diff/eslint.config.js
Due: eng/pipelines/typespec-validation-all.yml

updated workflow to check lease file content
  .github/workflows/validate-lease-folder-structure.yaml
Due: none

Add lease folder and enhance validate-lease-workflow with date and resource provider validations
  lease/Microsoft.TejaswiTest/lease.yaml
Due: none

update compare.py
  specification/search/swagger_equiv/semantic_equiv/compare.py
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updated service
  lease/Microsoft.TejaswiTest/tejaswi/lease.yaml
Due: none

prettier
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Delete.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_GetById.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_List_ResourceGroup.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_List_Subscription.json
  specification/alertsmanagement/AlertProcessingRules.Management/examples/2021-08-08/AlertProcessingRules_Patch.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_add_action_group_all_alerts_in_subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_add_two_action_groups_all_Sev0_Sev1_two_resource_groups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_from_specific_alert_rule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_outside_business_hours.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_recurring_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Delete.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_GetById.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_List_ResourceGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_List_Subscription.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/AlertProcessingRules/stable/2021-08-08/examples/AlertProcessingRules_Patch.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

test service folder
  .github/workflows/validate-lease-folder-structure.yaml
  lease/Microsoft.Noservice/lease.yaml
  lease/Microsoft.TejaswiTest/tejaswi/lease.yaml
Due: none

update workflow
  .github/workflows/validate-lease-folder-structure.yaml
Due: none
