Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Fix compile errors
  specification/quantum/Quantum.Workspace/common/base-operations.tsp
  specification/quantum/Quantum.Workspace/common/models-jobs.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Prettier run
  specification/quantum/Quantum.Workspace/examples/2025-09-01-preview/TopLevelItems_List.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Set up vcpkg cache variables in eng/common
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Due: eng/pipelines/typespec-validation-all.yml

Paths
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Due: eng/pipelines/typespec-validation-all.yml

Review feedback: Write-Host -> #
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Due: eng/pipelines/typespec-validation-all.yml

Remove module code, it's not necessary anymore
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Due: eng/pipelines/typespec-validation-all.yml

Compile run
  specification/quantum/data-plane/Microsoft.Quantum/preview/2025-09-01-preview/examples/TopLevelItems_List.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix root readme
  specification/monitor/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix documentation generation blocking in VirtualWan.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/virtualWan.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/purviewDataQuality.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/DataSource_Create.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/ScopeMetaData_Update.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/DataSource_Create.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/ScopeMetaData_Update.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

bump cross-env from 7.0.3 to 10.1.0
  .github/package-lock.json
  .github/package.json
  .github/shared/package-lock.json
  .github/shared/package.json
Due: none

npm i
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

bump eslint to 8.45.0
  .github/package-lock.json
  .github/package.json
  eng/tools/spec-gen-sdk-runner/package.json
  eng/tools/typespec-migration-validation/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

bump cross-env from 7.0.3 to 10.1.0 (#37897)
  .github/package-lock.json
  .github/package.json
  .github/shared/package-lock.json
  .github/shared/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

bump typescript-eslint to 8.45.0 (#37898)
  .github/package-lock.json
  .github/package.json
  eng/tools/spec-gen-sdk-runner/package.json
  eng/tools/typespec-migration-validation/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Add mgmt emitter
  specificationRepositoryConfiguration.json
Due: none

Add mgmt emitter (#37899)
  specificationRepositoryConfiguration.json
Due: none

Bump @azure/oad from 0.12.1 to 0.12.2 (#37796)
  eng/tools/openapi-diff-runner/package.json
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Remove version annotation from PatchOperation
  specification/quantum/Quantum.Workspace/common/base-operations.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove multiple discriminators
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/voicelive.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Addressing some PR feedback
  specification/resources/DeploymentStacks.Management/models-whatIf.tsp
  specification/resources/DeploymentStacks.Management/routes-whatIf.tsp
  specification/resources/resource-manager/Microsoft.Resources/deploymentStacks/stable/2025-07-01/deploymentStacks.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Adding readonly flag to new property
  specification/resources/DeploymentStacks.Management/models-whatIf.tsp
  specification/resources/resource-manager/Microsoft.Resources/deploymentStacks/stable/2025-07-01/deploymentStacks.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Making the request body optional with handcraft typespec op
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/RuleSet.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/stable/2025-06-01/openapi.json
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/stable/2025-12-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix documentation generation blocking in VirtualWan.json (#37896)
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/virtualWan.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Include back chnages
  specification/azureresiliencemanagement/AzureResilience.Management/models/drill/drill.models.tsp
  specification/azureresiliencemanagement/AzureResilience.Management/models/drill/drillResource.models.tsp
  specification/azureresiliencemanagement/AzureResilience.Management/models/drill/enums.tsp
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Example file
  specification/ai/data-plane/VoiceLive/examples/2025-10-01/SessionInitialization.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

adding faultduration in drill
  specification/azureresiliencemanagement/AzureResilience.Management/examples/2025-02-01-preview/DrillResources_Get_MaximumSet_Gen.json
  specification/azureresiliencemanagement/AzureResilience.Management/examples/2025-02-01-preview/DrillResources_List_MaximumSet_Gen.json
  specification/azureresiliencemanagement/AzureResilience.Management/examples/2025-02-01-preview/Drills_AddOrUpdateResources_MaximumSet_Gen.json
  specification/azureresiliencemanagement/AzureResilience.Management/examples/2025-02-01-preview/Drills_Create_MaximumSet_Gen.json
  specification/azureresiliencemanagement/AzureResilience.Management/examples/2025-02-01-preview/Drills_Get_MaximumSet_Gen.json
  specification/azureresiliencemanagement/AzureResilience.Management/examples/2025-02-01-preview/Drills_List_MaximumSet_Gen.json
  specification/azureresiliencemanagement/AzureResilience.Management/models/drill/drill.models.tsp
  specification/azureresiliencemanagement/AzureResilience.Management/models/drill/enums.tsp
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/examples/DrillResources_Get_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/examples/DrillResources_List_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/examples/Drills_AddOrUpdateResources_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/examples/Drills_Create_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/examples/Drills_Get_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/examples/Drills_List_MaximumSet_Gen.json
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/preview/2025-02-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

udpate names and samples based on suggestions from dry-run
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/examples/2025-11-01/analyzeconversations-authoring/SuccessfulAssignProjectResources.json
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/examples/2025-11-01/analyzeconversations-authoring/SuccessfulGetAssignProjectResourcesStatus.json
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/examples/2025-11-01/analyzeconversations-authoring/SuccessfulGetUnassignProjectResourcesStatus.json
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/examples/2025-11-01/analyzeconversations-authoring/SuccessfulListProjectResources.json
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/examples/2025-11-01/analyzeconversations-authoring/SuccessfulUnassignProjectResources.json
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/project.tsp
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/routes.tsp
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzeconversations-authoring.json
  specification/cognitiveservices/data-plane/Language/stable/2025-11-01/analyzeconversations-authoring.json
  specification/cognitiveservices/data-plane/Language/stable/2025-11-01/examples/analyzeconversations-authoring/SuccessfulAssignProjectResources.json
  specification/cognitiveservices/data-plane/Language/stable/2025-11-01/examples/analyzeconversations-authoring/SuccessfulGetAssignProjectResourcesStatus.json
  specification/cognitiveservices/data-plane/Language/stable/2025-11-01/examples/analyzeconversations-authoring/SuccessfulGetDeploymentDeleteFromResourcesStatus.json
  specification/cognitiveservices/data-plane/Language/stable/2025-11-01/examples/analyzeconversations-authoring/SuccessfulGetUnassignProjectResourcesStatus.json
  specification/cognitiveservices/data-plane/Language/stable/2025-11-01/examples/analyzeconversations-authoring/SuccessfulUnassignProjectResources.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add zod to .github/shared
  .github/shared/package.json
Due: none

npm i
  .github/shared/package-lock.json
Due: none

use zod to validate input-file
  .github/shared/src/readme.js
  .github/shared/test/readme.test.js
Due: none

[spec-model-error] Add "cause" to toString()
  .github/shared/src/spec-model-error.js
Due: none

throw SpecModelError
  .github/shared/src/readme.js
  .github/shared/test/readme.test.js
Due: none

add test for readme
  .github/shared/test/spec-model-error.test.js
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
