Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

CachedEntity<unknown> ?
  specification/securitycopilot/TypeSpec/SkillContext/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update UDR config properties for Microsoft.Network (#37789)
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/NetworkManagerRoutingConfigurationGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/NetworkManagerRoutingConfigurationList.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/examples/NetworkManagerRoutingConfigurationPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2025-01-01/networkManagerRoutingConfiguration.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Change route to unknown too
  specification/securitycopilot/TypeSpec/SkillContext/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Upgrade to v6 for common types
  specification/dnsresolver/resource-manager/Microsoft.Network/DnsResolver/main.tsp
  specification/dnsresolver/resource-manager/Microsoft.Network/DnsResolver/preview/2025-10-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "Use authenticated GitHub request when env variable is present (#12267)"
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Fixes
  specification/orbital/Microsoft.PlanetaryComputer/client.tsp
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollectionOperations_Create.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollectionOperations_CreateOrReplace.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollectionPartitionTypes_Replace.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollectionRenderOptions_Get.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/TilerGeoJsons_CropFormat.json
  specification/orbital/Microsoft.PlanetaryComputer/inma.tsp
  specification/orbital/Microsoft.PlanetaryComputer/routes.stac.config.tsp
  specification/orbital/Microsoft.PlanetaryComputer/routes.tiler.items.tsp
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollectionOperations_Create.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollectionOperations_CreateOrReplace.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollectionPartitionTypes_Replace.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollectionRenderOptions_Get.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/TilerGeoJsons_CropFormat.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add models and routes for bulk actions
  specification/bulkactions/BulkActions.Management/baseVirtualMachineProfile.tsp
  specification/bulkactions/BulkActions.Management/common.tsp
  specification/bulkactions/BulkActions.Management/examples/2025-10-30-preview/BulkActions_Cancel_MaximumSet_Gen.json
  specification/bulkactions/BulkActions.Management/examples/2025-10-30-preview/BulkActions_CreateOrUpdate_MaximumSet_Gen.json
  specification/bulkactions/BulkActions.Management/examples/2025-10-30-preview/BulkActions_Delete_MaximumSet_Gen.json
  specification/bulkactions/BulkActions.Management/examples/2025-10-30-preview/BulkActions_Get_MaximumSet_Gen.json
  specification/bulkactions/BulkActions.Management/examples/2025-10-30-preview/BulkActions_ListVirtualMachines_MaximumSet_Gen.json
  specification/bulkactions/BulkActions.Management/examples/2025-10-30-preview/Operations_List_MaximumSet_Gen.json
  specification/bulkactions/BulkActions.Management/examples/2025-10-30-preview/Operations_List_MinimumSet_Gen.json
  specification/bulkactions/BulkActions.Management/main.tsp
  specification/bulkactions/BulkActions.Management/models.tsp
  specification/bulkactions/BulkActions.Management/routes.tsp
  specification/bulkactions/BulkActions.Management/tspconfig.yaml
  specification/bulkactions/BulkActions.Management/virtualMachines.tsp
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/bulkactions.json
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/examples/BulkActions_Cancel_MaximumSet_Gen.json
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/examples/BulkActions_CreateOrUpdate_MaximumSet_Gen.json
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/examples/BulkActions_Delete_MaximumSet_Gen.json
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/examples/BulkActions_Get_MaximumSet_Gen.json
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/examples/BulkActions_ListVirtualMachines_MaximumSet_Gen.json
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/bulkactions/resource-manager/Microsoft.BulkActions/preview/2025-10-30-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/bulkactions/resource-manager/readme.az.md
  specification/bulkactions/resource-manager/readme.cli.md
  specification/bulkactions/resource-manager/readme.csharp.md
  specification/bulkactions/resource-manager/readme.go.md
  specification/bulkactions/resource-manager/readme.md
  specification/bulkactions/resource-manager/readme.python.md
  specification/bulkactions/resource-manager/readme.typescript.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/purviewDataQuality.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/DataSource_Create.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/DataSource_Get.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/DataSource_Update.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/ScopeMetaData_Update.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/ScopedAssetMetaData_Get.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/ScopedMetaData_Create.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "Use authenticated GitHub request when env variable is present (#12267)" (#37905)
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Add files via upload
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/DataSource_Create.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/DataSource_Get.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/DataSource_Update.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/ScopeMetaData_Update.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/ScopedAssetMetaData_Get.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/ScopedMetaData_Create.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/Rules_Create.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/Schedule_Get.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/Schedules_Get.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/ScopeMetaData_Update.json
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/ScopedMetaData_Create.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Cosmetic changes
  specification/orbital/Microsoft.PlanetaryComputer/client.tsp
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollections_Create.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollections_CreateOrReplace.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollections_Delete.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollections_Get.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacCollections_GetAll.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacSearch_Create.json
  specification/orbital/Microsoft.PlanetaryComputer/examples/2025-04-30-preview/StacSearch_Get.json
  specification/orbital/Microsoft.PlanetaryComputer/inma.tsp
  specification/orbital/Microsoft.PlanetaryComputer/models.stac.spec.tsp
  specification/orbital/Microsoft.PlanetaryComputer/models.tiler.items.tsp
  specification/orbital/Microsoft.PlanetaryComputer/routes.stac.spec.tsp
  specification/orbital/Microsoft.PlanetaryComputer/routes.tiler.items.tsp
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollections_Create.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollections_CreateOrReplace.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollections_Delete.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollections_Get.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacCollections_GetAll.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacSearch_Create.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/examples/StacSearch_Get.json
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/preview/2025-04-30-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/Rules_Create.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/Schedule_Get.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/Schedules_Get.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/ScopeMetaData_Update.json
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/ScopedMetaData_Create.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/DataSources_Get.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/DataSources_Get.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add CPEX KPI attestation automation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Update kusto info and remove schedule in pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Add Actual Kpi Ids and Remove changed date filter
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Rewrite Triage Attestation Logic
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Add params for testing
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Fix Kusto command and Add stricter work item query
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Resolve stash conflict
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Add Error Handling and Email Notifications
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

fixing readme file
  specification/sphere/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

FORMATTING: tsp format only changes
  specification/ai/ContentUnderstanding/client.tsp
  specification/ai/ContentUnderstanding/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/data-plane/Azure.Analaytics.Purview.DataQuality/preview/2025-09-01-preview/examples/ScopedAssetMetaData_Get.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add files via upload
  specification/purviewdatagovernace/Azure.Analaytics.Purview.DataQuality/examples/2025-09-01-preview/ScopedAssetMetaData_Get.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update ingress params
  specification/app/resource-manager/Microsoft.App/preview/2025-10-02-preview/ManagedEnvironments.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove from samples
  specification/app/resource-manager/Microsoft.App/preview/2025-10-02-preview/examples/ManagedEnvironments_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2025-10-02-preview/examples/ManagedEnvironments_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2025-10-02-preview/examples/ManagedEnvironments_ListByResourceGroup.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Change updateOld type to PatchOperationOld
  specification/quantum/Quantum.Workspace/operations/jobs.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Simplify job details by using empty objects
  specification/quantum/Quantum.Workspace/common/models-jobs.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Tsp compile run
  specification/quantum/data-plane/Microsoft.Quantum/preview/2024-03-01-preview/quantum.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2024-10-01-preview/quantum.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2025-09-01-preview/quantum.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Swagger verification: Update the swagger error suppression due to the renmaing of ConttentFieldDefinition
  specification/ai/data-plane/ContentUnderstanding/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add compare insight type (#37875)
  specification/ai/Azure.AI.Projects/insights/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
