Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

add test
  .github/actions/add-multi-labels-artifact/action.js
Due: none

fix js bug
  .github/actions/add-multi-labels-artifact/action.js
Due: none

fix core.log
  .github/actions/add-multi-labels-artifact/action.js
Due: none

finsihed
  .github/actions/add-multi-labels-artifact/action.js
  .github/actions/add-multi-labels-artifact/action.yaml
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

using git command add content
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

change code to support git command
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

fix parse
  .github/actions/add-multi-labels-artifact/action.js
Due: none

using git command
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

Update eng/tools/suppressions/src/index.ts
  eng/tools/suppressions/src/index.ts
Due: eng/pipelines/typespec-validation-all.yml

remove base264 function
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

remove log
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

test add label
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

test output
  .github/workflows/SDK-Suppressions-Label.yaml
  eng/tools/sdk-suppressions/package.json
  eng/tools/sdk-suppressions/src/common.ts
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

fix bug
  eng/tools/sdk-suppressions/src/index.ts
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

test add label
  .github/workflows/SDK-Suppressions-Label.yaml
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

test add label
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

remove test and unused code
  .github/actions/add-multi-labels-artifact/action.js
  .github/actions/add-multi-labels-artifact/action.yaml
  .github/package-lock.json
  .github/package.json
  .github/workflows/SDK-Suppressions-Label.yaml
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

remove test
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

try to use git output instead of set output
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

output script result 3
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

output script result
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

output script result 2
  .github/workflows/SDK-Suppressions-Label.yaml
  eng/tools/sdk-suppressions/src/index.ts
Due: eng/pipelines/typespec-validation-all.yml

fix comment & remove unused code
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

regen package-lock.json file
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

remove code
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

output script result 4
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

bug fix
  eng/tools/sdk-suppressions/src/common.ts
  eng/tools/sdk-suppressions/src/sdkSuppressions.ts
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

bug fix
  eng/tools/sdk-suppressions/src/common.ts
Due: eng/pipelines/typespec-validation-all.yml

console ajv error
  eng/tools/sdk-suppressions/src/sdkSuppressions.ts
Due: eng/pipelines/typespec-validation-all.yml

bug fix
  .github/workflows/SDK-Suppressions-Label.yaml
  eng/tools/sdk-suppressions/src/sdkSuppressions.ts
Due: eng/pipelines/typespec-validation-all.yml

fix comment
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

fix comment 1
  .github/workflows/SDK-Suppressions-Label.yaml
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
