Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Use Azure.Core.Foundations.Operation template for all operations
  specification/communication/data-plane/Identity/routes.tsp
  specification/communication/data-plane/Identity/stable/2025-06-30/CommunicationIdentity.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

https://github.com/Azure/azure-rest-api-specs/pull/43888#discussion_r3455233041
  specification/maps/data-plane/Weather/models.tsp
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

First
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/web/resource-manager/Microsoft.Web/AppService/back-compatible.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename DeviceUpdate sub-client to DeviceUpdates for C# only to avoid namespace collision
  specification/deviceupdate/data-plane/duiothub/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update AuthToken fir eng/common pipelines
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/typespec-validation-all.yml

Revert "VoiceLive: mark released dated swaggers as static (remove x-typespec-generated)"
  specification/ai/data-plane/VoiceLive/preview/2026-01-01-preview/VoiceLive.json
  specification/ai/data-plane/VoiceLive/preview/2026-06-01-preview/VoiceLive.json
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/VoiceLive.json
  specification/ai/data-plane/VoiceLive/stable/2026-04-10/VoiceLive.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "VoiceLive: collapse versioning to {PuPr, v1} and align v1 == 2026-04-10 == PuPr"
  specification/ai/data-plane/VoiceLive/CONTRIBUTING.md
  specification/ai/data-plane/VoiceLive/client.tsp
  specification/ai/data-plane/VoiceLive/content_parts.tsp
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/docs/versioning.md
  specification/ai/data-plane/VoiceLive/events.tsp
  specification/ai/data-plane/VoiceLive/items.tsp
  specification/ai/data-plane/VoiceLive/main.tsp
  specification/ai/data-plane/VoiceLive/models.tsp
  specification/ai/data-plane/VoiceLive/preview/virtual-public-preview/VoiceLive.json
  specification/ai/data-plane/VoiceLive/stable/v1/VoiceLive.json
  specification/ai/data-plane/VoiceLive/tools.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Skip Python package validation for private spec repo
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/utils.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
Due: eng/pipelines/typespec-validation-all.yml

update tsp-client to 0.33.1
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Due: eng/pipelines/typespec-validation-all.yml

bump min node to 22.13.0 - align with transitive deps
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Due: eng/pipelines/typespec-validation-all.yml

https://github.com/Azure/azure-rest-api-specs/pull/43888#discussion_r3455978273
  specification/maps/data-plane/Weather/models.tsp
  specification/maps/data-plane/Weather/stable/1.1/weather.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Name changes for Azure.AI.Projetcs.Agents
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Quota transfers: address ARM review (final-state-via original-uri on donor PUT; rename destinationSubscription -> destinationSubscriptionId)
  specification/quota/resource-manager/Microsoft.Quota/Quota/QuotaTransfer.tsp
  specification/quota/resource-manager/Microsoft.Quota/Quota/examples/2026-09-01-preview/QuotaTransfers/QuotaTransfers_Cancel.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/examples/2026-09-01-preview/QuotaTransfers/QuotaTransfers_CreateOrUpdate.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/examples/2026-09-01-preview/QuotaTransfers/QuotaTransfers_CreateOrUpdate_AutoApprove.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/examples/2026-09-01-preview/QuotaTransfers/QuotaTransfers_Get.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/examples/2026-09-01-preview/QuotaTransfers/QuotaTransfers_List.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/preview/2026-09-01-preview/examples/QuotaTransfers/QuotaTransfers_Cancel.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/preview/2026-09-01-preview/examples/QuotaTransfers/QuotaTransfers_CreateOrUpdate.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/preview/2026-09-01-preview/examples/QuotaTransfers/QuotaTransfers_CreateOrUpdate_AutoApprove.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/preview/2026-09-01-preview/examples/QuotaTransfers/QuotaTransfers_Get.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/preview/2026-09-01-preview/examples/QuotaTransfers/QuotaTransfers_List.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/preview/2026-09-01-preview/openapi.json
  specification/quota/resource-manager/Microsoft.Quota/Quota/transfer-models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

VoiceLive.v1: align PuPr, v1, and 2026-04-10 API surfaces
  specification/ai/data-plane/VoiceLive.v1/CONTRIBUTING.md
  specification/ai/data-plane/VoiceLive.v1/client.tsp
  specification/ai/data-plane/VoiceLive.v1/content_parts.tsp
  specification/ai/data-plane/VoiceLive.v1/cspell.yml
  specification/ai/data-plane/VoiceLive.v1/custom.tsp
  specification/ai/data-plane/VoiceLive.v1/docs/versioning.md
  specification/ai/data-plane/VoiceLive.v1/events.tsp
  specification/ai/data-plane/VoiceLive.v1/items.tsp
  specification/ai/data-plane/VoiceLive.v1/main.tsp
  specification/ai/data-plane/VoiceLive.v1/models.tsp
  specification/ai/data-plane/VoiceLive.v1/preview/virtual-public-preview/VoiceLive.json
  specification/ai/data-plane/VoiceLive.v1/readme.md
  specification/ai/data-plane/VoiceLive.v1/stable/v1/VoiceLive.json
  specification/ai/data-plane/VoiceLive.v1/tools.tsp
  specification/ai/data-plane/VoiceLive.v1/tspconfig.yaml
  specification/ai/data-plane/VoiceLive/CONTRIBUTING.md
  specification/ai/data-plane/VoiceLive/docs/versioning.md
  specification/ai/data-plane/VoiceLive/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix: Remove suppression for MULTIPLE_API_VERSION in MonitorClient readme
  specification/monitor/resource-manager/Microsoft.Insights/Insights/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Skip Python package validation for private spec repo (#44225)
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/utils.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Make common llm-artifacts template support junit emitting repos
  eng/common/pipelines/templates/steps/upload-llm-artifacts.yml
Due: eng/pipelines/typespec-validation-all.yml

Add pipeline step template to upload test result or llm-facing artifacts
  eng/common/pipelines/templates/steps/upload-llm-artifacts.yml
Due: eng/pipelines/typespec-validation-all.yml

Only set upload flag when artifacts are found
  eng/common/pipelines/templates/steps/upload-llm-artifacts.yml
Due: eng/pipelines/typespec-validation-all.yml

Update incorrect name in sdk (#44199)
  specification/maintenance/resource-manager/Microsoft.Maintenance/Maintenance/MaintenanceConfiguration.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add FlexProfile property to HardwareProfile for flexible VM sizing (2026-04-01)
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_Get_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_Update_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineExamples/VirtualMachine_Get_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineExamples/VirtualMachine_Update_WithFlexProfile.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix: deduplicate job name in code workflow to match repo convention
  .github/workflows/namespace-approval-code.yaml
Due: none

Rename VoiceLive.v1 folder to VoiceLiveV1 and add examples folder
  specification/ai/data-plane/VoiceLiveV1/CONTRIBUTING.md
  specification/ai/data-plane/VoiceLiveV1/client.tsp
  specification/ai/data-plane/VoiceLiveV1/content_parts.tsp
  specification/ai/data-plane/VoiceLiveV1/cspell.yml
  specification/ai/data-plane/VoiceLiveV1/custom.tsp
  specification/ai/data-plane/VoiceLiveV1/docs/versioning.md
  specification/ai/data-plane/VoiceLiveV1/events.tsp
  specification/ai/data-plane/VoiceLiveV1/examples/v1/.gitkeep
  specification/ai/data-plane/VoiceLiveV1/examples/virtual-public-preview/.gitkeep
  specification/ai/data-plane/VoiceLiveV1/items.tsp
  specification/ai/data-plane/VoiceLiveV1/main.tsp
  specification/ai/data-plane/VoiceLiveV1/models.tsp
  specification/ai/data-plane/VoiceLiveV1/preview/virtual-public-preview/VoiceLive.json
  specification/ai/data-plane/VoiceLiveV1/readme.md
  specification/ai/data-plane/VoiceLiveV1/stable/v1/VoiceLive.json
  specification/ai/data-plane/VoiceLiveV1/tools.tsp
  specification/ai/data-plane/VoiceLiveV1/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rename toolbox tool classes
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Use tspconfig.yaml for code generation
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/upgradeAssessments/readme.csharp.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/upgradeAssessments/readme.go.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/upgradeAssessments/readme.java.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/upgradeAssessments/readme.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/upgradeAssessments/readme.python.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/upgradeAssessments/readme.ruby.md
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/upgradeAssessments/readme.typescript.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove vmSize from Create request example (mutual exclusivity with flexProfile)
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

First (#44222)
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Support for locations/aiGatewayOperationStatuses
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/back-compatible.tsp
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/client.tsp
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/preview/2025-09-01-preview/openapi.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add 200 response to Create example for VirtualMachines_CreateOrUpdate
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Applay renames in Azure.AI.Extensions.OpenAI
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-extensions-openai/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/web/resource-manager/Microsoft.Web/AppService/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsp format
  specification/automation/Automation.Management/SourceControl.tsp
  specification/automation/Automation.Management/back-compatible.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "update"
  specification/networkfunction/resource-manager/Microsoft.NetworkFunction/TrafficCollector/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
