Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Add scheduled TypeSpec auto-suppression workflow
  .github/workflows/typespec-auto-suppression.lock.yml
  .github/workflows/typespec-auto-suppression.md
  .github/workflows/typespec-suppression-scan.yaml
Due: none

add overrides for .net sdk
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix TypeSpec Validation: add csharp client names for Request/Response-suffixed models
  specification/deviceregistry/DeviceRegistry.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Replace hosted subtype with agent capabilities
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove incorrect preview decorator (#45516)
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/tools/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix SDK Validation: package deviceregistry common directory for tsp-client
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsv run
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates'
  .github/agents/messaging-azure-cli-cmdlet-gen.agent.md/messaging-cli-cmdlet-gen.md
  .github/agents/messaging-azure-powershell-cmdlet-gen.agent.md/messaging-powershell-cmdlet-gen.agent.md
  specification/eventhub/resource-manager/.github/agents/azure-cli-generator.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

edited docstring
  specification/ai-foundry/data-plane/Foundry/src/tools/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Externalize OpenAI types in Azure.AI.Projects (#45305)
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-extensions-openai/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects-agents/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rename
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

suppressions and regen
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agentserver-persistence/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/agents.tsp
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fixups based on PR feedback
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/recurringScheduledActions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Device Update 2026-11-02 fix variable naming and tests issue for Csharp and Java SDK
  specification/deviceupdate/data-plane/sudeviceregistry/client.tsp
  specification/deviceupdate/data-plane/sudeviceregistry/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Microsoft.App 2026-07-01: add per-app networking.outboundVnetSubnetId to Container Apps
  specification/app/resource-manager/Microsoft.App/ContainerApps/examples/2026-07-01/ContainerApps_CreateOrUpdate_Networking.json
  specification/app/resource-manager/Microsoft.App/ContainerApps/models.tsp
  specification/app/resource-manager/Microsoft.App/ContainerApps/stable/2026-07-01/examples/ContainerApps_CreateOrUpdate_Networking.json
  specification/app/resource-manager/Microsoft.App/ContainerApps/stable/2026-07-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix(chaos): allow template-based scenario creation and author-managed version
  specification/chaos/resource-manager/Microsoft.Chaos/Chaos/examples/2026-11-01/Scenarios_CreateOrUpdate_From_Template.json
  specification/chaos/resource-manager/Microsoft.Chaos/Chaos/preview/2026-05-01-preview/openapi.json
  specification/chaos/resource-manager/Microsoft.Chaos/Chaos/preview/2026-08-01-preview/openapi.json
  specification/chaos/resource-manager/Microsoft.Chaos/Chaos/scenario.models.tsp
  specification/chaos/resource-manager/Microsoft.Chaos/Chaos/stable/2026-11-01/examples/Scenarios_CreateOrUpdate_From_Template.json
  specification/chaos/resource-manager/Microsoft.Chaos/Chaos/stable/2026-11-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

script to sync with foundry-spec-snapshot
  specification/ai-foundry/data-plane/Foundry/sync-from-snapshot.sh
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Justify empty GCP template response
  specification/hybridconnectivity/HybridConnectivity.Management/PublicCloud.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore CRR discriminator mappings
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackupCrr/models.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackupCrr/stable/2023-01-15/bms.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ConnectedCache Client.tsp changes for .net SDK
  specification/connectedcache/resource-manager/Microsoft.ConnectedCache/ConnectedCache/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore CRR access token summary
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackupCrr/RecoveryPointResource.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackupCrr/stable/2023-01-15/bms.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Define known agent access boundaries
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix(specs): preserve JavaScript SDK regeneration
  specification/applicationinsights/data-plane/Exporters/client.tsp
  specification/applicationinsights/data-plane/Exporters/tspconfig.yaml
  specification/schemaregistry/data-plane/SchemaRegistry/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore CRR cross-region response codes
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackupCrr/routes.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackupCrr/stable/2023-01-15/bms.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[RedHatOpenShift] Decorate the latest preview API version
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix LintDiff suppression prefilter
  eng/tools/lint-diff/src/lint-diff.ts
  eng/tools/lint-diff/src/processChanges.ts
  eng/tools/lint-diff/src/swagger-suppressions.ts
  eng/tools/lint-diff/test/fixtures/suppressions-before/specification/contoso/data-plane/Contoso/stable/unreferenced.json
  eng/tools/lint-diff/test/fixtures/suppressions/changed-files.txt
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/data-plane/Contoso/stable/unreferenced.json
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/suppressions.yaml
  eng/tools/lint-diff/test/suppressions.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Harvest failures from existing TypeSpec Validation - All runs
  .github/workflows/src/harvest-tsv-failures.js
  .github/workflows/typespec-auto-suppression.lock.yml
  .github/workflows/typespec-auto-suppression.md
  .github/workflows/typespec-suppression-harvest.yaml
  .github/workflows/typespec-suppression-scan.yaml
Due: none

[RedHatOpenShift] Update JavaScript SDK suppressions
  specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

queue: generate QueueErrorCode + ListQueuesSegmentResponse for java
  specification/storage/data-plane/QueueStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Support inline #suppress directives, not just suppressions.yaml
  .github/workflows/src/harvest-tsv-failures.js
  .github/workflows/typespec-auto-suppression.lock.yml
  .github/workflows/typespec-auto-suppression.md
Due: none

queue: emit ListQueuesResponse standalone for java (access+usage)
  specification/storage/data-plane/QueueStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Order inline suppressions bottom-up so line numbers stay valid
  .github/workflows/src/harvest-tsv-failures.js
  .github/workflows/typespec-auto-suppression.lock.yml
  .github/workflows/typespec-auto-suppression.md
Due: none

Gate inline suppressions on severity, not a rule allowlist
  .github/workflows/src/harvest-tsv-failures.js
  .github/workflows/typespec-auto-suppression.lock.yml
  .github/workflows/typespec-auto-suppression.md
Due: none

Use snake case access boundary members
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update ServedImage properties; Remove KnowledgeBaseRetrievalEventStreamResponse
  specification/search/data-plane/Search/models-knowledgebase.tsp
  specification/search/data-plane/Search/preview/2026-08-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix diagnostic parsing against real TSV-All logs
  .github/workflows/src/harvest-tsv-failures.js
  .github/workflows/typespec-auto-suppression.lock.yml
  .github/workflows/typespec-auto-suppression.md
Due: none

Allow test resource deployment to skip environment setup
  eng/common/TestResources/deploy-test-resources.yml
Due: eng/pipelines/typespec-validation-all.yml

Fix harvest dropping failures in folders with an existing suppression
  .github/workflows/src/harvest-tsv-failures.js
Due: none

Regenerate BulkActions Swagger outputs
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-07-06-preview/Bulkactions.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-08-06-preview/Bulkactions.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix SDK Validation: package deviceregistry common directory for tsp-client (#45590)
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
