Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

lint diff supression
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

FIx Typespec Validation
  specification/hardware/Microsoft.Hardware.Management/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

recompile using compiler 1.7.0
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2025-11-01-preview/hci.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2025-12-01-preview/hci.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix
  specification/batch/Batch.Management/routes.tsp
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[.github] bump vitest from 3.2.4 to 4.0.15 (#39309)
  .github/package-lock.json
  .github/package.json
  .github/shared/package-lock.json
  .github/shared/package.json
  .github/workflows/test/arm-auto-signoff/arm-incremental-typespec.test.js
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Update namespaces in tspconfig.yaml files for various services and remove temporary suppressions in suppressions.yaml (#25991)
  specification/contosowidgetmanager/Contoso.Management/tspconfig.yaml
  specification/databasefleetmanager/DatabaseFleetManager.Management/tspconfig.yaml
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
  specification/footprintmonitoring/FootprintMonitoring.Management/tspconfig.yaml
  specification/quantum/Microsoft.Quantum.Management/tspconfig.yaml
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

[eng/tools] Bump @types/node from 18 to 20
  eng/tools/lint-diff/package.json
  eng/tools/typespec-migration-validation/package.json
Due: eng/pipelines/typespec-validation-all.yml

npm update --before 2025-12-16
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[eng/tools] Bump @types/node from 18 to 20 (#39314)
  eng/tools/lint-diff/package.json
  eng/tools/typespec-migration-validation/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[lint-diff] bump vitest
  eng/tools/lint-diff/package.json
Due: eng/pipelines/typespec-validation-all.yml

npm i
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Fix go sdk ci error
  specification/search/data-plane/Search/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

npm i --before 2025-12-16
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

rename
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add new version to main.tsp
  specification/compute/Gallery.Management/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update readme file
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add import versioining
  specification/compute/Gallery.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Gallery Image version StorageAccountStrategy (#35769)
  specification/compute/Gallery.Management/examples/2025-03-03/galleryExamples/GalleryImageVersion_Create_WithStorageAccountStrategy.json
  specification/compute/Gallery.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2024-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryExamples/GalleryImageVersion_Create_WithStorageAccountStrategy.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

New resource type - Gallery Scripts (#35887)
  specification/compute/Gallery.Management/Gallery.tsp
  specification/compute/Gallery.Management/GalleryScript.tsp
  specification/compute/Gallery.Management/GalleryScriptVersion.tsp
  specification/compute/Gallery.Management/back-compatible.tsp
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScriptVersion_Create.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScriptVersion_Delete.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScriptVersion_Get.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScriptVersion_Get_WithReplicationStatus.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScriptVersion_ListByGalleryScript.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScriptVersion_Update.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScript_Create.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScript_Delete.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScript_Get.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScript_ListByGallery.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScript_Update.json
  specification/compute/Gallery.Management/main.tsp
  specification/compute/Gallery.Management/models.tsp
  specification/compute/Gallery.Management/tspconfig.yaml
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2024-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScriptVersion_Create.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScriptVersion_Delete.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScriptVersion_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScriptVersion_Get_WithReplicationStatus.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScriptVersion_ListByGalleryScript.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScriptVersion_Update.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScript_Create.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScript_Delete.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScript_Get.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScript_ListByGallery.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScript_Update.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Compilation Errors for TS Validation Fix
  specification/compute/Gallery.Management/back-compatible.tsp
  specification/compute/Gallery.Management/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Adding updated Gallery swagger to updated Readme input-file
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rollback name pattern req + updates to Typespec Validation
  specification/compute/Gallery.Management/Gallery.tsp
  specification/compute/Gallery.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2024-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Adding delete read only directives to change 2024-03-03 json from update
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Reversing changes and Getting Breaking Change Approval
  specification/compute/Gallery.Management/Gallery.tsp
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2024-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert name pattern changes to see CI checks
  specification/compute/Gallery.Management/Gallery.tsp
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2024-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix Readme and add Swagger Lint Suppression
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Corrected name for min and maxValue
  specification/compute/Gallery.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rollback on parameter name changes
  specification/compute/Gallery.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added existing name pattern for GalleryApplications
  specification/compute/Gallery.Management/Gallery.tsp
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2024-03-03/GalleryRP.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/GalleryRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Removed suppression for NamePattern
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

supressions for lint diff
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2025-11-01-preview/hci.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2025-12-01-preview/hci.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update client.tsp
  specification/billingbenefits/BillingBenefits.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/CloudEndpoint.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/PrivateEndpointConnection.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/RegisteredServer.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/ServerEndpoint.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/StorageSyncService.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/SyncGroup.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update client names for BillingBenefits terms
  specification/billingbenefits/BillingBenefits.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

supressions for lint diff
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/back-compatible.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updated
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/RecoveryServices/DeletedVaults.tsp
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/RecoveryServices/client.tsp
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/RecoveryServices/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
