Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Updates
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/examples/NameSpaces/NetworkSecurityPerimeterConfigurationAssociationproxy.json
Due: eng/pipelines/spec-gen-sdk.yml

Changed api-version
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2025-05-01-preview/PreviewAlertRule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2025-05-01-preview/examples/previewDynamicThresholdLogSearchAlertRule.json
  specification/alertsmanagement/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Updated version
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2025-05-01-preview/PreviewAlertRule.json
Due: eng/pipelines/spec-gen-sdk.yml

Removed old version
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2025-03-01-preview/PreviewAlertRule.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2025-03-01-preview/examples/previewDynamicThresholdLogSearchAlertRule.json
Due: eng/pipelines/spec-gen-sdk.yml

Updates
  specification/eventhub/resource-manager/Microsoft.EventHub/stable/2024-01-01/namespaces.json
Due: eng/pipelines/spec-gen-sdk.yml

Removed preview rule from 2025-01-01
  specification/alertsmanagement/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

some fix
  specification/maintenance/Maintenance.Management/ApplyUpdate.tsp
  specification/maintenance/Maintenance.Management/ConfigurationAssignment.tsp
  specification/maintenance/Maintenance.Management/MaintenanceConfiguration.tsp
  specification/maintenance/Maintenance.Management/legacy.tsp
  specification/maintenance/Maintenance.Management/models.tsp
  specification/maintenance/resource-manager/Microsoft.Maintenance/preview/2023-10-01-preview/Maintenance.json
Due: eng/pipelines/spec-gen-sdk.yml

dasde
  specification/eventhub/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

update
  specification/help/Help.Management/models.tsp
  specification/help/Help.Management/routes.tsp
  specification/help/Help.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

revert commit readme
  specification/eventhub/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

correct GA model version and add some customizations
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/client.tsp
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Repurposed breaking chagne artifact to be spec-gen-sdk artifact (#34095)
  .github/workflows/src/sdk-breaking-change-labels.js
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/types.ts
Due: eng/pipelines/typespec-validation-all.yml

add some additional configuration
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Update data_plane_template.md (#34086)
  .github/PULL_REQUEST_TEMPLATE/data_plane_template.md
Due: none

Update control_plane_template.md (#34085)
  .github/PULL_REQUEST_TEMPLATE/control_plane_template.md
Due: none

Service Fabric Managed Clusters - Fix Swagger add missing SecurityEncryptionType for version 2024-11-01-preview and 2025-03-01-preview (#34089)
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/NodeType.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/examples/2024-11-01-preview/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/examples/2025-03-01-preview/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2024-11-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2024-11-01-preview/servicefabricmanagedclusters.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2025-03-01-preview/examples/NodeTypePutOperation_example_max.json
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/preview/2025-03-01-preview/servicefabricmanagedclusters.json
Due: eng/pipelines/spec-gen-sdk.yml

Add visibility read to response collection properties (#34128)
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Due: eng/pipelines/spec-gen-sdk.yml

feat(apim): Docs on Event Grid payloads for data-plane events (#33504)
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.ApiManagement/ApiManagement.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.ApiManagement/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/propertyNameOverride.tsp
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/APIManagement.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/cloud-events-schema/circuitBreakerClosed.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/cloud-events-schema/circuitBreakerOpened.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/cloud-events-schema/gatewayTokenExpired.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/cloud-events-schema/gatewayTokenNearExpiry.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/event-grid-schema/circuitBreakerClosed.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/event-grid-schema/circuitBreakerOpened.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/event-grid-schema/gatewayTokenExpired.json
  specification/eventgrid/data-plane/Microsoft.ApiManagement/stable/2018-01-01/examples/event-grid-schema/gatewayTokenNearExpiry.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Due: eng/pipelines/spec-gen-sdk.yml

Added data plane swagger of Microsoft.Edge RP for EventGrid system topics (#34031)
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Edge/Edge.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Edge/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/solution_version_published.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/solution_version_published.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/main.tsp
  specification/eventgrid/data-plane/Microsoft.Edge/stable/2018-01-01/Edge.json
  specification/eventgrid/data-plane/Microsoft.Edge/stable/2018-01-01/examples/cloud-events-schema/solution_version_published.json
  specification/eventgrid/data-plane/Microsoft.Edge/stable/2018-01-01/examples/event-grid-schema/solution_version_published.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Sync eng/common directory with azure-sdk-tools for PR 10432 (#34178)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Due: eng/pipelines/typespec-validation-all.yml

[EG] Readonly arrays (#34182)
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.AVS/AVS.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Maps/Maps.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2023-11-01/EventGrid.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-06-01/EventGrid.json
Due: eng/pipelines/spec-gen-sdk.yml

Prepare client settings for release WeightsAndBiases .Net SDK (#34167)
  specification/liftrweightsandbiases/Liftr.WeightsAndBiases.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

[Key Vault] TypeSpec for Security Domain library (#31060)
  specification/keyvault/Security.KeyVault.SecurityDomain/client.tsp
  specification/keyvault/Security.KeyVault.SecurityDomain/examples/7.5/securitydomaindownloadpost-example.json
  specification/keyvault/Security.KeyVault.SecurityDomain/examples/7.5/securitydomainoperationstatus-example.json
  specification/keyvault/Security.KeyVault.SecurityDomain/examples/7.5/securitydomaintransferkey-example.json
  specification/keyvault/Security.KeyVault.SecurityDomain/examples/7.5/securitydomainuploadoperation-example.json
  specification/keyvault/Security.KeyVault.SecurityDomain/examples/7.5/securitydomainuploadstatus-example.json
  specification/keyvault/Security.KeyVault.SecurityDomain/main.tsp
  specification/keyvault/Security.KeyVault.SecurityDomain/models.tsp
  specification/keyvault/Security.KeyVault.SecurityDomain/routes.tsp
  specification/keyvault/Security.KeyVault.SecurityDomain/tspconfig.yaml
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.5/examples/securitydomainuploadstatus-example.json
  specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.5/securitydomain.json
  specification/keyvault/data-plane/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Update readme.python.md (#34191)
  specification/resources/resource-manager/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

Fix js, python, go regex (#34196)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

tsv failed when TypeSpec-Validation return 1 (#34156)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Mgmt durabletask (#34202)
  specification/durabletask/DurableTask.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

dataplane always true (#34206)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Prepare client settings for release DurableTask .Net SDK (#34209)
  specification/durabletask/DurableTask.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

update link for wiki TypeSpec-Validation (#34205)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

Sync eng/common directory with azure-sdk-tools for PR 10411 (#34187)
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/typespec-validation-all.yml

Update description and fix casing (#34136)
  specification/support/resource-manager/Microsoft.Support/preview/2022-09-01-preview/support.json
  specification/support/resource-manager/Microsoft.Support/preview/2023-06-01-preview/examples/ClassifyServices.json
  specification/support/resource-manager/Microsoft.Support/preview/2023-06-01-preview/examples/ClassifyServicesForSubscription.json
  specification/support/resource-manager/Microsoft.Support/preview/2023-06-01-preview/support.json
  specification/support/resource-manager/Microsoft.Support/stable/2020-04-01/support.json
  specification/support/resource-manager/Microsoft.Support/stable/2024-04-01/support.json
Due: eng/pipelines/spec-gen-sdk.yml

update (#34232)
  specification/containerregistry/resource-manager/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

AFD WAF Captcha feature stable version 2025-03-01 (#34016)
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListPolicies.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafListPoliciesUnderSubscription.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyCreateOrUpdate.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyDelete.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyGet.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/examples/WafPolicyPatch.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/network.json
  specification/frontdoor/resource-manager/Microsoft.Network/stable/2025-03-01/webapplicationfirewall.json
  specification/frontdoor/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml
