Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml

.azure-pipelines/network-validation.yml:

trigger: none
pr:
  branches:
    include:
      - network-*
  paths:
    include:
    - specification/network/*

pool:
  vmImage: vs2017-win2016

steps:
  - powershell: |
      & "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  - powershell: |
      & "npm" install autorest -g
    displayName: Install autorest

eng/pipelines/typespec-validation-all.yml:

trigger:
  branches:
    include:
    - main
    - typespec-next

pr:
  branches:
    include:
    - main
    - typespec-next
  paths:
    include:
    - .gitattributes
    - .prettierrc.json
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng
    - specification/common-types

jobs:
- job: Validate_All_Specs

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mms-ubuntu-2204-general
        OsVmImage: ubuntu-22.04
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - template: /eng/pipelines/templates/steps/npm-install.yml

  - pwsh: |
      $(Build.SourcesDirectory)/eng/scripts/Validate-TypeSpec.ps1 -CheckAll -GitClean -Verbose
    displayName: Validate All Specs
    condition: succeededOrFailed()

resolving modelvalidation errors
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementAllPolicies.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreatePolicyRestriction.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementDeletePolicyRestriction.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementGetPolicyRestriction.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementHeadPolicyRestriction.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementListPolicyRestrictions.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementUpdatePolicyRestriction.json
Due: none

update description
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-08-02-preview/managedClusters.json
Due: none

PR feedback
  documentation/ci-fix.md
  eng/scripts/Logging-Functions.ps1
  eng/scripts/Validate-TypeSpec.ps1
Due: eng/pipelines/typespec-validation-all.yml

Improve Error Logging for CI checks (#26078)
  documentation/ci-fix.md
  eng/pipelines/typespec-validation-all.yml
  eng/pipelines/typespec-validation.yml
  eng/scripts/ChangedFiles-Functions.ps1
  eng/scripts/Logging-Functions.ps1
  eng/scripts/Swagger-Prettier-Check.ps1
  eng/scripts/Validate-TypeSpec.ps1
Due: eng/pipelines/typespec-validation-all.yml

Adds base for updating Microsoft.Resources from version stable/2023-07-01 to version 2023-11-01
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/resources.json
Due: none

Fix various errors
  specification/monitor/data-plane/Microsoft.Insights/stable/2023-10-01/metricBatch.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/commonMonitoringTypes.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetric.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricDefinitions.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricDefinitionsApplicationInsights.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricDefinitionsMetricClass.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricError.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricMetadata.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMultiResourceMetric.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMultiResourceMetricDefinitions.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMultiResourceMetricMetadata.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/OperationList.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/PostMultiResourceMetricBody.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/unified_metrics_API.json
Due: none

Updates readme
  specification/resources/resource-manager/readme.md
Due: none

Updates API version in new specs and examples
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/resources.json
Due: none

Add decompileBicep
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/bicepRp.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2023-11-01/examples/DecompileBicep.json
Due: none

modify all response 200 properties with error MISSING_RESOURCE_ID related to definition/SubResource
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSiteLinkConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSiteListByResourceGroup.json
Due: .azure-pipelines/network-validation.yml

update example
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-08-02-preview/examples/AgentPoolsCreate_Flex.json
Due: none

Some model validation fixes
  specification/monitor/data-plane/Microsoft.Insights/stable/2023-10-01/examples/MetricBatchExample.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/commonMonitoringTypes.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/unified_metrics_API.json
Due: none

swagger prettier fix
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSiteList.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSiteListByResourceGroup.json
Due: .azure-pipelines/network-validation.yml

Corrected Formatting for swagger file
  specification/communication/data-plane/CallAutomation/preview/2023-01-15-preview/communicationservicescallautomation.json
Due: none

Fix armId format examples
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetric.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricDefinitions.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricDefinitionsApplicationInsights.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricDefinitionsMetricClass.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricError.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/examples/GetMetricMetadata.json
Due: none

fix breaking change
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/commonMonitoringTypes.json
Due: none

Removed extra lines
  specification/communication/data-plane/CallAutomation/preview/2023-01-15-preview/communicationservicescallautomation.json
Due: none

add location header to all 202 responses
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/virtualWan.json
Due: .azure-pipelines/network-validation.yml

Adding new api spec for 2024-01-22-preview.
  specification/communication/data-plane/CallAutomation/preview/2024-01-22-preview/communicationservicescallautomation.json
  specification/communication/data-plane/CallAutomation/readme.md
Due: none

Split the operations api back out to it's own swagger
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/operations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2023-10-01/unified_metrics_API.json
  specification/monitor/resource-manager/readme.md
Due: none

add location header to examples that use 202 response
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/ConfigurationPolicyGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/ExpressRouteConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/ExpressRouteGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/ExpressRouteGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/GenerateVirtualWanVpnServerConfigurationVpnProfile.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/GetVirtualWanVpnServerConfigurations.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/HubRouteTableDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/HubVirtualNetworkConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/NatRuleDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/P2SVpnGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/P2SVpnGatewayGenerateVpnProfile.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/P2SVpnGatewayGetConnectionHealth.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/P2SVpnGatewayGetConnectionHealthDetailed.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/P2SVpnGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/P2SVpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/P2sVpnGatewaysDisconnectP2sVpnConnections.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/RouteMapDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualHubBgpConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualHubDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualHubIpConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualHubRouteTableV2Delete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualRouterPeerListAdvertisedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualRouterPeerListLearnedRoute.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VirtualWANDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnConnectionDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnConnectionStartPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnConnectionStartPacketCaptureFilterData.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnConnectionStopPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnGatewayDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnGatewayReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnGatewayStartPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnGatewayStartPacketCaptureFilterData.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnGatewayStopPacketCapture.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnGatewayUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnServerConfigurationDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSiteDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSiteLinkConnectionReset.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/VpnSitesConfigurationDownload.json
Due: .azure-pipelines/network-validation.yml

add location header to example that use 202 response
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/RoutingIntentDelete.json
Due: .azure-pipelines/network-validation.yml

Fix swagger validation errors
  custom-words.txt
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_Get_LicenseProfileInstanceView.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_Update.json
Due: none

Add list deployment sku api
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/UpdateDeployment.json
Due: none

made kind an enum
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-06-01-preview/privateLinkScopes_API.json
Due: none

made new fields readonly
  specification/monitor/resource-manager/Microsoft.Insights/preview/2023-06-01-preview/privateLinkScopes_API.json
Due: none

add generate-package-files to tspconfig
  specification/schemaregistry/SchemaRegistry/tspconfig.yaml
Due: none

fix error OBJECT_ADDITIONAL_PROPERTIES with additional properties: status & properties
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/EffectiveRoutesListForConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/EffectiveRoutesListForRouteTable.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/EffectiveRoutesListForVirtualHub.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/GetInboundRoutes.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-05-01/examples/GetOutboundRoutes.json
Due: .azure-pipelines/network-validation.yml

Address check items
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/ListDeploymentSku.json
Due: none

Add workspace kind and featureStoreSettings
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2023-10-01/machineLearningServices.json
Due: none

remove package-mode as flag from specs (#26102)
  specification/codesigning/CodeSigning/tspconfig.yaml
  specification/cognitiveservices/ContentSafety/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/HealthInsights.OncoPhenotype/tspconfig.yaml
  specification/cognitiveservices/HealthInsights/HealthInsights.TrialMatcher/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Due: none

Rename softwareAssuranceCustomer
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/licenseProfile/LicenseProfile_Update.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_Get_LicenseProfileInstanceView.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_ListByResourceGroup.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_ListBySubscription.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-09-30-preview/examples/machine/Machines_Update.json
Due: none

Updates readme
  specification/hybridcompute/resource-manager/readme.md
Due: none

Address check items
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/cognitiveservices.json
Due: none

Removing pattern from NFDV name
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2023-04-01-preview/common.json
Due: none

Adding pattern from NFDV name
  specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/preview/2023-04-01-preview/common.json
Due: none

add maintenance policy
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ManagedInstances.json
Due: none

lint
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ManagedInstances.json
Due: none
