Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

regenerate: virtualNetwork.json from tsp compile
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

regenerate: virtualNetworkAppliance.json from tsp compile
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/virtualNetworkAppliance.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

regenerate: virtualWan.json from tsp compile
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/virtualWan.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix ARM API Reviewer evals: claude-opus-4.6-1m model not available, use claude-opus-4.6
  .github/skills/evals/arm-api-reviewer/vally/eval-arm-resource-structure.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-check-name-availability.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-citation-and-parity.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-classification.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-operations.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-pattern-validation.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-property-design.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-report-format.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-true-negatives.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-typespec-required.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-typespec.yaml
Due: none

Restore PostResponseCodes suppression for moveIpConfigurations
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "Fix ARM API Reviewer evals: claude-opus-4.6-1m model not available, use claude-opus-4.6"
  .github/skills/evals/arm-api-reviewer/vally/eval-arm-resource-structure.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-check-name-availability.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-citation-and-parity.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-classification.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-operations.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-pattern-validation.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-property-design.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-report-format.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-true-negatives.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-typespec-required.yaml
  .github/skills/evals/arm-api-reviewer/vally/eval-typespec.yaml
Due: none

fix: use release branch readme as base + AddressPrefixSet suppression - remove firstPartyServiceTag
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refactor job update operations and adjust JSON schema references for consistency Resolving comment from PR review
  specification/quantum/data-plane/Quantum/common/base-operations.tsp
  specification/quantum/data-plane/Quantum/operations/jobs.tsp
  specification/quantum/data-plane/Quantum/preview/2025-09-01-preview/quantum.json
  specification/quantum/data-plane/Quantum/preview/2025-12-01-preview/quantum.json
  specification/quantum/data-plane/Quantum/preview/2026-01-15-preview/quantum.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

comments
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_Get_InstanceView.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2025-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2025-11-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-03-01/ComputeRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert direct edits to skills synced from Azure/azure-sdk-tools; will be updated via tools PR sync instead
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/trigger.eval.yaml
  .github/skills/azsdk-common-generate-sdk-locally/evals/eval.yaml
  .github/skills/azsdk-common-pipeline-analysis/evals/trigger.eval.yaml
  .github/skills/azsdk-common-pipeline-fixer/evals/trigger.eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/evals/trigger.eval.yaml
  .github/skills/azsdk-common-sdk-release/SKILL.md
  .github/skills/azsdk-common-sdk-release/evals/trigger.eval.yaml
Due: none

revert: reset applicationGateway.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/applicationGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset azureWebCategory.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/azureWebCategory.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset common.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/common.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset expressRoute.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/expressRoute.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset firewall.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/firewall.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset firewallPolicy.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/firewallPolicy.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset interconnectGroup.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/interconnectGroup.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset loadBalancer.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/loadBalancer.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset networkGateway.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/networkGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset networkingOperations.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/networkingOperations.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset networkManager.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/networkManager.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset networkSecurityPerimeter.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/networkSecurityPerimeter.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset networkWatcher.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/networkWatcher.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset serviceGateway.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/serviceGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset virtualNetworkAppliance.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/virtualNetworkAppliance.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert: reset virtualWan.json to release branch version
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/virtualWan.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

regenerate: virtualNetwork.json from tsp compile (with examples, only AddressPrefixSet changes)
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: restore full readme from release branch + AddressPrefixSet suppression
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update suppresion
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Microsoft Entra Admin to Horizon DB 20260501 (#44768)
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/client.tsp
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Administrators_CreateOrUpdate.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Administrators_Delete.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Administrators_Get.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Administrators_List.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Clusters_CreateOrUpdate.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Clusters_Get.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Clusters_ListByResourceGroup.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-05-01-preview/Clusters_ListBySubscription.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/models.tsp
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Administrators_CreateOrUpdate.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Administrators_Delete.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Administrators_Get.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Administrators_List.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Clusters_CreateOrUpdate.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Clusters_Get.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Clusters_ListByResourceGroup.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/examples/Clusters_ListBySubscription.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/openapi.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/readme.md
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: add ResourceNameRestriction suppression for applicationSecurityGroupName
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Vally skill-eval pipeline for .github/skills (#44696)
  .github/skills/.vally.yaml
  .github/skills/azure-api-review/evals/eval.yaml
  .github/skills/azure-api-review/evals/trigger.eval.yaml
  .github/skills/openai-typespec-update/evals/eval.yaml
  .github/skills/openai-typespec-update/evals/trigger.eval.yaml
  .gitignore
  eng/pipelines/skill-eval.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/steps/eval-mcp-setup.yml
Due: eng/pipelines/typespec-validation-all.yml

Rename overage billing models to capacity overage
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/examples/2026-08-01-preview/FabricCapacities_CreateOrUpdate.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/examples/2026-08-01-preview/FabricCapacities_Get.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/examples/2026-08-01-preview/FabricCapacities_ListByResourceGroup.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/examples/2026-08-01-preview/FabricCapacities_ListBySubscription.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/examples/2026-08-01-preview/FabricCapacities_Update.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/models.tsp
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/preview/2026-08-01-preview/examples/FabricCapacities_CreateOrUpdate.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/preview/2026-08-01-preview/examples/FabricCapacities_Get.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/preview/2026-08-01-preview/examples/FabricCapacities_ListByResourceGroup.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/preview/2026-08-01-preview/examples/FabricCapacities_ListBySubscription.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/preview/2026-08-01-preview/examples/FabricCapacities_Update.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/preview/2026-08-01-preview/fabric.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: use path-level ResourceNameRestriction suppression for both AddressPrefixSet paths
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add itemType, containerUri, providerId, and target fields to Jobs_Update examples for enhanced job details
  specification/quantum/data-plane/Quantum/examples/2025-09-01-preview/Jobs_Update.json
  specification/quantum/data-plane/Quantum/examples/2025-12-01-preview/Jobs_Update.json
  specification/quantum/data-plane/Quantum/examples/2026-01-15-preview/Jobs_Update.json
  specification/quantum/data-plane/Quantum/preview/2025-09-01-preview/examples/Jobs_Update.json
  specification/quantum/data-plane/Quantum/preview/2025-12-01-preview/examples/Jobs_Update.json
  specification/quantum/data-plane/Quantum/preview/2026-01-15-preview/examples/Jobs_Update.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

FIx
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/ServiceGateway.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/ServiceGatewayFullUpdateAddressLocationsRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/ServiceGatewayPartialUpdateAddressLocationsRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/ServiceGatewayUpdateServicesRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/serviceGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add ARM lease for Anyscale.Platform
  .github/arm-leases/anyscale/Anyscale.Platform/lease.yaml
Due: none

Clean up Anyscale.Platform lease.yaml formatting
  .github/arm-leases/anyscale/Anyscale.Platform/lease.yaml
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
