Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: ${{ parameters.SdkRepoCommit }}
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Add deprecation message and update documentation for missing properties (#31049)
  cSpell.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-09-01/costmanagement.pricesheets.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2023-11-01/costmanagement.pricesheets.json
  specification/cost-management/resource-manager/sdk-suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Improvements to Microsoft.AzureTerraform TypeSpec (#30975)
  specification/terraform/Microsoft.AzureTerraform.Management/client.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/ExportTerraform.json
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/GetOperationStatus.json
  specification/terraform/Microsoft.AzureTerraform.Management/main.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/models.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/routes.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/tspconfig.yaml
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/ExportTerraform.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/GetOperationStatus.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/export.json
Due: eng/pipelines/spec-gen-sdk.yml

Promote Microsoft.SecretSyncController Private Preview Specs to Public Preview (#30951)
  specification/ews/SecretSyncController.Management/README.md
  specification/ews/SecretSyncController.Management/azurekeyvaultsecretproviderclass.tsp
  specification/ews/SecretSyncController.Management/common.tsp
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_Delete_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_Get_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_ListBySubscription_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_Update_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/Operations_List_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/SecretSyncs_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/SecretSyncs_Delete_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/SecretSyncs_Get_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/SecretSyncs_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/SecretSyncs_ListBySubscription_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/examples/2024-08-21-preview/SecretSyncs_Update_MaximumSet_Gen.json
  specification/ews/SecretSyncController.Management/main.tsp
  specification/ews/SecretSyncController.Management/secretsync.tsp
  specification/ews/SecretSyncController.Management/tspconfig.yaml
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_Delete_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_ListBySubscription_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_Update_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/SecretSyncs_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/SecretSyncs_Delete_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/SecretSyncs_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/SecretSyncs_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/SecretSyncs_ListBySubscription_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/examples/SecretSyncs_Update_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/preview/2024-08-21-preview/secretsynccontroller.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

java, mgmt, Elastic, readme.java.md (#31112)
  specification/elastic/resource-manager/readme.java.md
Due: eng/pipelines/spec-gen-sdk.yml

update config for armdataboundaries go release (#31114)
  specification/resources/resource-manager/readme.go.md
Due: eng/pipelines/spec-gen-sdk.yml

java, mgmt, Container Orchestrator Runtime, tspconfig (#31113)
  specification/kubernetesruntime/KubernetesRuntime.Management/client.tsp
  specification/kubernetesruntime/KubernetesRuntime.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Fix too long path of client name for Container Orchestrator Runtime (#31116)
  specification/kubernetesruntime/KubernetesRuntime.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Update readme.python.md (#31118)
  specification/dnsresolver/resource-manager/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

[Azure Load Testing] Fixing Typespec for SDK Generation via DPG (#31083)
  specification/loadtestservice/LoadTestService/client.tsp
  specification/loadtestservice/LoadTestService/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

[AML]Swagger separation for GA version (#30982)
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/machineLearningServices.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-04-01/workspaceRP.json
  specification/machinelearningservices/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Zaowang/liftr nginx/adding 2 24 09 01 preview (#30438)
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/ApiKeys_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Certificates_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_Analysis.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_CreateOrUpdate.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Configurations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Create.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Delete.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Get.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Get_AutoScale.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_ListByResourceGroup.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Deployments_Update.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/examples/Operations_List.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2024-09-01-preview/swagger.json
  specification/nginx/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

java, mgmt, workloadssapvirtualinstance, tspconfig (#31111)
  specification/workloads/Workloads.SAPVirtualInstance.Management/client.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

java, mgmt, computefleet, client (#31139)
  specification/azurefleet/AzureFleet.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Azure fleet API documentation update for 2024-11-01 (#31013)
  specification/azurefleet/AzureFleet.Management/fleet.tsp
  specification/azurefleet/resource-manager/Microsoft.AzureFleet/stable/2024-11-01/azurefleet.json
Due: eng/pipelines/spec-gen-sdk.yml

add go tsp config for fabric (#31143)
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Remove FipsApprovedMode from spec and examples (#30623)
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/cloudhsm.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_CreateOrUpdate_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Get_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_ListByResourceGroup_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_ListBySubscription_MaximumSet_Gen.json
  specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2024-06-30-preview/examples/CloudHsmCluster_Update_MaximumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

Remove adp from codeowners (#31152)
  .github/CODEOWNERS
Due: none

Move Microsoft.SecretSyncController readme to correct location (#31156)
  specification/ews/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Update Face client.tsp for java (#30972)
  specification/ai/Face/client.tsp
  specification/ai/Face/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Add redis enterprise 2024-10-01 version (#30811)
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/OperationsList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/OperationsStatusGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesCreate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesCreateWithGeoReplication.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesExport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesFlush.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesForceLink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesForceUnlink.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesImport.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesListByCluster.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesListKeys.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesRegenerateKey.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDatabasesUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDelete.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseDeletePrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseGet.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseGetPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseList.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseListByResourceGroup.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseListPrivateEndpointConnections.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseListPrivateLinkResources.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterprisePutPrivateEndpointConnection.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/examples/RedisEnterpriseUpdate.json
  specification/redisenterprise/resource-manager/Microsoft.Cache/stable/2024-10-01/redisenterprise.json
  specification/redisenterprise/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

mgmt, java, workloads, tspconfig, override service-dir, rename model/interface for java (#31163)
  specification/workloads/Workloads.SAPVirtualInstance.Management/client.tsp
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

update image alias with new and remove deprecated (#31159)
  arm-compute/quickstart-templates/aliases.json
Due: none

Remove stream-style-serialization: false from Document Translation (#31132)
  specification/translation/Azure.AI.DocumentTranslation/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Update aliases.json, put back architecture (#31189)
  arm-compute/quickstart-templates/aliases.json
Due: none

Update sdk-suppressions.md (#31190)
  documentation/sdkautomation/sdk-suppressions.md
Due: none

add directive for cosmosdb (#30903)
  specification/cosmos-db/resource-manager/readme.typescript.md
Due: eng/pipelines/spec-gen-sdk.yml

[Microsoft.App] Fix AppLogsConfiguration property description for existing versions (#31184)
  specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-06-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-04-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-05-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-08-01-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2023-11-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2022-10-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2023-05-01/ManagedEnvironments.json
  specification/app/resource-manager/Microsoft.App/stable/2024-03-01/ManagedEnvironments.json
Due: eng/pipelines/spec-gen-sdk.yml

[appplatform] Update readme.python.md (#31199)
  specification/appplatform/resource-manager/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

[TypeSpecValidationAll] Remove PR trigger (#31214)
  eng/pipelines/typespec-validation-all.yml
Due: eng/pipelines/typespec-validation-all.yml

Migrate typespec validation (#31033)
  .github/actions/setup-node-npm-ci/action.yaml
  .github/workflows/typespec-validation-all.yaml
  .github/workflows/typespec-validation.yaml
  eng/pipelines/typespec-validation-all.yml
  eng/pipelines/typespec-validation.yml
  eng/scripts/Array-Functions.ps1
  eng/scripts/Tests/Array-Functions.Tests.ps1
  eng/scripts/Tests/Copy-ApiVersion.Tests.ps1
  eng/scripts/TypeSpec-Validation.ps1
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
