Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Update apigateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-06-01-preview/apigateway.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Add EntraID and move some other models
  specification/ai/data-plane/VoiceLive/client.tsp
  specification/ai/data-plane/VoiceLive/common/models.tsp
  specification/ai/data-plane/VoiceLive/models.tsp
  specification/ai/data-plane/VoiceLive/operations.tsp
  specification/ai/data-plane/VoiceLive/servers/websocket.tsp
Due: eng/pipelines/swagger-api-doc-preview.yml

Update readme.md
  specification/servicelinker/resource-manager/readme.md
Due: eng/pipelines/swagger-api-doc-preview.yml

Fix bug in samples (numeric sample values cannot be zero)
  specification/orbital/DogService/examples/2025-01-01/Dogs_Bark.json
  specification/orbital/data-plane/Microsoft.Orbital.DogService/stable/2025-01-01/examples/Dogs_Bark.json
Due: eng/pipelines/swagger-api-doc-preview.yml

revert order
  specification/orbital/DogService/examples/2025-01-01/Dogs_Bark.json
  specification/orbital/data-plane/Microsoft.Orbital.DogService/stable/2025-01-01/examples/Dogs_Bark.json
Due: eng/pipelines/swagger-api-doc-preview.yml

[oav-runner] Handle error if dir containing example is deleted (#36260)
  eng/tools/oav-runner/src/runner.ts
  eng/tools/oav-runner/test/runner.test.ts
Due: eng/pipelines/typespec-validation-all.yml

now we are pulling all of the steps using paging. working through the labelling process
  .github/workflows/src/summarize-checks/summarize-checks.js
  .github/workflows/test/summarize-checks.test.js
  eng/scripts/check-summaries/pr-analysis-output/PR-32359.json
  eng/scripts/check-summaries/pr-analysis-output/PR-35759.json
  eng/scripts/check-summaries/pr-analysis-output/PR-35915.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36131.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36132.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36134.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36135.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36136.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36137.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36138.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36139.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36140.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36141.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36142.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36144.json
  eng/scripts/check-summaries/pr-analysis-output/PR-36145.json
  eng/scripts/check-summaries/pr-analysis-output/complete-index.json
  eng/scripts/check-summaries/pr-analysis-output/failed-runs.json
  eng/scripts/check-summaries/pr-analysis-output/workflow-index-cache.json
  eng/scripts/check-summaries/pull.js
Due: eng/pipelines/typespec-validation-all.yml

format. re-add skipiff
  .github/workflows/src/summarize-checks/labelling.js
  .github/workflows/src/summarize-checks/summarize-checks.js
  .github/workflows/test/summarize-checks.test.js
Due: none

Updates readme
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.md
Due: eng/pipelines/swagger-api-doc-preview.yml

Update readme.md
  specification/fileshares/resource-manager/readme.md
Due: eng/pipelines/swagger-api-doc-preview.yml

remove voice live prefix in model names
  specification/ai/data-plane/VoiceLive/client.tsp
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/custom/content_parts.tsp
  specification/ai/data-plane/VoiceLive/custom/events.tsp
  specification/ai/data-plane/VoiceLive/custom/items.tsp
  specification/ai/data-plane/VoiceLive/custom/tools.tsp
  specification/ai/data-plane/VoiceLive/models.tsp
  specification/ai/data-plane/VoiceLive/servers/websocket.tsp
Due: eng/pipelines/swagger-api-doc-preview.yml

Add missing LRO headers.
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/AccessPointOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/AzureVirtualDesktopOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceOperations_DisplayMessage_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceOperations_LogOffUser_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceOperations_Reboot_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceOperations_RefreshConnection_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceOperations_RevokeCertificates_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceOperations_Shutdown_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceServiceLinkOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/NetworkOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/UpdateGroupOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/AccessPointOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/AzureVirtualDesktopOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_DisplayMessage_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_LogOffUser_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_Reboot_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_RefreshConnection_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_RevokeCertificates_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_Shutdown_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceServiceLinkOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/NetworkOperations_Delete_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/UpdateGroupOperations_Delete_MaximumSet_Gen.json
Due: eng/pipelines/swagger-api-doc-preview.yml

[dependabot] Revert to listing all dirs and increase-if-necessary - Not perfect, but best option so far
  .github/dependabot.yml
Due: none

Fix namespace issue
  specification/resources/DeploymentScripts.Management/client.tsp
  specification/resources/DeploymentScripts.Management/main.tsp
  specification/resources/resource-manager/Microsoft.Resources/deploymentScripts/preview/2019-10-01-preview/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/deploymentScripts/stable/2020-10-01/deploymentScripts.json
  specification/resources/resource-manager/Microsoft.Resources/deploymentScripts/stable/2023-08-01/deploymentScripts.json
Due: eng/pipelines/swagger-api-doc-preview.yml

[dependabot] Revert to listing all dirs and increase-if-necessary (#36262)
  .github/dependabot.yml
Due: none

update
  specification/cdn/Cdn.Management/CustomDomain.tsp
  specification/cdn/Cdn.Management/Profile.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2025-06-01/openapi.json
Due: eng/pipelines/swagger-api-doc-preview.yml

update python configs
  specification/confidentialledger/data-plane/ConfidentialLedger/tspconfig.yaml
Due: eng/pipelines/swagger-api-doc-preview.yml

update
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2025-06-01/afdx.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2025-06-01/cdn.json
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2025-06-01/cdnwebapplicationfirewall.json
  specification/cdn/resource-manager/readme.md
Due: eng/pipelines/swagger-api-doc-preview.yml

Create examples for LRO link updates.
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceServiceLinkOperations_Update_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceServiceLinkOperations_Update_MaximumSet_Gen.json
Due: eng/pipelines/swagger-api-doc-preview.yml

more progress
  .github/workflows/src/summarize-checks/labelling.js
  .github/workflows/src/summarize-checks/summarize-checks.js
  .github/workflows/test/summarize-checks.test.js
  eng/scripts/check-summaries/pr-checkpoints/azure-rest-api-specs-pr-RPSaaSDev.csv
  eng/scripts/check-summaries/pr-checkpoints/azure-rest-api-specs-pr-RPSaaSMaster.csv
  eng/scripts/check-summaries/pr-checkpoints/azure-rest-api-specs-pr-main.csv
  eng/scripts/check-summaries/pr-checkpoints/azure-rest-api-specs.csv
Due: eng/pipelines/typespec-validation-all.yml

[dependabot.yml] ignore cross-env
  .github/dependabot.yml
Due: none

comment
  .github/dependabot.yml
Due: none

[dependabot.yml] ignore cross-env (#36264)
  .github/dependabot.yml
Due: none

format changes
  .github/workflows/src/summarize-checks/labelling.js
  .github/workflows/src/summarize-checks/summarize-checks.js
  .github/workflows/test/summarize-checks.test.js
Due: none

fix dir name
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/common.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/confidentialledger.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/identity/GetLedgerIdentity.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/CreateOrUpdateUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/DeleteUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetCollections.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetConsortiumMembers.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetConstitution.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetCurrentLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetEnclaveQuotes.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetLedgerEntries.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetReceipt.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetTransactionStatus.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/GetUser.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/examples/ledger/PostLedgerEntry.json
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2022-04-20-preview/identityservice.json
Due: eng/pipelines/swagger-api-doc-preview.yml

update
  specification/cdn/Cdn.Management/Profile.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2025-06-01/openapi.json
Due: eng/pipelines/swagger-api-doc-preview.yml

ensure we don't crash on NaN issue-number
  .github/workflows/src/summarize-checks/summarize-checks.js
Due: none

update
  specification/cdn/Cdn.Management/models.tsp
  specification/cdn/Cdn.Management/tspconfig.yaml
  specification/cdn/resource-manager/Microsoft.Cdn/stable/2025-06-01/openapi.json
Due: eng/pipelines/swagger-api-doc-preview.yml

resolve breaking
  specification/relay/Relay.Management/tspconfig.yaml
Due: eng/pipelines/swagger-api-doc-preview.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Attempt to manually modify device actions response body and device service link update response headers. OAV did not seem to be correct.
  specification/accesspoint/AccessPoint.Management/examples/2024-10-01-preview/DeviceServiceLinkOperations_Update_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_LogOffUser_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_Reboot_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_RefreshConnection_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_RevokeCertificates_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceOperations_Shutdown_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/examples/DeviceServiceLinkOperations_Update_MaximumSet_Gen.json
  specification/accesspoint/resource-manager/Microsoft.AccessPoint/preview/2024-10-01-preview/openapi.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/shared/src/doc-preview.js, .github/shared/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
