Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

remove alertRules_API.json
  specification/monitor/resource-manager/readme.java.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rever tsp config
  specification/resourcebuilder/ResourceBuilder.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add back deprecated alertRules_API
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json
  specification/monitor/resource-manager/readme.java.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

simplify structure
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Agents/client.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Agents/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Agents/tspconfig.yaml
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Azure.AI.Agents.V2.csharp/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Azure.AI.Agents.V2.csharp/tspconfig.yaml
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Azure.AI.Agents.V2.java/client.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Azure.AI.Projects.java/client.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Azure.AI.Projects.java/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Azure.AI.Projects.java/tspconfig.yaml
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Projects/client.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Projects/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Projects/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

clean up
  specification/ai-foundry/data-plane/Azure.AI.Projects/.clients/Projects/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/SDK-Agents/client.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/SDK-Agents/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/SDK-Agents/tspconfig.yaml
  specification/ai-foundry/data-plane/Azure.AI.Projects/SDK-Projects/client.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/SDK-Projects/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/SDK-Projects/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

move service.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/common/service.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/datasets/models.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/deployments/models.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/evaluations/models.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/indexes/models.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/main.tsp
  specification/ai-foundry/data-plane/Azure.AI.Projects/memory_stores/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update metricDefinitions_API and metrics_API
  specification/monitor/resource-manager/readme.java.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove file
  specification/monitor/resource-manager/Microsoft.Insights/stable/2016-03-01/alertRules_API.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rename-model, avoid duplicated model in SDK
  specification/monitor/resource-manager/readme.java.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add directive
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/Registry/readme.go.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

local changes for azure cli
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2021-07-01/gallery.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/loadBalancer.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/webapplicationfirewall.json
  specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/v1/OperationalInsights.json
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/portal.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

local change
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/portal.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

local change actionGroups
  specification/monitor/resource-manager/Microsoft.Insights/preview/2024-10-01-preview/actionGroups_API.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

vmImage cli local change
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-11-01/virtualMachineImage.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

portal dashboard local change
  specification/portal/resource-manager/Microsoft.Portal/preview/2022-12-01-preview/portal.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

WAF custom rule
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/webapplicationfirewall.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

waf-policy computedDisabledRules
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/webapplicationfirewall.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

databoxedge module
  specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/DataBoxEdge/preview/2021-02-01-preview/databoxedge.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

stream-analytics LOCAL CHANGE ONLY for cli dev
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/inputs.json
  specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/outputs.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

readonly languages dictionary
  specification/translation/data-plane/TextTranslation/models-languages.tsp
  specification/translation/data-plane/TextTranslation/preview/2025-10-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

readme, set, sort
  .github/shared/test/readme.test.js
  .github/shared/test/set.test.js
  .github/shared/test/sort.test.js
Due: none

swagger.test
  .github/shared/test/swagger.test.js
Due: none

spec-model.test
  .github/shared/test/spec-model.test.js
Due: none

changed-files.test
  .github/shared/test/changed-files.test.js
Due: none

adding allowContributors to patchable properties
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2025-05-01-preview/billingbenefits.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix ci errors
  specification/contosowidgetmanager/data-plane/WidgetManager/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update branch reference from CleanAllForHlcToModular to NotClean
  .js/branch.txt
Due: none

[swagger.js] add zod schema
  .github/shared/src/swagger.js
Due: none

fix ci errors
  specification/contosowidgetmanager/data-plane/WidgetManager/tspconfig.yaml
  specification/contosowidgetmanager/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

scripts list readonly
  specification/translation/data-plane/TextTranslation/models-languages.tsp
  specification/translation/data-plane/TextTranslation/preview/2025-10-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

delete
  specification/machinelearningservices/MachineLearningServices.Management/diff-output/API_CHANGES.md
  specification/machinelearningservices/MachineLearningServices.Management/diff-output/diff.json
  specification/machinelearningservices/MachineLearningServices.Management/diff-output/newNormalizedSwagger.json
  specification/machinelearningservices/MachineLearningServices.Management/diff-output/oldNormalizedSwagger.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove system data from examples
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/examples/2025-11-01-preview/KubernetesVersions_ListBySubscriptionLocationResource_MaximumSet_Gen.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2025-11-01-preview/examples/KubernetesVersions_ListBySubscriptionLocationResource_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Review feedback: break, eliminate empty set handling in favor of empty tag value
  eng/tools/lint-diff/src/processChanges.ts
  eng/tools/lint-diff/src/runChecks.ts
  eng/tools/lint-diff/test/processChanges.test.ts
  eng/tools/lint-diff/test/runChecks.test.ts
Due: eng/pipelines/typespec-validation-all.yml
