Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

starting a FAQ in a public place. the name and location will change but getting feedback
  eng/common/scripts/job-matrix/pullrequest-readme.md
Due: eng/pipelines/typespec-validation-all.yml

Update eng/common/scripts/job-matrix/pullrequest-readme.md
  eng/common/scripts/job-matrix/pullrequest-readme.md
Due: eng/pipelines/typespec-validation-all.yml

more readme update
  eng/common/scripts/job-matrix/pullrequest-readme.md
Due: eng/pipelines/typespec-validation-all.yml

rename and add some more context
  eng/common/scripts/job-matrix/pullrequest-faq.md
  eng/common/scripts/job-matrix/pullrequest-readme.md
Due: eng/pipelines/typespec-validation-all.yml

update the faq
  eng/common/scripts/job-matrix/pullrequest-faq.md
Due: eng/pipelines/typespec-validation-all.yml

update to reflect new reality with batching
  eng/common/scripts/job-matrix/pullrequest-faq.md
Due: eng/pipelines/typespec-validation-all.yml

Align common types
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2025-03-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/readme.md
  specification/containerregistry/resource-manager/readme.python.md
Due: none

fix typo
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-01-01/managedClusters.json
Due: none

Change to common JSON which should trigger validation for multiple other JSONs
  specification/securityinsights/resource-manager/common/2.0/types.json
Due: none

Add GPUProfile to 2025-01-01 API spec (#32957)
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-01-01/managedClusters.json
Due: none

Update package-lock.json
  eng/tools/package-lock.json
Due: eng/pipelines/typespec-validation-all.yml

Revert package.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Update package-lock.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Consolidate request and response schema for waf policy
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2025-03-01-preview/swagger.json
Due: none

Update swagger.json
  specification/nginx/resource-manager/NGINX.NGINXPLUS/preview/2025-03-01-preview/swagger.json
Due: none

Fix
  specification/aszlabhardware/Microsoft.AszLabHardware.Management/Models/ExternalReference.tsp
  specification/aszlabhardware/Microsoft.AszLabHardware.Management/Models/ServerPropertiesBase.tsp
  specification/informatica/Informatica.DataManagement.Management/main.tsp
  specification/liftrcommvault/Commvault.ContentStore.Management/main.tsp
  specification/liftrneon/Neon.Postgres.Management/main.tsp
  specification/monitor/Microsoft.Monitor.PipelineGroups.Management/typespec/pipelineGroup.tsp
  specification/monitor/resource-manager/Microsoft.Monitor/preview/2024-01-01-preview/azuremonitor.json
Due: none

merge right branch
  .github/workflows/typespec-validation-all.yaml
Due: none

needed more
  .github/workflows/typespec-validation-all.yaml
Due: none

fix
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2024-10-01-preview/pipelineGroups.json
  specification/monitor/resource-manager/Microsoft.Monitor/PipelineGroups/preview/2025-03-01-preview/pipelineGroups.json
Due: none

Suppressed AvoidAnonymousTypes Errors
  specification/manufacturingdatasolution/data-plane/readme.md
Due: none

Hoist @microsoft.azure/openapi-validator into higher level package.json to get around unmet dependency problem, update package-lock.json, cleanup lintdiff.yaml
  .github/workflows/lintdiff.yaml
  eng/tools/lint-diff/package.json
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

cmk changes
  specification/dell/Dell.Storage.Management/LiftrBase.Storage/main.tsp
  specification/dell/Dell.Storage.Management/LiftrBase/main.tsp
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_CreateOrUpdate_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_Get_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_Get_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_ListByResourceGroup_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_ListByResourceGroup_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_ListBySubscription_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_ListBySubscription_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_Update_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/Dell.Storage.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_CreateOrUpdate_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_Get_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_Get_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_ListByResourceGroup_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_ListByResourceGroup_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_ListBySubscription_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_ListBySubscription_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_Update_MaximumSet_Gen.json
Due: none

refactoring
  specification/dell/Dell.Storage.Management/LiftrBase.Storage/main.tsp
  specification/dell/Dell.Storage.Management/LiftrBase/main.tsp
Due: none

Revert decorator change for couple of specifications (#21658)
  specification/awsconnector/CloudWatchAlarm.Management/main.tsp
  specification/monitor/Microsoft.Monitor.Management/typespec/investigation.tsp
Due: none

refactoring
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_Update_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_Update_MinimumSet_Gen.json
Due: none

Route 2025-01-01 (#31929)
  specification/maps/data-plane/Route/readme.md
  specification/maps/data-plane/Route/stable/2025-01-01/examples/GetRouteMatrixAsyncResult.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/GetRouteOperationStatusCompleted.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostRouteDirections.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostRouteDirectionsBatch.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostRouteMatrix.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostRouteMatrixAsync.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostRouteRange.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostRouteRangeBatch.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostSnapToRoads.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostSnapToRoadsBatch.json
  specification/maps/data-plane/Route/stable/2025-01-01/route.json
  specification/maps/suppressions.yaml
Due: none

refactoring
  specification/dell/Dell.Storage.Management/examples/2025-02-11-preview/FileSystems_Update_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-02-11-preview/examples/FileSystems_Update_MaximumSet_Gen.json
Due: none

Update readme.md
  specification/containerinstance/resource-manager/readme.md
Due: none

remove go-emitter option
  specification/compute/Compute.Management/tspconfig.yaml
Due: none

Prepare for CSharp SDK release for AgriculturePlatform.
  specification/agricultureplatform/AgriculturePlatform.Management/client.tsp
Due: none

BugFix: Removed InstanceView property for ContainerGroupList example (#32419)
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-09-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-10-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2023-05-01/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/readme.md
Due: none

update
  specification/agricultureplatform/AgriculturePlatform.Management/client.tsp
Due: none

Swagger changes to support valueType in ServiceNowV2 dataset (#32666)
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json
  specification/datafactory/resource-manager/sdk-suppressions.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Dataset.json
Due: none

update test case
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

fix error
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Due: none

update test case
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
