Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Update README.md
  eng/common/mcp/README.md
Due: eng/pipelines/typespec-validation-all.yml

Removed deprecated routes
  specification/ai/Azure.AI.Projects/evaluations/routes.tsp
  specification/ai/Azure.AI.Projects/examples/2025-07-31-preview/Evaluations_CreateAgentEvaluationDeprecated_MinimumSet_Gen.json
  specification/ai/Azure.AI.Projects/examples/2025-07-31-preview/Evaluations_CreateDeprecated_MaximumSet_Gen.json
  specification/ai/Azure.AI.Projects/examples/2025-07-31-preview/Evaluations_CreateOneEvaluation_MaximumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-07-31-preview/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-07-31-preview/examples/Evaluations_CreateOneEvaluation_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Removed not needed files
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-07-31-preview/examples/Evaluations_CreateAgentEvaluationDeprecated_MinimumSet_Gen.json
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-07-31-preview/examples/Evaluations_CreateDeprecated_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Check issue_number in status script (#36427)
  .github/workflows/src/set-status.js
  .github/workflows/test/set-status.test.js
Due: none

Update apigateway.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2024-05-01/apigateway.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Flipped new BrCh chks
  .github/workflows/breaking-change-add-label-artifacts.yaml
  .github/workflows/breaking-change-code.yaml
  .github/workflows/breaking-change-cross-version-code.yaml
  .github/workflows/breaking-change-cross-version-status.yaml
  .github/workflows/breaking-change-status.yaml
  .github/workflows/update-labels.yaml
Due: none

fixes
  specification/ai/Azure.AI.Projects/fine_tuning/models.tsp
  specification/ai/cspell.yaml
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Sync eng/common directory with azure-sdk-tools for PR 11493 (#36428)
  eng/common/mcp/README.md
Due: eng/pipelines/typespec-validation-all.yml

fix get routing
  specification/ai/Azure.AI.Projects/fine_tuning/models.tsp
  specification/ai/Azure.AI.Projects/fine_tuning/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update Storage RP api-version 2025-01-01 to fix bugs causing SDK broken (#36084)
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/examples/DeletedStorageAccountRestore.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/examples/StorageAccountLeverageIPv6Ability.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2025-01-01/storage.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

now working for easy comparisons
  .github/workflows/test/summarize-checks/summarize-checks.test.js
Due: none

format
  eng/tools/summarize-impact/test/cli.test.ts
Due: eng/pipelines/typespec-validation-all.yml

[summarize-impact] Add test pipeline (#36277)
  .github/workflows/summarize-impact-test.yaml
  eng/tools/summarize-impact/test/cli.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Correct Api-version in tspconfig.yaml
  specification/ai/Azure.AI.Projects/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add suppression justification for jobs, deltamodel, etc.
  specification/machinelearningservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add suppression justification for CustomKeys, EndpointModelProperties, ManagedOnlineEndpointResourceProperties, ServerlessEndpointInferenceEndpoint, WorkspaceConnectionPropertiesV2 paths.
  specification/machinelearningservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ensure we properly set isDraft flag
  .github/workflows/summarize-impact.yaml
Due: none

complete the distribution of methods in authoringClient and projectAuthoringClient
  specification/cognitiveservices/Language.AnalyzeText-authoring/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix
  specification/ai/Azure.AI.Agents/run_steps/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

default to false properly
  eng/tools/summarize-impact/src/cli.ts
Due: eng/pipelines/typespec-validation-all.yml

Add shell script for spell check
  eng/common/spelling/README.md
  eng/common/spelling/invoke-cspell.sh
Due: eng/pipelines/typespec-validation-all.yml

Add shebang and make cspell script executable for bash invocation
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/README.md
  eng/common/spelling/invoke-cspell.sh
Due: eng/pipelines/typespec-validation-all.yml

Apply suggestion from @Copilot
  eng/common/spelling/Invoke-Cspell.ps1
Due: eng/pipelines/typespec-validation-all.yml

Apply suggestion from @benbp
  eng/common/spelling/Invoke-Cspell.ps1
Due: eng/pipelines/typespec-validation-all.yml

Ensure we properly set `isDraft` flag (#36431)
  .github/workflows/summarize-impact.yaml
  eng/tools/summarize-impact/src/cli.ts
Due: eng/pipelines/typespec-validation-all.yml

Flipped new BrCh chks (#36429)
  .github/workflows/breaking-change-add-label-artifacts.yaml
  .github/workflows/breaking-change-code.yaml
  .github/workflows/breaking-change-cross-version-code.yaml
  .github/workflows/breaking-change-cross-version-status.yaml
  .github/workflows/breaking-change-status.yaml
  .github/workflows/update-labels.yaml
Due: none

test bc
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ConfigurationNamesList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ConnectorDryrunCreate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ConnectorDryrunDelete.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ConnectorDryrunGet.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ConnectorDryrunList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ConnectorDryrunUpdate.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ConnectorList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/Connectors.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/DeleteConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/DeleteDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/DeleteLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/GenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/GetConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/GetDaprConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/GetDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/Linker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/LinkerGenerateConfigurations.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/LinkerList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ListDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/OperationsList.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/PatchConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/PatchDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/PatchLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/PutConnector.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/PutDryrun.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/PutLinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ValidateConnectorSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/examples/ValidateLinkerSuccess.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2025-07-01/servicelinker.json
  specification/servicelinker/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[summarize-checks] Add link to run that set status
  .github/workflows/src/summarize-checks/summarize-checks.js
Due: none

nothing
  specification/maps/data-plane/Render/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

config changes
  specification/durabletask/DurableTask.Management/client.tsp
  specification/durabletask/DurableTask.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

use newer typespec compiler
  specification/durabletask/DurableTask.Management/main.tsp
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2024-02-01-preview/openapi.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2024-10-01-preview/openapi.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-04-01-preview/openapi.json
  specification/durabletask/resource-manager/Microsoft.DurableTask/preview/2025-05-04-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated WF name in the add-label WF
  .github/workflows/src/breaking-change-add-label-artifacts.js
  .github/workflows/test/breaking-change-add-label-artifacts.test.js
Due: none

Update tspconfig.yaml to include namespace for Azure AI Content Understanding for Python
  specification/ai/ContentUnderstanding/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add operations
  specification/resources/resource-manager/Microsoft.Authorization/stable/2025-03-01/policyTokens.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated WF name in the add-label WF (#36435)
  .github/workflows/src/breaking-change-add-label-artifacts.js
  .github/workflows/test/breaking-change-add-label-artifacts.test.js
Due: none

Update servicelinker.json
  specification/servicelinker/resource-manager/Microsoft.ServiceLinker/stable/2024-04-01/servicelinker.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/shared/src/doc-preview.js, .github/shared/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
