Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: ${{ parameters.SdkRepoCommit }}
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

update
  specification/storageactions/StorageAction.Management/StorageTask.tsp
  specification/storageactions/StorageAction.Management/back-compatible.tsp
  specification/storageactions/StorageAction.Management/examples/2023-01-01/misc/OperationsList.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/misc/PerformStorageTaskActionsPreview.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksCrud/DeleteStorageTask.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksCrud/GetStorageTask.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksCrud/PatchStorageTask.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksCrud/PutStorageTask.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksList/ListStorageTaskAssignmentIds.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksList/ListStorageTasksByResourceGroup.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksList/ListStorageTasksBySubscription.json
  specification/storageactions/StorageAction.Management/examples/2023-01-01/storageTasksList/ListStorageTasksRunReportSummary.json
  specification/storageactions/StorageAction.Management/main.tsp
  specification/storageactions/StorageAction.Management/models.tsp
  specification/storageactions/StorageAction.Management/tspconfig.yaml
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/misc/OperationsList.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/misc/PerformStorageTaskActionsPreview.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksCrud/DeleteStorageTask.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksCrud/GetStorageTask.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksCrud/PatchStorageTask.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksCrud/PutStorageTask.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksList/ListStorageTaskAssignmentIds.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksList/ListStorageTasksByResourceGroup.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksList/ListStorageTasksBySubscription.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/examples/storageTasksList/ListStorageTasksRunReportSummary.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/storageactions.json
Due: eng/pipelines/spec-gen-sdk.yml

Apply stable version changes on top of copied preview version commit
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/defenderForStorageSettings.json
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/examples/DefenderForStorage/CancelMalwareScan_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/examples/DefenderForStorage/GetDefenderForStorageSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/examples/DefenderForStorage/GetMalwareScan_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/examples/DefenderForStorage/PutDefenderForStorageSettings_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/examples/DefenderForStorage/StartMalwareScan_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/examples/Operations/ListOperations_example.json
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/operations.json
Due: eng/pipelines/spec-gen-sdk.yml

fix example missing for: Offers_ListBySubscription Publishers_ListBySubscription
  specification/edgemarketplace/Edgemarketplace.Management/examples/2023-08-01/ListOffersBySubscription.json
  specification/edgemarketplace/Edgemarketplace.Management/examples/2023-08-01/ListPublishersBySubscription.json
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/stable/2023-08-01/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

Remove duplicated AgentEvaluationResult object
  specification/ai/Azure.AI.Projects/evaluation-results/models.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

rename ResourceProvisioningState for .NET SDK
  specification/portalservices/CopilotSettings.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Updates readme
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

fix missing example
  specification/billingbenefits/BillingBenefits.Management/examples/2024-11-01-preview/DiscountListResourceGroup.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/billingbenefits.json
  specification/billingbenefits/resource-manager/Microsoft.BillingBenefits/preview/2024-11-01-preview/examples/DiscountListResourceGroup.json
Due: eng/pipelines/spec-gen-sdk.yml

update python readme
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

rename
  specification/portalservices/CopilotSettings.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

fix comment
  specification/edgemarketplace/Edgemarketplace.Management/Offer.tsp
  specification/edgemarketplace/Edgemarketplace.Management/Publisher.tsp
  specification/edgemarketplace/resource-manager/Microsoft.EdgeMarketplace/stable/2023-08-01/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

will stop when error
  .github/workflows/typespec-validation-all.yaml
Due: none

update
  specification/storageactions/StorageAction.Management/back-compatible.tsp
  specification/storageactions/StorageAction.Management/main.tsp
  specification/storageactions/StorageAction.Management/models.tsp
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/oldstorageactions.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/storageactions.json
Due: eng/pipelines/spec-gen-sdk.yml

resolving schema validation
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterPatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterPut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspAccessRulePut.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NspProfilePut.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml

Add stable version to readme.md + Fix Prettier check
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/defenderForStorageSettings.json
  specification/security/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Delete oldstorageactions.json
  specification/storageactions/resource-manager/Microsoft.StorageActions/stable/2023-01-01/oldstorageactions.json
Due: eng/pipelines/spec-gen-sdk.yml

Nit: Add dot
  specification/security/resource-manager/Microsoft.Security/stable/2025-01-01/defenderForStorageSettings.json
Due: eng/pipelines/spec-gen-sdk.yml

Add manage saas blade related APIs and their examples
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/NewRelic.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/examples/Monitors_LatestLinkedSaaS_MaximumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/examples/Monitors_LatestLinkedSaaS_MinimumSet_Gen.json
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/examples/Monitors_LinkSaaS.json
Due: eng/pipelines/spec-gen-sdk.yml

tsp converted and compiled
  specification/powerbidedicated/Powerbidedicated.Management/AutoScaleVCore.tsp
  specification/powerbidedicated/Powerbidedicated.Management/DedicatedCapacity.tsp
  specification/powerbidedicated/Powerbidedicated.Management/back-compatible.tsp
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/checkNameAvailability.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/createAutoScaleVCore.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/createCapacity.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/deleteAutoScaleVCore.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/deleteCapacity.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/getAutoScaleVCore.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/getCapacity.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/listAutoScaleVCoresInResourceGroup.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/listAutoScaleVCoresInSubscription.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/listCapacitiesInResourceGroup.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/listCapacitiesInSubscription.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/listSKUsForExisting.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/listSKUsForNew.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/operations.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/resumeCapacity.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/suspendCapacity.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/updateAutoScaleVCore.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/updateCapacity.json
  specification/powerbidedicated/Powerbidedicated.Management/examples/2021-01-01/updateToGen2.json
  specification/powerbidedicated/Powerbidedicated.Management/main.tsp
  specification/powerbidedicated/Powerbidedicated.Management/models.tsp
  specification/powerbidedicated/Powerbidedicated.Management/routes.tsp
  specification/powerbidedicated/Powerbidedicated.Management/tspconfig.yaml
  specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2021-01-01/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

Revert "Revert back SQL endpoint."
  specification/migrate/resource-manager/Microsoft.OffAzure/preview/2024-12-01-preview/examples/SqlSitesController_ImportInventory_Example.json
  specification/migrate/resource-manager/Microsoft.OffAzure/preview/2024-12-01-preview/migrate.json
Due: eng/pipelines/spec-gen-sdk.yml

update
  eng/scripts/TypeSpec-Validation.ps1
Due: eng/pipelines/typespec-validation-all.yml

up
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

fix failling checks
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/examples/GetSaaSInfo.json
Due: eng/pipelines/spec-gen-sdk.yml

Reapply "Revert back SQL endpoint."
  specification/migrate/resource-manager/Microsoft.OffAzure/preview/2024-12-01-preview/examples/SqlSitesController_TriggerImportInventory_Example.json
  specification/migrate/resource-manager/Microsoft.OffAzure/preview/2024-12-01-preview/migrate.json
Due: eng/pipelines/spec-gen-sdk.yml

fix failling checks1
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/examples/GetSaaSInfo.json
Due: eng/pipelines/spec-gen-sdk.yml

revert
  .github/workflows/typespec-validation-all.yaml
  eng/scripts/TypeSpec-Validation.ps1
Due: eng/pipelines/typespec-validation-all.yml

add asvi
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-03-01/managedClusters.json
Due: eng/pipelines/spec-gen-sdk.yml

resolving schema validation
  specification/network/resource-manager/Microsoft.Network/stable/2024-07-01/examples/NetworkSecurityPerimeterGet.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml

fix failling checks2
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/NewRelic.json
Due: eng/pipelines/spec-gen-sdk.yml

Update readme.md
  specification/app/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

fix failling checks4
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/examples/GetSaaSInfo.json
Due: eng/pipelines/spec-gen-sdk.yml

fix
  eng/scripts/TypeSpec-Validation.ps1
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
