Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:

trigger: none
pr:
  branches:
    include:
      - network-*
  paths:
    include:
    - specification/network/*

pool:
  vmImage: vs2017-win2016

steps:
  - powershell: |
      & "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  - powershell: |
      & "npm" install autorest -g
    displayName: Install autorest

eng/pipelines/typespec-validation-all.yml:

trigger:
  branches:
    include:
    - main
    - RPSaaSMaster
    - typespec-next

pr:
  branches:
    include:
    - main
    - RPSaaSMaster
    - typespec-next
  paths:
    include:
    - .gitattributes
    - .prettierrc.json
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng
    - specification/suppressions.yaml
    - specification/common-types

resources:
  pipelines:
  - pipeline: typespec
    source: typespec - Publish
    project: internal
    trigger:
      branches:
        include:
        - main
  - pipeline: typespec-azure
    source: typespec-azure - Publish
    project: internal
    trigger:
      branches:
        include:
        - main

jobs:
- job:

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mms-ubuntu-2204-general
        OsVmImage: ubuntu-22.04
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - script: git -c user.name="azure-sdk" -c user.email="azuresdk@microsoft.com" merge -Xours origin/main
    displayName: git merge origin/main

  - template: /eng/pipelines/templates/steps/npm-install.yml

  - pwsh: |
      $(Build.SourcesDirectory)/eng/scripts/TypeSpec-Validation.ps1 -CheckAll -GitClean -Verbose
    displayName: Validate All Specs
    ignoreLASTEXITCODE: true

eng/pipelines/typespec-validation-ci.yml:

trigger:
  branches:
    include:
    - main
    - typespec-next

pr:
  branches:
    include:
    - main
    - typespec-next
  paths:
    include:
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng/tools/TypeSpecValidation

jobs:
- job: Test_TypeSpec_Validation

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mms-ubuntu-2204-general
        OsVmImage: ubuntu-22.04
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - template: /eng/pipelines/templates/steps/npm-install.yml

  - script: npm test
    displayName: Test TypeSpecValidation Tool
    workingDirectory: $(Build.SourcesDirectory)/eng/tools/TypeSpecValidation

fix format
  specification/agricultureplatform/AgriculturePlatform.Management/client.tsp
Due: none

fix the context of principalId
  specification/keyvault/Security.KeyVault.Administration/examples/7.6-preview.2/DeleteRoleAssignments-example.json
  specification/keyvault/Security.KeyVault.Administration/examples/7.6-preview.2/GetRoleAssignments-example.json
  specification/keyvault/Security.KeyVault.Administration/examples/7.6-preview.2/ListRoleAssignments-example.json
  specification/keyvault/Security.KeyVault.Administration/examples/7.6-preview.2/PutRoleAssignments-example.json
Due: none

fix go-emitter options
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Due: none

Update original file path value in detect change request to APIView
  eng/common/scripts/Detect-Api-Changes.ps1
Due: eng/pipelines/typespec-validation-all.yml

Async filtering
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

Some progress, needing refactor
  .github/workflows/lintdiff.yaml
  eng/tools/lint-diff/cmd/lint-diff.js
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/src/lint-diff.ts
  eng/tools/lint-diff/src/markdown-parser.ts
  eng/tools/lint-diff/src/util.ts
  eng/tools/lint-diff/tsconfig.json
  eng/tools/tsconfig.json
Due: eng/pipelines/typespec-validation-all.yml

Test arm/data-plane tests
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/widgets.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/contoso.json
Due: none

Wire up GH Workflow
  .github/workflows/lintdiff.yaml
Due: none

Put changed-files.txt above the the default working folder
  .github/workflows/lintdiff.yaml
Due: none

Apply suggestions from code review
  .github/workflows/lintdiff.yaml
Due: none

Review feedback: Use npm ci from root, connect package.json to eng/tools/package.json
  .github/workflows/lintdiff.yaml
  eng/tools/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Some progress on review feedback and wiring up --before and --after
  .github/workflows/lintdiff.yaml
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

package-lock.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

More cleanup
  .github/workflows/lintdiff.yaml
  eng/tools/lint-diff/package.json
Due: eng/pipelines/typespec-validation-all.yml

Use openapi-validator from node_modules, bypassing autorest's package manager
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/src/lint-diff.ts
  eng/tools/lint-diff/src/util.ts
Due: eng/pipelines/typespec-validation-all.yml

Bootstrap lintdiff-test.yaml and associated testing work
  .github/workflows/lintdiff-test.yaml
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/test/lint-diff.test.ts
Due: eng/pipelines/typespec-validation-all.yml

checkout .github
  .github/workflows/lintdiff-test.yaml
Due: none

checkout eng/tools/
  .github/workflows/lintdiff-test.yaml
Due: none

Progress with testing
  .github/workflows/lintdiff.yaml
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/src/lint-diff.ts
  eng/tools/lint-diff/test/lint-diff.test.ts
  eng/tools/lint-diff/vitest.config.ts
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Cleanup TODO
  .github/workflows/lintdiff-test.yaml
Due: none

LintDiff README
  eng/tools/lint-diff/README.md
Due: eng/pipelines/typespec-validation-all.yml

More compiler-friendly cleanup
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

Cleanup
  eng/tools/lint-diff/test/lint-diff.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Progress on readme/tag mapping
  eng/tools/lint-diff/src/lint-diff.ts
  eng/tools/lint-diff/test/fixtures/getSwaggerDependenciesMap/specification/1/a.json
  eng/tools/lint-diff/test/fixtures/getSwaggerDependenciesMap/specification/1/c.json
  eng/tools/lint-diff/test/fixtures/getSwaggerDependenciesMap/specification/1/d.json
  eng/tools/lint-diff/test/fixtures/getSwaggerDependenciesMap/specification/1/nesting/b.json
  eng/tools/lint-diff/test/fixtures/getSwaggerDependenciesMap/specification/2/e.json
  eng/tools/lint-diff/test/fixtures/getSwaggerDependenciesMap/specification/empty/keep.txt
  eng/tools/lint-diff/test/getAffectedReadmes.test.ts
  eng/tools/lint-diff/test/lint-diff.test.ts
  eng/tools/lint-diff/tsconfig.json
Due: eng/pipelines/typespec-validation-all.yml

Cleanup for testing
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/src/lint-diff.ts
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Revert PR test changes
  specification/contosowidgetmanager/data-plane/Azure.Contoso.WidgetManager/preview/2022-11-01-preview/widgets.json
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/preview/2021-10-01-preview/contoso.json
Due: none

of
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

Incorporate affected readmes
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

Scan all possible affected readmes even if there are no changes
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

fix api-version
  specification/maps/data-plane/Route/stable/2025-01-01/examples/GetRouteOperationStatusCompleted.json
  specification/maps/data-plane/Route/stable/2025-01-01/examples/PostRouteMatrixAsync.json
Due: none

modified prefix from `ConversationsAuthoring` to `ConversationAuthoring`
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/common.tsp
Due: none

Use "State" type and reconcile the two states before running
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

Tag mapping must be specific to before and after state
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

add go-emitter option
  specification/compute/Compute.Management/tspconfig.yaml
Due: none

More correct filtering of tags... thanks GPT for the first and second versions
  eng/tools/lint-diff/src/lint-diff.ts
Due: eng/pipelines/typespec-validation-all.yml

change generate-examples to generate-samples
  specification/azurefleet/AzureFleet.Management/tspconfig.yaml
  specification/codesigning/CodeSigning.Management/tspconfig.yaml
  specification/connectedcache/ConnectedCache.Management/tspconfig.yaml
  specification/contosowidgetmanager/Contoso.Management/tspconfig.yaml
  specification/databasewatcher/DatabaseWatcher.Management/tspconfig.yaml
  specification/deviceregistry/DeviceRegistry.Management/tspconfig.yaml
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/tspconfig.yaml
  specification/durabletask/DurableTask.Management/tspconfig.yaml
  specification/edge/Microsoft.Edge.Management/tspconfig.yaml
  specification/edge/Microsoft.Edge.Sites.Management/tspconfig.yaml
  specification/edgezones/EdgeZones.Management/tspconfig.yaml
  specification/fabric/Microsoft.Fabric.Management/tspconfig.yaml
  specification/healthdataaiservices/HealthDataAIServices.Management/tspconfig.yaml
  specification/hybridconnectivity/HybridConnectivity.Management/tspconfig.yaml
  specification/impact/Impact.Management/tspconfig.yaml
  specification/iotoperations/IoTOperations.Management/tspconfig.yaml
  specification/liftrneon/Neon.Postgres.Management/tspconfig.yaml
  specification/liftrpinecone/Pinecone.VectorDb.Management/tspconfig.yaml
  specification/mongocluster/DocumentDB.MongoCluster.Management/tspconfig.yaml
  specification/servicenetworking/ServiceNetworking.Management/tspconfig.yaml
  specification/standbypool/StandbyPool.Management/tspconfig.yaml
  specification/terraform/Microsoft.AzureTerraform.Management/tspconfig.yaml
  specification/workloads/Workloads.SAPVirtualInstance.Management/tspconfig.yaml
Due: none

tspconfig for generate-metadata
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Update tspconfig for Python SDK (#32935)
  specification/agricultureplatform/AgriculturePlatform.Management/client.tsp
  specification/agricultureplatform/AgriculturePlatform.Management/tspconfig.yaml
Due: none

Revert "some fixs"
  specification/storage/Storage.Management/models.tsp
  specification/storage/Storage.Management/tspconfig.yaml
Due: none

Revert "some fixs"
  specification/storage/resource-manager/Microsoft.Storage/stable/2024-01-01/storage.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2024-01-01/storageTaskAssignments.json
Due: none
