Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Add Event Hubs provisioning emitter configuration (#44990)
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/client.tsp
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fixed the swagger issue.
  specification/communication/data-plane/CallAutomation/preview/2024-01-22-preview/communicationservicescallautomation.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename FluxConfigurations models to drop redundant 'Definition' suffix
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Prefix Container Registry Tasks resource names for C#
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/RegistryTasks/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

format
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ApplicationInsights: resolve mgmt SDK review comments (rename DeletedWorkbookResource->DeletedWorkbookData, StorageType->ApplicationInsightsLinkedStorageType, etag->Azure.ETag)
  specification/applicationinsights/resource-manager/Microsoft.Insights/ApplicationInsights/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

resources/deployments: change C# emitter namespace to Azure.ResourceManager.Resources.Deployments
  specification/resources/resource-manager/Microsoft.Resources/deployments/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Suppress C# naming violations added on main (#45134)
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/recurringScheduledActions.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeGallery/models.tsp
  specification/connectedcache/ConnectedCache.Management/models.tsp
  specification/education/resource-manager/Microsoft.Education/Education/JoinRequestDetails.tsp
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActionGroupsApi/models.tsp
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActivityLogAlertsApi/models.tsp
  specification/monitor/resource-manager/Microsoft.Insights/Insights/AutoScaleApi/models.tsp
  specification/monitor/resource-manager/Microsoft.Insights/Insights/MetricAlertApi/models.tsp
  specification/monitor/resource-manager/Microsoft.Insights/Insights/MetricBaselinesApi/models.tsp
  specification/monitor/resource-manager/Microsoft.Insights/Insights/TenantActionGroups/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Common/NetworkInterfaceIPConfiguration.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/CustomIpPrefix.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/HubIpConfiguration.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/IpAllocation.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/IpGroup.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/PublicIPAddress.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/PublicIPPrefix.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/VirtualNetwork.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/VpnGateway.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Vmss/NetworkInterfaceIPConfiguration.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Vmss/PublicIPAddress.tsp
  specification/purestorage/PureStorage.Block.Management/main.tsp
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/ResourceGraph/ResourceGraphApi/models.tsp
  specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/ResourceGraph/ResourceHistory/models.tsp
  specification/storage/data-plane/BlobStorage/Common/models.tsp
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refactor edgezones folder structure to comply with Azure Guidelines (#44612)
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/back-compatible.tsp
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/client.tsp
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2024-04-01-preview/ExtendedZones_Get.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2024-04-01-preview/ExtendedZones_ListBySubscription.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2024-04-01-preview/ExtendedZones_Register.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2024-04-01-preview/ExtendedZones_Unregister.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2024-04-01-preview/Operations_List.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2026-10-01/ExtendedZones_Get.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2026-10-01/ExtendedZones_ListBySubscription.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2026-10-01/ExtendedZones_Register.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2026-10-01/ExtendedZones_Unregister.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/examples/2026-10-01/Operations_List.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/main.tsp
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/preview/2024-04-01-preview/edgezones.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/preview/2024-04-01-preview/examples/ExtendedZones_Get.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/preview/2024-04-01-preview/examples/ExtendedZones_ListBySubscription.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/preview/2024-04-01-preview/examples/ExtendedZones_Register.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/preview/2024-04-01-preview/examples/ExtendedZones_Unregister.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/preview/2024-04-01-preview/examples/Operations_List.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/readme.az.md
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/readme.cli.md
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/readme.csharp.md
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/readme.java.md
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/readme.md
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/readme.python.md
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/stable/2026-10-01/edgezones.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/stable/2026-10-01/examples/ExtendedZones_Get.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/stable/2026-10-01/examples/ExtendedZones_ListBySubscription.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/stable/2026-10-01/examples/ExtendedZones_Register.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/stable/2026-10-01/examples/ExtendedZones_Unregister.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/stable/2026-10-01/examples/Operations_List.json
  specification/edgezones/resource-manager/Microsoft.EdgeZones/EdgeZones/tspconfig.yaml
  specification/edgezones/resource-manager/readme.md
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Remove preview\2023-07-01-preview\terraform folder
  specification/terraform/resource-manager/Microsoft.AzureTerraform/AzureTerraform/preview/2023-07-01-preview/terraform/Microsoft.AzureTerraform/main.tf
  specification/terraform/resource-manager/Microsoft.AzureTerraform/AzureTerraform/preview/2023-07-01-preview/terraform/Microsoft.AzureTerraform_operations/main.tf
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ApplicationInsights: rename DeletedWorkbook TimeModified to ModifiedOn (DATE001)
  specification/applicationinsights/resource-manager/Microsoft.Insights/ApplicationInsights/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refactor(scom): migrate to unified folder structure (#44824)
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_Create.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_Delete.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_Get.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_LinkLogAnalytics.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_Scale.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_UnlinkLogAnalytics.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_Update.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instance_UpdateLogAnalytics.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instances_ListByResourceGroup.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instances_ListBySubscription.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Instances_PatchServers.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/ManagedGateway_CreateOrUpdate.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/ManagedGateway_Delete.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/ManagedGateway_Get.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/ManagedGateways_ListByResourceGroup.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/MonitoredResource_CreateOrUpdate.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/MonitoredResource_Delete.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/MonitoredResource_Get.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/MonitoredResources_ListByResourceGroup.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/examples/Operations_List.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/managedGateways.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/monitoredResources.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/preview/2023-07-07-preview/scom.json
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.az.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.azureresourceschema.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.cli.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.csharp.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.go.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.python.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/readme.typescript.md
  specification/scom/resource-manager/Microsoft.Scom/Scom/suppressions.yaml
  specification/scom/resource-manager/readme.md
  specification/scom/resource-manager/readme.python.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Enable provisioning emitter for Attestation
  specification/attestation/resource-manager/Microsoft.Attestation/Attestation/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/RegistryTasks/tspconfig.yaml
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/RegistryTasks/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Direct npm to internal feedstore in tsp-client package-lock
  eng/common/tsp-client/package-lock.json
Due: eng/pipelines/typespec-validation-all.yml

Refactor liftrpinecone folder structure to comply with Azure Guidelines (#44845)
  specification/liftrpinecone/cspell.yaml
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/.gitignore
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/client.tsp
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Operations_List_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Operations_List_MinimumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Organizations_Get_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/examples/2024-10-22-preview/Organizations_Update_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/main.tsp
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Organizations_CreateOrUpdate_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Organizations_Delete_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Organizations_Get_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Organizations_ListByResourceGroup_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Organizations_ListBySubscription_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/examples/Organizations_Update_MaximumSet_Gen.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/preview/2024-10-22-preview/openapi.json
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/readme.md
  specification/liftrpinecone/resource-manager/Pinecone.VectorDb/PineconeVectorDb/tspconfig.yaml
  specification/liftrpinecone/resource-manager/readme.md
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Enable Container Registry Tasks provisioning (#44717)
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/RegistryTasks/client.tsp
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/RegistryTasks/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename FluxConfigurations models per API review (IsInsecure, OciRepositoryVerify, FluxServicePrincipal)
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/fluxConfigurations/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update (#44822)
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/client.tsp
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/examples/2023-09-01-preview/DependencyOfRelationships_CreateOrUpdate.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/examples/2023-09-01-preview/DependencyOfRelationships_Delete.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/examples/2023-09-01-preview/DependencyOfRelationships_Get.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/examples/2023-09-01-preview/Operations_List_MaximumSet_Gen.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/examples/2023-09-01-preview/ServiceGroupMemberRelationships_CreateOrUpdate.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/examples/2023-09-01-preview/ServiceGroupMemberRelationships_Delete.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/examples/2023-09-01-preview/ServiceGroupMemberRelationships_Get.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/main.tsp
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/examples/DependencyOfRelationships_CreateOrUpdate.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/examples/DependencyOfRelationships_Delete.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/examples/DependencyOfRelationships_Get.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/examples/ServiceGroupMemberRelationships_CreateOrUpdate.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/examples/ServiceGroupMemberRelationships_Delete.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/examples/ServiceGroupMemberRelationships_Get.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2023-09-01-preview/relationships.json
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/readme.md
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/tspconfig.yaml
  specification/relationships/resource-manager/readme.md
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

ApplicationInsights: type DeletedWorkbook SourceId as ResourceIdentifier and StorageUri as Uri
  specification/applicationinsights/resource-manager/Microsoft.Insights/ApplicationInsights/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update (#44788)
  specification/hybridaks/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refactor(graphservicesprod): migrate to unified folder structure (#44637)
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/examples/Accounts_Create.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/examples/Accounts_Delete.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/examples/Accounts_Get.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/examples/Accounts_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/examples/Accounts_List_Sub.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/examples/Accounts_Update.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/examples/Operations_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/preview/2022-09-22-preview/graphservicesprod.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/readme.cli.md
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/readme.csharp.md
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/readme.go.md
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/readme.md
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/readme.python.md
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/readme.typescript.md
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/examples/Accounts_Create.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/examples/Accounts_Delete.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/examples/Accounts_Get.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/examples/Accounts_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/examples/Accounts_List_Sub.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/examples/Accounts_Update.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/examples/Operations_List.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/stable/2023-04-13/graphservicesprod.json
  specification/graphservicesprod/resource-manager/Microsoft.GraphServices/GraphServices/suppressions.yaml
  specification/graphservicesprod/resource-manager/readme.cli.md
  specification/graphservicesprod/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Enable C# provisioning for Network
  specification/network/resource-manager/Microsoft.Network/Network/tspconfig.yaml
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Prefix Container Registry Tasks C# model names with service context
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/RegistryTasks/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Subagent config in Voice agent definition
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/agents.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Pin Network provisioning service versions
  specification/network/resource-manager/Microsoft.Network/Network/tspconfig.yaml
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
