Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Focus metadata tests on changed execution contracts
  .github/shared/test/exec.test.ts
  .github/shared/test/typespec-metadata.test.ts
  .github/workflows/test/package-name-approval/detect-namespaces.test.ts
Due: none

Add InMage RCM extended location TypeSpec source (#3)
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/SiteRecovery/examples/2026-11-01/ReplicationProtectedItems_Create_InMageRcmEdgeZone.json
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/SiteRecovery/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Simplify ARM auto-signoff design
  documentation/arm-api-review-auto-signoff-coordination.md
Due: none

added VMSS Get Examples with processorMode
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get_WithDeterministicProcessorMode.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get_WithOpportunisticProcessorMode.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get_WithDeterministicProcessorMode.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get_WithOpportunisticProcessorMode.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make service entitlement settings operations synchronous
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/ServiceEntitlementSetting.tsp
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/DeleteServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationResult.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationResultAfterDelete.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationResultInProgress.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationStatus.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/UpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/tspconfig.yaml
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/DeleteServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationResult.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationResultAfterDelete.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationResultInProgress.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/GetServiceEntitlementSettingOperationStatus.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/UpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/serviceEntitlementSettings.json
  specification/security/resource-manager/Microsoft.Security/Security/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix lease file formatting
  .github/arm-leases/compute/Microsoft.Compute/WorkloadManager/lease.yaml
Due: none

Add ARM lease for Microsoft.Compute WorkloadManager (#46640)
  .github/arm-leases/compute/Microsoft.Compute/WorkloadManager/lease.yaml
Due: none

fix(resourcehealth): preserve discovery and preview response fields
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/ServiceGroupHealth.tsp
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/client.tsp
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/examples/2026-08-01-preview/Operations_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/examples/2026-08-01-preview/ServiceGroupHealth_ListEvents.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/preview/2026-08-01-preview/ResourceHealth.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/preview/2026-08-01-preview/examples/Operations_List.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/preview/2026-08-01-preview/examples/ServiceGroupHealth_ListEvents.json
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Mark contributor readiness workflows as testing
  .github/workflows/contributor-readiness-review.yaml
  .github/workflows/contributor-readiness.yaml
Due: none

Report unavailable PR authors and clarify readiness workflow steps
  .github/workflows/src/contributor-readiness.ts
  .github/workflows/test/contributor-readiness.test.ts
Due: none

Fix PUT/GET schema split and add missing legacy-resource suppressions on capability models
  specification/network/resource-manager/Microsoft.Network/Network/Network/VirtualNetworkApplianceCapability.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/virtualNetworkAppliance.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix HorizonDB LintDiff findings
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/models.tsp
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/openapi.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Compose contributor reports with documented Markdown helpers
  .github/shared/package.json
  .github/shared/readme.md
  .github/shared/src/markdown.ts
  .github/shared/test/markdown.test.ts
  .github/workflows/src/contributor-readiness.ts
  .github/workflows/test/__snapshots__/contributor-readiness.test.ts.snap
  .github/workflows/test/contributor-readiness.test.ts
Due: none

Add private IP prefix length to Compute 2026-04-01
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineScaleSetExamples/VirtualMachineScaleSet_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Update_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineExamples/VirtualMachine_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Update_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ignoreapi egress config from siteconfig
  specification/web/resource-manager/Microsoft.Web/AppService/models.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2026-09-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove DPS namespace count limit
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/preview/2026-06-01-preview/iotdps.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/stable/2026-11-01/iotdps.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Escape Markdown table cells in linear time
  .github/shared/src/markdown.ts
  .github/shared/test/markdown.test.ts
Due: none

Add reusable Markdown composition helpers
  .github/shared/package.json
  .github/shared/readme.md
  .github/shared/src/markdown.ts
  .github/shared/test/markdown.test.ts
Due: none

Document not-found behavior for service entitlement settings
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/ServiceEntitlementSetting.tsp
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/serviceEntitlementSettings.json
  specification/security/resource-manager/Microsoft.Security/Security/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix spelling in the Markdown helper guide
  .github/shared/readme.md
Due: none

Align Foundry artifact browsing and single-file content access
  specification/ai-foundry/data-plane/Foundry/examples/v1/Jobs_GetArtifactContentInformation_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/v1/Jobs_GetArtifactContentInformation_MinimumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/v1/Jobs_ListArtifacts_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/jobs/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/jobs/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove duplicate DPS AutoRest tag
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Deduplicate fine-tuning SDK routes with scoped client decorators
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/RECONCILIATION.md
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[Microsoft.ProviderHub] Add rollout traffic ring metadata
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/examples/2026-09-01-preview/CustomRollouts_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/examples/2026-09-01-preview/CustomRollouts_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/examples/2026-09-01-preview/CustomRollouts_ListByProviderRegistration.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/models.tsp
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/preview/2026-09-01-preview/examples/CustomRollouts_CreateOrUpdate.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/preview/2026-09-01-preview/examples/CustomRollouts_Get.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/preview/2026-09-01-preview/examples/CustomRollouts_ListByProviderRegistration.json
  specification/providerhub/resource-manager/Microsoft.ProviderHub/ProviderHub/preview/2026-09-01-preview/providerhub.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore DPS namespace count limit
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/models.tsp
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/preview/2026-06-01-preview/iotdps.json
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/stable/2026-11-01/iotdps.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix(foundry): use approved training_jobs public routes
  specification/ai-foundry/data-plane/Foundry/docs/foundry-features-flag-summary.md
  specification/ai-foundry/data-plane/Foundry/examples/v1/Jobs_ListArtifacts_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/v1/Jobs_List_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/jobs/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/jobs/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix(resourcehealth): correct SG response property metadata
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/ServiceGroupHealth.tsp
  specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/ResourceHealth/preview/2026-08-01-preview/ResourceHealth.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make the label to skip release plan automation as protected
  .github/protected-labels.yml
Due: none

Add minimal PUT and tags-only PATCH settings examples
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSettingMinimal.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/UpdateServiceEntitlementSettingTagsOnly.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSettingMinimal.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/UpdateServiceEntitlementSettingTagsOnly.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/serviceEntitlementSettings.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update preview Search bbox descriptions with the corrected minimum size of approximately 1.1 meters.
  specification/maps/data-plane/Search/preview/2025-06-01-preview/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Addressing feedback
  specification/edgeoperator/resource-manager/Microsoft.EdgeOperator/ObservabilityConfiguration/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add ARM semantic review auto-signoff design
  documentation/arm-semantic-review-auto-signoff-design.md
Due: none

add serviceEntitlementSettings resource for Microsoft.Security (#46103)
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/ServiceEntitlementSetting.tsp
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSettingMinimal.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/DeleteServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/GetServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/ListServiceEntitlementSettingsByResourceGroup.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/ListServiceEntitlementSettingsBySubscription.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/UpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/examples/2026-09-16-preview/ServiceEntitlementSettings/UpdateServiceEntitlementSettingTagsOnly.json
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/main.tsp
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/models.tsp
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/service.yaml
  specification/security/resource-manager/Microsoft.Security/Security/ServiceEntitlementSettingsAPI/tspconfig.yaml
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/CreateOrUpdateServiceEntitlementSettingMinimal.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/DeleteServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/GetServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/ListServiceEntitlementSettingsByResourceGroup.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/ListServiceEntitlementSettingsBySubscription.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/UpdateServiceEntitlementSetting.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/examples/ServiceEntitlementSettings/UpdateServiceEntitlementSettingTagsOnly.json
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-09-16-preview/serviceEntitlementSettings.json
  specification/security/resource-manager/Microsoft.Security/Security/readme.md
  specification/security/resource-manager/Microsoft.Security/Security/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make the label to skip release plan automation as protected (#46647)
  .github/protected-labels.yml
Due: none

claim re-added
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/Disk.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/back-compatible.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/examples/2026-10-02/diskExamples/Disk_ClaimResource.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/examples/2026-10-02/diskExamples/Disk_UnclaimResource.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-10-02/DiskRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-10-02/examples/diskExamples/Disk_ClaimResource.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-10-02/examples/diskExamples/Disk_UnclaimResource.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix WAF policy PUT long-running operation metadata
  specification/network/resource-manager/Microsoft.Network/Network/Network/WebApplicationFirewallPolicy.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-05-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/applicationGateway.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/applicationGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add reusable Markdown composition helpers (#46642)
  .github/shared/package.json
  .github/shared/readme.md
  .github/shared/src/markdown.ts
  .github/shared/test/markdown.test.ts
Due: none

Add release plan param in automation pipeline
  eng/pipelines/release-plan.yml
  eng/tools/release-plan/src/args.ts
  eng/tools/release-plan/src/index.ts
  eng/tools/release-plan/src/release-plan.ts
  eng/tools/release-plan/src/types.ts
  eng/tools/release-plan/src/typespec-project.ts
  eng/tools/release-plan/src/update-sdk-details.ts
  eng/tools/release-plan/test/args.test.ts
  eng/tools/release-plan/test/release-plan.test.ts
  eng/tools/release-plan/test/typespec-project.test.ts
  eng/tools/release-plan/test/update-sdk-details.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
