Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

update suppresion
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

merge session:logstream after functional confirmation
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/relocate-beta-operations.tsp
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/agents/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove KS Create and CreateOrUpdate examples from 2025-11-01-preview and 2026-04-01 versions (#42370)
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceCreateKnowledgeSource.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceCreateOrUpdateKnowledgeSource.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceCreateKnowledgeSource.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceCreateOrUpdateKnowledgeSource.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceCreateKnowledgeSource.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceCreateOrUpdateKnowledgeSource.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceCreateKnowledgeSource.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceCreateOrUpdateKnowledgeSource.json
  specification/search/data-plane/Search/stable/2026-04-01/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update CODEOWNERS to add additional owners for ARM instruction files (#42382)
  .github/CODEOWNERS
Due: none

update suppressions
  specification/storage/Microsoft.BlobStorage/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Description updated
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2018-10-01/vmssNetwork.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove createRoom with service provided name
  specification/webpubsub/data-plane/WebPubSubChat/preview/2026-02-01-preview/webpubsubchat.json
  specification/webpubsub/data-plane/WebPubSubChat/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add java fixes to client.tsp
  specification/search/data-plane/Search/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add batch suppressions
  specification/storage/Microsoft.BlobStorage/batch/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix agent patching
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

swagger fixes
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-05-01/kubeSelectorGroup.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/kubeSelectorGroup.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

typespec validation fix
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/KubeSelectorGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/KubeSelectorGroupGet.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/KubeSelectorGroupListByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/KubeSelectorGroupListBySubscription.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/KubeSelectorGroupPut.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/KubeSelectorGroupUpdateTags.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/kubeSelectorGroup.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix swagger model validation errors
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActivityLogs/examples/2015-04-01/GetActivityLogsFiltered.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActivityLogs/examples/2015-04-01/GetActivityLogsFilteredAndSelected.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActivityLogs/examples/2015-04-01/GetTenantActivityLogsFiltered.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActivityLogs/examples/2015-04-01/GetTenantActivityLogsFilteredAndSelected.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActivityLogs/examples/2015-04-01/GetTenantActivityLogsNoParams.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ActivityLogs/examples/2015-04-01/GetTenantActivityLogsSelected.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/AutoScale/examples/2022-10-01/listAutoscaleSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/AutoScale/examples/2022-10-01/listAutoscaleSettingBySubscription.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/ServiceDiagnosticsSettings/examples/2016-09-01/updateServiceDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2015-04-01/examples/GetActivityLogsFiltered.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2015-04-01/examples/GetActivityLogsFilteredAndSelected.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2015-04-01/examples/GetTenantActivityLogsFiltered.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2015-04-01/examples/GetTenantActivityLogsFilteredAndSelected.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2015-04-01/examples/GetTenantActivityLogsNoParams.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2015-04-01/examples/GetTenantActivityLogsSelected.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2016-09-01/examples/updateServiceDiagnosticSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2022-10-01/examples/listAutoscaleSetting.json
  specification/monitor/resource-manager/Microsoft.Insights/Insights/stable/2022-10-01/examples/listAutoscaleSettingBySubscription.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updated delete example
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-07-01/KubeSelectorGroupDelete.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updated delete example
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/KubeSelectorGroupDelete.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update sdk-breaking-change-detector skill
  .github/skills/sdk-breaking-change-detector/SKILL.md
Due: none

Draft change log
  specification/search/data-plane/Search/CHANGELOG.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

apply sdk breaking change mitigation solution
  .github/skills/azure-typespec-author/SKILL.md
Due: none

update
  specification/security/resource-manager/Microsoft.Security/Security/IoTSecurity/IoTSecurityAggregatedAlert.tsp
  specification/security/resource-manager/Microsoft.Security/Security/IoTSecurity/IoTSecurityAggregatedRecommendation.tsp
  specification/security/resource-manager/Microsoft.Security/Security/IoTSecurity/IoTSecuritySolutionAnalyticsModel.tsp
  specification/security/resource-manager/Microsoft.Security/Security/IoTSecurity/IoTSecuritySolutionModel.tsp
  specification/security/resource-manager/Microsoft.Security/Security/IoTSecurity/main.tsp
  specification/security/resource-manager/Microsoft.Security/Security/IoTSecurity/models.tsp
  specification/security/resource-manager/Microsoft.Security/Security/IoTSecurity/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix CI: suppress warnings-as-errors for spec validation
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/ServiceFabric/ClusterCodeVersions.tsp
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/ServiceFabric/VMSizeResource.tsp
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/ServiceFabric/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

removed older api change
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-05-01/kubeSelectorGroup.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Improve suppress comment for VMSize property-name-conflict
  specification/servicefabric/resource-manager/Microsoft.ServiceFabric/ServiceFabric/VMSizeResource.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update docs (#42254)
  specification/app/data-plane/DynamicSessions/preview/2024-10-02-preview/DynamicSessions.json
  specification/app/data-plane/DynamicSessions/preview/2025-02-02-preview/DynamicSessions.json
  specification/app/data-plane/DynamicSessions/preview/2025-10-02-preview/DynamicSessions.json
  specification/app/data-plane/DynamicSessions/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update main.tsp
  specification/security/resource-manager/Microsoft.Security/Security/PrivateLinks/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Arjun/vna vnet changes 2025 07 01 (#42049)
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-07-01/VirtualNetworkAppliances_CreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2018-10-01/vmssNetwork.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/examples/VirtualNetworkAppliances_CreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/virtualNetwork.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/virtualNetworkAppliance.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix agent patching
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/src/sdk-projects-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update TSP files
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/ActiveSessionHostConfiguration.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/AppAttachPackage.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/SessionHost.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/SessionHostConfiguration.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/SessionHostManagement.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/SessionHostProvisioningStatus.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/SessionHostUpdateStatus.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/back-compat.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/client.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/main.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/models.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2026-01-01-preview/desktopvirtualization.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/policyinsights/resource-manager/Microsoft.PolicyInsights/PolicyInsights/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

older version fix
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-05-01/kubeSelectorGroup.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add alternateType for SubResource[], Identity, ExtendedLocation properties
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeGallery/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix alternateType model names to use Properties sub-models
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove duplicate ExtendedLocation alternateType decorators from child client.tsp files
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update readme with new tag package-2026-04-10
  specification/ai/data-plane/VoiceLive/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update voice
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/preview/2026-01-01-preview/VoiceLive.json
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/VoiceLive.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

change back to inline
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/stable/2026-04-10/VoiceLive.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Change input file from preview to stable
  specification/ai/data-plane/VoiceLive/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[voice live] add specs for 2026-04-10 version
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/events.tsp
  specification/ai/data-plane/VoiceLive/items.tsp
  specification/ai/data-plane/VoiceLive/main.tsp
  specification/ai/data-plane/VoiceLive/models.tsp
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/VoiceLive.json
  specification/ai/data-plane/VoiceLive/stable/2026-04-10/VoiceLive.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update gpt
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/items.tsp
  specification/ai/data-plane/VoiceLive/main.tsp
  specification/ai/data-plane/VoiceLive/preview/2026-01-01-preview/VoiceLive.json
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/VoiceLive.json
  specification/ai/data-plane/VoiceLive/stable/2026-04-10/VoiceLive.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
