Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/shared/src/doc-preview.js, .github/shared/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

update readme
  specification/webpubsub/data-plane/WebPubSub/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix location
  specification/webpubsub/data-plane/WebPubSub/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add examples
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/apimbackends.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagamentCreateBackendWithCustomAssignedCertificate_Thumbprints.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/examples/ApiManagementCreateBackendWithCustomAssignedCertificate_X509Names.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

location fix
  specification/webpubsub/data-plane/WebPubSub/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

run prettier
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2025-03-01-preview/apimbackends.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

runs prettier
  specification/quota/resource-manager/Microsoft.Quota/stable/2025-09-01/groupquota.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[context.js] Fix tests for 100% codecov, inline error snapshots
  .github/workflows/test/context.test.js
Due: none

Fix error
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/examples/VpnServerConfigurationList.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Initlaization
  specification/profiler/ts-insights/.gitignore
  specification/profiler/ts-insights/client.tsp
  specification/profiler/ts-insights/examples/2022-11-01-preview/Widgets_CreateOrUpdateWidgetSample.json
  specification/profiler/ts-insights/examples/2022-11-01-preview/Widgets_DeleteWidgetSample.json
  specification/profiler/ts-insights/examples/2022-11-01-preview/Widgets_GetWidgetOperationStatusSample.json
  specification/profiler/ts-insights/examples/2022-11-01-preview/Widgets_GetWidgetSample.json
  specification/profiler/ts-insights/examples/2022-11-01-preview/Widgets_ListWidgetsSample.json
  specification/profiler/ts-insights/main.tsp
  specification/profiler/ts-insights/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix Swagger PrettierCheck errors
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/virtualNetworkGateway.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/virtualWan.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add SharePoint delta tool call. (#36865)
  specification/ai/Azure.AI.Agents/run_steps/models.tsp
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

2510
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/CreateOrReplace_Asset_With_DiscoveredAssetRef.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/CreateOrReplace_Asset_With_ExternalAssetId.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/CreateOrReplace_Asset_Without_DisplayName.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/CreateOrReplace_Asset_Without_ExternalAssetId.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/CreateOrReplace_NamespaceAsset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/CreateOrReplace_NamespaceDiscoveredAsset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Get_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Get_Asset_With_SyncStatus.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Get_NamespaceDiscoveredAsset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/List_Assets_ByResourceGroup.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/List_Assets_BySubscription.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/List_NamespaceAssets_ByResourceGroup.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/List_NamespaceDiscoveredAssets_ByResourceGroup.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Update_Asset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Update_NamespaceDiscoveredAsset.json
  specification/deviceregistry/DeviceRegistry.Management/properties/ns_assetProperties.tsp
  specification/deviceregistry/DeviceRegistry.Management/properties/ns_discoveredAssetsProperties.tsp
  specification/deviceregistry/DeviceRegistry.Management/schemaRegistries.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2024-09-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/CreateOrReplace_Asset_With_DiscoveredAssetRef.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/CreateOrReplace_Asset_With_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/CreateOrReplace_Asset_Without_DisplayName.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/CreateOrReplace_Asset_Without_ExternalAssetId.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/CreateOrReplace_NamespaceAsset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/CreateOrReplace_NamespaceDiscoveredAsset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Get_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Get_Asset_With_SyncStatus.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Get_NamespaceDiscoveredAsset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/List_Assets_ByResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/List_Assets_BySubscription.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/List_NamespaceAssets_ByResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/List_NamespaceDiscoveredAssets_ByResourceGroup.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Update_Asset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Update_NamespaceDiscoveredAsset.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add CPEX KPI attestation automation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Update kusto info and remove schedule in pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

Add Actual Kpi Ids and Remove changed date filter
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

changed tools names
  .github/prompts/validate-codeowners.prompt.md
  .github/prompts/validate-service-label.prompt.md
Due: none

Copy HttpRouteConfig to 2025-07-01 and cleanup
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/CommonDefinitions.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ManagedEnvironmentsHttpRouteConfig.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdatePrefix.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdate_PathSepPrefix.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Delete.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Patch.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove dupe readme
  specification/webpubsub/data-plane/WebPubSub/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix examples
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/HttpRouteConfig_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/HttpRouteConfig_CreateOrUpdatePrefix.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/HttpRouteConfig_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/HttpRouteConfig_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/HttpRouteConfig_Patch.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdatePrefix.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdate_PathSepPrefix.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Get.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_ListByManagedEnvironment.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_Patch.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Move billing configuration to disconnected operations resource
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/billingConfigurations.tsp
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/BillingConfigurations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/BillingConfigurations_Delete_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/BillingConfigurations_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/BillingConfigurations_ListByParent_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/DisconnectedOperations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/DisconnectedOperations_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/DisconnectedOperations_ListByResourceGroup_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/DisconnectedOperations_ListBySubscription_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/DisconnectedOperations_Update_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/main.tsp
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/models.tsp
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/disconnectedOperations.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/BillingConfigurations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/BillingConfigurations_Delete_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/BillingConfigurations_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/BillingConfigurations_ListByParent_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/DisconnectedOperations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/DisconnectedOperations_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/DisconnectedOperations_ListByResourceGroup_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/DisconnectedOperations_ListBySubscription_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/DisconnectedOperations_Update_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Webpubsub To New TSP Folder Structure (#36833)
  specification/webpubsub/data-plane/WebPubSub/client.tsp
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/HealthApi_GetServiceStatus.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_AddConnectionToGroup.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_AddConnectionsToGroups.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_AddUserToGroup.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_CheckPermission.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_CloseAllConnections.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_CloseConnection.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_CloseGroupConnections.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_CloseUserConnections.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_ConnectionExists.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_GenerateClientToken.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_GrantPermission.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_GroupExists.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_ListConnectionsInGroup.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_RemoveConnectionFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_RemoveConnectionFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_RemoveConnectionsFromGroups.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_RemoveUserFromAllGroups.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_RemoveUserFromGroup.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_RevokePermission.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_SendToAll.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_SendToConnection.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_SendToGroup.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_SendToUser.json
  specification/webpubsub/data-plane/WebPubSub/examples/2024-12-01/WebPubSub_UserExists.json
  specification/webpubsub/data-plane/WebPubSub/main.tsp
  specification/webpubsub/data-plane/WebPubSub/models.tsp
  specification/webpubsub/data-plane/WebPubSub/routes.tsp
  specification/webpubsub/data-plane/WebPubSub/suppressions.yaml
  specification/webpubsub/data-plane/WebPubSub/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

compile
  specification/ai/DocumentIntelligence/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

swagger model validation changes
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Delete_Schema.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Delete_SchemaVersion.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Get_NamespaceAsset.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-10-01/Update_NamespaceAsset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Delete_Schema.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Delete_SchemaVersion.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Get_NamespaceAsset.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/stable/2025-10-01/examples/Update_NamespaceAsset.json
  specification/deviceregistry/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make suppression more specific
  specification/cdn/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix build checks
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_ListByManagedEnvironment.json
  specification/app/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Just specify filename in suppression
  specification/cdn/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add line number
  specification/cdn/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix prettier check errors
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/HardwareSettings_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/HardwareSettings_Delete_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/HardwareSettings_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2025-08-01-preview/HardwareSettings_ListByParent_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/HardwareSettings_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/HardwareSettings_Delete_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/HardwareSettings_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/examples/HardwareSettings_ListByParent_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix visbility
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/models.tsp
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2025-08-01-preview/disconnectedOperations.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add EnvironmentNameParameter
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/CommonDefinitions.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Resolving comments an dpre-check failures.
  specification/resourcenotifications/ResourceNotifications.Management/examples/2025-08-01-preview/.gitkeep
  specification/resourcenotifications/ResourceNotifications.Management/examples/2025-08-01-preview/NotificationsSessions_CloseSession.json
  specification/resourcenotifications/ResourceNotifications.Management/examples/2025-08-01-preview/NotificationsSessions_CreateNotificationSession.json
  specification/resourcenotifications/ResourceNotifications.Management/examples/2025-08-01-preview/NotificationsSessions_GetSessionDetails.json
  specification/resourcenotifications/ResourceNotifications.Management/main.tsp
  specification/resourcenotifications/ResourceNotifications.Management/tspconfig.yaml
  specification/resourcenotifications/resource-manager/Microsoft.ResourceNotifications/preview/2025-08-01-preview/examples/NotificationsSessions_CloseSession.json
  specification/resourcenotifications/resource-manager/Microsoft.ResourceNotifications/preview/2025-08-01-preview/examples/NotificationsSessions_CreateNotificationSession.json
  specification/resourcenotifications/resource-manager/Microsoft.ResourceNotifications/preview/2025-08-01-preview/examples/NotificationsSessions_GetSessionDetails.json
  specification/resourcenotifications/resource-manager/Microsoft.ResourceNotifications/preview/2025-08-01-preview/resourcenotifications.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix examples
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/examples/HttpRouteConfig_CreateOrUpdate_PathSepPrefix.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/examples/HttpRouteConfig_CreateOrUpdate.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Use original suppression
  specification/cdn/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Mark delete as long-running
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/ManagedEnvironmentsHttpRouteConfig.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ManagedEnvironmentsHttpRouteConfig.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Include location header
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/ManagedEnvironmentsHttpRouteConfig.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ManagedEnvironmentsHttpRouteConfig.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix validation checks
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/ManagedEnvironmentsHttpRouteConfig.json
  specification/app/resource-manager/Microsoft.App/stable/2025-07-01/ManagedEnvironmentsHttpRouteConfig.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[AzureDataTransfer] Bugfix for Mimefilter (#36862)
  specification/azuredatatransfer/AzureDataTransfer.Management/examples/2025-05-30-preview/createOrUpdateFlowProfile.json
  specification/azuredatatransfer/AzureDataTransfer.Management/examples/2025-05-30-preview/listFlowProfilesByPipeline.json
  specification/azuredatatransfer/AzureDataTransfer.Management/examples/2025-05-30-preview/patchFlowProfile.json
  specification/azuredatatransfer/AzureDataTransfer.Management/models.flowprofile.tsp
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2025-05-30-preview/azuredatatransfer.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2025-05-30-preview/examples/createOrUpdateFlowProfile.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2025-05-30-preview/examples/listFlowProfilesByPipeline.json
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2025-05-30-preview/examples/patchFlowProfile.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[context.js] Fix tests for 100% codecov, inline error snapshots (#36866)
  .github/workflows/test/context.test.js
Due: none

split readmes
  specification/confidentialledger/data-plane/Microsoft.CodeTransparency/readme.md
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/readme.md
  specification/confidentialledger/data-plane/Microsoft.ManagedCcf/preview/2023-06-01-preview/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
