Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: Validate_All_Specs
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Fixed linting error
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ContainerApps.json
Due: none

Pretify example
  specification/securityinsights/data-plane/Microsoft.SecurityInsights/preview/2024-02-01-preview/examples/threatintelligence/UploadStixObjects.json
Due: none

fix formatting
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
Due: none

Use $suppression as hashtable instead of object - Simplifies handling of missing properties
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

More rename $file to $fileInSpecFolder
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

Support both suppressions.yml and suppressions.yaml
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

Typo
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

Improve comment
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

Rename to suppressions.yaml
  specification/contosowidgetmanager/suppressions.yaml
Due: none

Add provisioningIssues property in example.
  specification/storage/resource-manager/Microsoft.Storage/stable/2023-04-01/examples/NetworkSecurityPerimeterConfigurationGet.json
Due: none

fix
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2023-12-01-preview/examples/CreateHciEdgeDevice.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2023-12-01-preview/examples/GetEdgeDevices.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2023-12-01-preview/examples/ListEdgeDevices.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2023-12-01-preview/jobs.json
Due: none

[TypeSpecRequirement] Add suppression mechanism (#28043)
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

Fix linting issue with devopsinfrastructure in typespec-next (#28070)
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
Due: none

use arm-id
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2024-01-15-preview/networkInterfaces.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2024-01-15-preview/storageContainers.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2024-01-15-preview/virtualHardDisks.json
Due: none

API changes (#17352)
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/azurearcdata.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/GetSqlServerInstanceJobsStatus.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/RunMigrationAssessmentSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/sqlServerInstances.json
Due: none

Resolved comments
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-12-15/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-12-15/examples/AzureIaasVm/BackupCrrJob_Cancel.json
Due: none

Fixing case in examples
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2023-12-15/examples/AzureIaasVm/BackupCrrJob_Cancel.json
Due: none

Adding SQL instance properties required for creation of DAG between arc AG and SQL MI (#17338)
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/CreateOrUpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/GetSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/ListByResourceGroupSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/ListSubscriptionSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/PostUpgradeSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/PreUpgradeSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/examples/UpdateSqlServerInstance.json
  specification/azurearcdata/resource-manager/Microsoft.AzureArcData/preview/2024-04-01-preview/sqlServerInstances.json
Due: none

Addressed Swagger LintDiff failure
  specification/mobilenetwork/resource-manager/Microsoft.MobileNetwork/preview/2024-03-01-preview/edgeNetworkSecurityGroup.json
Due: none

[Microsoft.App] add runtime attribute to app configuration (#27892)
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/ContainerApps.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_CreateOrUpdate.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_CreateOrUpdate_ConnectedEnvironment.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Get.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_ListByResourceGroup.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_ListBySubscription.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Patch.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Start.json
  specification/app/resource-manager/Microsoft.App/preview/2024-02-02-preview/examples/ContainerApps_Stop.json
Due: none

Updating name from allowlist to exception
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafListAllPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafListPolicies.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/webapplicationfirewall.json
Due: .azure-pipelines/network-validation.yml

Add Microsoft.Compute/DiagnosticRP/preview/2024-03-01-preview/diagnostic.json to readme.md
  specification/compute/resource-manager/readme.md
Due: none

Fxi comments
  specification/datadog/resource-manager/Microsoft.Datadog/stable/2024-03-01/swagger.json
Due: none

lint
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Job_CreateOrUpdate.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Job_Delete.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Job_Get.json
Due: none

1. changed default package alertprocessingrules.json 2. other fixes to comments by the reviewer
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/AlertProcessingRules.json
  specification/alertsmanagement/resource-manager/readme.md
Due: none

add 'privateDnsZoneId' to ServiceResource.properties.vnetAddons
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Services_CreateOrUpdate_VNetInjection.json
Due: none

Added Linux SiteContainer APIs (#27942)
  cSpell.json
  specification/web/resource-manager/Microsoft.Web/stable/2023-12-01/WebApps.json
Due: none

lint
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/appplatform.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Job_Get.json
  specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2024-05-01-preview/examples/Job_Start.json
Due: none

Adding Support for forceUpdateOSDiskForEphemeral parameter in VirtualMachineScaleSetVMReimageParameters defination
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Reimage_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Reimage_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2024-03-01/virtualMachineScaleSet.json
Due: none

pr fixes
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/AlertProcessingRules.json
  specification/alertsmanagement/resource-manager/readme.md
Due: none

indentation fix
  specification/alertsmanagement/resource-manager/readme.md
Due: none

pr fixes
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/AlertProcessingRules.json
Due: none

fixed enum casing
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2024-03-01-preview/examples/AlertProcessingRules_Create_or_update_add_correlation_with_correlation_updates.json
Due: none

Updates readme
  specification/recoveryservicesbackup/resource-manager/readme.md
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
