Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Consolidate AutoRest suppressions as directives
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/IoTOperations/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

deprecate estimated cost
  specification/security/resource-manager/Microsoft.Security/Security/DefenderForStorageAPI/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Clarify restore point aggregate status documentation
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2024-11-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2025-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2025-11-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-03-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/ComputeRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix validation
  specification/security/resource-manager/Microsoft.Security/Security/preview/2026-06-01-preview/defenderForStorageSettings.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add browser session recording API
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/AccessTokens_CreateOrReplace.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/AccessTokens_Delete.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/AccessTokens_Get.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/AccessTokens_List.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_List.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/TestRuns_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/TestRuns_Get.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/TestRuns_List.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/Workspaces_Get.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/Workspaces_GetBrowsers.json
  specification/loadtestservice/data-plane/playwright/main.tsp
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/AccessTokens_CreateOrReplace.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/AccessTokens_Delete.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/AccessTokens_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/AccessTokens_List.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_List.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/TestRuns_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/TestRuns_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/TestRuns_List.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/Workspaces_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/Workspaces_GetBrowsers.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/playwright.json
  specification/loadtestservice/data-plane/playwright/readme.md
  specification/loadtestservice/data-plane/playwright/service.yaml
  specification/loadtestservice/data-plane/playwright/typespec/browsersessions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update browser session artifact response shape
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_List.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_List.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/playwright.json
  specification/loadtestservice/data-plane/playwright/typespec/browsersessions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Clarify browser session artifact URLs
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/playwright.json
  specification/loadtestservice/data-plane/playwright/typespec/browsersessions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add browser session artifact status and error details
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_List.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_List.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/playwright.json
  specification/loadtestservice/data-plane/playwright/typespec/browsersessions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Address browser session artifact API review feedback
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/examples/2026-10-01-preview/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_CreateOrUpdate.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/examples/BrowserSessions_Get.json
  specification/loadtestservice/data-plane/playwright/preview/2026-10-01-preview/playwright.json
  specification/loadtestservice/data-plane/playwright/typespec/browsersessions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refine HorizonDB resource contracts
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-10-01-preview/Clusters_CreateOrReplaceWithDataEncryption.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-10-01-preview/Clusters_UpdateDataEncryption.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-10-01-preview/FirewallRules_Update.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-10-01-preview/Pools_Delete.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/models.tsp
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-05-01-preview/openapi.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/examples/Clusters_CreateOrReplaceWithDataEncryption.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/examples/Clusters_UpdateDataEncryption.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/examples/FirewallRules_Update.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/examples/Pools_Delete.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/openapi.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove patch for firewall rules
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-10-01-preview/FirewallRules_Update.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/examples/FirewallRules_Update.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/openapi.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Upload impact summaries as raw JSON (#46974)
  .github/workflows/src/summarize-checks/summarize-checks.ts
  .github/workflows/summarize-impact.yaml
  .github/workflows/test/summarize-checks/summarize-checks.test.ts
Due: none

Skip unnecessary PR check jobs (#46995)
  .github/workflows/_reusable-set-check-status.yaml
  .github/workflows/arm-auto-signoff-status.yaml
  .github/workflows/arm-modeling-review.yaml
  .github/workflows/arm-universal-auto-signoff.yaml
  .github/workflows/breaking-change-add-label-artifacts.yaml
  .github/workflows/package-name-approval-status.yaml
  .github/workflows/package-name-approval-validation.yaml
  .github/workflows/spec-gen-sdk-status.yaml
  .github/workflows/summarize-checks.yaml
  .github/workflows/typespec-migration-validation.yaml
  .github/workflows/typespec-suppressions-status.yaml
  .github/workflows/update-labels.yaml
Due: none

Simplify Swagger migration enforcement and regression coverage
  eng/tools/suppressions/README.md
  eng/tools/typespec-requirement/src/index.ts
  eng/tools/typespec-requirement/src/migration.ts
  eng/tools/typespec-requirement/test/migration.test.ts
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Clarify delete operation comment for LocalRulesResource
  specification/paloaltonetworks/resource-manager/PaloAltoNetworks.Cloudngfw/Cloudngfw/LocalRulesResource.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Scope TypeSpec enforcement to new API versions
  eng/tools/suppressions/README.md
  eng/tools/typespec-requirement/src/index.ts
  eng/tools/typespec-requirement/test/migration.test.ts
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Format HorizonDB data encryption models
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove obsolete TypeSpec requirement test scaffolding
  eng/tools/typespec-requirement/src/index.ts
  eng/tools/typespec-requirement/src/migration.ts
  eng/tools/typespec-requirement/test/migration.test.ts
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Align ScriptExecutionScope enum to Once/PerEntity per backend contract
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/WebModels/Enums/Enums.tsp
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/examples/2026-08-01-preview/Runbooks_AddStep_Script_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/preview/2026-08-01-preview/examples/Runbooks_AddStep_Script_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/preview/2026-08-01-preview/waves.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make executionScope required and align script step docs to backend contract
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/WebModels/Enums/Enums.tsp
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/WebModels/Runbook/Runbook.tsp
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/preview/2026-08-01-preview/waves.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update suppression
  specification/compute/resource-manager/Microsoft.Compute/Compute/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Clarify TypeSpec migration discovery and cache lookup
  eng/tools/typespec-requirement/src/index.ts
  eng/tools/typespec-requirement/src/migration.ts
Due: eng/pipelines/typespec-validation-all.yml

Revert FlexProfile from Compute 2026-09-01
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-09-01/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-09-01/virtualMachineExamples/VirtualMachine_Get_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-09-01/virtualMachineExamples/VirtualMachine_Update_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-09-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-09-01/examples/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-09-01/examples/virtualMachineExamples/VirtualMachine_Get_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-09-01/examples/virtualMachineExamples/VirtualMachine_Update_WithFlexProfile.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Adopt standard RPC response codes for trace associations and trace container (PUT 201+200, DELETE 200+204)
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/examples/2026-09-03-preview/TraceAssociationsAtResourceGroup_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/examples/2026-09-03-preview/TraceAssociationsAtResourceGroup_Delete_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/examples/2026-09-03-preview/TraceAssociationsAtSubscription_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/examples/2026-09-03-preview/TraceAssociationsAtSubscription_Delete_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/examples/2026-09-03-preview/TraceAssociations_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/examples/2026-09-03-preview/TraceAssociations_Delete_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/examples/2026-09-03-preview/TraceContainers_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/azuremonitorworkspace.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/examples/TraceAssociationsAtResourceGroup_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/examples/TraceAssociationsAtResourceGroup_Delete_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/examples/TraceAssociationsAtSubscription_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/examples/TraceAssociationsAtSubscription_Delete_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/examples/TraceAssociations_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/examples/TraceAssociations_Delete_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/examples/TraceContainers_CreateOrUpdate_MaximumSet_Gen.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/typespec/traceAssociations/models.tsp
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/typespec/traceAssociations/traceAssociations.tsp
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/typespec/traceContainers/models.tsp
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/typespec/traceContainers/traceContainers.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

feat(foundry): split agent endpoint authorization schemes
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Use a boolean predicate for TypeSpec-generated Swagger
  eng/tools/typespec-requirement/src/index.ts
  eng/tools/typespec-requirement/src/migration.ts
Due: eng/pipelines/typespec-validation-all.yml

Rename ScriptExecutionLocation RemoteVM->SourceVM and add Host script example
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/WebModels/Enums/Enums.tsp
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/examples/2026-08-01-preview/Runbooks_AddStep_ScriptHost_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/preview/2026-08-01-preview/examples/Runbooks_AddStep_ScriptHost_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/preview/2026-08-01-preview/examples/Runbooks_AddStep_Script_Gen.json
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/preview/2026-08-01-preview/waves.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Isolate ARM semantic status publication
  .github/workflows/arm-semantic-review-status.yaml
  .github/workflows/arm-universal-auto-signoff.yaml
  .github/workflows/src/arm-auto-signoff/arm-semantic-review-workflow.ts
  .github/workflows/test/arm-auto-signoff/arm-semantic-review-status-workflow.test.ts
  documentation/arm-semantic-review-auto-signoff-implementation.md
Due: none

Address semantic review feedback
  .github/workflows/src/arm-auto-signoff/arm-semantic-review-workflow.ts
  .github/workflows/src/context.ts
  .github/workflows/test/arm-auto-signoff/arm-semantic-review.test.ts
  .github/workflows/test/context.test.ts
  documentation/arm-semantic-review-auto-signoff-implementation.md
Due: none

adding the new hold related changes
  specification/communication/data-plane/CallAutomation/preview/2024-01-22-preview/communicationservicescallautomation.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Allow the evaluator TF-IDF provider token
  specification/ai-foundry/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove AzureVM from ignite scope
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/WebModels/Enums/Enums.tsp
  specification/migrate/resource-manager/Microsoft.Migrate/Waves/preview/2026-08-01-preview/waves.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Configure self-repository audit suppression centrally
  .github/actions/add-label-artifact/action.yaml
  .github/actions/install-deps-github-script/action.yaml
  .github/instructions/github-actions.instructions.md
  .github/workflows/SDK-Suppressions-Label.yaml
  .github/workflows/_reusable-set-check-status.yaml
  .github/workflows/arm-auto-signoff-code.yaml
  .github/workflows/arm-auto-signoff-status.yaml
  .github/workflows/arm-lease-validation.yaml
  .github/workflows/arm-modeling-review.yaml
  .github/workflows/arm-universal-auto-signoff.yaml
  .github/workflows/avocado-code.yaml
  .github/workflows/breaking-change-add-label-artifacts.yaml
  .github/workflows/breaking-change-code.yaml
  .github/workflows/breaking-change-cross-version-code.yaml
  .github/workflows/eng.yml
  .github/workflows/format.yaml
  .github/workflows/github-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/lintdiff-code.yaml
  .github/workflows/package-name-approval-code.yaml
  .github/workflows/package-name-approval-status.yaml
  .github/workflows/package-name-approval-validation.yaml
  .github/workflows/protected-files.yaml
  .github/workflows/protected-labels.yaml
  .github/workflows/sdk-breaking-change-labels.yaml
  .github/workflows/spec-gen-sdk-status.yaml
  .github/workflows/summarize-checks.yaml
  .github/workflows/summarize-impact.yaml
  .github/workflows/swagger-modelvalidation-code.yaml
  .github/workflows/swagger-semanticvalidation-code.yaml
  .github/workflows/sync-repo-labels.yaml
  .github/workflows/typespec-migration-validation.yaml
  .github/workflows/typespec-requirement.yaml
  .github/workflows/typespec-suppressions-code.yaml
  .github/workflows/typespec-suppressions-status.yaml
  .github/workflows/typespec-validation-all.yaml
  .github/workflows/typespec-validation.yaml
  .github/workflows/update-labels.yaml
  .github/zizmor.yaml
Due: none

Remove configuration-only workflow regression tests
  .github/workflows/test/workflows.test.ts
Due: none

Chipate/compute placement score (#46338)
  specification/compute/resource-manager/Microsoft.Compute/Recommender/ComputeDiagnosticBase.tsp
  specification/compute/resource-manager/Microsoft.Compute/Recommender/PlacementScoresBase.tsp
  specification/compute/resource-manager/Microsoft.Compute/Recommender/back-compatible.tsp
  specification/compute/resource-manager/Microsoft.Compute/Recommender/client.tsp
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GenerateComputePlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GenerateComputePlacementScoresWithoutDesiredLocation.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GenerateSkuMixPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GenerateSpotPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GenerateSpotPlacementScoresWithoutDesiredLocation.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GetComputePlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GetSkuMixPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/GetSpotPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/Operations_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/examples/2026-10-05-preview/Operations_List_MinimumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/main.tsp
  specification/compute/resource-manager/Microsoft.Compute/Recommender/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-09-05-preview/RecommenderRP.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/RecommenderRP.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GenerateComputePlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GenerateComputePlacementScoresWithoutDesiredLocation.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GenerateSkuMixPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GenerateSpotPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GenerateSpotPlacementScoresWithoutDesiredLocation.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GetComputePlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GetSkuMixPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/GetSpotPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/preview/2026-10-05-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/compute/resource-manager/Microsoft.Compute/Recommender/readme.md
  specification/compute/resource-manager/Microsoft.Compute/Recommender/service.yaml
  specification/compute/resource-manager/Microsoft.Compute/Recommender/stable/2025-06-05/RecommenderRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[ProtectedFiles] Allow maintainer maintenance PRs without a bypass
  .github/cspell.yaml
  .github/workflows/protected-files.yaml
  .github/workflows/src/context.ts
  .github/workflows/src/protected-files.ts
  .github/workflows/summarize-checks.yaml
  .github/workflows/test/context.test.ts
  .github/workflows/test/mocks.ts
  .github/workflows/test/protected-files.test.ts
  documentation/ci-fix.md
  eng/README.md
Due: eng/pipelines/typespec-validation-all.yml

Add common types (scalars, pagination, errors, foundations, jobs) to foundry-core
  libs/foundry-core/README.md
  libs/foundry-core/lib/errors.tsp
  libs/foundry-core/lib/foundations.tsp
  libs/foundry-core/lib/jobs.tsp
  libs/foundry-core/lib/main.tsp
  libs/foundry-core/lib/pagination.tsp
  libs/foundry-core/lib/scalars.tsp
  libs/foundry-core/package.json
  libs/foundry-core/samples/error-handling.tsp
  libs/foundry-core/samples/jobs.tsp
  libs/foundry-core/samples/pagination.tsp
  libs/foundry-core/test/samples.test.ts
  pnpm-lock.yaml
Due: none
