Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: Validate_All_Specs
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

fixing prettier
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
Due: none

Add to description and use same common type versions
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/amlfilesystem.json
Due: none

update json files
  specification/mission/resource-manager/Microsoft.Mission/preview/2023-02-01-preview/openapi.json
  specification/mission/resource-manager/Microsoft.Mission/preview/2023-08-01-preview/openapi.json
  specification/mission/resource-manager/Microsoft.Mission/preview/2023-11-01-preview/openapi.json
  specification/mission/resource-manager/Microsoft.Mission/preview/2024-01-01-preview/openapi.json
Due: none

fixing example
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_worker_selectors_expired.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_offer_accepted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_offer_issued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_registered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_worker_updated.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_worker_selectors_expired.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_offer_accepted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_offer_issued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_registered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_worker_updated.json
Due: none

fixing example
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_cancelled.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_classification_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_classified.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_closed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_deleted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_exception_triggered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_queued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_scheduling_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_unassigned.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/router_job_waiting_for_activation.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_cancelled.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_classification_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_classified.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_closed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_completed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_deleted.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_exception_triggered.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_queued.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_received.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_scheduling_failed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_unassigned.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_waiting_for_activation.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/router_job_worker_selectors_expired.json
Due: none

Convert ARM TSP from enum to union (#27749)
  specification/apicenter/ApiCenter.Management/models.tsp
  specification/azurelargeinstance/AzureLargeInstance.Management/models.tsp
  specification/communitytraining/Community.Management/main.tsp
  specification/containerservice/Fleet.Management/fleet.tsp
  specification/containerservice/Fleet.Management/fleetmember.tsp
  specification/containerservice/Fleet.Management/update/run.tsp
  specification/containerservice/Fleet.Management/update/strategy.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-03-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-06-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2023-08-15-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/stable/2023-10-15/fleets.json
  specification/containerstorage/ContainerStorage.Management/main.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure/main.tsp
  specification/iotoperationsdataprocessor/IoTOperationsDataProcessor.Management/common.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/base.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/datalakeconnector.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/kafkaconnector.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/mqttbridgeconnector.tsp
  specification/iotoperationsmq/IoTOperationsMQ.Management/models/mqttbroker.tsp
  specification/iotoperationsorchestrator/IoTOperationsOrchestrator.Management/common.tsp
  specification/liftrastronomer/Astronomer.Astro.Management/LiftrBase/main.tsp
  specification/mobilepacketcore/MobilePacketCore.Management/common.tsp
  specification/mpcnetworkfunction/MpcNetworkFunction.Management/networkfunction.tsp
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/playwrighttesting/PlaywrightTesting.Management/main.tsp
  specification/playwrighttesting/PlaywrightTesting/main.tsp
  specification/purviewpolicy/PurviewPolicy.Management/policy.tsp
  specification/servicenetworking/ServiceNetworking.Management/main.tsp
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/stable/2023-11-01/TrafficController.json
  specification/sphere/Sphere.Management/common.tsp
  specification/sphere/Sphere.Management/device.tsp
  specification/sphere/Sphere.Management/deviceGroup.tsp
  specification/sphere/Sphere.Management/image.tsp
Due: none

fixed prettier checks
  specification/cognitiveservices/Language.AnalyzeText/models/sentiment.analysis.tsp
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/analyzeconversations.json
  specification/cognitiveservices/data-plane/Language/preview/2022-03-01-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/preview/2022-05-15-preview/analyzeconversations.json
Due: none

Changes as per review comments
  specification/support/resource-manager/Microsoft.Support/preview/2023-06-01-preview/support.json
Due: none

Revert "update enum to union"
  specification/devcenter/DevCenter/DevBox/models.tsp
  specification/devcenter/DevCenter/Environments/models.tsp
Due: none

Added the summary property to the Creator swagger files for the v2 stable release (#27810)
  specification/maps/data-plane/Creator/preview/2.0/alias.json
  specification/maps/data-plane/Creator/preview/2.0/dataset.json
  specification/maps/data-plane/Creator/preview/2.0/dwgconversion.json
  specification/maps/data-plane/Creator/preview/2.0/featurestate.json
  specification/maps/data-plane/Creator/preview/2.0/tileset.json
  specification/maps/data-plane/Creator/preview/2.0/wfs.json
Due: none

[TypeSpec] Bump compiler, openapi3 and autorest version with union hotfix (#27707)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[TypeSpec] Upgrade to 0.53.0 (#27677)
  cSpell.json
  package-lock.json
  package.json
  specification/ai/data-plane/DocumentIntelligence/preview/2023-10-31-preview/DocumentIntelligence.json
  specification/apicenter/resource-manager/Microsoft.ApiCenter/stable/2024-03-01/apicenter.json
  specification/azurelargeinstance/resource-manager/Microsoft.AzureLargeInstance/preview/2023-07-20-preview/azurelargeinstance.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-06-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-07-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-08-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-09-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2023-12-01-preview/generated.json
  specification/cognitiveservices/data-plane/ContentSafety/preview/2023-10-15-preview/contentsafety.json
  specification/cognitiveservices/data-plane/ContentSafety/stable/2023-10-01/contentsafety.json
  specification/communitytraining/resource-manager/Microsoft.Community/stable/2023-11-01/CommunityTrainings.json
  specification/containerstorage/resource-manager/Microsoft.ContainerStorage/preview/2023-07-01-preview/containerstorage.json
  specification/devopsinfrastructure/resource-manager/Microsoft.DevOpsInfrastructure/preview/2023-12-13-preview/devopsinfrastructure.json
  specification/iotoperationsdataprocessor/resource-manager/Microsoft.IoTOperationsDataProcessor/preview/2023-10-04-preview/openapi.json
  specification/iotoperationsmq/resource-manager/Microsoft.IoTOperationsMQ/preview/2023-10-04-preview/iotoperationsmq.json
  specification/iotoperationsorchestrator/resource-manager/Microsoft.IoTOperationsOrchestrator/preview/2023-10-04-preview/openapi.json
  specification/liftrastronomer/resource-manager/Astronomer.Astro/preview/2023-08-01-preview/astronomer.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/preview/2023-04-01-preview/loadtestservice.json
  specification/loadtestservice/data-plane/Microsoft.LoadTestService/stable/2022-11-01/loadtestservice.json
  specification/mobilepacketcore/resource-manager/Microsoft.MobilePacketCore/preview/2023-10-15-preview/mobilepacketcore.json
  specification/mpcnetworkfunction/resource-manager/Microsoft.MobilePacketCore/preview/2023-05-15-preview/networkfunction.json
  specification/networkanalytics/resource-manager/Microsoft.NetworkAnalytics/stable/2023-11-15/networkanalytics.json
  specification/playwrighttesting/data-plane/Microsoft.PlaywrightTesting.AuthManager/preview/2023-10-01-preview/playwrighttesting.json
  specification/playwrighttesting/resource-manager/Microsoft.AzurePlaywrightService/preview/2024-02-01-preview/playwrighttesting.json
  specification/purviewpolicy/resource-manager/Microsoft.Purview/preview/2023-06-01-preview/policy.json
  specification/servicenetworking/resource-manager/Microsoft.ServiceNetworking/stable/2023-11-01/TrafficController.json
  specification/sphere/resource-manager/Microsoft.AzureSphere/stable/2024-04-01/azuresphere.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[TypeSpec] Upgrade autorest to 0.38.1 (#27568)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[TypeSpec] Upgrade typespec-apiview to 0.4.5 (#27562)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[TypeSpec] Upgrade http to 0.52.1 (#27548)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[TypeSpec] Upgrade to 0.52.0 (#27541)
  eng/tools/typespec-validation/package.json
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[TypeSpec Validation] add support for node 21 and drop 16 (#27247)
  eng/pipelines/templates/steps/npm-install.yml
  eng/tools/typespec-validation/ci.yml
  eng/tools/typespec-validation/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

update pakacges
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Add default reviewers for ACA
  CODEOWNERS
Due: none

Fix typo and duplicate schema
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/amlfilesystem.json
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/storagecache.json
Due: none

Remove duplicate schema name
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2024-03-01/storagecache.json
Due: none

Add headers for non-PUT 202 responses
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2023-10-01-preview/appconfiguration.json
Due: none

[DocumentIntelligence] Added .NET config
  specification/ai/DocumentIntelligence/client.tsp
  specification/ai/DocumentIntelligence/tspconfig.yaml
Due: none

tsp format
  specification/devcenter/DevCenter/DevBox/models.tsp
  specification/devcenter/DevCenter/Environments/models.tsp
  specification/devcenter/DevCenter/Environments/routes.tsp
  specification/devcenter/DevCenter/client.tsp
  specification/devcenter/DevCenter/shared/routes.tsp
Due: none

Updates readme
  specification/machinelearningservices/resource-manager/readme.md
Due: none

use latest common-types version
  specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2024-02-01-preview/deletedWorkbooks_API.json
Due: none

compile .
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2024-05-02-preview/fleets.json
Due: none

suppress warnings
  specification/securityinsights/resource-manager/readme.md
Due: none

Add Java to tspconfig.yaml
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Due: none

Tejaswis/recipe added extended locations in properties. (#17143)
  specification/contoso/resource-manager/Microsoft.Contoso/preview/2020-01-01-preview/examples/createOrUpdateRecipe.json
  specification/contoso/resource-manager/Microsoft.Contoso/preview/2020-01-01-preview/examples/getRecipe.json
  specification/contoso/resource-manager/Microsoft.Contoso/preview/2020-01-01-preview/examples/updateRecipe.json
  specification/contoso/resource-manager/Microsoft.Contoso/preview/2020-01-01-preview/recipe.json
Due: none

[TypeSpec Validation] separate error message for folder-struct (#27619)
  eng/tools/typespec-validation/src/rules/folder-structure.ts
Due: eng/pipelines/typespec-validation-all.yml

Update file path.
  specification/quota/resource-manager/readme.md
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
