Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: ${{ parameters.SdkRepoCommit }}
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Update all common-type references to use v6
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2025-06-01/cognitiveservices.json
Due: eng/pipelines/spec-gen-sdk.yml

set pipeline variable for spec PR case too
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
  eng/tools/spec-gen-sdk-runner/src/commands.ts
Due: eng/pipelines/typespec-validation-all.yml

fix examples
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_CreateOrUpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_GetFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/examples/FileShares_UpdateFileShareSnapshot_MaximumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml

update
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2023-01-01-preview/fileshares.json
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/fileshares.json
Due: eng/pipelines/spec-gen-sdk.yml

Add test fixture for YAML parser testing
  .github/shared/test/fixtures/getSpecModel/specification/yaml-date-parsing/readme.md
Due: none

Use JSON_SCHEMA for YAML parsing (less aggressive object conversion)
  .github/shared/src/spec-model.js
  .github/shared/test/spec-model.test.js
Due: none

Fixup test after rebase
  .github/shared/test/spec-model.test.js
Due: none

Update
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_CreateOrUpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_GetFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/examples/2024-01-01-preview/FileShares_UpdateFileShareSnapshot_MaximumSet_Gen.json
  specification/fileshares/FileShares.Management/fileshares.tsp
  specification/fileshares/resource-manager/Microsoft.FileShares/preview/2024-01-01-preview/fileshares.json
Due: eng/pipelines/spec-gen-sdk.yml

Remove unused/invalid response code for project delete
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2025-06-01/cognitiveservices.json
Due: eng/pipelines/spec-gen-sdk.yml

Add continuationToken decorator for dataset/index list
  specification/ai/Azure.AI.Projects/datasets/routes.tsp
  specification/ai/Azure.AI.Projects/indexes/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Add continuationToken decorator for dataset/index list (#34372)
  specification/ai/Azure.AI.Projects/datasets/routes.tsp
  specification/ai/Azure.AI.Projects/indexes/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Update Save Package Properties step
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Due: eng/pipelines/typespec-validation-all.yml

Fix correlation: YAML parsing for tag will sometimes return a Date object. Configure the YAML parser to return a string instead.
  eng/tools/lint-diff/src/markdown-utils.ts
  eng/tools/lint-diff/test/markdown-utils.test.ts
Due: eng/pipelines/typespec-validation-all.yml

changes
  specification/iotoperations/IoTOperations.Management/models/akri/connectorTemplate.tsp
  specification/iotoperations/IoTOperations.Management/models/base.tsp
  specification/iotoperations/IoTOperations.Management/models/instance.tsp
  specification/iotoperations/IoTOperations.Management/models/registryEndpoints/auth.tsp
  specification/iotoperations/IoTOperations.Management/models/registryEndpoints/registryEndpoint.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2025-07-01-preview/iotoperations.json
Due: eng/pipelines/spec-gen-sdk.yml

Fix prettier;
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2025-04-01-preview/examples/delete_evaluation_run.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2025-04-01-preview/examples/delete_file.json
  specification/cognitiveservices/data-plane/AzureOpenAI/authoring/preview/2025-04-01-preview/examples/delete_finetuning_job.json
Due: eng/pipelines/spec-gen-sdk.yml

Updated sdk automation docs (#34265)
  documentation/sdkautomation/GenerateInputSchema.json
  documentation/sdkautomation/GenerateOutputSchema.json
  documentation/sdkautomation/InitOutputSchema.json
  documentation/sdkautomation/InstallInstructionScriptInputSchema.json
  documentation/sdkautomation/InstallInstructionScriptOutputSchema.json
  documentation/sdkautomation/README.md
  documentation/sdkautomation/SpecConfigSchema.json
  documentation/sdkautomation/SwaggerToSdkConfigSchema.json
  documentation/sdkautomation/sdk-automation-faq.md
  documentation/sdkautomation/sdk-suppressions.md
Due: none

Sync eng/common directory with azure-sdk-tools for PR 10470 (#34345)
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Due: eng/pipelines/typespec-validation-all.yml

LintDiff: Always treat fatal errors as new errors which require attention (#34312)
  eng/tools/lint-diff/src/correlateResults.ts
  eng/tools/lint-diff/src/generateReport.ts
  eng/tools/lint-diff/src/util.ts
  eng/tools/lint-diff/test/correlateResults.test.ts
  eng/tools/lint-diff/test/generateReport.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Fix prettier;
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2025-04-01-preview/examples/create_realtime_session.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2025-04-01-preview/examples/create_realtime_transcription_session.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2025-04-01-preview/examples/image_edits.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2025-04-01-preview/examples/image_edits.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Changing subscription id to all zeros and changing request ids to sample id
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/stable/2025-06-01/examples/GenerateSpotPlacementScores.json
  specification/compute/resource-manager/Microsoft.Compute/DiagnosticRP/stable/2025-06-01/examples/GetSpotPlacementScores.json
Due: eng/pipelines/spec-gen-sdk.yml

update doc string for bing search config list
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/spec-gen-sdk.yml

[AI] [Agents] bing search changes (#34343)
  specification/ai/Azure.AI.Agents/main.tsp
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/spec-gen-sdk.yml

Updating swagger for Server properties
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/Servers.json
Due: eng/pipelines/spec-gen-sdk.yml

Add spilloverDeploymentName
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/cognitiveservices.json
Due: eng/pipelines/spec-gen-sdk.yml

skip push code step for spec PR case
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/spec-gen-sdk-runner/src/commands.ts
Due: eng/pipelines/typespec-validation-all.yml

Adjust route for start_copy_from_url (#34359)
  specification/storage/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

[AI] [Projects] Add index asset id for AI Search
  specification/ai/Azure.AI.Agents/tools/tool_resources.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/spec-gen-sdk.yml

revert spec-gen-sdk version
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

add tags to flex
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-04-01/virtualMachineScaleSet.json
Due: eng/pipelines/spec-gen-sdk.yml

Apply suggestions from code review
  eng/tools/lint-diff/src/markdown-utils.ts
Due: eng/pipelines/typespec-validation-all.yml

Use YAML FAILSAFE_SCHEMA instead of JSON_SCHEMA
  .github/shared/src/spec-model.js
Due: none

updated the typespec by removing the out of scope items
  specification/liftrneon/Neon.Postgres.Management/main.tsp
  specification/liftrneon/resource-manager/Neon.Postgres/preview/2025-03-01-preview/neon.json
  specification/liftrneon/resource-manager/Neon.Postgres/stable/2025-03-01/neon.json
Due: eng/pipelines/spec-gen-sdk.yml

Microsoft.Management: Merge to main from release branch (#33995)
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/AddManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/CheckManagementGroupNameAvailability.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/DeleteHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/DeleteManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetAllSubscriptionsFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetDescendants.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetEntities.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithAncestors.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithExpand.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithExpandAndRecurse.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetManagementGroupWithPath.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/GetSubscriptionFromManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ListHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ListManagementGroups.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ListOperations.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PatchHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PatchManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PutHierarchySettings.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/PutManagementGroup.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/RemoveManagementGroupSubscription.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Delete.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Get.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_ListAncestors.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Patch.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/ServiceGroup_Put.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/StartTenantBackfillRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/examples/TenantBackfillStatusRequest.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/management.json
  specification/managementgroups/resource-manager/Microsoft.Management/preview/2024-02-01-preview/serviceGroups.json
  specification/managementgroups/resource-manager/readme.md
  specification/managementgroups/resource-manager/sdk-suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml

added more tags
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-04-01/virtualMachine.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-04-01/virtualMachineScaleSet.json
Due: eng/pipelines/spec-gen-sdk.yml

Update CustomCallingContext to add TeamsPhoneCallDetails (#34310)
  specification/communication/data-plane/CallAutomation/preview/2024-09-01-preview/communicationservicescallautomation.json
Due: eng/pipelines/spec-gen-sdk.yml

revert spec-gen-sdk version (#34380)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
