Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Generate returns EvaluatorVersion, align sources to data gen pattern
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluators/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix tspconfig to follow the pattern used in v1
  specification/cognitiveservices/Speech.Transcription/examples/2025-10-15/transcribe_transcription.json
  specification/cognitiveservices/Speech.Transcription/tspconfig.yaml
  specification/cognitiveservices/data-plane/Azure.Ai.Speech.Transcription/stable/2025-10-15/Transcription.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

address pr comments
  specification/hybridaks/HybridContainerService.Management/models.tsp
  specification/hybridaks/cspell.yaml
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2026-04-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Improve client docs for key crypto APIs
  specification/keyvault/data-plane/Keys/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert calico change
  specification/hybridaks/HybridContainerService.Management/models.tsp
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/preview/2026-04-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Removed the NotReadyForARMReview label
  .github/workflows/src/arm-auto-signoff/arm-auto-signoff-status.js
  .github/workflows/test/arm-auto-signoff/arm-auto-signoff-status.test.js
Due: none

add hybridaks to v1 suppression
  specification/hybridaks/HybridContainerService.Management/models.tsp
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

adding train_split property
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/src/data_generation_jobs/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

hero-scenarios: switch to pull_request_target for fork PR support
  .github/aw/actions-lock.json
  .github/workflows/hero-scenarios.lock.yml
  .github/workflows/hero-scenarios.md
Due: none

Add NoAuth to service-level auth, remove grade, convert tone/gender to enums for 2026-06-06
  specification/translation/data-plane/TextTranslation/main.tsp
  specification/translation/data-plane/TextTranslation/models-translate.tsp
  specification/translation/data-plane/TextTranslation/stable/2026-06-06/examples/Translate_MaximumSet_Gen.json
  specification/translation/data-plane/TextTranslation/stable/2026-06-06/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Swagger changes for SpotPlus
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineExamples/VirtualMachine_Create_WithSpotPlusPriority.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSpotPlusPriority.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSpotPlusPriorityFlex.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineExamples/VirtualMachine_Create_WithSpotPlusPriority.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSpotPlusPriority.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSpotPlusPriorityFlex.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename sources to EvaluatorGenerationJobSource, simplify RubricCriterion, rename sink to general quality
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Extract label selector out to its own model. (#40665)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/clustermeshprofile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/meshmember.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/selector.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Initial changes for fleet-2026-03-02-preview release (#40256)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/clustermeshprofile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/fleetmember.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/main.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/meshmember.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/FleetMembers_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: update type of lastAppliedMemberSelector on ClusterMeshProfileStatus (#41124)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/clustermeshprofile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-03-02-preview/ClusterMeshProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/examples/ClusterMeshProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-03-02-preview/fleets.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add Azure Kubernetes Fleet Manager API version 2026-05-01-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Dev aks fleet 2026 05 01 preview mcu failure tolerances (#41165)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/update/common.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/update/run.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fixed maxAllowedFailures type on stage / group status objects (#41423)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/update/run.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Scheduled Start Gate to 2026-05-01-preview (#41895)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/Gates_Get_ScheduledStart.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/Gates_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateRuns_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/gate.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/helpers.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/Gates_Get_ScheduledStart.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/Gates_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateRuns_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/update/common.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Target Fleet 2026-05-01-preview: Add support for external rollout via Staged Update Run and enhance PATCH for Managed Namespace (#41809)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/fleetnamespace.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/kubefleet/apis/placement/v1/types.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add an extra field absolute-start-time to Scheduled Start Properties (#41996)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/Gates_Get_ScheduledStart.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/Gates_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/gate.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/Gates_Get_ScheduledStart.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/Gates_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/fleets.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Adding memberSelector to UpdateGroup in dev-aks-fleet-2026-05-01-preview (#41988)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateRuns_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateRuns_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateRuns_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateRuns_Skip.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateRuns_Start.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateRuns_Stop.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateStrategies_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateStrategies_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-05-01-preview/UpdateStrategies_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateRuns_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateRuns_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateRuns_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateRuns_Skip.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateRuns_Start.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateRuns_Stop.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateStrategies_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateStrategies_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/examples/UpdateStrategies_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-05-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/update/common.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add suppressions.yaml in hybridaks
  specification/hybridaks/suppressions.yaml
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

edit suppressions.yaml
  specification/hybridaks/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add ts sdk
  specification/hybridaks/HybridContainerService.Management/tspconfig.yaml
  specification/hybridaks/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ts suppression
  specification/hybridaks/HybridContainerService.Management/tspconfig.yaml
  specification/hybridaks/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[package-lock.json] bump lodash (#42224)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[package.json] sort deps
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[.github/shared] npm update --before 2026-04-10
  .github/shared/package-lock.json
Due: none

[.github] npm update --before 2026-04-10
  .github/package-lock.json
Due: none

npm update --before 2026-04-10
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

update reason for v2 suppression
  specification/hybridaks/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[.github] override @actions/core and @actions/glob
  .github/package-lock.json
  .github/package.json
Due: none

[package.json] sort deps (#42285)
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Sync eng/common directory with azure-sdk-tools repository
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Due: eng/pipelines/typespec-validation-all.yml

address review: upgrade to actions/github-script@v9
  .github/aw/actions-lock.json
  .github/workflows/hero-scenarios.lock.yml
  .github/workflows/hero-scenarios.md
Due: none
