Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Add isolated checkout-only pipeline for saved SHA integration tests
  eng/pipelines/release-plan-sha-test.yml
  eng/scripts/Test-ReleasePlan-Sha.ps1
Due: eng/pipelines/typespec-validation-all.yml

Use authorized hosted pool for isolated SHA probe
  eng/pipelines/release-plan-sha-test.yml
Due: eng/pipelines/typespec-validation-all.yml

beta crud
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-projects.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Link readiness membership findings to organization People pages
  .github/workflows/src/contributor-readiness.ts
  .github/workflows/test/__snapshots__/contributor-readiness.test.ts.snap
  .github/workflows/test/contributor-readiness.test.ts
  eng/README.md
Due: eng/pipelines/typespec-validation-all.yml

Prefill organization member searches with the affected user
  .github/workflows/src/contributor-readiness.ts
  .github/workflows/test/__snapshots__/contributor-readiness.test.ts.snap
  .github/workflows/test/contributor-readiness.test.ts
  eng/README.md
Due: eng/pipelines/typespec-validation-all.yml

Preserve analyzer report links after approval (#46831)
  .github/workflows/src/set-status.ts
  .github/workflows/test/set-status.test.ts
Due: none

Link contributor readiness findings to organization members (#46837)
  .github/workflows/src/contributor-readiness.ts
  .github/workflows/test/__snapshots__/contributor-readiness.test.ts.snap
  .github/workflows/test/contributor-readiness.test.ts
  eng/README.md
Due: eng/pipelines/typespec-validation-all.yml

Gate Endpoint evaluator to preview and fix blob_uri decorator order
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Advance isolated SHA probe to its second snapshot
  eng/scripts/Test-ReleasePlan-Sha.ps1
Due: eng/pipelines/typespec-validation-all.yml

Limit contributor readiness to specification pull requests
  .github/workflows/contributor-readiness-notify.yaml
  .github/workflows/src/contributor-readiness.ts
  .github/workflows/test/contributor-readiness.test.ts
  eng/README.md
Due: eng/pipelines/typespec-validation-all.yml

Cover checkout-only SHA probe safety and classification
  eng/scripts/Tests/Release-Plan-Pipeline.Tests.ps1
Due: eng/pipelines/typespec-validation-all.yml

Suppress LintDiff LroLocationHeader for errorPolicies delete
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Preserve AMW cross-version properties
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/azuremonitorworkspace.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/typespec/metricsContainers/models.tsp
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/typespec/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Format ops-relocation-evaluators.tsp per tsp formatter
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-evaluators.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Address review: skip approval when plane not yet reconciled
  .github/workflows/src/package-name-approval/validate-approval.ts
  .github/workflows/test/package-name-approval/validate-approval.test.ts
Due: none

Apply tsp formatter to servicepatterns.tsp
  specification/ai-foundry/data-plane/Foundry/src/common/servicepatterns.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Document manual checkout-only SHA probe and limits
  eng/tools/release-plan/README.md
Due: eng/pipelines/typespec-validation-all.yml

Restore reviewed Formula SSH API contract
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/DevTestLabs/models.tsp
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/DevTestLabs/stable/2018-09-15/DTL.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Resolve AMW Swagger lint violations
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/preview/2026-09-03-preview/azuremonitorworkspace.json
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/readme.md
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/typespec/traceAssociations/traceAssociations.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore inherited Formula SSH API contract
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/DevTestLabs/models.tsp
  specification/devtestlabs/resource-manager/Microsoft.DevTestLab/DevTestLabs/stable/2018-09-15/DTL.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

adding comments instead of supressions
  specification/storage/data-plane/FileStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

retype openai and rename
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

rename avglatencyms to averagelatency
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

qualify candidate operations
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Flatten ErrorPolicyAssociation onto the inherited resource reference id
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/examples/2026-09-01-preview/Routes_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/examples/2026-09-01-preview/Routes_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/models.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/preview/2026-09-01-preview/examples/Routes_Create.json
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/preview/2026-09-01-preview/examples/Routes_Get.json
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/preview/2026-09-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Re-gate custom evaluator definitions (code/prompt/endpoint) to preview (#46830)
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/common/servicepatterns.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-evaluators.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-projects.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update parameter wiring
  eng/pipelines/templates/steps/set-sha-check.yml
Due: eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Re-gate custom evaluator definitions (code/prompt/endpoint) to preview (#46830)
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-evaluators.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-projects.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove temporary live SHA probe from production automation PR
  eng/pipelines/release-plan-sha-test.yml
  eng/scripts/Test-ReleasePlan-Sha.ps1
  eng/scripts/Tests/Release-Plan-Pipeline.Tests.ps1
  eng/tools/release-plan/README.md
Due: eng/pipelines/typespec-validation-all.yml

Correct AMW delete lint suppressions
  specification/monitoringservice/resource-manager/Microsoft.Monitor/Accounts/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Addressed comments
  specification/network/resource-manager/Microsoft.Network/Network/Network/ExpressRouteLagAuthorization.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteCircuitCreateOnExpressRouteLagWithAuthorizationKey.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagAuthorizationCreate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteCircuitCreateOnExpressRouteLagWithAuthorizationKey.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagAuthorizationCreate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/expressRoute.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Address review feedback on error policy descriptions
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/ErrorPolicy.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/models.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/preview/2026-09-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update parameter wiring (#44366)
  eng/pipelines/templates/steps/set-sha-check.yml
Due: eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Clarify that cacheTtlInSeconds takes a numeric value
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/models.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/Cdn/preview/2026-09-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Publish TypeSpec suppression job summary
  .github/workflows/test/workflows.test.ts
  .github/workflows/typespec-suppressions-code.yaml
Due: none

Add async account update examples
  specification/maps/resource-manager/Microsoft.Maps/Maps/examples/2026-12-01/UpdateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/Maps/examples/2026-12-01/UpdateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/Maps/examples/2026-12-01/UpdateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/Maps/examples/2026-12-01/UpdateAccountManagedIdentity.json
  specification/maps/resource-manager/Microsoft.Maps/Maps/stable/2026-12-01/examples/UpdateAccount.json
  specification/maps/resource-manager/Microsoft.Maps/Maps/stable/2026-12-01/examples/UpdateAccountEncryption.json
  specification/maps/resource-manager/Microsoft.Maps/Maps/stable/2026-12-01/examples/UpdateAccountGen2.json
  specification/maps/resource-manager/Microsoft.Maps/Maps/stable/2026-12-01/examples/UpdateAccountManagedIdentity.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Simplify release-plan automation and remove added tests
  eng/scripts/Tests/Release-Plan-Pipeline.Tests.ps1
  eng/tools/release-plan/README.md
  eng/tools/release-plan/src/generate-sdk.ts
  eng/tools/release-plan/src/release-plan.ts
  eng/tools/release-plan/src/spec-target.ts
  eng/tools/release-plan/src/typespec-project.ts
  eng/tools/release-plan/src/update-sdk-details.ts
  eng/tools/release-plan/test/generate-sdk-orchestration.test.ts
  eng/tools/release-plan/test/index.test.ts
  eng/tools/release-plan/test/release-plan.test.ts
  eng/tools/release-plan/test/spec-target.test.ts
  eng/tools/release-plan/test/test-helpers.ts
  eng/tools/release-plan/test/typespec-project.test.ts
  eng/tools/release-plan/test/update-sdk-details.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Fix stale Mgmt label misclassifying data-plane package-name approvers (#46801)
  .github/workflows/src/package-name-approval/post-results.ts
  .github/workflows/src/package-name-approval/validate-approval.ts
  .github/workflows/src/protected-labels/PROTECTED-LABELS.md
  .github/workflows/src/protected-labels/authorization.ts
  .github/workflows/src/protected-labels/check-label.ts
  .github/workflows/test/package-name-approval/post-results.test.ts
  .github/workflows/test/package-name-approval/validate-approval.test.ts
  .github/workflows/test/protected-labels/check-label.test.ts
Due: none

update
  specification/app/data-plane/ContainerApps/client.tsp
  specification/app/data-plane/ContainerApps/models/common.tsp
  specification/app/data-plane/ContainerApps/models/connections.tsp
  specification/app/data-plane/ContainerApps/models/credentials.tsp
  specification/app/data-plane/ContainerApps/models/diskimages.tsp
  specification/app/data-plane/ContainerApps/preview/2026-09-01-preview/containerappssandbox.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

addressed comments
  specification/network/resource-manager/Microsoft.Network/Network/Network/ExpressRouteLagAuthorization.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-03-01/ExpressRouteLagAuthorizationDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/examples/ExpressRouteLagAuthorizationDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-03-01/expressRoute.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
