Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Run tsp compile
  specification/ai-foundry/data-plane/Foundry/client.tsp
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/src/sdk-extensions-openai/main.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-projects-agents/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-projects-agents/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

new changes
  .github/workflows/src/arm-lease-validation/detect-new-resource-provider.js
  .github/workflows/src/summarize-checks/labelling.js
Due: none

Update Monitor code owners
  .github/CODEOWNERS
Due: none

Add customization class path to tspconfig.yaml
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update readme.md
  specification/web/resource-manager/Microsoft.Web/AppService/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

closed opt in enums. (#41017)
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents-containers/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/common/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

change in logic
  .github/workflows/arm-modeling-review.yaml
  .github/workflows/src/arm-lease-validation/detect-new-resource-types.js
Due: none

Add AutoProject
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/AUTOPROJECT-DESIGN.md
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/AutoProject.tsp
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/autoProjectModels.tsp
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/examples/2026-01-01-preview/AutoProjects_CreateOrUpdate.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/examples/2026-01-01-preview/AutoProjects_Delete.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/examples/2026-01-01-preview/AutoProjects_Get.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/examples/2026-01-01-preview/AutoProjects_ListByResourceGroup.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/examples/2026-01-01-preview/AutoProjects_ListBySubscription.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/examples/2026-01-01-preview/AutoProjects_Update.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/examples/2026-01-01-preview/AutoProjects_Validate.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/main.tsp
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/autoProject.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/examples/AutoProjects_CreateOrUpdate.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/examples/AutoProjects_Delete.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/examples/AutoProjects_Get.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/examples/AutoProjects_ListByResourceGroup.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/examples/AutoProjects_ListBySubscription.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/examples/AutoProjects_Update.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/preview/2026-01-01-preview/examples/AutoProjects_Validate.json
  specification/logic/resource-manager/Microsoft.Logic/AutoProject/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

KeyVault: Java SDK fix to include URIs and IP addresses fields, remove 7.6 pin (#40714)
  specification/keyvault/Security.KeyVault.Certificates/client.tsp
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update default tag
  specification/web/resource-manager/Microsoft.Web/AppService/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix after merge
  specification/ai-foundry/data-plane/Foundry/src/sdk-projects-agents/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Changes
  .github/workflows/src/arm-lease-validation/detect-new-resource-types.js
Due: none

fix
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/agents/routes.tsp
  specification/ai-foundry/data-plane/Foundry/src/common/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add encryptionInTransitRequired to 2026-06-01 FileShares examples
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/examples/2026-06-01/FileShares_CreateOrUpdate_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/examples/2026-06-01/FileShares_Get_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/examples/2026-06-01/FileShares_ListByParent_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/examples/2026-06-01/FileShares_ListBySubscription_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/examples/2026-06-01/FileShares_Update_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/stable/2026-06-01/examples/FileShares_CreateOrUpdate_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/stable/2026-06-01/examples/FileShares_Get_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/stable/2026-06-01/examples/FileShares_ListByParent_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/stable/2026-06-01/examples/FileShares_ListBySubscription_MaximumSet_Gen.json
  specification/fileshares/resource-manager/Microsoft.FileShares/FileShares/stable/2026-06-01/examples/FileShares_Update_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Delete specification/compute/resource-manager/Microsoft.Compute/DiskRP/preview/2026-03-04-preview/disk.json
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/preview/2026-03-04-preview/disk.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Delete specification/dummyservice/resource-manager/Microsoft.Dummy/preview/2026-03-04-preview/widget.json
  specification/dummyservice/resource-manager/Microsoft.Dummy/preview/2026-03-04-preview/widget.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Delete .github/arm-leases/domainservices/Microsoft.AAD/DomainServices/lease.yaml
  .github/arm-leases/domainservices/Microsoft.AAD/DomainServices/lease.yaml
Due: none

Delete .github/arm-leases/azureactivedirectory/Microsoft.Aadiam/AzureActiveDirectory/lease.yaml
  .github/arm-leases/azureactivedirectory/Microsoft.Aadiam/AzureActiveDirectory/lease.yaml
Due: none

Check new RT
  .github/workflows/src/arm-lease-validation/detect-new-resource-types.js
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/preview/2026-05-01-preview/disk.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove name customization
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

nit
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add SKU support (Free, Basic, Standard) to DeidService resource
  specification/healthdataaiservices/HealthDataAIServices.Management/client.tsp
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_Create_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_Get_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_ListBySubscription_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/examples/2024-09-20/DeidServices_Update_MaximumSet_Gen.json
  specification/healthdataaiservices/HealthDataAIServices.Management/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Mitigate Java SDK breaking changes for sqlvirtualmachine TypeSpec migration (#41006)
  specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/SqlVirtualMachine/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add setting the registry in the npmrc
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/reset-npmrc.yml
Due: eng/pipelines/typespec-validation-all.yml

Check for errors
  eng/common/pipelines/templates/steps/reset-npmrc.yml
Due: eng/pipelines/typespec-validation-all.yml

Blob fix container item "deleted" property name (#40991)
  specification/storage/Microsoft.BlobStorage/models.tsp
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2025-11-05/generated_blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-02-06/generated_blob.json
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-04-06/generated_blob.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

new RT
  specification/compute/resource-manager/Microsoft.Compute/DiskRP/preview/2026-05-01-preview/disk.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

override setMetadata
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

only rust
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add blob override for set metadata
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Sync eng/common directory with azure-sdk-tools for PR 14353 (#41022)
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/reset-npmrc.yml
Due: eng/pipelines/typespec-validation-all.yml
