Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Mark report download URL secret in 2026-09-30-preview
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/models/drill/drillRun.models.tsp
  specification/azureresiliencemanagement/resource-manager/Microsoft.AzureResilienceManagement/AzureResilienceManagement/preview/2026-09-30-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Address swagger review findings on AuthenticationPolicy
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/AuthenticationPolicy.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/authenticationPolicy.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Arm lease microsoft gcpconnector pr 45812 (#46228)
  .github/arm-leases/gcpconnector/Microsoft.GcpConnector/BigQueryDataset/lease.yaml
  .github/arm-leases/gcpconnector/Microsoft.GcpConnector/CloudFunction/lease.yaml
  .github/arm-leases/gcpconnector/Microsoft.GcpConnector/ComputeInstance/lease.yaml
  .github/arm-leases/gcpconnector/Microsoft.GcpConnector/ContainerClusters/lease.yaml
  .github/arm-leases/gcpconnector/Microsoft.GcpConnector/GcpConnector/lease.yaml
  .github/arm-leases/gcpconnector/Microsoft.GcpConnector/SQLAdminInstances/lease.yaml
  .github/arm-leases/gcpconnector/Microsoft.GcpConnector/StorageBucket/lease.yaml
Due: none

DeviceRegistry: fill arm-no-record suppression reasons (Section 4.1)
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/client.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/schemaRegistries.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Move Fleet namespace credential models
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/fleet.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/fleetnamespace.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/fleets.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix LintDiff and ModelValidation failures on AuthenticationPolicy 2026-01-01
  specification/network/resource-manager/Microsoft.Network/Network/Network/AuthenticationPolicy.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-01-01/AuthenticationPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-01-01/AuthenticationPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-01-01/AuthenticationPolicyListAll.json
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/authenticationPolicy.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/examples/AuthenticationPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/examples/AuthenticationPolicyDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/examples/AuthenticationPolicyListAll.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix recording identity PATCH schema
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/playwright/preview/2026-10-01-preview/playwright.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/playwright/typespec/models.tsp
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/playwright/typespec/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Retain HorizonDB pool Stop action
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/endpoints.tsp
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-10-01-preview/Pools_Stop.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/models.tsp
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/examples/Pools_Stop.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/preview/2026-10-01-preview/openapi.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename clientSecretUrl to clientSecretUri
  specification/network/resource-manager/Microsoft.Network/Network/Network/AuthenticationPolicy.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-01-01/AuthenticationPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-01-01/AuthenticationPolicyListAll.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/authenticationPolicy.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/examples/AuthenticationPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/examples/AuthenticationPolicyListAll.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Bump pipeline generator to 1.1.0-dev.20260909.1
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: eng/pipelines/typespec-validation-all.yml

Clarify FlexProfile API descriptions
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-09-01/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-09-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-09-01/examples/virtualMachineExamples/VirtualMachine_Create_WithFlexProfile.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename FleetIdentityBinding to IdentityBindingProfile
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-11-02-preview/FleetIdentityBindings_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-11-02-preview/IdentityBindingProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-11-02-preview/IdentityBindingProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-11-02-preview/IdentityBindingProfiles_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-11-02-preview/IdentityBindingProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/examples/2026-11-02-preview/IdentityBindingProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/identitybindingprofile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/main.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/examples/FleetIdentityBindings_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/examples/IdentityBindingProfiles_Apply.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/examples/IdentityBindingProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/examples/IdentityBindingProfiles_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/examples/IdentityBindingProfiles_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/examples/IdentityBindingProfiles_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-11-02-preview/fleets.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Suppress point GET lint for OR policy status
  specification/storage/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove stale HorizonDB 2026-09-01 examples
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-09-01/Backups_Get.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-09-01/Backups_List.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-09-01/Capabilities_List.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-09-01/ChangeDataCaptureCapabilities_CreateOrUpdate.json
  specification/horizondb/resource-manager/Microsoft.HorizonDb/HorizonDb/examples/2026-09-01/ChangeDataCaptureCapabilities_Delete.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rebuild evaluator diagnostics lifecycle
  specification/ai-foundry/cspell.yaml
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_CreateEvaluatorVersion_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_CreateOrUpdate_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_Delete_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_Get_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_ListLatestVersions_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_List_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_PublishVersion_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_UpdateEvaluatorVersion_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/common/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluation-suites/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluators/diagnostic-jobs-models.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/evaluators/routes.tsp
  specification/ai-foundry/data-plane/Foundry/src/openai/evaluations/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-projects.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-projects/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-projects/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-js-azure-ai-projects/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[RecoveryServicesBackup] Add vaulted Azure Files ILR browse APIs
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/RecoveryPointResource.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/client.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/examples/2026-10-30-preview/AzureStorage/Browse_RecoveryPoint.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/examples/2026-10-30-preview/AzureStorage/Provision_Ilr_Vaulted.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/models.tsp
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/preview/2026-10-30-preview/bms.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/preview/2026-10-30-preview/examples/AzureStorage/Browse_RecoveryPoint.json
  specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/RecoveryServicesBackup/preview/2026-10-30-preview/examples/AzureStorage/Provision_Ilr_Vaulted.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Metadata Policy to Storage 2026-09-01
  specification/storage/Storage.Management/MetadataPolicy.tsp
  specification/storage/Storage.Management/examples/2026-09-01/StorageAccountCreateOrUpdateMetadataPolicy.json
  specification/storage/Storage.Management/examples/2026-09-01/StorageAccountDeleteMetadataPolicy.json
  specification/storage/Storage.Management/examples/2026-09-01/StorageAccountGetMetadataPolicy.json
  specification/storage/Storage.Management/main.tsp
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/examples/StorageAccountCreateOrUpdateMetadataPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/examples/StorageAccountDeleteMetadataPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/examples/StorageAccountGetMetadataPolicy.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix evaluator list examples
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_ListVersions_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_List_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add hasskoo-spec-1789064419 SDK spec
  specification/hasskoo-spec-1789064419/resource-manager/readme.md
  specification/hasskoo-spec-1789064419/resource-manager/stable/2024-01-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update baseProfile comment
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-04-06-preview/Bulkactions.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-07-06-preview/Bulkactions.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-08-06-preview/Bulkactions.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove example tracking md
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/virtualMachineBulkOperations-examples.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update examples
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkCreate_PrefixMissingError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkDeallocate_VmNotFoundError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkDelete_VmNotFoundError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkHibernate_VmNotFoundError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkListOperationErrors_InvalidLookbackWindowError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkStart_ComprehensiveSuccess.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkStart_VmNotFoundError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkVdiFlexCreate_BaseProfileMissingError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-08-06-preview/Bulkactions.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-08-06-preview/examples/VirtualMachineBulkOperations_BulkDeallocate_VmNotFoundError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-08-06-preview/examples/VirtualMachineBulkOperations_BulkDelete_VmNotFoundError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-08-06-preview/examples/VirtualMachineBulkOperations_BulkHibernate_VmNotFoundError.json
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/preview/2026-08-06-preview/examples/VirtualMachineBulkOperations_BulkStart_VmNotFoundError.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove old example
  specification/compute/resource-manager/Microsoft.Compute/Bulkactions/examples/2026-08-06-preview/VirtualMachineBulkOperations_BulkDeallocate_ResourceNotInLocationError.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add hasskoo-spec-1789065501 spec
  specification/hasskoo-spec-1789065501/resource-manager/readme.md
  specification/hasskoo-spec-1789065501/resource-manager/stable/2024-01-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update versions
  specification/search/data-plane/Search/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add diagnostic job generation source
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Apply versions to namespace in client.tsp
  specification/search/data-plane/Search/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert clientSecret rename and suppress XMSSecretInResponse instead
  specification/network/resource-manager/Microsoft.Network/Network/Network/AuthenticationPolicy.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-01-01/AuthenticationPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2026-01-01/AuthenticationPolicyListAll.json
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/authenticationPolicy.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/examples/AuthenticationPolicyCreateOrUpdate.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2026-01-01/examples/AuthenticationPolicyListAll.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add hasskoo-spec-1789066507 spec
  specification/hasskoo-spec-1789066507/resource-manager/readme.md
  specification/hasskoo-spec-1789066507/resource-manager/stable/2024-01-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
