Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

added servicegroup
  .github/arm-leases/README.md
  .github/arm-leases/testservice1/Microsoft.TestRP1/testServicegroup/lease.yaml
  .github/workflows/src/validate-arm-leases.js
  .github/workflows/test/validate-arm-leases.test.js
Due: none

Used inspect and updated parameter type
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Remove cli from tspconfig
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[spec-model] Use MemoryCache to cache expensive properties on Swagger (#39661)
  .github/shared/src/memory-cache.js
  .github/shared/src/swagger.js
  .github/shared/test/memory-cache.test.js
Due: none

Updated remained cases to use inspect
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
  eng/tools/spec-gen-sdk-runner/src/utils.ts
Due: eng/pipelines/typespec-validation-all.yml

Reset tspconfig.yaml
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Whitespace change
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Replaced join by the inspect in logging
  eng/tools/spec-gen-sdk-runner/src/spec-helpers.ts
Due: eng/pipelines/typespec-validation-all.yml

Updated Examples
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-04-01-preview/Credentials_RevokeByResource.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-04-01-preview/Credentials_RevokeByResourceFailure.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-04-01-preview/Policies_RevokeIssuer.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-04-01-preview/Update_Credentials.json
  specification/deviceregistry/DeviceRegistry.Management/ns_credential.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-04-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-04-01-preview/examples/Credentials_RevokeByResource.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-04-01-preview/examples/Credentials_RevokeByResourceFailure.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-04-01-preview/examples/Policies_RevokeIssuer.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-04-01-preview/examples/Update_Credentials.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove client tsp
  specification/discovery/Discovery.Management/client.tsp
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Use CustomPatch for EdgeActions Service (#39517)
  specification/cdn/resource-manager/Microsoft.Cdn/EdgeActions/edgeactionsbasemodels.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/EdgeActions/main.tsp
  specification/cdn/resource-manager/Microsoft.Cdn/EdgeActions/preview/2025-09-01-preview/openapi.json
  specification/cdn/resource-manager/Microsoft.Cdn/EdgeActions/preview/2025-12-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[spec-gen-sdk-runner] Enabled eslint (#39568)
  .github/workflows/spec-gen-sdk-runner-test.yaml
  eng/tools/spec-gen-sdk-runner/eslint.config.js
  eng/tools/spec-gen-sdk-runner/package.json
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/spec-helpers.ts
  eng/tools/spec-gen-sdk-runner/src/types.ts
  eng/tools/spec-gen-sdk-runner/src/utils.ts
  eng/tools/spec-gen-sdk-runner/test/command-helpers.test.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
  eng/tools/spec-gen-sdk-runner/test/utils/utils.test.ts
  eng/tools/spec-gen-sdk-runner/vite.config.ts
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Update tspconfig
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert recent csharp client changes in Microsoft.ResourceConnector (#39655)
  specification/resourceconnector/resource-manager/Microsoft.ResourceConnector/ResourceConnector/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add newline
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore tspconfig and client
  specification/discovery/Discovery.Management/client.tsp
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Emit structured data for reporting purpose
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Readd generator options
  specification/discovery/Discovery.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[Purview] Customize Get operations for C# (#39659)
  specification/purview/data-plane/datamap/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update response
  specification/machinelearningservices/MachineLearningServices.Management/ComputeResource.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove TypeScript options from tspconfig.yaml and add suppressions.yaml for TypeSpec validation
  specification/hybridnetwork/HybridNetwork.Management/tspconfig.yaml
  specification/hybridnetwork/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add reasoning efforts and metadata
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/GeneratedSystemEvents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix typo in audio formats
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/GeneratedSystemEvents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

spell
  specification/ai/data-plane/VoiceLive/cspell.yml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add new API version for behavior change
  specification/quantum/Quantum.Workspace/common/versions.tsp
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Cancel.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Create.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Delete.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Get.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Update.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Providers_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Quotas_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/SessionsJobs_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_Close.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_Get.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_Open.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Storage_GetSasUri.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/TopLevelItems_List.json
  specification/quantum/Quantum.Workspace/operations/storage.tsp
  specification/quantum/data-plane/Microsoft.Quantum/preview/2024-10-01-preview/quantum.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2025-09-01-preview/quantum.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2025-12-01-preview/quantum.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Cancel.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Create.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Delete.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Get.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Update.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Providers_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Quotas_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/SessionsJobs_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_Close.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_Get.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_Open.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Storage_GetSasUri.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/TopLevelItems_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/quantum.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

lint
  specification/ai/data-plane/VoiceLive/items.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add newline at the end of suppressions.yaml for consistency
  specification/hybridnetwork/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add to readme
  specification/quantum/data-plane/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

lint
  specification/ai/data-plane/VoiceLive/cspell.yml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix version in examples
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Cancel.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Create.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Delete.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Get.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Jobs_Update.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Providers_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Quotas_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/SessionsJobs_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_Close.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_Get.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_List.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Sessions_Open.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/Storage_GetSasUri.json
  specification/quantum/Quantum.Workspace/examples/2026-01-15-preview/TopLevelItems_List.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/PrivateEndpointConnection.tsp
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/main.tsp
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateEndpointConnectionDelete.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateEndpointConnectionGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateEndpointConnectionList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateEndpointConnectionUpdate.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopePrivateLinkResourceGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopePrivateLinkResourceListGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopesCreate.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopesDelete.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopesGet.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopesList.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopesListByResourceGroup.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopesUpdate.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/examples/PrivateLinkScopesUpdateTagsOnly.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/preview/2024-11-01-preview/privateLinkScopes.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/privateLinkScopes/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update api versions in examples
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Cancel.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Create.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Delete.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Get.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Jobs_Update.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Providers_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Quotas_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/SessionsJobs_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_Close.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_Get.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_List.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Sessions_Open.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/Storage_GetSasUri.json
  specification/quantum/data-plane/Microsoft.Quantum/preview/2026-01-15-preview/examples/TopLevelItems_List.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix missing summary
  specification/communication/Communication.Management/CommunicationServiceResource.tsp
  specification/communication/Communication.Management/DomainResource.tsp
  specification/communication/Communication.Management/EmailServiceResource.tsp
  specification/communication/Communication.Management/SenderUsernameResource.tsp
  specification/communication/Communication.Management/SmtpUsernameResource.tsp
  specification/communication/Communication.Management/SuppressionListAddressResource.tsp
  specification/communication/Communication.Management/SuppressionListResource.tsp
  specification/communication/resource-manager/Microsoft.Communication/stable/2025-09-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Rust crate configuration to tspconfig.yaml (#39657)
  specification/contosowidgetmanager/Contoso.WidgetManager/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

session host PUT is just for 2026-01-01-preview
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/SessionHost.tsp
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2024-08-08-preview/SessionHosts_CreateOrUpdate.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2025-04-01-preview/SessionHosts_CreateOrUpdate.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2025-08-01-preview/SessionHosts_CreateOrUpdate.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2025-09-01-preview/SessionHosts_CreateOrUpdate.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2025-11-01-preview/SessionHosts_CreateOrUpdate.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2024-08-08-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2024-08-08-preview/examples/SessionHosts_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-04-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-04-01-preview/examples/SessionHosts_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-08-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-08-01-preview/examples/SessionHosts_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-09-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-09-01-preview/examples/SessionHosts_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-11-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2025-11-01-preview/examples/SessionHosts_Create.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Properly use identity for @alternateType
  specification/storage/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Only emit data for specific batch runs
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
