Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Restore connector creationTime in 2026-09-01 API
  specification/storage/Storage.Management/examples/2026-09-01/StorageConnectorCRUD/StorageConnectors_Create.json
  specification/storage/Storage.Management/examples/2026-09-01/StorageConnectorCRUD/StorageConnectors_Get.json
  specification/storage/Storage.Management/examples/2026-09-01/StorageConnectorCRUD/StorageConnectors_ListByStorageAccount.json
  specification/storage/Storage.Management/examples/2026-09-01/StorageConnectorCRUD/StorageConnectors_Update.json
  specification/storage/Storage.Management/models.tsp
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/examples/StorageConnectorCRUD/StorageConnectors_Create.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/examples/StorageConnectorCRUD/StorageConnectors_Get.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/examples/StorageConnectorCRUD/StorageConnectors_ListByStorageAccount.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/examples/StorageConnectorCRUD/StorageConnectors_Update.json
  specification/storage/resource-manager/Microsoft.Storage/stable/2026-09-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update stale auth comments to reflect synchronous guard
  .github/workflows/src/package-name-approval/validate-approval.ts
Due: none

fix(cognitiveservices): align adapter deployment PUT with backend LRO
  specification/cognitiveservices/CognitiveServices.Management/AdapterDeployment.tsp
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/CreateOrUpdateAdapterDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/CreateOrUpdateAdapterDeployment.json
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add RSA-OAEP-384 and RSA_PKCS_OAEP_384 to Key Vault Keys data-plane spec
  specification/keyvault/data-plane/Keys/client.tsp
  specification/keyvault/data-plane/Keys/models.tsp
  specification/keyvault/data-plane/Keys/preview/2026-05-01-preview/keys.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Consolidate engineering checks in the Eng workflow (#46597)
  .github/instructions/eng-tools.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/workflows/_reusable-eng-tools-test.yaml
  .github/workflows/eng.yml
  .github/workflows/github-test.yaml
  .github/workflows/lintdiff-test.yaml
  .github/workflows/oav-runner-tests.yaml
  .github/workflows/openapi-diff-runner-test.yaml
  .github/workflows/release-plan-test.yaml
  .github/workflows/sdk-suppressions-test.yaml
  .github/workflows/spec-gen-sdk-runner-test.yaml
  .github/workflows/summarize-impact-test.yaml
  .github/workflows/suppressions-test.yaml
  .github/workflows/test/workflows.test.ts
  .github/workflows/tsp-client-test.yaml
  .github/workflows/typespec-requirement-test.yaml
  .github/workflows/typespec-suppressions-test.yaml
  .github/workflows/typespec-validation-test.yaml
  eng/README.md
Due: eng/pipelines/typespec-validation-all.yml

Simplify rubric scoring configuration and unify dimensions
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Cancel superseded engineering checks and bound job runtimes
  .github/instructions/github-actions.instructions.md
  .github/workflows/eng.yml
  .github/workflows/format.yaml
  .github/workflows/github-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/test/workflows.test.ts
Due: none

Require client-sdk linter ruleset when client emitter options are present (#44277)
  .github/shared/test/examples.ts
  eng/tools/typespec-validation/src/rules/linter-ruleset.ts
  eng/tools/typespec-validation/test/linter-ruleset.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Allow ten seconds by default for engineering tests
  eng/README.md
  vitest.config.mts
Due: eng/pipelines/typespec-validation-all.yml

fix(cognitiveservices): correct C# SDK model name suffixes
  specification/cognitiveservices/CognitiveServices.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

TypeSpec for new ARM Foundry Cost Control APIs (#45681)
  specification/cognitiveservices/CognitiveServices.Management/CostControl.tsp
  specification/cognitiveservices/CognitiveServices.Management/client.tsp
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/CostControl/createOrUpdate.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/CostControl/delete.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/CostControl/get.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/CostControl/list.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/CostControl/update.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/GetAccount.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-09-15-preview/UpdateAccount.json
  specification/cognitiveservices/CognitiveServices.Management/main.tsp
  specification/cognitiveservices/CognitiveServices.Management/models.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/CostControl/createOrUpdate.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/CostControl/delete.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/CostControl/get.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/CostControl/list.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/CostControl/update.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/GetAccount.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-09-15-preview/examples/UpdateAccount.json
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove redundant timeout documentation and workflow assertions
  .github/instructions/github-actions.instructions.md
  .github/workflows/test/workflows.test.ts
  eng/README.md
Due: eng/pipelines/typespec-validation-all.yml

[SiteRecovery] Align cluster-switch disk input with SRS contract
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/SiteRecovery/models.tsp
  specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/SiteRecovery/stable/2026-11-01/service.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove dead in-repo data-plane reviewer assigner
  .github/workflows/data-plane-review-assignment.yaml
  .github/workflows/src/data-plane-review/assign-reviewers.ts
  .github/workflows/src/summarize-checks/labelling.ts
  .github/workflows/test/data-plane-review/assign-reviewers.test.ts
Due: none

Cancel superseded engineering checks and bound job runtimes (#46601)
  .github/workflows/eng.yml
  .github/workflows/format.yaml
  .github/workflows/github-test.yaml
  .github/workflows/lint.yaml
  vitest.config.mts
Due: none

fixes to match implementation
  specification/web/resource-manager/Microsoft.Web/AppService/EgressConfig.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/back-compatible.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/examples/2026-09-01/EgressConfig_Get.json
  specification/web/resource-manager/Microsoft.Web/AppService/examples/2026-09-01/SlotEgressConfig_Get.json
  specification/web/resource-manager/Microsoft.Web/AppService/readme.md
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2026-09-01/examples/EgressConfig_Get.json
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2026-09-01/examples/SlotEgressConfig_Get.json
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2026-09-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix fine-tuning TypeSpec validation and clean Python SDK packaging
  specification/ai-foundry/cspell.yaml
  specification/ai-foundry/data-plane/Foundry/src/common/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/common/servicepatterns.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/RECONCILIATION.md
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/loom-models.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/tspconfig.yaml
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove dead in-repo data-plane reviewer assigner (#46608)
  .github/workflows/data-plane-review-assignment.yaml
  .github/workflows/src/data-plane-review/assign-reviewers.ts
  .github/workflows/src/summarize-checks/labelling.ts
  .github/workflows/test/data-plane-review/assign-reviewers.test.ts
Due: none

Avoid full-tree Git cleanup between TypeSpec projects
  eng/README.md
  eng/scripts/TypeSpec-Validation.ps1
  eng/tools/typespec-validation/src/git-cleanup.ts
  eng/tools/typespec-validation/test/git-cleanup.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Cherry-pick missing commits from main (#46606)
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/tspconfig.yaml
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/voice-agents/openai-preview-models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Microsoft.NetworkCloud 2026-07-01 client customizations
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/NetworkCloud/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add VM application instance view GET
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/VMApplication.tsp
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/examples/2026-09-01/application/VMApplications_GetInstanceView.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/readme.md
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/stable/2026-09-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Address Quantum retirement review feedback
  specification/quantum/resource-manager/Microsoft.Quantum/Quantum/examples/2025-12-15-preview/Workspaces_Delete.json
  specification/quantum/resource-manager/Microsoft.Quantum/Quantum/preview/2025-12-15-preview/examples/Workspaces_Delete.json
  specification/quantum/resource-manager/Microsoft.Quantum/Quantum/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove some volume types
  specification/app/data-plane/ContainerApps/models/volumes.tsp
  specification/app/data-plane/ContainerApps/preview/2026-09-01-preview/containerappssandbox.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Sync data-plane-review-signoff approvers with team roster
  .github/protected-labels.yml
Due: none

Attestation (data-plane, 2025-06-01): model JWT date claims as unixTimestamp (DateTimeOffset), client customization cleanup (#45935)
  specification/attestation/data-plane/Attestation/client.tsp
  specification/attestation/data-plane/Attestation/models.tsp
  specification/attestation/data-plane/Attestation/readme.md
  specification/attestation/data-plane/Attestation/stable/2025-06-01/attestation.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix HybridCompute instance view validation
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/VMApplication.tsp
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/preview/2025-09-16-preview/openapi.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/preview/2026-02-12-preview/openapi.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/preview/2026-06-04-preview/openapi.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/preview/2026-06-16-preview/openapi.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/readme.md
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/stable/2026-07-15/openapi.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/stable/2026-09-01/openapi.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Limit rubric scoring to Boolean and Likert dimensions
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Suppress VM application provisioning state false positives
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Drop samvaity (already a global-approver) and tjprescott from signoff list
  .github/protected-labels.yml
Due: none

Refresh fine-tuning OpenAPI outputs and scope Python-only SDK validation
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Sync data-plane-review-signoff approvers with team roster (#46611)
  .github/protected-labels.yml
Due: none

Apply fine-tuning spelling vocabulary to generated OpenAPI
  specification/ai-foundry/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Keep agent-definition opt-in keys closed as requested in review
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/common/servicepatterns.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Reverting changes in SystemReadiness API
  specification/edgeoperator/resource-manager/Microsoft.EdgeOperator/SystemReadiness/suppressions.yaml
  specification/edgeoperator/resource-manager/Microsoft.EdgeOperator/SystemReadiness/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[Mission] Keep stable API as default
  specification/mission/resource-manager/Microsoft.Mission/Mission/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[Mission] Add generated preview OpenAPI
  specification/mission/resource-manager/Microsoft.Mission/Mission/preview/2026-05-01-preview/openapi.json
  specification/mission/resource-manager/Microsoft.Mission/Mission/preview/2026-07-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
