Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Update profile order
  specification/network/resource-manager/Microsoft.Network/stable/2025-05-01/firewallPolicy.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove list operations (listByResourceGroup and listByMigrationService) and their example files
  specification/datamigration/PostgresqlDataMigration.Management/PostgresqlRoutes.tsp
  specification/datamigration/PostgresqlDataMigration.Management/examples/2025-01-10/PostgresqlDatabaseMigrations_ListByMigrationService.json
  specification/datamigration/PostgresqlDataMigration.Management/examples/2025-01-10/PostgresqlMigrationServices_ListByResourceGroup.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-01-10/examples/PostgresqlDatabaseMigrations_ListByMigrationService.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-01-10/examples/PostgresqlMigrationServices_ListByResourceGroup.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-01-10/postgressqlDatamigration.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update tspconfig.yaml
  specification/onlineexperimentation/OnlineExperimentation.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

List changes
  specification/datamigration/PostgresqlDataMigration.Management/PostgresqlRoutes.tsp
  specification/datamigration/PostgresqlDataMigration.Management/examples/2025-01-10/PostgresqlDatabaseMigrations_ListByMigrationService.json
  specification/datamigration/PostgresqlDataMigration.Management/examples/2025-01-10/PostgresqlMigrationServices_ListByResourceGroup.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-01-10/examples/PostgresqlDatabaseMigrations_ListByMigrationService.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-01-10/examples/PostgresqlMigrationServices_ListByResourceGroup.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-01-10/postgressqlDatamigration.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

PEName removal
  specification/storagemover/StorageMover.Management/examples/2025-08-01/Connections_Get.json
  specification/storagemover/StorageMover.Management/models.tsp
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2025-08-01/examples/Connections_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2025-08-01/storagemover.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

List changes
  specification/datamigration/PostgresqlDataMigration.Management/examples/2025-01-10/PostgresqlDatabaseMigrations_ListByMigrationService.json
  specification/datamigration/resource-manager/Microsoft.DataMigration/stable/2025-01-10/examples/PostgresqlDatabaseMigrations_ListByMigrationService.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update profiles description
  specification/network/resource-manager/Microsoft.Network/stable/2025-05-01/firewallPolicy.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert PEName removal
  specification/storagemover/StorageMover.Management/examples/2025-08-01/Connections_Get.json
  specification/storagemover/StorageMover.Management/examples/2025-08-01/Connections_List.json
  specification/storagemover/StorageMover.Management/models.tsp
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2025-08-01/examples/Connections_Get.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2025-08-01/examples/Connections_List.json
  specification/storagemover/resource-manager/Microsoft.StorageMover/stable/2025-08-01/storagemover.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update GPU name pattern length from 63 to 85 (#26046)
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2024-11-01-preview/hci.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/private-preview/edgemachinegpu-pvt.tsp
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/private-preview/edgemachinegpujobs-pvt.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

User/indraneelpal/fix swagger for gpu (#26047)
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/preview/2024-11-01-preview/hci.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCI/private-preview/edgemachinegpu-pvt.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update tspcongig.yaml
  specification/help/resource-manager/Microsoft.Help/Help/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add 1 more suppression due to known issue
  specification/network/resource-manager/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added tag for 2026-01-15-preview in readme file
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Copy over pre-approved suuppresions.
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add agents and tools routes, examples, and suppressions.
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/cspell.yaml
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/AgentsBlock.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/AgentsList.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/AgentsRegister.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/AgentsStart.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/AgentsStop.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/AgentsUnBlock.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/AgentsUnregister.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/ToolsRegister.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/ToolsUnregister.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/examples/ToolsValidate.json
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Cleaned up obsolete content (#39225)
  documentation/onboard-dpg-in-sdkautomation/.net/README.md
  documentation/onboard-dpg-in-sdkautomation/Integrate-dpg-and-apiview-in-sdk-automation-pipeline.md
  documentation/onboard-dpg-in-sdkautomation/README.md
  documentation/onboard-dpg-in-sdkautomation/add-autorest-configuration-for-dataplane-sdk.md
  documentation/onboard-dpg-in-sdkautomation/imgs/example_generated_apiview.png
  documentation/onboard-dpg-in-sdkautomation/imgs/example_generated_sdk.png
  documentation/onboard-dpg-in-sdkautomation/imgs/integrate-dpg-and-apiview.png
  documentation/onboard-dpg-in-sdkautomation/imgs/workflow-service-team.png
  documentation/onboard-dpg-in-sdkautomation/java/README.md
  documentation/onboard-dpg-in-sdkautomation/js/README.md
  documentation/onboard-dpg-in-sdkautomation/python/README.md
  documentation/samplefiles-dp/samplefiles-dp-for-multi-client/README.md
  documentation/samplefiles-dp/samplefiles-dp-for-single-client/README.md
  documentation/samplefiles/ABOUT.md
  documentation/samplefiles/Microsoft.YourServiceName/stable/YYYY-MM-DD/scenarios/quickStart.yaml
  documentation/samplefiles/README.md
  documentation/samplefiles/readme.az.md
  documentation/samplefiles/readme.cli.md
  documentation/samplefiles/samplereadme.md
Due: none

New 2026-01-01 preview API versions for Disconnected Operations
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Artifact_ListByParent_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Artifact_ListDownloadUri_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Artifacts_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_Delete_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_ListByResourceGroup_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_ListBySubscription_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_ListDeploymentManifest_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_Update_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_Delete_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_ListByParent_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Images_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Images_ListAll_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Images_ListDownloadUri_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/main.tsp
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/models.tsp
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/disconnectedOperations.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Artifact_ListByParent_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Artifact_ListDownloadUri_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Artifacts_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_Delete_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_ListByResourceGroup_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_ListBySubscription_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_ListDeploymentManifest_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_Update_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_Delete_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_ListByParent_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Images_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Images_ListAll_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Images_ListDownloadUri_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated new api versions in examples
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Artifact_ListByParent_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Artifact_ListDownloadUri_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Artifacts_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_Delete_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_ListByResourceGroup_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_ListBySubscription_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_ListDeploymentManifest_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/DisconnectedOperations_Update_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_Delete_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/HardwareSettings_ListByParent_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Images_Get_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Images_ListAll_MaximumSet_Gen.json
  specification/edge/Microsoft.Edge.DisconnectedOperations.Management/examples/2026-01-01-preview/Images_ListDownloadUri_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updates examples in resource manager
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Artifact_ListByParent_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Artifact_ListDownloadUri_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Artifacts_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_Delete_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_ListByResourceGroup_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_ListBySubscription_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_ListDeploymentManifest_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/DisconnectedOperations_Update_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_CreateOrUpdate_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_Delete_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/HardwareSettings_ListByParent_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Images_Get_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Images_ListAll_MaximumSet_Gen.json
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/preview/2026-01-01-preview/examples/Images_ListDownloadUri_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated readme.md
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fixed minor issue in readme.md
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated default tag to newer api version
  specification/edge/resource-manager/Microsoft.Edge/disconnectedOperations/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[typespec-requirement] enable eslint
  eng/tools/typespec-requirement/eslint.config.js
  eng/tools/typespec-requirement/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

enable lint in WF
  .github/workflows/typespec-requirement-test.yaml
Due: none

[eslint] Enable debug category "eslint:linter" - Lists all files analyzed
  .github/package.json
  .github/shared/package.json
  eng/tools/lint-diff/package.json
  eng/tools/oav-runner/package.json
  eng/tools/suppressions/package.json
  eng/tools/typespec-validation/package.json
Due: eng/pipelines/typespec-validation-all.yml

[typespec-requirement] enable eslint (#39348)
  .github/workflows/typespec-requirement-test.yaml
  eng/tools/typespec-requirement/eslint.config.js
  eng/tools/typespec-requirement/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[eslint] Enable debug category "eslint:linter" (#39349)
  .github/package.json
  .github/shared/package.json
  eng/tools/lint-diff/package.json
  eng/tools/oav-runner/package.json
  eng/tools/suppressions/package.json
  eng/tools/typespec-validation/package.json
Due: eng/pipelines/typespec-validation-all.yml

[tsp-client-tests] enable eslint
  .github/workflows/tsp-client-test.yaml
  eng/tools/tsp-client-tests/eslint.config.js
  eng/tools/tsp-client-tests/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[tsp-client-tests] enable eslint (#39350)
  .github/workflows/tsp-client-test.yaml
  eng/tools/tsp-client-tests/eslint.config.js
  eng/tools/tsp-client-tests/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[summarize-impact] Enable eslint
  .github/workflows/summarize-impact-test.yaml
  eng/tools/summarize-impact/eslint.config.js
  eng/tools/summarize-impact/package.json
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[cli.ts] let -> const
  eng/tools/summarize-impact/src/cli.ts
Due: eng/pipelines/typespec-validation-all.yml

[impact.ts] import, inspect, parse as
  eng/tools/summarize-impact/src/impact.ts
Due: eng/pipelines/typespec-validation-all.yml

[impact.ts] forEach() -> for-of-await
  eng/tools/summarize-impact/src/impact.ts
Due: eng/pipelines/typespec-validation-all.yml

[impact.ts] unnecessary type assertion
  eng/tools/summarize-impact/src/impact.ts
Due: eng/pipelines/typespec-validation-all.yml

[diff-types.ts] any -> unknown
  eng/tools/summarize-impact/src/diff-types.ts
Due: eng/pipelines/typespec-validation-all.yml

[impact.ts] unused var, JSON.parse as, yaml.load as, any -> unknown
  eng/tools/summarize-impact/src/impact.ts
Due: eng/pipelines/typespec-validation-all.yml

[PRContext.ts] unnecessary async, unnecessary vars
  eng/tools/summarize-impact/src/PRContext.ts
Due: eng/pipelines/typespec-validation-all.yml
