Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

DPS device-plane: rename requestUpdates operation to requestSoftwareUpdates
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/TYPESPEC-MIGRATION.md
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/device/client.tsp
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/device/examples/2026-11-02-preview/DeviceUpdate_RequestSoftwareUpdates_MaximumSet_Gen.json
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/device/examples/2026-11-02-preview/DeviceUpdate_RequestSoftwareUpdates_MinimumSet_Gen.json
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/device/routes.tsp
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/preview/2026-11-02-preview/device.json
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/preview/2026-11-02-preview/examples/DeviceUpdate_RequestSoftwareUpdates_MaximumSet_Gen.json
  specification/deviceprovisioningservices/data-plane/DeviceProvisioningServices/preview/2026-11-02-preview/examples/DeviceUpdate_RequestSoftwareUpdates_MinimumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix for sql readme after file split
  specification/sql/resource-manager/Microsoft.Sql/SQL/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix spell check for "external Mu" in keys.json example file reference.
  specification/keyvault/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

ContentSafety: restore /provenance route prefix on ContentProvenanceClient
  specification/cognitiveservices/ContentSafety/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates to docs and new basemodelreference
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/customaimodel.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/modelsource.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-05-02-preview/aimanagers.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-08-02-preview/aimanagers.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Microsoft.Relationships: remove name pattern for 2026-03-01-preview
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/main.tsp
  specification/relationships/resource-manager/Microsoft.Relationships/Relationships/preview/2026-03-01-preview/relationships.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix readme
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Deleting openapi json file in new version
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2025-08-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove suppression that is not required.
  specification/keyvault/data-plane/Administration/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix examples
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-08-02-preview/CustomAIModels_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-08-02-preview/CustomAIModels_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/examples/2026-08-02-preview/CustomAIModels_List.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsv examples
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-08-02-preview/examples/CustomAIModels_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-08-02-preview/examples/CustomAIModels_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-08-02-preview/examples/CustomAIModels_List.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make the graders format-tolerant; keep the gate strict
  .github/skills/evals/data-plane-api-reviewer/README.md
  .github/skills/evals/data-plane-api-reviewer/vally/eval-lro-and-paging.yaml
  .github/skills/evals/data-plane-api-reviewer/vally/eval-true-negatives.yaml
  .github/skills/evals/data-plane-api-reviewer/vally/eval-versioning.yaml
  .github/skills/evals/data-plane-api-reviewer/vally/eval-visibility-and-secrets.yaml
  .github/skills/evals/run-evals.ps1
  .github/workflows/src/data-plane-review-alignment.js
Due: none

Convert external links to consolidated reference-style links
  documentation/openapi-authoring-automated-guidelines.md
Due: none

Replace British spellings with US forms across the changed files
  .github/skills/README.md
  .github/skills/azure-api-review/SKILL.md
  .github/skills/azure-api-review/references/data-plane-lro-and-paging.md
  .github/skills/azure-api-review/references/data-plane-report-format.md
  .github/skills/evals/data-plane-api-reviewer/README.md
  .github/skills/evals/data-plane-api-reviewer/fixtures/MANIFEST.md
  .github/skills/evals/data-plane-api-reviewer/vally/eval-true-negatives.yaml
  .github/skills/evals/data-plane-api-reviewer/vally/eval-visibility-and-secrets.yaml
  .github/skills/evals/run-evals.ps1
  .github/workflows/src/data-plane-review-alignment.js
Due: none

Scope the ARM boolean guidance; add two regression stimuli; record two process rules
  .github/skills/azure-api-review/references/data-plane-naming-and-docs.md
  .github/skills/azure-api-review/references/enum-best-practices.md
  .github/skills/evals/data-plane-api-reviewer/README.md
  .github/skills/evals/data-plane-api-reviewer/fixtures/MANIFEST.md
  .github/skills/evals/data-plane-api-reviewer/fixtures/typespec-data-plane/tn-error-prose-no-codes.tsp
  .github/skills/evals/data-plane-api-reviewer/fixtures/typespec-data-plane/tn-genuine-booleans.tsp
  .github/skills/evals/data-plane-api-reviewer/vally/eval-true-negatives.yaml
  .github/workflows/src/data-plane-review-alignment.js
Due: none

Adding TypeSpec config files from main for resolving TypeSpec validation
  eng/tools/typespec-suppressions/README.md
  eng/tools/typespec-suppressions/check-rules.json
  eng/tools/typespec-suppressions/cmd/typespec-suppressions.js
  eng/tools/typespec-suppressions/eslint.config.js
  eng/tools/typespec-suppressions/package.json
  eng/tools/typespec-suppressions/src/analyze.ts
  eng/tools/typespec-suppressions/src/annotations.ts
  eng/tools/typespec-suppressions/src/check-rules.ts
  eng/tools/typespec-suppressions/src/extract.ts
  eng/tools/typespec-suppressions/src/index.ts
  eng/tools/typespec-suppressions/src/path-utils.ts
  eng/tools/typespec-suppressions/src/report.ts
  eng/tools/typespec-suppressions/src/rule-metadata.ts
  eng/tools/typespec-suppressions/src/types.ts
  eng/tools/typespec-suppressions/test/analyze.e2e.test.ts
  eng/tools/typespec-suppressions/test/annotations.test.ts
  eng/tools/typespec-suppressions/test/check-rules.test.ts
  eng/tools/typespec-suppressions/test/extract.test.ts
  eng/tools/typespec-suppressions/test/report.test.ts
  eng/tools/typespec-suppressions/tsconfig.json
  eng/tools/typespec-suppressions/vitest.config.js
  eng/tools/typespec-validation/src/rules/client-tsp-import.ts
  eng/tools/typespec-validation/test/client-tsp-import.test.ts
  eng/tools/typespec-validation/test/run-rules.test.ts
Due: eng/pipelines/typespec-validation-all.yml

totalWeightSize addition
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/customaimodel.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aimanager/preview/2026-08-02-preview/aimanagers.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

docs: map ARM/SDK LintDiff rules to TypeSpec linter rules (#44507)
  documentation/openapi-authoring-automated-guidelines.md
Due: none

Device Update - move decorator into client to fix dotnet function name breaking (#45165)
  specification/deviceupdate/data-plane/duiothub/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Adding suppression previously approved in https://github.com/Azure/azure-rest-api-specs/pull/43092
  specification/sql/resource-manager/Microsoft.Sql/SQL/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path fix on suppression
  specification/sql/resource-manager/Microsoft.Sql/SQL/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove stale cloudhealth readme config and duplicate examples
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/AuthenticationSettings_CreateOrUpdate.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/AuthenticationSettings_Delete.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/AuthenticationSettings_Get.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/AuthenticationSettings_ListByHealthModel.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/DiscoveryRules_CreateOrUpdate.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/DiscoveryRules_Delete.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/DiscoveryRules_Get.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/DiscoveryRules_ListByHealthModel.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_AddDataAnnotation.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_CreateOrUpdate.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_Delete.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_Get.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_GetDataAnnotations.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_GetHistory.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_GetSignalHistory.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_GetSignalRecommendations.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_IngestHealthReport.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Entities_ListByHealthModel.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/HealthModels_Create.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/HealthModels_Delete.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/HealthModels_Get.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/HealthModels_ListByResourceGroup.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/HealthModels_ListBySubscription.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/HealthModels_Update.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Operations_List.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Relationships_CreateOrUpdate.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Relationships_Delete.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Relationships_Get.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/Relationships_ListByHealthModel.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/SignalDefinitions_CreateOrUpdate.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/SignalDefinitions_Delete.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/SignalDefinitions_Get.json
  specification/cloudhealth/CloudHealth.Management/examples/2026-09-01/SignalDefinitions_ListByHealthModel.json
  specification/cloudhealth/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add ARM lease for Microsoft.SecurityBasePlatform (BasePlatform) (#45122)
  .github/arm-leases/securitybaseplatform/Microsoft.SecurityBasePlatform/BasePlatform/lease.yaml
Due: none

fix: nested property override clobbering in diff-types
  eng/tools/typespec-breaking-change/src/diff-types.js
Due: eng/pipelines/typespec-validation-all.yml

fix: use node directly for tool invocation, add Phase A workflow
  .github/workflows/typespec-breaking-change-status.yaml
  .github/workflows/typespec-versioning-change-code.yaml
  .github/workflows/typespec-versioning-change-status.yaml
Due: none

fix: source location, markdown report, and PR comment
  .github/workflows/typespec-breaking-change-code.yaml
  eng/tools/typespec-breaking-change/src/diff-types.js
  eng/tools/typespec-breaking-change/src/reporter-markdown.js
Due: eng/pipelines/typespec-validation-all.yml

fix: accumulate results across multiple spec folders
  .github/workflows/typespec-breaking-change-code.yaml
Due: none

fix: auto-inject breaking-change library during compilation
  eng/tools/typespec-breaking-change/src/compile.js
Due: eng/pipelines/typespec-validation-all.yml

fix: rename report sections to 'Unsuppressed/New Suppressed Breaking Changes'
  eng/tools/typespec-breaking-change/src/reporter-markdown.js
Due: eng/pipelines/typespec-validation-all.yml

fix: markdown reporter dedup, source links, kind doc links
  eng/tools/typespec-breaking-change/src/cli.js
  eng/tools/typespec-breaking-change/src/reporter-markdown.js
Due: eng/pipelines/typespec-validation-all.yml

fix: type-identity dedup, source links, library auto-injection
  eng/tools/typespec-breaking-change/src/orchestrator.js
  eng/tools/typespec-breaking-change/src/reporter-markdown.js
Due: eng/pipelines/typespec-validation-all.yml

fix: source tracing and dedup for ARM visibility-filtered models
  eng/tools/typespec-breaking-change/src/cli.js
  eng/tools/typespec-breaking-change/src/diff-types.js
  eng/tools/typespec-breaking-change/src/orchestrator.js
  eng/tools/typespec-breaking-change/src/origin.js
  eng/tools/typespec-breaking-change/src/reporter-markdown.js
Due: eng/pipelines/typespec-validation-all.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
