Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Move tsp-client step to regenerate stage
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/typespec-validation-all.yml

open as draft logic and fix emitter version
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/typespec-validation-all.yml

Enable generate-metadata: true for @azure-tools/typespec-ts (needed until SDK repo is updated)
  specification/onlineexperimentation/Azure.Analytics.OnlineExperimentation/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Fix profile name error
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2025-01-01-preview/afdx.json
Due: eng/pipelines/spec-gen-sdk.yml

Sync eng/common directory with azure-sdk-tools for PR 10314 (#33961)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/typespec-validation-all.yml

Prettier check
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2025-01-01-preview/afdx.json
Due: eng/pipelines/spec-gen-sdk.yml

resolve failing checks for getSaasInfoApi
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/NewRelic.json
Due: eng/pipelines/spec-gen-sdk.yml

Add autorest-canonical package
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Changing the GUID in the ManagedIdentity ResourceId
  specification/loadtestservice/LoadTestService.Management/models.tsp
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/loadtestservice.json
Due: eng/pipelines/spec-gen-sdk.yml

make list threads internal
  specification/ai/Azure.AI.Projects/agents/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Sync eng/common directory with azure-sdk-tools repository
  eng/common/testproxy/dotnet-devcert.pfx
Due: eng/pipelines/typespec-validation-all.yml

resolve failing checks for saasinfo def
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/NewRelic.json
Due: eng/pipelines/spec-gen-sdk.yml

Changing the GUID in the ManagedIdentity ResourceId (#33998)
  specification/loadtestservice/LoadTestService.Management/models.tsp
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2023-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/preview/2024-12-01-preview/loadtestservice.json
  specification/loadtestservice/resource-manager/Microsoft.LoadTestService/stable/2022-12-01/loadtestservice.json
Due: eng/pipelines/spec-gen-sdk.yml

fix eval result route
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

fix asset credential routes
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

resolve failing checks for saasinfo
  specification/newrelic/resource-manager/NewRelic.Observability/preview/2025-04-01-preview/examples/GetSaaSInfo.json
Due: eng/pipelines/spec-gen-sdk.yml

[1FDP] Add operationId (#33963)
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/Azure.AI.Projects/evaluations/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

Fixing evaluation result path
  specification/ai/Azure.AI.Projects/evaluation-results/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

Remove 2025-03-01-preview from spec files
  specification/devcenter/DevCenter/DevBox/models.tsp
  specification/devcenter/DevCenter/DevBox/routes.tsp
  specification/devcenter/DevCenter/main.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Update readme as well
  specification/devcenter/data-plane/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Run tsp format
  specification/devcenter/DevCenter/DevBox/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Use route separators instead of action
  specification/ai/Azure.AI.Projects/connections/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/2025-05-01/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/latest/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

Quality gates
  specification/ai/Azure.AI.Projects/connections/models.tsp
  specification/ai/Azure.AI.Projects/connections/routes.tsp
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml

Add 206 response to search sdk
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/searchindex.json
Due: eng/pipelines/spec-gen-sdk.yml

Merge last minute changes
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/KnowledgeRetrieval.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceCreateIndex.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceCreateKnowledgeAgent.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceCreateOrUpdateIndex.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceCreateOrUpdateKnowledgeAgent.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceDeleteKnowledgeAgent.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceGetDataSource.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceGetIndex.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceGetKnowledgeAgent.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceListDataSources.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceListIndexes.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceListKnowledgeAgents.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/examples/SearchServiceResync.json
  specification/search/data-plane/Azure.Search/preview/2025-05-01-preview/searchservice.json
Due: eng/pipelines/spec-gen-sdk.yml

chore: disable saving dotnet gen. metadata
  specification/communication/Communication.Messages/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Add check avocado-status
  .github/workflows/arm-auto-signoff.yaml
  .github/workflows/avocado-code.yml
  .github/workflows/avocado-status.yml
  .github/workflows/src/avocado-status.js
Due: none

disable prepare pipelines for net CI jobs
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/typespec-validation-all.yml

fix triggers
  .github/workflows/avocado-status.yml
Due: none

escape name
  .github/workflows/avocado-status.yml
Due: none

undo changes to readme
  specification/devcenter/data-plane/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Add connection operations with credentials (#33929)
  specification/ai/Azure.AI.Projects/connections/models.tsp
  specification/ai/Azure.AI.Projects/connections/routes.tsp
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/Azure.AI.Projects/main.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/2025-05-01/azure-ai-projects-1dp.json
  specification/ai/data-plane/Azure.AI.Projects/stable/latest/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

Set status
  .github/workflows/avocado-status.yml
  .github/workflows/src/avocado-status.js
Due: none

added one fs url
  specification/dell/Dell.Storage.Management/LiftrBase.Storage/main.tsp
  specification/dell/Dell.Storage.Management/examples/2025-03-21-preview/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/Dell.Storage.json
  specification/dell/resource-manager/Dell.Storage/preview/2025-03-21-preview/examples/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
Due: eng/pipelines/spec-gen-sdk.yml
