Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: 242bfd6027c22fab048166dc671df712f2a2d200
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Changing file to use ComputeRP.json
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Update suppression
  specification/storagediscovery/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Remove MAC from pwsh tools template
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Due: eng/pipelines/typespec-validation-all.yml

Add missing quote
  specification/storagediscovery/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

change to "createOrUpdate" -> "createOrReplace"
  specification/applink/AppLink.Management/applink.tsp
  specification/applink/AppLink.Management/applinkmember.tsp
  specification/applink/AppLink.Management/examples/2025-08-01-preview/AppLinkReleaseChannelProfiles_ListByLocation.json
  specification/applink/resource-manager/Microsoft.AppLink/preview/2025-08-01-preview/examples/AppLinkReleaseChannelProfiles_ListByLocation.json
  specification/applink/resource-manager/Microsoft.AppLink/preview/2025-08-01-preview/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

Update tspconfig.yaml
  specification/keyvault/Security.KeyVault.SecurityDomain/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Added status workflow for breaking change check (#35542)
  .github/shared/package.json
  .github/shared/src/breaking-change.js
  .github/workflows/_reusable-set-check-status.yml
  .github/workflows/breaking-change-code.yaml
  .github/workflows/breaking-change-status.yaml
  .github/workflows/src/set-status.js
  .github/workflows/test/set-status.test.js
  eng/tools/openapi-diff-runner/src/detect-breaking-change.ts
  eng/tools/openapi-diff-runner/src/types/breaking-change.ts
  eng/tools/openapi-diff-runner/src/utils/breaking-change-config.ts
  eng/tools/openapi-diff-runner/src/utils/oad-message-processor.ts
  eng/tools/openapi-diff-runner/test/utils/oad-message-processor.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Update apimcaches.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2024-05-01/apimcaches.json
Due: eng/pipelines/spec-gen-sdk.yml

Fixed examples
  specification/applink/AppLink.Management/examples/2025-08-01-preview/AppLinkMembers_CreateOrReplace.json
  specification/applink/AppLink.Management/examples/2025-08-01-preview/AppLinks_CreateOrReplace.json
Due: eng/pipelines/spec-gen-sdk.yml

test
  specification/confidentialledger/data-plane/Microsoft.ConfidentialLedger/preview/2024-12-09-preview/confidentialledger.json
Due: eng/pipelines/spec-gen-sdk.yml

Remove MAC from pwsh tools template (#35569)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Due: eng/pipelines/typespec-validation-all.yml

Fixed examples
  specification/applink/resource-manager/Microsoft.AppLink/preview/2025-08-01-preview/examples/AppLinkMembers_CreateOrReplace.json
  specification/applink/resource-manager/Microsoft.AppLink/preview/2025-08-01-preview/examples/AppLinks_CreateOrReplace.json
  specification/applink/resource-manager/Microsoft.AppLink/preview/2025-08-01-preview/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

update path
  specification/storagediscovery/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Re-run checks
  specification/keyvault/Security.KeyVault.SecurityDomain/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Changed stable api to add Kata runtime.
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-05-01/examples/AgentPoolCreate_KataVmIsolation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-05-01/examples/ManagedClusterCreate_KataVmIsolation.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2025-05-01/managedClusters.json
Due: eng/pipelines/spec-gen-sdk.yml

Well set up to copy the logic of the comment renderer and required label rules
  .github/workflows/src/comment.js
  .github/workflows/src/summarize-checks.js
  .github/workflows/test/summarize-checks.test.js
Due: none

Test change to fixture readme
  eng/tools/lint-diff/test/fixtures/correlateRuns/before/specification/service1/resource-manager/readme.md
Due: eng/pipelines/typespec-validation-all.yml

update
  specification/maintenance/Maintenance.Management/ApplyUpdate.tsp
  specification/maintenance/Maintenance.Management/ConfigurationAssignment.tsp
  specification/maintenance/Maintenance.Management/MaintenanceConfiguration.tsp
  specification/maintenance/Maintenance.Management/back-compatible.tsp
  specification/maintenance/Maintenance.Management/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

invalid yaml
  eng/tools/lint-diff/test/fixtures/correlateRuns/before/specification/service1/resource-manager/readme.md
Due: eng/pipelines/typespec-validation-all.yml

change yaml
  eng/tools/lint-diff/test/fixtures/correlateRuns/before/specification/service1/resource-manager/readme.md
Due: eng/pipelines/typespec-validation-all.yml

add new readme
  eng/tools/lint-diff/test/fixtures/correlateRuns/before/specification/service2/resource-manager/readme.md
Due: eng/pipelines/typespec-validation-all.yml

[Avocado] Limit includePaths to root "specification" folder
  .github/workflows/avocado-code.yml
Due: none

update
  specification/notificationhubs/Notificationhubs.Management/NamespaceResource.tsp
  specification/notificationhubs/Notificationhubs.Management/NotificationHubResource.tsp
  specification/notificationhubs/Notificationhubs.Management/PrivateEndpointConnectionResource.tsp
  specification/notificationhubs/Notificationhubs.Management/PrivateLinkResource.tsp
  specification/notificationhubs/Notificationhubs.Management/SharedAccessAuthorizationRuleResource.tsp
  specification/notificationhubs/Notificationhubs.Management/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

test change to actual spec
  specification/contosowidgetmanager/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

update
  specification/privatedns/PrivateDNS.Management/PrivateZone.tsp
  specification/privatedns/PrivateDNS.Management/back-compatible.tsp
Due: eng/pipelines/spec-gen-sdk.yml

[Avocado] Exclude test fixtures
  .github/workflows/avocado-code.yml
Due: none

update
  specification/recoveryservices/Recoveryservices.Management/PrivateLinkResource.tsp
  specification/recoveryservices/Recoveryservices.Management/Vault.tsp
  specification/recoveryservices/Recoveryservices.Management/VaultExtendedInfoResource.tsp
  specification/recoveryservices/Recoveryservices.Management/back-compatible.tsp
  specification/recoveryservices/Recoveryservices.Management/routes.tsp
  specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2025-02-01/openapi.json
Due: eng/pipelines/spec-gen-sdk.yml

Exclude .github and eng, add inline comments
  .github/workflows/avocado-code.yml
Due: none

remove comments
  .github/workflows/avocado-code.yml
Due: none

escape dot in regex
  .github/workflows/avocado-code.yml
Due: none

revert wf changes
  .github/workflows/avocado-code.yml
Due: none

invalid yaml
  specification/contosowidgetmanager/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Update copilot instructions for SDK workflow
  .github/copilot-instructions.md
  .github/prompts/create-release-plan.prompt.md
  .github/prompts/typespec-to-sdk.prompt.md
  .github/prompts/verify-namespace-approval.prompt.md
  .vscode/mcp.json
Due: none

Update PureStorage package names in tspconfig.yaml
  specification/purestorage/PureStorage.Block.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

fix 2 api versions
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/CreateOrUpdateStaticSiteAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/CreateOrUpdateStaticSiteBuildAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/CreateOrUpdateStaticSiteBuildFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/CreateOrUpdateStaticSiteCustomDomain.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/CreateOrUpdateStaticSiteFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetSitePrivateEndpointConnectionList.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSiteBuild.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSiteBuilds.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSiteCustomDomain.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/GetStaticSiteCustomDomains.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/ListStaticSiteBuildFunctions.json
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/ListStaticSiteFunctions.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/CreateOrUpdateStaticSiteAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/CreateOrUpdateStaticSiteBuildAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/CreateOrUpdateStaticSiteBuildFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/CreateOrUpdateStaticSiteCustomDomain.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/CreateOrUpdateStaticSiteFunctionAppSettings.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/GetSitePrivateEndpointConnection.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/GetSitePrivateEndpointConnectionList.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/GetStaticSiteBuild.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/GetStaticSiteBuilds.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/GetStaticSiteCustomDomain.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/GetStaticSiteCustomDomains.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/ListStaticSiteBuildFunctions.json
  specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/examples/ListStaticSiteFunctions.json
Due: eng/pipelines/spec-gen-sdk.yml

fix
  specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/examples/CreateOrUpdateStaticSiteFunctionAppSettings.json
Due: eng/pipelines/spec-gen-sdk.yml

Update suppression according to format
  specification/storagediscovery/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
