Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Compute 2026-04-01: add capacityReservationType to VMSS VM instance view (#44682)
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/examples/2026-04-01/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Get_InstanceViewWithCapacityReservationType.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/ComputeRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Get_InstanceViewWithCapacityReservationType.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fomrat tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-extensions-openai/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Another foramt
  specification/ai-foundry/data-plane/Foundry/src/tools/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Microsoft 365 publish API to Foundry data-plane reference
  specification/ai-foundry/data-plane/Foundry/main.tsp
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents-microsoft365/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/agents-microsoft365/routes.tsp
  specification/ai-foundry/data-plane/Foundry/tag-definitions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

format
  specification/ai-foundry/data-plane/Foundry/src/toolboxes/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/tools/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Regenerate Microsoft.Relationships swagger from TypeSpec for 2026-03-01-preview
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/ContainsRelationships_ListByResourceGroup.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/ContainsRelationships_ListBySubscription.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/DependencyOfRelationships_CreateOrUpdate.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/DependencyOfRelationships_Delete.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/DependencyOfRelationships_Get.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/DependencyOfRelationships_ListByParent.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/Operations_List_MaximumSet_Gen.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/ServiceGroupMemberRelationships_CreateOrUpdate.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/ServiceGroupMemberRelationships_Delete.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/ServiceGroupMemberRelationships_Get.json
  specification/relationships/Relationships.Management/examples/2026-03-01-preview/ServiceGroupMemberRelationships_ListByParent.json
  specification/relationships/Relationships.Management/main.tsp
  specification/relationships/resource-manager/Microsoft.Relationships/preview/2023-09-01-preview/examples/DependencyOfRelationships_Delete.json
  specification/relationships/resource-manager/Microsoft.Relationships/preview/2023-09-01-preview/examples/DependencyOfRelationships_Get.json
  specification/relationships/resource-manager/Microsoft.Relationships/preview/2023-09-01-preview/relationships.json
  specification/relationships/resource-manager/Microsoft.Relationships/preview/2026-03-01-preview/relationships.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Minimize readme.md to register 2026-03-01-preview; drop autorest language readmes
  specification/relationships/resource-manager/readme.az.md
  specification/relationships/resource-manager/readme.cli.md
  specification/relationships/resource-manager/readme.csharp.md
  specification/relationships/resource-manager/readme.go.md
  specification/relationships/resource-manager/readme.md
  specification/relationships/resource-manager/readme.python.md
  specification/relationships/resource-manager/readme.typescript.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix scheduledEvents TypeSpec project folder name
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/examples/.gitkeep
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/main.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/stable/2026-06-01/scheduledEvents.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Suppress Swagger Avocado MISSING_APIS_IN_DEFAULT_TAG for retired operations
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix scheduledEvents TypeSpec validation
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/AgentPool.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/AgentPoolUpgradeProfile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/GuardrailsAvailableVersion.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/JWTAuthenticator.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/ManagedClusterUpgradeProfile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/SafeguardsAvailableVersion.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/TrustedAccessRoleBinding.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add scheduledEvents TypeSpec validation metadata
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/examples/2026-06-01/.gitkeep
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add price limit routing config typespc
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add typespec for Respones api as well
  specification/ai-foundry/data-plane/Foundry/src/openai-responses/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsp compile with new main
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2026-02-06-preview/azuredatatransfer.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Register AKS scheduled events readme
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/AgentPool.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/AgentPoolUpgradeProfile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/GuardrailsAvailableVersion.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/JWTAuthenticator.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/ManagedClusterUpgradeProfile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/SafeguardsAvailableVersion.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/TrustedAccessRoleBinding.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/examples/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/aksscheduledevents/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename vmHardwareProfile to hardwareProfile (data-plane)
  specification/batch/data-plane/Batch/models.tsp
  specification/batch/data-plane/Batch/stable/2026-08-01/BatchService.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename vmHardwareProfile to hardwareProfile (mgmt)
  specification/batch/resource-manager/Microsoft.Batch/Batch/models.tsp
  specification/batch/resource-manager/Microsoft.Batch/Batch/stable/2026-08-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert sync from azure-sdk-tools PR 16412
  .github/skills/azsdk-common-eval-authoring-skill/SKILL.md
  .github/skills/azsdk-common-eval-authoring-skill/evals/eval.yaml
  .github/skills/azsdk-common-eval-authoring-tool/SKILL.md
  .github/skills/azsdk-common-eval-authoring-tool/evals/eval.yaml
  .github/skills/azsdk-common-eval-authoring-workflow/SKILL.md
  .github/skills/azsdk-common-eval-authoring-workflow/evals/eval.yaml
  eng/common/knowledge/eval-authoring/README.md
  eng/common/pipelines/skill-eval.yml
Due: eng/pipelines/typespec-validation-all.yml

update c# names for container registry 2026-03-01-preview release
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/Registry/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

MSI 2026-04-30: Add TypeSpec definitions
  specification/msi/resource-manager/Microsoft.ManagedIdentity/ManagedIdentity/main.tsp
  specification/msi/resource-manager/Microsoft.ManagedIdentity/ManagedIdentity/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsp format
  specification/azuredatatransfer/AzureDataTransfer.Management/Connection.tsp
  specification/azuredatatransfer/AzureDataTransfer.Management/Flow.tsp
  specification/azuredatatransfer/AzureDataTransfer.Management/Pipeline.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

tsp format
  specification/azuredatatransfer/AzureDataTransfer.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add definition for ClaimResource and UnclaimResource for DiskRP API version 2026_07_02 (#44517)
  specification/compute/cspell.yaml
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/Disk.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/back-compatible.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/examples/2026-07-02/diskExamples/Disk_ClaimResource.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/examples/2026-07-02/diskExamples/Disk_UnclaimResource.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeDisk/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-07-02/DiskRP.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-07-02/examples/diskExamples/Disk_ClaimResource.json
  specification/compute/resource-manager/Microsoft.Compute/Compute/stable/2026-07-02/examples/diskExamples/Disk_UnclaimResource.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

typespec changes for OTLP and CI AMP GA
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/CommonModels.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert sync from azure-sdk-tools PR 16412 (#44962)
  .github/skills/azsdk-common-eval-authoring-skill/SKILL.md
  .github/skills/azsdk-common-eval-authoring-skill/evals/eval.yaml
  .github/skills/azsdk-common-eval-authoring-tool/SKILL.md
  .github/skills/azsdk-common-eval-authoring-tool/evals/eval.yaml
  .github/skills/azsdk-common-eval-authoring-workflow/SKILL.md
  .github/skills/azsdk-common-eval-authoring-workflow/evals/eval.yaml
  eng/common/knowledge/eval-authoring/README.md
  eng/common/pipelines/skill-eval.yml
Due: eng/pipelines/typespec-validation-all.yml

Add @finalOperation(KnowledgeBases.get) to createOrUpdate LRO
  specification/discovery/Discovery.Bookshelf/_knowledgeBase.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add soft eviction fields to KubeletConfig in 2026-06-02-preview
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/AgentPoolModels.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/examples/2026-06-02-preview/AgentPoolsCreate_CustomNodeConfig.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-06-02-preview/examples/AgentPoolsCreate_CustomNodeConfig.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-06-02-preview/managedClusters.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated the response code for the Service Gateway API and added a new SKU for the Load Balancer. (#44745)
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/ServiceGateway.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-09-01/ServiceGatewayFullUpdateAddressLocationsRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-09-01/ServiceGatewayPartialUpdateAddressLocationsRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-09-01/ServiceGatewayUpdateServicesRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2018-10-01/vmssNetwork.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-05-01/serviceGateway.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/serviceGateway.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/ServiceGatewayFullUpdateAddressLocationsRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/ServiceGatewayPartialUpdateAddressLocationsRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/ServiceGatewayUpdateServicesRequest.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/serviceGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Regenerate AKS swagger for OTLP and CI AMP GA typespec changes
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-06-02-preview/managedClusters.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/stable/2026-06-01/managedClusters.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

kube selector groups (#44865)
  specification/network/resource-manager/Microsoft.Network/Network/Network/FirewallPolicyKubeSelectorGroup.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-09-01/FirewallPolicyKubeSelectorGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-09-01/FirewallPolicyKubeSelectorGroupGet.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-09-01/FirewallPolicyKubeSelectorGroupList.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/examples/2025-09-01/FirewallPolicyKubeSelectorGroupPut.json
  specification/network/resource-manager/Microsoft.Network/Network/Network/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/FirewallPolicyKubeSelectorGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/FirewallPolicyKubeSelectorGroupGet.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/FirewallPolicyKubeSelectorGroupList.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/examples/FirewallPolicyKubeSelectorGroupPut.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-09-01/firewallPolicy.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add evals
  .github/skills/azure-ps-design-review/SKILL.md
  .github/skills/azure-ps-design-review/evals/eval.yaml
  .github/skills/azure-ps-design-review/evals/workflow.eval.yaml
Due: none

Device update - duiothub Work around scoped clientLocation duplicate-name validation (#44948)
  specification/deviceupdate/data-plane/duiothub/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Web: clarify maximumInstanceCount is max on-demand instances per function group
  specification/web/resource-manager/Microsoft.Web/AppService/models.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-03-01-preview/openapi.json
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2025-03-01/openapi.json
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2025-05-01/openapi.json
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2026-03-15/openapi.json
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2026-07-15/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

feat: rename namespace approval to package name approval
  .github/package-name-format-rules.yml
  .github/protected-labels.yml
  .github/workflows/package-name-approval-code.yaml
  .github/workflows/package-name-approval-status.yaml
  .github/workflows/package-name-approval-validation.yaml
  .github/workflows/src/namespace-approval/NAMESPACE-REVIEW-PROCESS.md
  .github/workflows/src/namespace-approval/PACKAGE-NAME-REVIEW-PROCESS.md
  .github/workflows/src/namespace-approval/approvers.js
  .github/workflows/src/namespace-approval/detect-namespaces.js
  .github/workflows/src/namespace-approval/post-results.js
  .github/workflows/src/namespace-approval/status-check.js
  .github/workflows/src/namespace-approval/validate-approval.js
  .github/workflows/src/namespace-approval/validate-format.js
  .github/workflows/src/protected-labels/PROTECTED-LABELS.md
  .github/workflows/src/summarize-checks/labelling.js
  .github/workflows/src/summarize-checks/summarize-checks.js
  .github/workflows/test/namespace-approval/detect-namespaces.test.js
  .github/workflows/test/namespace-approval/post-results.test.js
  .github/workflows/test/namespace-approval/status-check.test.js
  .github/workflows/test/namespace-approval/validate-approval.test.js
  .github/workflows/test/protected-labels/check-label.test.js
Due: none

Fix lint errors: remove unused variables and fix prettier formatting
  .github/workflows/src/namespace-approval/PACKAGE-NAME-REVIEW-PROCESS.md
  .github/workflows/test/namespace-approval/detect-namespaces.test.js
Due: none

Add TypeSpec linting rule reference links to suppressions section
  .github/workflows/src/summarize-checks/typespec-suppressions-summary.js
Due: none

Fix formatting
  .github/skills/azure-ps-design-review/evals/workflow.eval.yaml
Due: none

JS SDK customizations
  specification/translation/data-plane/DocumentTranslation/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update TypeSpec suppression feedback link to aka.ms/tsp-suppress/feedback
  .github/workflows/src/summarize-checks/typespec-suppressions-summary.js
  .github/workflows/test/summarize-checks/summarize-checks.test.js
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
