Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

updates
  specification/domainregistration/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2024-11-01/AppServiceCertificateOrders.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert to origninal outputs
  specification/ai/Azure.AI.Agents/runs/routes.tsp
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/2025-05-01/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/v1/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Correct api version for the api calling
  specification/profiler/data-plane/Microsoft.DiagnosticServices/preview/2025-01-07-preview/openapi.json
  specification/profiler/ts-insights/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update package names
  specification/profiler/ts-insights/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

added instructions for sdk local workflow
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

fix case
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Added missing comma
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Added routing step to choose workflow
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Replace 'tspconfigPath' by the literal file name
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Added goal and action to some steps properly
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Specified mcp tool name explicitly
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Added back step to choose sdk generation approach
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

Append the server declaration
  specification/profiler/data-plane/Microsoft.DiagnosticServices/preview/2025-01-07-preview/openapi.json
  specification/profiler/ts-insights/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove ambiguous
  specification/profiler/ts-insights/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "revert to origninal outputs"
  specification/ai/Azure.AI.Agents/runs/routes.tsp
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/2025-05-01/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/stable/v1/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Changes
  specification/storage/Microsoft.BlobStorage/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

create 2025-09-01 preview api spec
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/examples/Operations_List.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/examples/Settings_CreateOrUpdate.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/examples/Settings_Delete.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/examples/Settings_Get.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/examples/Settings_Update.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/examples/Settings_Update_NullStatus.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/examples/Settings_Update_NullStatusField.json
  specification/portalservices/resource-manager/Microsoft.PortalServices/settings/preview/2025-09-01-preview/settings.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update readme
  specification/portalservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

make tool outputs structured in preview version
  specification/ai/Azure.AI.Agents/examples/2025-05-15-preview/Runs_SubmitToolOutputsToRun_MaximumSet_Gen.json
  specification/ai/Azure.AI.Agents/runs/routes.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/examples/Runs_SubmitToolOutputsToRun_MaximumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/portalservices/TenantSettings.Management/examples/2025-09-01-preview/Operations_List.json
  specification/portalservices/TenantSettings.Management/examples/2025-09-01-preview/Settings_CreateOrUpdate.json
  specification/portalservices/TenantSettings.Management/examples/2025-09-01-preview/Settings_Delete.json
  specification/portalservices/TenantSettings.Management/examples/2025-09-01-preview/Settings_Get.json
  specification/portalservices/TenantSettings.Management/examples/2025-09-01-preview/Settings_Update.json
  specification/portalservices/TenantSettings.Management/examples/2025-09-01-preview/Settings_Update_NullStatus.json
  specification/portalservices/TenantSettings.Management/examples/2025-09-01-preview/Settings_Update_NullStatusField.json
  specification/portalservices/TenantSettings.Management/main.tsp
  specification/portalservices/TenantSettings.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

test
  specification/azurestackhci/AzureStackHCI.StackHCIVM.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2024-11-01/SiteCertificates.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/certificateregistration/resource-manager/Microsoft.CertificateRegistration/CertificateRegistration/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated tier value for GEN2 SKU
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/examples/CreateOrReplace_IoTHub_With_DeviceRegistry.json
  specification/iothub/resource-manager/Microsoft.Devices/preview/2025-08-01-preview/iothub.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

restructure project post merge
  specification/translation/data-plane/TextTranslation/examples/2025-05-01-preview/GetSupportedLanguages_MaximumSet_Gen.json
  specification/translation/data-plane/TextTranslation/examples/2025-05-01-preview/GetSupportedLanguages_MinimumSet_Gen.json
  specification/translation/data-plane/TextTranslation/examples/2025-05-01-preview/Translate_MaximumSet_Gen.json
  specification/translation/data-plane/TextTranslation/examples/2025-05-01-preview/Translate_MinimumSet_Gen.json
  specification/translation/data-plane/TextTranslation/examples/2025-05-01-preview/Transliterate_MaximumSet_Gen.json
  specification/translation/data-plane/TextTranslation/examples/2025-05-01-preview/Transliterate_MinimumSet_Gen.json
  specification/translation/data-plane/TextTranslation/preview/2025-05-01-preview/examples/GetSupportedLanguages_MaximumSet_Gen.json
  specification/translation/data-plane/TextTranslation/preview/2025-05-01-preview/examples/GetSupportedLanguages_MinimumSet_Gen.json
  specification/translation/data-plane/TextTranslation/preview/2025-05-01-preview/examples/Translate_MaximumSet_Gen.json
  specification/translation/data-plane/TextTranslation/preview/2025-05-01-preview/examples/Translate_MinimumSet_Gen.json
  specification/translation/data-plane/TextTranslation/preview/2025-05-01-preview/examples/Transliterate_MaximumSet_Gen.json
  specification/translation/data-plane/TextTranslation/preview/2025-05-01-preview/examples/Transliterate_MinimumSet_Gen.json
  specification/translation/data-plane/TextTranslation/preview/2025-05-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/azurestackhci/AzureStackHCI.StackHCIVM.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update flattenproperties for dotnet sdk generation
  specification/azurestackhci/AzureStackHCI.StackHCIVM.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/azurestackhci/AzureStackHCI.StackHCIVM.Management/main.tsp
  specification/azurestackhci/AzureStackHCI.StackHCIVM.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix model
  specification/ai/Azure.AI.Projects/insights/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-10-15-preview/azure-ai-projects.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add suppressions
  specification/keyvault/data-plane/readme.md
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

update
  specification/portalservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

more updates
  specification/ai/data-plane/VoiceLive/client.tsp
  specification/ai/data-plane/VoiceLive/custom.tsp
  specification/ai/data-plane/VoiceLive/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/shared/src/doc-preview.js, .github/shared/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
