Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: Validate_All_Specs
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
  ...

Cognitive Services 2023-10-01-preview
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/DeleteRaiBlocklist.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/DeleteRaiBlocklistItem.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/DeleteRaiPolicy.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/GetRaiBlocklist.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/GetRaiBlocklistItem.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/GetRaiPolicy.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/ListBlocklistItems.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/ListBlocklists.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/ListRaiContentFilters.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/ListRaiPolicies.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/PutRaiBlocklist.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/PutRaiBlocklistItem.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2023-10-01-preview/examples/PutRaiPolicy.json
Due: none

don't add per machine group nodeimage for now as we'll enforce using the same
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-08-02-preview/examples/AgentPoolsCreate_Flex.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2023-08-02-preview/managedClusters.json
Due: none

Adds an optional object property `customerDataStorage` to the `Microsoft.Chaos/experiments` resource-type
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/CreateUpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/GetExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentsInAResourceGroup.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/ListExperimentsInASubscription.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/examples/UpdateExperiment.json
  specification/chaos/resource-manager/Microsoft.Chaos/preview/2023-10-27-preview/types/experiments.json
Due: none

Fix "OperationsApiSchemaUsesCommonTypes" LinDiff error
  specification/connectedcache/resource-manager/Microsoft.ConnectedCache/preview/2023-05-01-preview/ConnectedCache.json
Due: none

update to v5
  specification/communication/resource-manager/Microsoft.Communication/preview/2023-06-01-preview/SuppressionLists.json
Due: none

Reverting the changes related to OperationsList as it caused lot many other tools to fail
  specification/connectedcache/resource-manager/Microsoft.ConnectedCache/preview/2023-05-01-preview/ConnectedCache.json
Due: none

update directive on the open api spec
  specification/chaos/resource-manager/readme.md
Due: none

Fixing formatting issue
  specification/connectedcache/resource-manager/Microsoft.ConnectedCache/preview/2023-05-01-preview/ConnectedCache.json
Due: none

Update ConnectedCache.json
  specification/connectedcache/resource-manager/Microsoft.ConnectedCache/preview/2023-05-01-preview/ConnectedCache.json
Due: none

reverting previous changes related to OperationsList
  specification/connectedcache/resource-manager/Microsoft.ConnectedCache/preview/2023-05-01-preview/ConnectedCache.json
Due: none

Updates readme
  specification/hybridcompute/resource-manager/readme.md
Due: none

Fixing build errors
  specification/eventgrid/Azure.Messaging.EventGrid/examples/2023-06-01-preview/ack.json
  specification/eventgrid/Azure.Messaging.EventGrid/examples/2023-06-01-preview/reject.json
  specification/eventgrid/Azure.Messaging.EventGrid/examples/2023-06-01-preview/release.json
  specification/eventgrid/Azure.Messaging.EventGrid/examples/2023-10-01-preview/ack.json
  specification/eventgrid/Azure.Messaging.EventGrid/examples/2023-10-01-preview/reject.json
  specification/eventgrid/Azure.Messaging.EventGrid/examples/2023-10-01-preview/release.json
  specification/eventgrid/Azure.Messaging.EventGrid/examples/2023-10-01-preview/renewlock.json
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/examples/ack.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/examples/reject.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-06-01-preview/examples/release.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-10-01-preview/EventGrid.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-10-01-preview/examples/ack.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-10-01-preview/examples/reject.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-10-01-preview/examples/release.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/preview/2023-10-01-preview/examples/renewlock.json
Due: none

Read config
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

Code cleanup
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

Fix ruleset name and output
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

add run commands
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_Update.json
Due: none

Fixing build issue
  specification/eventgrid/data-plane/readme.md
Due: none

Update departureTime for traffic
  specification/maps/data-plane/Route/preview/2023-10-01-preview/route.json
Due: none

Fixed examples for gateway load balancer
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithOneBackendPool.json
  specification/network/resource-manager/Microsoft.Network/stable/2023-06-01/examples/LoadBalancerCreateGatewayLoadBalancerProviderWithTwoBackendPool.json
Due: .azure-pipelines/network-validation.yml

fix file path
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/HybridCompute.json
Due: none

remove 200 status code
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_Delete.json
Due: none

update examples
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_CreateOrUpdate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_Delete.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_List.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2023-10-03-preview/examples/runCommand/RunCommands_Update.json
Due: none

Enable linter rules
  specification/networkanalytics/NetworkAnalytics.Management/tspconfig.yaml
Due: none

Replace string with utcDateTime
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
Due: none

Assume folders containing only client.tsp are data-plane
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

[networkanalytics] Enable linter ruleset (#26060)
  specification/networkanalytics/NetworkAnalytics.Management/main.tsp
  specification/networkanalytics/NetworkAnalytics.Management/tspconfig.yaml
Due: none

Improve logging
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

Run LinterRuleset before Compile
  eng/tools/TypeSpecValidation/src/index.ts
Due: eng/pipelines/typespec-validation-all.yml

Rename parse to yamlParse
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

Relax rpFolder matching
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

Improve comment
  eng/tools/TypeSpecValidation/src/rules/linter-ruleset.ts
Due: eng/pipelines/typespec-validation-all.yml

[eventgrid] Align tspconfig.yaml with convention
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Due: none

Change namespace from EventGrid to Microsoft.EventGrid
  specification/eventgrid/Azure.Messaging.EventGrid/main.tsp
Due: none

Fix filename
  specification/eventgrid/Azure.Messaging.EventGrid/tspconfig.yaml
Due: none

Updates readme
  specification/postgresql/resource-manager/readme.md
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng
