Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:

trigger: none
pr:
  branches:
    include:
      - network-*
  paths:
    include:
    - specification/network/*

pool:
  vmImage: vs2017-win2016

steps:
  - powershell: |
      & "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  - powershell: |
      & "npm" install autorest -g
    displayName: Install autorest

eng/pipelines/typespec-validation-all.yml:

trigger:
  branches:
    include:
    - main
    - typespec-next

pr:
  branches:
    include:
    - main
    - typespec-next
  paths:
    include:
    - .gitattributes
    - .prettierrc.json
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng
    - specification/common-types

resources:
  pipelines:
  - pipeline: typespec
    source: typespec - Publish
    project: internal
    trigger:
      branches:
        include:
        - main
  - pipeline: typespec-azure
    source: typespec-azure - Publish
    project: internal
    trigger:
      branches:
        include:
        - main

jobs:
- job:

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mariner-2.0-gen2
        OsVmImage: mariner-2.0-gen2
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - template: /eng/pipelines/templates/steps/npm-install.yml

  - pwsh: |
      $(Build.SourcesDirectory)/eng/scripts/TypeSpec-Validation.ps1 -CheckAll -GitClean -Verbose
    displayName: Validate All Specs
    ignoreLASTEXITCODE: true

eng/pipelines/typespec-validation-ci.yml:

trigger:
  branches:
    include:
    - main
    - typespec-next

pr:
  branches:
    include:
    - main
    - typespec-next
  paths:
    include:
    - package-lock.json
    - package.json
    - tsconfig.json
    - eng/tools/TypeSpecValidation

jobs:
- job: Test_TypeSpec_Validation

  strategy:
    matrix:
      Linux:
        Pool: azsdk-pool-mms-ubuntu-2204-general
        OsVmImage: ubuntu-22.04
      Windows:
        Pool: azsdk-pool-mms-win-2022-general
        OsVmImage: windows-2022

  pool:
    name: $(Pool)
    vmImage: $(OSVmImage)

  steps:
  - template: /eng/pipelines/templates/steps/npm-install.yml

  - script: npm test
    displayName: Test TypeSpecValidation Tool
    workingDirectory: $(Build.SourcesDirectory)/eng/tools/TypeSpecValidation

Remove the required type for additionalProperties, just keep them true
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/DatabaseAdvisors.json
Due: none

Update description of destination IP address
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/privateLinkService.json
Due: .azure-pipelines/network-validation.yml

privateEndpointVNetPolicies should not be read-only
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml

Copy 2023-09-01-preview as the base api version for 2024-09-01-preview
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithTelemetryAndExperimentation.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/RegionalCheckNameNotAvailable.json
Due: none

Update 2024-09-01-preview
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithTelemetryAndExperimentation.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresResetSasTokens.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresSasTokenGeneration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/RegionalCheckNameNotAvailable.json
Due: none

Add 2024-09-01-preview by copying 2023-09-01-preview
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresCreateWithTelemetryAndExperimentation.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/examples/RegionalCheckNameNotAvailable.json
Due: none

Revert "add storageOriginalVectors for hnsw storage optimization"
  specification/search/data-plane/Azure.Search/preview/2024-09-01-preview/searchservice.json
Due: none

Prettier
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2024-09-01-preview/appconfiguration.json
Due: none

Update readme
  specification/appconfiguration/resource-manager/readme.md
Due: none

Copy 2023-03-01
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/scenarios/basic.yaml
Due: none

Update 2024-05-01
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/appconfiguration.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/CheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/CheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreate.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithDataPlaneProxy.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresCreateWithLocalAuthDisabled.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDelete.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeleteKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeletePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresDeleteReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetKeyValue.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetPrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetReplica.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresGetSnapshot.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListByResourceGroup.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListKeys.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListPrivateEndpointConnections.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresListReplicas.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresRegenerateKey.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdateDisableLocalAuth.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdatePrivateEndpointConnection.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/ConfigurationStoresUpdateWithIdentity.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/DeletedConfigurationStoresPurge.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/OperationsList.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/PrivateLinkResourceGet.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/PrivateLinkResourcesListByConfigurationStore.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/RegionalCheckNameAvailable.json
  specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2024-05-01/examples/RegionalCheckNameNotAvailable.json
  specification/appconfiguration/resource-manager/readme.md
Due: none

Revert change to PrivateLinkService
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/privateLinkService.json
Due: .azure-pipelines/network-validation.yml

Trailing whitespace
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/privateLinkService.json
Due: .azure-pipelines/network-validation.yml

Use pr build
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Adding typespec package for liftr base
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Renaming for C# u15
  specification/cognitiveservices/Language.AnalyzeText/main.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/common.models.tsp
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzetext.json
Due: none

remove AgentVersions and HybridIdentityMetadata
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/HybridCompute.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/AgentVersion_GetLatest.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/AgentVersions_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/HybridIdentityMetadata_Get.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/HybridIdentityMetadata_ListByVirtualMachines.json
  specification/hybridcompute/resource-manager/readme.md
Due: none

Renaming for C# u16
  specification/cognitiveservices/Language.AnalyzeText/tspconfig.yaml
Due: none

Fix specs
  specification/devcenter/DevCenter/DevBox/models.tsp
  specification/devcenter/DevCenter/DevBox/routes.tsp
  specification/loadtestservice/LoadTestService.Management/models.tsp
  specification/loadtestservice/LoadTestService.Management/routes.tsp
Due: none

Renaming for C# u17
  specification/cognitiveservices/Language.AnalyzeText/client.tsp
  specification/cognitiveservices/Language.AnalyzeText/main.tsp
  specification/cognitiveservices/Language.AnalyzeText/models/common.models.tsp
  specification/cognitiveservices/data-plane/Language/preview/2023-11-15-preview/analyzetext.json
  specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext.json
  specification/cognitiveservices/data-plane/Language/stable/2023-04-01/analyzetext.json
Due: none

fix pe and pls api specs
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/CheckPrivateLinkServiceVisibility.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointCreateForManualApproval.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointCreateWithASG.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointDnsZoneGroupDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointGetForManualApproval.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointGetWithASG.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateEndpointListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceCreate.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceDelete.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceDeletePrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceGetPrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceList.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceListAll.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceListPrivateEndpointConnection.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
Due: .azure-pipelines/network-validation.yml

restore license profiles
  specification/hybridcompute/resource-manager/readme.md
Due: none

remove network config
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/networkConfiguration/NetworkConfigurationsCreate.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/networkConfiguration/NetworkConfigurationsGet.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/networkConfiguration/NetworkConfigurationsPatch.json
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/examples/networkConfiguration/NetworkConfigurationsUpdate.json
  specification/hybridcompute/resource-manager/readme.md
Due: none

update readme
  specification/hybridcompute/resource-manager/readme.md
Due: none

Regenerates with new docs
  specification/healthdataaiservices/data-plane/HealthDataAIServices.Deidentification/preview/2024-07-12-preview/HealthDataAIServices.Deidentification.json
Due: none

prettier fix
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/examples/WafPolicyGet.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/webapplicationfirewall.json
Due: .azure-pipelines/network-validation.yml

remove network config
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2024-07-10/privateLinkScopes.json
Due: none

Add secret attribute for download and upload vhd url.
  specification/azurestackhci/AzureStackHCI.StackHCIVM.Management/models.tsp
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCIVM/preview/2024-05-01-preview/stackhcivm.json
Due: none

Adjust for lintdiff
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/stable/2024-07-01/networkcloud.json
Due: none

tc: applying changes based on comments
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/registries.json
Due: none

Show full output if exit code is nonzero
  eng/tools/tsp-client-tests/test/tsp-client.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Update Jobs.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Jobs.json
Due: none

Update Jobs_Resume.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Jobs_Resume.json
Due: none

Update Jobs_Suspend.json
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/examples/Jobs_Suspend.json
Due: none

Revert change to virtual network
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml

add azure-asyncoperation
  specification/app/resource-manager/Microsoft.App/preview/2024-08-02-preview/Jobs.json
Due: none

Fix
  specification/network/resource-manager/Microsoft.Network/stable/2024-03-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml

Adjust for lintdiff errors found for forthcoming 2024-07-01 version
  specification/networkcloud/resource-manager/Microsoft.NetworkCloud/preview/2024-06-01-preview/networkcloud.json
Due: none

Make union types required in 2024 service version
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.DataBox/DataBox.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.EventGrid/EventGrid.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.HealthcareApis/HealthcareApis.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Media/MediaServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Storage/Storage.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Web/Web.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/main.tsp
Due: none
