Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Move cspell exception to specification/commerce/cspell.yaml
  cspell.yaml
  specification/commerce/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add kubelet kubeReserved and hard eviction schema
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-03-02-preview/examples/AgentPoolsCreate_CustomNodeConfig.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-03-02-preview/managedClusters.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Address ARM review feedback on ManagedComputeDeployment
  specification/cognitiveservices/CognitiveServices.Management/ManagedComputeDeployment.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/ListManagedComputeUsages.json
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Sync kubelet descriptions from private swagger
  specification/containerservice/resource-manager/Microsoft.ContainerService/aks/preview/2026-03-02-preview/managedClusters.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

bump postcss from 8.5.9 to 8.5.10
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

misc fixes
  specification/storage/data-plane/DataLakeStorage/client.tsp
  specification/storage/data-plane/DataLakeStorage/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

spelling
  specification/storage/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix ModelValidation errors in ManagedCompute examples
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/CreateOrUpdateManagedComputeDeployment.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/DeleteManagedComputeDeployment.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/GetManagedComputeDeployment.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/ListManagedComputeDeployments.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/UpdateManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/CreateOrUpdateManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/DeleteManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/GetManagedComputeDeployment.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/ListManagedComputeDeployments.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/ListManagedComputeUsages.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/UpdateManagedComputeDeployment.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Avoid false positives
  .github/agents/arm-api-reviewer.agent.md
  .github/instructions/armapi-review.instructions.md
  .github/instructions/openapi-review.instructions.md
  .github/instructions/typespec-review.instructions.md
Due: none

add back pattern
  specification/storage/data-plane/DataLakeStorage/models.tsp
  specification/storage/data-plane/DataLakeStorage/stable/2026-06-06/generated_datalake.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix TypeSpec formatting in ManagedComputeDeployment.tsp
  specification/cognitiveservices/CognitiveServices.Management/ManagedComputeDeployment.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add evaluateDeploymentPolicies action for 2026-03-15-preview
  specification/cognitiveservices/CognitiveServices.Management/Account.tsp
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/EvaluateDeploymentPolicies.json
  specification/cognitiveservices/CognitiveServices.Management/models.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/EvaluateDeploymentPolicies.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/ListManagedComputeUsages.json
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

bump postcss from 8.5.9 to 8.5.10 (#42656)
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Address false positives
  .github/instructions/armapi-review.instructions.md
  .github/instructions/openapi-review.instructions.md
Due: none

Testing out a work-around for GO SDK errors
  specification/computeschedule/ComputeSchedule.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updating DomainServices spec to remove duplicate operation (#42593)
  specification/domainservices/resource-manager/Microsoft.AAD/DomainServices/examples/2025-10-01-preview/OuContainerOperations_List.json
  specification/domainservices/resource-manager/Microsoft.AAD/DomainServices/main.tsp
  specification/domainservices/resource-manager/Microsoft.AAD/DomainServices/preview/2025-10-01-preview/openapi.json
  specification/domainservices/resource-manager/Microsoft.AAD/DomainServices/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

1) Adding @@apiVersion to explicitly inform TCGC this property is not an API version parameter.
  specification/computeschedule/ComputeSchedule.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

1) Correcting the spelling mistake for TCGC and renamed to Go SDK Validation
  specification/computeschedule/ComputeSchedule.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove references to em dashes in review instructions and evaluation report format
  .github/agents/arm-api-reviewer.agent.md
  .github/instructions/armapi-review.instructions.md
  .github/instructions/openapi-review.instructions.md
  .github/instructions/typespec-review.instructions.md
  .github/skills/evals/arm-api-reviewer/evaluate/eval-report-format.yaml
Due: none

Update ARM review instructions to clarify usage of common types and inline definitions
  .github/instructions/armapi-review.instructions.md
  .github/skills/azure-api-review/references/tracked-resource-lifecycle.md
  .github/skills/evals/arm-api-reviewer/fixtures/arm-openapi/clean-spec.json
Due: none

go customizations
  specification/storage/data-plane/DataLakeStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Correct section numbering
  .github/instructions/armapi-review.instructions.md
Due: none

Added customizations to certain properties to align with Compute SDK (#42621)
  specification/computeschedule/ComputeSchedule.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update tspconfig.yaml
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update tspconfig.yaml
  specification/hybridcompute/resource-manager/Microsoft.HybridCompute/HybridCompute/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update lists (#28141)
  specification/deviceregistry/DeviceRegistry.Management/credential.tsp
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-08-01-preview/List_Credentials_ByNamespace.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2025-08-01-preview/List_Policies_ByCredential.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-02-01-preview/List_Credentials_ByNamespace.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-02-01-preview/List_Policies_ByCredential.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-11-01-preview/List_Credentials_ByNamespace.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-11-01-preview/List_Policies_ByCredential.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-11-02-preview/List_Credentials_ByNamespace.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-11-02-preview/List_JobRuns_ByJob.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-11-02-preview/List_Jobs_ByNamespace.json
  specification/deviceregistry/DeviceRegistry.Management/examples/2026-11-02-preview/List_Policies_ByCredential.json
  specification/deviceregistry/DeviceRegistry.Management/jobRuns.tsp
  specification/deviceregistry/DeviceRegistry.Management/jobs.tsp
  specification/deviceregistry/DeviceRegistry.Management/policy.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2025-08-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2025-08-01-preview/examples/List_Credentials_ByNamespace.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2025-08-01-preview/examples/List_Policies_ByCredential.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-02-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-02-01-preview/examples/List_Credentials_ByNamespace.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-02-01-preview/examples/List_Policies_ByCredential.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-01-preview/examples/List_Credentials_ByNamespace.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-01-preview/examples/List_Policies_ByCredential.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/examples/List_Credentials_ByNamespace.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/examples/List_JobRuns_ByJob.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/examples/List_Jobs_ByNamespace.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/examples/List_Policies_ByCredential.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

first attempt at fixing all validation errors
  specification/web/resource-manager/Microsoft.Web/AppService/LastKnownGood.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/ManagedTrafficConfig.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/ServerFarmSilo.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/SiteSilo.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/models.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/examples/LastKnownGoods_List.json
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/examples/ManagedTrafficConfigs_CreateOrUpdate.json
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/examples/ManagedTrafficConfigs_CreateOrUpdateManagedTrafficConfig.json
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/examples/ManagedTrafficConfigs_List.json
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/examples/ManagedTrafficConfigs_UpdateManagedTrafficConfig.json
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/examples/ServerFarmSilos_Update.json
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/examples/SiteSilos_Update.json
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix openapi spec
  specification/web/resource-manager/Microsoft.Web/AppService/preview/2026-06-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: address PR review issues for DataGenerationJobs
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/relocate-beta-operations.tsp
  specification/ai-foundry/data-plane/Foundry/src/common/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/data_generation_jobs/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/data_generation_jobs/routes.tsp
  specification/ai-foundry/data-plane/Foundry/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update client.tsp
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add protectionLevel to Tables and dataAuthorizationMode to Workspace features
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/stable/2026-03-01/Tables.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/stable/2026-03-01/Workspaces.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Reference diff: Add displayName, status, paranoiaLevel to 2025-11-01 WAF swagger
  specification/frontdoor/resource-manager/Microsoft.Network/FrontDoor/stable/2025-11-01/examples/WafListManagedRuleSets.json
  specification/frontdoor/resource-manager/Microsoft.Network/FrontDoor/stable/2025-11-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update client.tsp
  specification/security/resource-manager/Microsoft.Security/Security/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Managed Identity Support in Summary Rules
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/stable/2026-03-01/SummaryLogs.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/stable/2026-03-01/examples/SummaryLogsGet.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/stable/2026-03-01/examples/SummaryLogsList.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/OperationalInsights/stable/2026-03-01/examples/SummaryLogsUpsert.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
