Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

change .net emitter
  specification/cognitiveservices/Speech.Transcription/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

npm i
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[eng/tools/lint-diff] bump openapi-validator-rulesets from 2.1.10 to 2.2.0
  eng/tools/lint-diff/package.json
Due: eng/pipelines/typespec-validation-all.yml

fix descr typo
  specification/compute/Compute.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-11-01/ComputeRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

minimize diff
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-09-01/registries.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

minimize diff
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-09-01/examples/Registries/createOrUpdate.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-09-01/examples/Registries/removeRegions.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/search/data-plane/Search/models-shared.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
  specification/search/data-plane/Search/routes-index.tsp
  specification/search/data-plane/Search/routes-knowledgebase.tsp
  specification/search/data-plane/Search/routes-service.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Removed enum
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-04-06/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/stable/2026-04-06/file.json
  specification/storage/data-plane/Microsoft.QueueStorage/stable/2026-04-06/queue.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Removed enum (#39320)
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-04-06/blob.json
  specification/storage/data-plane/Microsoft.FileStorage/stable/2026-04-06/file.json
  specification/storage/data-plane/Microsoft.QueueStorage/stable/2026-04-06/queue.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove Invoke-ToolDescriptionEvaluator script
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Due: eng/pipelines/typespec-validation-all.yml

Evaluated runtime variable
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Due: eng/pipelines/typespec-validation-all.yml

add .net sdk config (#39177)
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

removed dollar sign
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Due: eng/pipelines/typespec-validation-all.yml

Made dotnet SDK validation required (#39318)
  eng/tools/spec-gen-sdk-runner/src/types.ts
  eng/tools/spec-gen-sdk-runner/test/command-helpers.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Remove Invoke-ToolDescriptionEvaluator script (#39321)
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Due: eng/pipelines/typespec-validation-all.yml

Rename body (#39265)
  specification/search/data-plane/Search/client.tsp
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceCreateDataSource.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceCreateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceCreateOrUpdateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceGetKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceGetKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceGetKnowledgeSourceIndexedSharePoint.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceListKnowledgeSourcesAzureBlob.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceListKnowledgeSourcesIndexedOneLake.json
  specification/search/data-plane/Search/examples/2025-11-01-preview/SearchServiceListKnowledgeSourcesIndexedSharePoint.json
  specification/search/data-plane/Search/models-index.tsp
  specification/search/data-plane/Search/models-knowledgebase.tsp
  specification/search/data-plane/Search/models-service.tsp
  specification/search/data-plane/Search/models-shared.tsp
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceCreateDataSource.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceCreateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceCreateOrUpdateDataSource.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceCreateOrUpdateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceGetKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceGetKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceGetKnowledgeSourceIndexedSharePoint.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceListKnowledgeSourcesAzureBlob.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceListKnowledgeSourcesIndexedOneLake.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/examples/SearchServiceListKnowledgeSourcesIndexedSharePoint.json
  specification/search/data-plane/Search/preview/2025-11-01-preview/search.json
  specification/search/data-plane/Search/routes-index.tsp
  specification/search/data-plane/Search/routes-knowledgebase.tsp
  specification/search/data-plane/Search/routes-service.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add suppression for a known issue.
  specification/network/resource-manager/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update client.tsp
  specification/maps/data-plane/Route/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix content type headers
  specification/maps/data-plane/Route/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add oauth
  specification/applicationinsights/ApplicationInsights.Monitor.Exporters/main.tsp
  specification/applicationinsights/ApplicationInsights.Monitor.Exporters/tspconfig.yaml
  specification/applicationinsights/data-plane/Monitor.Exporters/preview/v2.1/swagger.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

added debug flag
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Due: eng/pipelines/typespec-validation-all.yml

init
  specification/resourcebuilder/ResourceBuilder.Management/tspconfig.yaml
  specification/resourcebuilder/resource-manager/Microsoft.ResourceBuilder/preview/2025-11-04-preview/resourcebuilder.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Test PR - will revert back this commit
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-10-01-preview/widget.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "Test PR - will revert back this commit"
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-10-01-preview/widget.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update model file
  specification/web/Web.Management/ProcessInfo.tsp
  specification/web/Web.Management/Site.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Bump @microsoft.azure/openapi-validator-rulesets from 2.1.10 to 2.2.0 (#39319)
  eng/tools/lint-diff/package.json
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Set variable when it's valid
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
Due: eng/pipelines/typespec-validation-all.yml

[playwrighttesting] format tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix flatten breakings for avs
  specification/vmware/resource-manager/Microsoft.AVS/AVS/clusters.tsp
  specification/vmware/resource-manager/Microsoft.AVS/AVS/placementPolicies.tsp
  specification/vmware/resource-manager/Microsoft.AVS/AVS/privateClouds.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/batch/Batch.Management/models.tsp
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update accountName Doc and Pattern
  specification/batch/Batch.Management/BatchAccount.tsp
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add 'javascript' to supported languages in templates
  specification/hybridnetwork/HybridNetwork.Management/back-compatible.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update title on nodeDeallocationOption
  specification/batch/Batch.Management/models.tsp
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert
  specification/managementgroups/ManagementGroups.Management/back-compatible.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updated
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/capacity.tsp
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/preview/2025-01-15-preview/fabric.json
  specification/fabric/resource-manager/Microsoft.Fabric/Fabric/stable/2023-11-01/fabric.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Dell public swagger API release (#39310)
  specification/dell/Dell.Storage.Management/LiftrBase.Storage/main.tsp
  specification/dell/Dell.Storage.Management/LiftrBase/main.tsp
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_CreateOrUpdate_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_Delete_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_Delete_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_Get_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_Get_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_ListByResourceGroup_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_ListByResourceGroup_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_ListBySubscription_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_ListBySubscription_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_Update_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/FileSystems_Update_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/Operations_List_MaximumSet_Gen.json
  specification/dell/Dell.Storage.Management/examples/2025-03-21/Operations_List_MinimumSet_Gen.json
  specification/dell/Dell.Storage.Management/main.tsp
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/Dell.Storage.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_CreateOrUpdate_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_Delete_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_Delete_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_Get_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_Get_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_ListByResourceGroup_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_ListByResourceGroup_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_ListBySubscription_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_ListBySubscription_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_Update_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/FileSystems_Update_MinimumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/Operations_List_MaximumSet_Gen.json
  specification/dell/resource-manager/Dell.Storage/stable/2025-03-21/examples/Operations_List_MinimumSet_Gen.json
  specification/dell/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

change batchaccount to TrackedResource
  specification/batch/Batch.Management/BatchAccount.tsp
  specification/batch/resource-manager/Microsoft.Batch/stable/2024-07-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
