Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/shared/src/doc-preview.js, .github/shared/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

[Monitor.Ingestion] .NET client generation (#36759)
  specification/monitor/Monitor.Ingestion/client.tsp
  specification/monitor/Monitor.Ingestion/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix validation
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

update ingestion
  specification/monitor/Monitor.Ingestion/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix test
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

delete nginx
  specification/nginx/Nginx.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix go validation issue
  specification/batch/Azure.Batch/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added StartFrom parameter to List Blobs (#34846)
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-02-06/blob.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix mgmt validation
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
  specification/ai/ContentUnderstanding/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Block Capacity Reservation TypeSpec changes
  specification/compute/Compute.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-04-01/ComputeRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Rename LRO operations to internal for Python (#36756)
  specification/batch/Azure.Batch/client.tsp
  specification/batch/Azure.Batch/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

added @access(Access.internal, "python") for some remaining features
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update email destination as secret
  specification/computeschedule/ComputeSchedule.Management/autoactionmodels.tsp
  specification/computeschedule/resource-manager/Microsoft.ComputeSchedule/preview/2025-04-15-preview/computeschedule.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update port documentation
  specification/supercomputer-infrastructure/resource-manager/Microsoft.SupercomputerInfrastructure/SupercomputerManagement/port.tsp
  specification/supercomputer-infrastructure/resource-manager/Microsoft.SupercomputerInfrastructure/SupercomputerManagement/preview/2025-07-01-preview/supercomputermanagement.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

format
  specification/monitor/Monitor.Ingestion/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added BeginFrom parameter to Get Paths (#36499)
  specification/storage/data-plane/Azure.Storage.Files.DataLake/stable/2026-02-06/DataLakeStorage.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added Encryption in Transit (#34848)
  specification/storage/data-plane/Microsoft.FileStorage/stable/2026-02-06/file.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[CogSvc] Fix 2025-04-01-preview and 2025-06-01 stable API to match service behavior for account networkInjections property (#36395)
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2025-06-01/cognitiveservices.json
  specification/cognitiveservices/resource-manager/sdk-suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

qumulo
  specification/liftrqumulo/Qumulo.Storage.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[avocado-code] upload issue-number
  .github/workflows/avocado-code.yaml
Due: none

Added conditional headers to Get and Set Blob Tags (#34844)
  specification/storage/data-plane/Microsoft.BlobStorage/stable/2026-02-06/blob.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added SMB Directory Lease (#34873)
  specification/storage/data-plane/Microsoft.FileStorage/stable/2026-02-06/file.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[extract-inputs] use issue-number artifact (verified)
  .github/workflows/src/context.js
Due: none

comment
  .github/workflows/src/context.js
Due: none

Validate all utcDateTime type propreties match what is expected in spec.
  specification/devcenter/DevCenter.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Powershell Installation Instructions for Copilot
  .github/copilot-instructions.md
Due: none

Add legacy API justification for @azure-tools/typespec-azure-core/no-private-usage suppressions
  specification/devcenter/DevCenter.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add justification for casing style linter error
  specification/devcenter/DevCenter.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add delta class for fabric tool
  specification/ai/Azure.AI.Agents/run_steps/models.tsp
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/Azure.AI.Agents/tspconfig.yaml
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Moved preview 2019-06-01 to container registry tasks control plane
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/containerregistry_build.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/AgentPoolsCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/AgentPoolsDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/AgentPoolsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/AgentPoolsGetQueueStatus.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/AgentPoolsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/AgentPoolsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithSystemAndUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithSystemIdentity.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/ManagedIdentity/TasksCreate_WithUserIdentities.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/ManagedIdentity/TasksUpdate_WithKeyVaultCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/ManagedIdentity/TasksUpdate_WithMSICustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesGetBuildSourceUploadUrl.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesScheduleRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesScheduleRun_EncodedTaskRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesScheduleRun_FileTaskRun.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesScheduleRun_FileTask_WithCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesScheduleRun_Task.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesScheduleRun_WithCustomCredentials.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RegistriesScheduleRun_WithLogTemplate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RunsCancel.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RunsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RunsGetLogSasUrl.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RunsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/RunsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TaskRunsCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TaskRunsDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TaskRunsGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TaskRunsGetDetails.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TaskRunsList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TaskRunsUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksCreate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksCreate_QuickTask.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksDelete.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksGet.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksGetDetails.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksList.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksUpdate.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksUpdate_QuickTask.json
  specification/containerregistry/resource-manager/Microsoft.ContainerRegistry.Tasks/preview/2019-06-01-preview/examples/TasksUpdate_WithOpaqueCustomCredentials.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add suppression
  specification/cdn/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add descriptions for each 'scenario' enum
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2025-07-01-preview/afdx.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Make metadata a parameter instead of options bag, StorageServiceProperties -> BlobServiceProperties
  specification/storage/Microsoft.BlobStorage/models.tsp
  specification/storage/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix typo
  specification/cdn/resource-manager/Microsoft.Cdn/preview/2025-07-01-preview/afdx.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

setTags privatize Date header
  specification/storage/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

added links for codeowners documentation
  .github/prompts/validate-codeowners.prompt.md
Due: none

Add delta class for fabric tool (#36785)
  specification/ai/Azure.AI.Agents/run_steps/models.tsp
  specification/ai/Azure.AI.Agents/tools/models.tsp
  specification/ai/Azure.AI.Agents/tspconfig.yaml
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
