Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Remove testing logs
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/typespec-validation-all.yml

TEMP: Enable TestAuthOnly for pipeline testing
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/typespec-validation-all.yml

Additional clean up
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/typespec-validation-all.yml

Keep apikey fallback while migrating
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/typespec-validation-all.yml

Keep migration to new endpoint
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/typespec-validation-all.yml

Feedback
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/typespec-validation-all.yml

Updated examples using oav generate-examples
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_AddPartition_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Create_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Delete_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ListByResourceGroup_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ListBySubscription_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ListPartitions_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ReadyForUpgrade_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_ReadyForUpgrade_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_RemovePartition_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/EnergyServices_Update_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/Locations_CheckNameAvailability_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/Locations_CheckNameAvailability_MinimumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/Operations_List_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_CreateOrUpdate_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_Delete_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_ListByOAKInstance_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnectionProxies_Validate_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_CreateOrUpdate_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateEndpointConnections_ListByOAKInstance_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateLinkResources_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/PrivateLinkResources_ListByOAKInstance_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/TestingWindow_Get_MaximumSet_Gen.json
  specification/oep/resource-manager/Microsoft.OpenEnergyPlatform/stable/2025-12-15/examples/TestingWindow_Get_MinimumSet_Gen.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Updated readme and suppressions file
  specification/oep/resource-manager/readme.md
  specification/oep/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Sync eng/common directory with azure-sdk-tools for PR 13267 (#39131)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: eng/pipelines/typespec-validation-all.yml

updaate
  specification/redisenterprise/RedisEnterprise.Management/PrivateEndpointConnection.tsp
  specification/redisenterprise/RedisEnterprise.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

clean up java generated methods
  specification/translation/data-plane/TextTranslation/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update version
  specification/paloaltonetworks/PaloAltoNetworks.Management/tspconfig.yaml
  specification/paloaltonetworks/resource-manager/readme.go.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add new blueprint property
  specification/lionrock/Lionrock.Management/examples/2025-12-04-previvew/PlannedQuota_CreateOrUpdate.json
  specification/lionrock/Lionrock.Management/examples/2025-12-04-previvew/PlannedQuota_Get.json
  specification/lionrock/Lionrock.Management/examples/2025-12-04-previvew/PlannedQuota_ListBySubscription.json
  specification/lionrock/Lionrock.Management/examples/2025-12-04-previvew/PlannedQuota_Operations.json
  specification/lionrock/Lionrock.Management/plannedquota.tsp
  specification/lionrock/Lionrock.Management/versions.tsp
  specification/lionrock/resource-manager/Microsoft.Lionrock/preview/2025-12-04-preview/examples/PlannedQuota_CreateOrUpdate.json
  specification/lionrock/resource-manager/Microsoft.Lionrock/preview/2025-12-04-preview/examples/PlannedQuota_Get.json
  specification/lionrock/resource-manager/Microsoft.Lionrock/preview/2025-12-04-preview/examples/PlannedQuota_ListBySubscription.json
  specification/lionrock/resource-manager/Microsoft.Lionrock/preview/2025-12-04-preview/examples/PlannedQuota_Operations.json
  specification/lionrock/resource-manager/Microsoft.Lionrock/preview/2025-12-04-preview/lionrock.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[widget] Add handwritten swagger
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_CreateOrUpdate_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_Delete_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_Get_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListByResourceGroup_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListByResourceGroup_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListBySubscription_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_ListBySubscription_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Employees_Update_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/examples/Operations_List_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-12-01-preview/widget.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/storage/Storage.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

typo
  specification/widget/resource-manager/Microsoft.Widget/Widget/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add configuration to verify the new code generation
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/client.tsp
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix pageable
  specification/managementgroups/ManagementGroups.Management/ManagementGroup.tsp
  specification/managementgroups/ManagementGroups.Management/models.tsp
  specification/managementgroups/resource-manager/Microsoft.Management/ManagementGroups/stable/2023-04-01/management.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix examples
  specification/lionrock/Lionrock.Management/examples/2025-12-04-preview/PlannedQuota_CreateOrUpdate.json
  specification/lionrock/Lionrock.Management/examples/2025-12-04-preview/PlannedQuota_Get.json
  specification/lionrock/Lionrock.Management/examples/2025-12-04-preview/PlannedQuota_ListBySubscription.json
  specification/lionrock/Lionrock.Management/examples/2025-12-04-preview/PlannedQuota_Operations.json
  specification/lionrock/resource-manager/Microsoft.Lionrock/preview/2025-12-04-preview/lionrock.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[widget] remove typespec
  specification/widget/resource-manager/Microsoft.Widget/Widget/employee.tsp
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_CreateOrUpdate_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_Delete_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_Get_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_ListByResourceGroup_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_ListByResourceGroup_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_ListBySubscription_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_ListBySubscription_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Employees_Update_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Operations_List_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-10-01-preview/Operations_List_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_CreateOrUpdate_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_Delete_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_Get_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_ListByResourceGroup_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_ListByResourceGroup_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_ListBySubscription_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_ListBySubscription_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Employees_Update_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Operations_List_MaximumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/examples/2021-11-01/Operations_List_MinimumSet_Gen.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/main.tsp
  specification/widget/resource-manager/Microsoft.Widget/Widget/preview/2021-10-01-preview/widget.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/shared.tsp
  specification/widget/resource-manager/Microsoft.Widget/Widget/stable/2021-11-01/widget.json
  specification/widget/resource-manager/Microsoft.Widget/Widget/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

save def comparison update
  specification/search/swagger_equiv/semantic_equiv/compare.py
  specification/search/swagger_equiv/semantic_equiv/false_positive_filter.py
  specification/search/swagger_equiv/semantic_equiv/known_false_positive_definitions.txt
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

changing the naming convention for API enum
  specification/dell/Dell.Storage.Management/LiftrBase.Storage/main.tsp
  specification/dell/Dell.Storage.Management/LiftrBase/main.tsp
  specification/dell/Dell.Storage.Management/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/storage/Storage.Management/back-compatible.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update IntervalUnit
  specification/storage/Storage.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove flatten for js
  specification/web/Web.Management/back-compatible.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

converted
  specification/alertsmanagement/PrometheusRuleGroups.Management/PrometheusRuleGroupResource.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/back-compatible.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/createOrUpdateClusterCentricRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/deletePrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/getPrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/listPrometheusRuleGroups.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/patchPrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/main.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/models.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

could compile
  specification/alertsmanagement/PrometheusRuleGroups.Management/tspconfig.yaml
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/PrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/createOrUpdateClusterCentricRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/patchPrometheusRuleGroup.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix TypeSpec Requirement ci error
  specification/compute/resource-manager/Microsoft.Compute/Compute/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/network/Network.Management/BastionHost.tsp
  specification/network/Network.Management/ConnectionMonitorResult.tsp
  specification/network/Network.Management/ConnectivityConfiguration.tsp
  specification/network/Network.Management/CustomIpPrefix.tsp
  specification/network/Network.Management/DdosCustomPolicy.tsp
  specification/network/Network.Management/DdosProtectionPlan.tsp
  specification/network/Network.Management/DscpConfiguration.tsp
  specification/network/Network.Management/ExpressRouteCircuit.tsp
  specification/network/Network.Management/ExpressRouteCircuitAuthorization.tsp
  specification/network/Network.Management/ExpressRouteCircuitConnection.tsp
  specification/network/Network.Management/ExpressRouteCircuitPeering.tsp
  specification/network/Network.Management/ExpressRouteCrossConnection.tsp
  specification/network/Network.Management/ExpressRouteGateway.tsp
  specification/network/Network.Management/ExpressRoutePort.tsp
  specification/network/Network.Management/ExpressRoutePortAuthorization.tsp
  specification/network/Network.Management/ExpressRoutePortsLocation.tsp
  specification/network/Network.Management/ExpressRouteProviderPort.tsp
  specification/network/Network.Management/back-compatible.tsp
  specification/network/Network.Management/diff-output/API_CHANGES.md
  specification/network/Network.Management/diff-output/diff.json
  specification/network/Network.Management/diff-output/newNormalizedSwagger.json
  specification/network/Network.Management/models.tsp
  specification/network/resource-manager/Microsoft.Network/stable/2025-03-01/openapi.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update compute readme.md
  specification/compute/resource-manager/Microsoft.Compute/Compute/readme.md
  specification/compute/resource-manager/Microsoft.Compute/Diagnostic/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/CloudEndpoint.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/RegisteredServer.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/ServerEndpoint.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/StorageSyncService.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/SyncGroup.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix Go suppression problem (#39038)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
  specification/appcomplianceautomation/AppComplianceAutomation.Management/tspconfig.yaml
  specification/connectedcache/ConnectedCache.Management/tspconfig.yaml
  specification/databasefleetmanager/DatabaseFleetManager.Management/tspconfig.yaml
  specification/informatica/Informatica.DataManagement.Management/tspconfig.yaml
  specification/informatica/cspell.yaml
  specification/liftrastronomer/Astronomer.Astro.Management/tspconfig.yaml
  specification/manufacturingplatform/Manufacturingplatform.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/AKSAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/AssessmentProjects.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/AvsAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/BusinessCases.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/Collectors.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/HeterogeneousAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/MachineAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/SqlAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/WebAppAssessments.Management/tspconfig.yaml
  specification/migrate/AssessmentProjects.Management/WebAppCompoundAssessments.Management/tspconfig.yaml
  specification/monitor/Microsoft.Monitor.Management/tspconfig.yaml
  specification/playwrighttesting/PlaywrightTesting.Management/tspconfig.yaml
  specification/recoveryservicesdatareplication/resource-manager/Microsoft.DataReplication/DataReplication/tspconfig.yaml
  specification/scvmm/ScVmm.Management/tspconfig.yaml
  specification/servicefabricmanagedclusters/resource-manager/Microsoft.ServiceFabric/ServiceFabricManagedClusters/tspconfig.yaml
  specification/sphere/Sphere.Management/tspconfig.yaml
  specification/suppressions.yaml
  specification/verifiedid/Microsoft.VerifiedId.Management/tspconfig.yaml
  specification/verifiedid/cspell.yaml
  specification/workloads/Workloads.SAPDiscoverySite.Management/tspconfig.yaml
  specification/workloads/Workloads.SAPMonitor.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

update
  specification/alertsmanagement/PrometheusRuleGroups.Management/PrometheusRuleGroupResource.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/back-compatible.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/createOrUpdateClusterCentricRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/deletePrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/getPrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/listPrometheusRuleGroups.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/examples/2023-03-01/patchPrometheusRuleGroup.json
  specification/alertsmanagement/PrometheusRuleGroups.Management/main.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/models.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/tspconfig.yaml
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/PrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/createOrUpdateClusterCentricRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/createOrUpdatePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/deletePrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/getPrometheusRuleGroup.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/listPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/listSubscriptionPrometheusRuleGroups.json
  specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/PrometheusRuleGroups/stable/2023-03-01/examples/patchPrometheusRuleGroup.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update PrometheusRuleGroupResource.tsp
  specification/alertsmanagement/PrometheusRuleGroups.Management/PrometheusRuleGroupResource.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "update IntervalUnit"
  specification/storage/Storage.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update 2025-11-01-preview content
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/acceptOwnershipStatus.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/acceptSubscriptionOwnership.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/acceptTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/cancelSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/changeTenantPolicy.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/createAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/deleteAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/deleteTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/enableSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/getAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/getBillingAccountPolicy.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/getOperations.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/getSubscriptionOperation.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/getTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/getTenantPolicy.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/getTenantPolicyList.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/listAlias.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/listTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/putTargetDirectory.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/renameSubscription.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/examples/targetDirectoryStatus.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/preview/2025-11-01-preview/subscriptions.json
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/readme.md
  specification/subscription/resource-manager/Microsoft.Subscription/Subscription/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
