Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: 242bfd6027c22fab048166dc671df712f2a2d200
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
      os: linux
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

fix quoting
  .github/workflows/github-test.yaml
Due: none

match original quoting
  .github/workflows/github-test.yaml
Due: none

add workdir, minimal quoting
  .github/workflows/github-test.yaml
Due: none

typo
  .github/workflows/github-test.yaml
Due: none

revert to simpler usage
  .github/workflows/github-test.yaml
Due: none

revert bash
  .github/workflows/github-test.yaml
Due: none

Updating to use @pageItems and @list decorators v3
  specification/azuredatatransfer/AzureDataTransfer.Management/Connection.tsp
  specification/batch/Azure.Batch/java-client.tsp
  specification/chaos/Chaos.Management/privateAccess.tsp
  specification/compute/Common.Management/legacy.tsp
  specification/compute/Gallery.Management/Gallery.tsp
  specification/compute/Sku.Management/routes.tsp
  specification/computeschedule/ComputeSchedule.Management/occurrenceroutes.tsp
  specification/computeschedule/ComputeSchedule.Management/routes.tsp
  specification/desktopvirtualization/DesktopVirtualization.Management/ActiveSessionHostConfiguration.tsp
  specification/desktopvirtualization/DesktopVirtualization.Management/ApplicationGroup.tsp
  specification/desktopvirtualization/DesktopVirtualization.Management/HostPool.tsp
  specification/desktopvirtualization/DesktopVirtualization.Management/ScalingPlan.tsp
  specification/desktopvirtualization/DesktopVirtualization.Management/UserSession.tsp
  specification/desktopvirtualization/DesktopVirtualization.Management/main.tsp
  specification/devcenter/DevCenter/DevBox/routes.tsp
  specification/devcenter/DevCenter/Environments/routes.tsp
  specification/devopsinfrastructure/Microsoft.DevOpsInfrastructure.Management/main.tsp
  specification/devtestlabs/Microsoft.DevTestLab.Management/Lab.tsp
  specification/devtestlabs/Microsoft.DevTestLab.Management/Schedule.tsp
  specification/dns/DNS.Management/RecordSet.tsp
  specification/dns/DNS.Management/Zone.tsp
  specification/edge/Microsoft.Edge.Sites.Management/Site.tsp
  specification/edgeorder/EdgeOrder.Management/routes.tsp
  specification/guestconfiguration/GuestConfiguration.Management/main.tsp
  specification/guestconfiguration/GuestConfiguration.Management/routes.tsp
  specification/hardwaresecuritymodules/HardwareSecurityModules.Management/CloudHsmCluster.tsp
  specification/hardwaresecuritymodules/HardwareSecurityModules.Management/DedicatedHsm.tsp
  specification/hardwaresecuritymodules/HardwareSecurityModules.Management/models.tsp
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

update formatting
  eng/tools/summarize-impact/README.md
  eng/tools/summarize-impact/src/cli.ts
  eng/tools/summarize-impact/src/runner.ts
  eng/tools/summarize-impact/src/types.ts
  eng/tools/summarize-impact/test/cli.test.ts
Due: eng/pipelines/typespec-validation-all.yml

add sample for import raw json string
  specification/cognitiveservices/Language.AnalyzeText-authoring/examples/2025-05-15-preview/analyzetext-authoring/SuccessfulImportRawJson.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/analyzetext-authoring/SuccessfulImportRawJson.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove old version
  specification/sql/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Updating to use @pageItems and @list decorators v4
  specification/loadtestservice/LoadTestService.Management/routes.tsp
  specification/notificationhubs/Notificationhubs.Management/main.tsp
  specification/portal/TenantConfiguration.Management/TenantConfiguration.tsp
  specification/privatedns/PrivateDNS.Management/PrivateZone.tsp
  specification/privatedns/PrivateDNS.Management/RecordSet.tsp
  specification/quantum/Microsoft.Quantum.Management/routes.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/ManagedCluster.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/ManagedVMSize.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/NodeType.tsp
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/main.tsp
  specification/sphere/Sphere.Management/catalog.tsp
  specification/sphere/Sphere.Management/product.tsp
  specification/sqlvirtualmachine/SqlVirtualMachine.Management/SqlVirtualMachineGroup.tsp
  specification/sqlvirtualmachine/SqlVirtualMachine.Management/main.tsp
  specification/storageactions/StorageAction.Management/StorageTask.tsp
  specification/vmware/Microsoft.AVS.Management/skus.tsp
  specification/voiceservices/VoiceServices.Provisioning/main.tsp
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Initial API cut
  specification/search/data-plane/Azure.Search/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

fix Typespec validation
  specification/cognitiveservices/Language.AnalyzeText-authoring/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

starting cleanup refactors. only a couple todo to take care of
  .github/shared/src/error-reporting.js
  .github/shared/test/error-reporting.test.js
  eng/tools/summarize-impact/src/cli.ts
  eng/tools/summarize-impact/src/impact.ts
  eng/tools/summarize-impact/src/types.ts
  eng/tools/summarize-impact/test/cli.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Update version for Database Operations in package-composite-v5 (#35975)
  specification/sql/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

[EngSys] Use ActionLint to lint workflows (#36013)
  .github/matchers/actionlint.json
  .github/workflows/SDK-Suppressions-Label.yaml
  .github/workflows/avocado-code.yaml
  .github/workflows/github-test.yaml
  .github/workflows/lintdiff-code.yaml
  .github/workflows/sdk-breaking-change-labels.yaml
  .github/workflows/spec-gen-sdk-status.yml
Due: none

label validation prompt file
  .github/prompts/validate-service-label.prompt.md
Due: none

add import raw json string sample
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/examples/2025-05-15-preview/analyzeconversations-authoring/SuccessfulImportRawJson.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/examples/analyzeconversations-authoring/SuccessfulImportRawJson.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

compile
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzeconversations-authoring.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

fix Typespec validation
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Update TypeSpec-Requirement.ps1
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

tweak examples
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-04-01/examples/virtualMachineExamples/VirtualMachine_Create_WithProxyAgentSettings.json
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-04-01/examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithProxyAgentSettings.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

[TypeSpec-Requirement] Remove term "brownfield" from notice message (#36050)
  eng/scripts/TypeSpec-Requirement.ps1
Due: eng/pipelines/typespec-validation-all.yml

we're actually properly processing now. we should be able to publish properly. let's check that!
  eng/tools/summarize-impact/src/impact.ts
  eng/tools/summarize-impact/test/cli.test.ts
Due: eng/pipelines/typespec-validation-all.yml

merge readme changes
  eng/tools/summarize-impact/README.md
Due: eng/pipelines/typespec-validation-all.yml

reflect necessary updates to package lock
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

build explicitly
  .github/workflows/summarize-impact.yaml
Due: none

install glob
  eng/tools/summarize-impact/package.json
Due: eng/pipelines/typespec-validation-all.yml

build this thing
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

we can't use short refs that are more than single character
  .github/workflows/summarize-impact.yaml
  eng/tools/summarize-impact/src/cli.ts
Due: eng/pipelines/typespec-validation-all.yml

we need to run in context of the checked out directory after
  .github/workflows/summarize-impact.yaml
Due: none

Update version for Long Term Retention Backup Operations in package-composite-v5 (#36046)
  specification/sql/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

need to make certain that the paths will resolve
  .github/workflows/summarize-impact.yaml
Due: none

a couple updates for the output
  eng/tools/summarize-impact/src/impact.ts
  eng/tools/summarize-impact/test/cli.test.ts
Due: eng/pipelines/typespec-validation-all.yml

adding a bunch of logging and surrounding the crashing function in try/catch
  eng/tools/summarize-impact/src/impact.ts
Due: eng/pipelines/typespec-validation-all.yml

[changed-files] return absolute platform paths
  .github/shared/src/changed-files.js
  .github/shared/src/path.js
  .github/shared/test/changed-files.test.js
Due: none

comment
  .github/shared/src/changed-files.js
Due: none

whitespace
  .github/shared/src/changed-files.js
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
