Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

add decorators for breaking change
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-05-01/applicationGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove dnsNamePolicy, add zoneRedundant to Cluster, add ipV6Enabled to examples
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/models.tsp
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/readme.md
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/Clusters/ClusterGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/Clusters/ClusterPatch.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/Clusters/ClusterPut.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/NameSpaces/EHNameSpaceGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/NameSpaces/EHNameSpaceUpdate.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/NameSpaces/EHNamespaceCreateWithIpV6Enabled.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add go config
  specification/iothub/resource-manager/Microsoft.Devices/IoTHub/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add AKS Prepared Image Specification resource
  specification/containerservice/cspell.yaml
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/cspell.yaml
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/Operations_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_DeleteVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_GetVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_ListBySubscription.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_ListVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/examples/2026-02-02-preview/PreparedImageSpecifications_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/helpers.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/main.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/models.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/operations.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/Operations_List.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_Delete.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_DeleteVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_GetVersion.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_ListByResourceGroup.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_ListBySubscription.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_ListVersions.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/examples/PreparedImageSpecifications_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/preview/2026-02-02-preview/preparedimagespecification.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/readme.csharp.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/readme.go.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/readme.nodejs.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/readme.python.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/preparedimagespecification/tspconfig.yaml
  specification/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Remove dnsNamePolicy, rename to openapi.json for 2026-01, add ipV6Enabled examples
  specification/servicebus/resource-manager/Microsoft.ServiceBus/ServiceBus/models.tsp
  specification/servicebus/resource-manager/Microsoft.ServiceBus/ServiceBus/readme.md
  specification/servicebus/resource-manager/Microsoft.ServiceBus/ServiceBus/stable/2026-01-01/examples/NameSpaces/SBNameSpaceGet.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/ServiceBus/stable/2026-01-01/examples/NameSpaces/SBNameSpaceUpdate.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/ServiceBus/stable/2026-01-01/examples/NameSpaces/SBNamespaceCreateWithIpV6Enabled.json
  specification/servicebus/resource-manager/Microsoft.ServiceBus/ServiceBus/stable/2026-01-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

[Consumption] Refine client customizations for MPG migration
  specification/consumption/resource-manager/Microsoft.Consumption/Consumption/client.tsp
  specification/consumption/resource-manager/Microsoft.Consumption/Consumption/models.tsp
  specification/consumption/resource-manager/Microsoft.Consumption/Consumption/routes.tsp
  specification/consumption/resource-manager/Microsoft.Consumption/Consumption/stable/2024-08-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Corrections
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/readme.md
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/Clusters/ClusterGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/Clusters/ClusterPatch.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/Clusters/ClusterPut.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/NameSpaces/EHNameSpaceGet.json
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/stable/2026-01-01/examples/NameSpaces/EHNameSpaceUpdate.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add @azure-typespec/http-client-csharp-provisioning emitter for CostManagement
  specification/cost-management/resource-manager/Microsoft.CostManagement/CostManagement/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

suppressioms
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix ModelValidation: add 204 response to start/stop/restart examples
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/RestartContainerInstanceCompute.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/StartContainerInstanceCompute.json
  specification/cognitiveservices/CognitiveServices.Management/examples/2026-03-15-preview/StopContainerInstanceCompute.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/RestartContainerInstanceCompute.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/StartContainerInstanceCompute.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/examples/StopContainerInstanceCompute.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

suppressioms
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

suppressioms
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/readme.md
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Recompile swagger after base branch merge (0.67.1 + quality routing)
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: simplify interval legend docstring to fix Sphinx build
  specification/orbital/Microsoft.PlanetaryComputer/routes.tiler.map-legends.tsp
  specification/orbital/data-plane/Microsoft.PlanetaryComputer/stable/2026-04-15/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add platformReleaseChannel property to Webapp Site model
  specification/web/resource-manager/Microsoft.Web/AppService/models.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/stable/2026-03-15/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix 2026-04-01 GA scope: Remove ingestionPermissionOptions from KnowledgeSourceIngestionParameters
  specification/search/data-plane/Search/CHANGELOG.md
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceCreateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceCreateKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceCreateOrUpdateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceCreateOrUpdateKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceGetKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceGetKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceListKnowledgeSourcesAzureBlob.json
  specification/search/data-plane/Search/examples/2026-04-01/SearchServiceListKnowledgeSourcesIndexedOneLake.json
  specification/search/data-plane/Search/models-knowledgebase.tsp
  specification/search/data-plane/Search/models-service.tsp
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceCreateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceCreateKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceCreateOrUpdateKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceCreateOrUpdateKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceGetKnowledgeSourceAzureBlob.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceGetKnowledgeSourceIndexedOneLake.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceListKnowledgeSourcesAzureBlob.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/SearchServiceListKnowledgeSourcesIndexedOneLake.json
  specification/search/data-plane/Search/stable/2026-04-01/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Improve suppression justifications per ARM reviewer feedback
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added PrivateEndpoints to 2025-07-01
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Added billing sku property to private endpoint
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update references in PrivateEndpoint to Common file and Update Readme with 2025-07-01 PrivateEndpoint
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Reverted changes- Added BillingSku to PrivateEndpoint resource in VirtualNetwork file
  specification/network/resource-manager/Microsoft.Network/Network/readme.md
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/privateEndpoint.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restored and Updated/Generated swagger change with TypeSpec
  specification/network/resource-manager/Microsoft.Network/Network/Common/main.tsp
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/common.json
  specification/network/resource-manager/Microsoft.Network/Network/stable/2025-07-01/virtualNetwork.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Removed extra line
  specification/network/resource-manager/Microsoft.Network/Network/Network/models.tsp
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix YAML syntax in suppression reason strings
  specification/cognitiveservices/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add read-only content_hash to hosted agent CodeConfiguration (#42575)
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Agents_CreateAgentFromCode_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Agents_CreateAgentVersionFromCode_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Agents_UpdateAgentFromCode_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

name update
  specification/batch/data-plane/Batch/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fixing the go sdk generation
  specification/eventgrid/data-plane/EventGridSystemEvents/propertyNameOverrideGo.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Recompile 2026-03-15-preview swagger after main merge
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove default
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/src/common/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add warning property to KnowledgeBaseActivityRecord
  specification/search/data-plane/Search/examples/2026-04-01/KnowledgeBaseRetrieve.json
  specification/search/data-plane/Search/models-knowledgebase.tsp
  specification/search/data-plane/Search/preview/2026-05-01-preview/examples/KnowledgeBaseRetrieve.json
  specification/search/data-plane/Search/preview/2026-05-01-preview/search.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/KnowledgeBaseRetrieve.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

PR review suggestions
  .github/instructions/openapi-review.instructions.md
  .github/instructions/typespec-review.instructions.md
  .github/skills/azure-api-review/SKILL.md
  .github/skills/azure-api-review/references/example-quality.md
Due: none

Add x-ms-pageable to batchOutboundRules POST for CognitiveServices (#42435)
  specification/cognitiveservices/CognitiveServices.Management/ManagedNetworkSettingsPropertiesBasicResource.tsp
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-10-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-01-15-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2025-12-01/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2026-03-01/cognitiveservices.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix examples
  specification/search/data-plane/Search/examples/2026-04-01/KnowledgeBaseRetrieve.json
  specification/search/data-plane/Search/examples/2026-05-01-preview/KnowledgeBaseRetrieve.json
  specification/search/data-plane/Search/preview/2026-05-01-preview/examples/KnowledgeBaseRetrieve.json
  specification/search/data-plane/Search/stable/2026-04-01/examples/KnowledgeBaseRetrieve.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Merge main + recompile for batchOutboundRules x-ms-pageable fix
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2026-03-15-preview/cognitiveservices.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Operation-Id header support for idempotent job creation (#42573)
  specification/ai-foundry/data-plane/Foundry/foundry-data-generation-jobs.tsp
  specification/ai-foundry/data-plane/Foundry/src/servicepatterns.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
