Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Add test run execution times to TestRun model
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/GetTestRun_Executing.json
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/ListTestRuns.json
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/ListTestRuns_TestIds.json
  specification/loadtestservice/data-plane/loadtesting/models.tsp
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/GetTestRun.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/GetTestRun_Executing.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/ListTestRuns.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/ListTestRuns_TestIds.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/loadtestservice.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove output artifacts from GetTestRun_Executing
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/GetTestRun_Executing.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/GetTestRun_Executing.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix typespec validation
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/GetTestRun_Executing.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/GetTestRun_Executing.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix typespec validation
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/loadtestservice.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Honoring patch semantics
  specification/compute/Compute.Management/models.tsp
  specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2025-11-01/ComputeRP.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix readme default tag
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updates
  specification/ai/Foundry/evaluation_taxonomies/models.tsp
  specification/ai/Foundry/evaluators/models.tsp
  specification/ai/Foundry/openai-evaluations/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/vmware/resource-manager/Microsoft.AVS/AVS/back-compatible.tsp
  specification/vmware/resource-manager/Microsoft.AVS/AVS/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

udpate
  specification/vmware/resource-manager/Microsoft.AVS/AVS/back-compatible.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix pretty check
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCIVM/examples/2026-02-01-preview/Snapshots_ListAll.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCIVM/examples/2026-02-01-preview/Snapshots_ListByResourceGroup.json
  specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/StackHCIVM/preview/2026-02-01-preview/examples/Snapshots_ListAll.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fail the 'generate sdk' step when 'npm ci' fails (#39453)
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Due: eng/pipelines/typespec-validation-all.yml

fix search config
  specification/search/data-plane/Search/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

flip to true
  specification/search/data-plane/Search/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix the code generation problem.
  specification/ai/Foundry/openai-evaluations/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/openapi3/2025-11-15-preview/azure-ai-projects-openapi3.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix search config (#39492)
  specification/search/data-plane/Search/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove go emitter
  specification/search/data-plane/Search/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

suppress the error
  specification/search/data-plane/Search/suppressions.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add GitHub Action to validate ARM leases
  .github/arm-leases/README.md
  .github/arm-leases/badtest/bad.test/noyaml.md
  .github/arm-leases/testservice/Microsoft.TestRP/lease.yaml
  .github/workflows/src/validate-arm-leases.js
  .github/workflows/test/validate-arm-leases.test.js
  .github/workflows/validate-arm-leases.yaml
Due: none

added test yaml
  .github/arm-leases/testservice/Microsoft.TestRP/lease.yaml
Due: none

Add LoginToGH script
  eng/common/scripts/LoginToGH.ps1
Due: eng/pipelines/typespec-validation-all.yml

yaml package was missing
  .github/workflows/validate-arm-leases.yaml
Due: none

yaml package was missing
  .github/workflows/src/validate-arm-leases.js
Due: none

Fix
  specification/ai/Foundry/openai-evaluations/models.tsp
  specification/ai/Foundry/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/openapi3/2025-11-15-preview/azure-ai-projects-openapi3.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

workflow unable to fetch base branch
  .github/workflows/validate-arm-leases.yaml
Due: none

Typespec specs for AKS Managed Applications
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/.gitignore
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/app.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/appdeployment.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/apprevision.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/autoscalingtriggers.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/customoperations.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/main.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/preview/2026-06-02-preview/managedapps.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

added merge base to check proper comparison
  .github/workflows/src/validate-arm-leases.js
Due: none

Add readme files for sdk languages
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/readme.go.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/readme.nodejs.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/readme.python.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

debug why arm-leases is not detected
  .github/workflows/src/validate-arm-leases.js
Due: none

Add myapp and myregistry to cspell.yaml
  specification/containerservice/cspell.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update organisation to organization
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/autoscalingtriggers.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

debug
  .github/workflows/src/validate-arm-leases.js
Due: none

Fix api versions
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/readme.java.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Run tsp compile
  specification/containerservice/resource-manager/Microsoft.ContainerService/managedapps/preview/2026-06-02-preview/managedapps.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add MaxConcurrency to Strategy and Run examples?
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateRuns_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateRuns_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateRuns_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateRuns_Skip.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateRuns_Start.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateRuns_Stop.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateStrategies_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateStrategies_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2026-02-01-preview/examples/UpdateStrategies_ListByFleet.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix the code generation problem. (#39493)
  specification/ai/Foundry/openai-evaluations/models.tsp
  specification/ai/Foundry/tools/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/openapi3/2025-11-15-preview/azure-ai-projects-openapi3.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

regen after streaming support on get chunk
  specification/containerregistry/data-plane/Registry/routes.tsp
  specification/containerregistry/data-plane/Registry/stable/2021-07-01/containerregistry.json
  specification/containerregistry/data-plane/Registry/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update CloudEndpoint patch requirements and schema details
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/CloudEndpoint.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/back-compatible.tsp
  specification/storagesync/resource-manager/Microsoft.StorageSync/StorageSync/stable/2025-12-01/storagesync.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
