Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Always set pipeline variables
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
Due: eng/pipelines/typespec-validation-all.yml

java mgmt, typespec config for workloads (#39466)
  specification/workloads/Workloads.SAPDiscoverySite.Management/client.tsp
  specification/workloads/Workloads.SAPDiscoverySite.Management/tspconfig.yaml
  specification/workloads/Workloads.SAPMonitor.Management/client.tsp
  specification/workloads/Workloads.SAPMonitor.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add JS config for monitor (#39485)
  specification/monitor/resource-manager/readme.md
  specification/monitor/resource-manager/readme.typescript.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

annotated authKey as secret
  specification/network/resource-manager/Microsoft.Network/preview/2025-12-01-preview/expressRouteLag.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2026-01-01-preview/SessionHosts_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2026-01-01-preview/SessionHosts_ListSingleSessionHostRegistrationTokens_Post.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2026-01-01-preview/desktopvirtualization.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2026-01-01-preview/examples/SessionHosts_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2026-01-01-preview/examples/SessionHosts_ListSingleSessionHostRegistrationTokens_Post.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update operation id
  specification/maps/data-plane/Route/examples/2025-01-01/GetRouteMatrixAsyncResult.json
  specification/maps/data-plane/Route/routes.tsp
  specification/maps/data-plane/Route/stable/2025-01-01/examples/GetRouteMatrixAsyncResult.json
  specification/maps/data-plane/Route/stable/2025-01-01/route.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

removed get and list for auth
  specification/network/resource-manager/Microsoft.Network/preview/2025-12-01-preview/expressRouteLag.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Java customization-class for ContentUnderstanding
  specification/ai/ContentUnderstanding/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

(squashed) updates for ingestion
  specification/ai/Foundry/sdk-projects-openai/client.tsp
  specification/ai/Foundry/sdk-projects-openai/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update resource hierarchy
  specification/keyvault/KeyVault.Management/ManagedHsm.tsp
  specification/keyvault/KeyVault.Management/MhsmPrivateEndpointConnection.tsp
  specification/keyvault/KeyVault.Management/Vault.tsp
  specification/keyvault/KeyVault.Management/client.tsp
  specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2025-05-01/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/examples/2026-01-01-preview/SessionHosts_Create.json
  specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/DesktopVirtualization/preview/2026-01-01-preview/examples/SessionHosts_Create.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Modify CODEOWNERS for Container Service fleet paths
  .github/CODEOWNERS
Due: none

Add foundry tool
  specification/ai/data-plane/VoiceLive/events.tsp
  specification/ai/data-plane/VoiceLive/items.tsp
  specification/ai/data-plane/VoiceLive/models.tsp
  specification/ai/data-plane/VoiceLive/stable/2025-10-01/GeneratedSystemEvents.json
  specification/ai/data-plane/VoiceLive/tools.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: add emitter-output-dir for C# HTTP client management
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

revert
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

updated
  specification/attestation/resource-manager/Microsoft.Attestation/Attestation/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

refactor: clean up test files and improve code structure
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

revert to GeoJsonObjectType
  specification/maps/data-plane/Route/models.tsp
  specification/maps/data-plane/Route/stable/2025-01-01/route.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refactor Go module match pattern subrules to distinguish between data plane and management plane rules
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

feat(apicenter): add Java emitter configuration for Api Center management
  specification/apicenter/ApiCenter.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Go Module case move to optionalTestCases
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

fix: add emitter-output-dir for C# HTTP client management (#39515)
  specification/eventhub/resource-manager/Microsoft.EventHub/Eventhub/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove dvadas for now
  .github/CODEOWNERS
Due: none

feat(apicenter): add service-dir parameter to tspconfig.yaml
  specification/apicenter/ApiCenter.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

adjusted provisioning state
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/meshmember.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

refactor(apicenter): update tspconfig.yaml configuration
  specification/apicenter/ApiCenter.Management/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add test run execution times to TestRun model (#39490)
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/GetTestRun_Executing.json
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/ListTestRuns.json
  specification/loadtestservice/data-plane/loadtesting/examples/2025-11-01-preview/ListTestRuns_TestIds.json
  specification/loadtestservice/data-plane/loadtesting/models.tsp
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/GetTestRun.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/GetTestRun_Executing.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/ListTestRuns.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/examples/ListTestRuns_TestIds.json
  specification/loadtestservice/data-plane/loadtesting/preview/2025-11-01-preview/loadtestservice.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

refactor(apicenter): remove unused openapi3 import
  specification/apicenter/ApiCenter.Management/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

remove unexpected suppress
  specification/communication/Communication.Management/CommunicationServiceResource.tsp
  specification/communication/Communication.Management/DomainResource.tsp
  specification/communication/Communication.Management/EmailServiceResource.tsp
  specification/communication/Communication.Management/SenderUsernameResource.tsp
  specification/communication/Communication.Management/SmtpUsernameResource.tsp
  specification/communication/Communication.Management/SuppressionListAddressResource.tsp
  specification/communication/Communication.Management/SuppressionListResource.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fixed meshmember model definition to not be a resource
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/meshmember.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

MPG migration - mongocluster (#39360)
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/MongoCluster/client.tsp
  specification/mongocluster/resource-manager/Microsoft.DocumentDB/MongoCluster/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

update
  specification/vmware/resource-manager/Microsoft.AVS/AVS/back-compatible.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refactor client names for Python SDK compatibility
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

refactor: reorganize Go subrules for clarity and maintainability
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
Due: eng/pipelines/typespec-validation-all.yml

removed incorrect name field from mesh member property
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/meshmember.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Refactor policy parameter definitions for clarity
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/PolicyContract.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

removed excess imports
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/meshmember.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update PolicyContract.tsp
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/PolicyContract.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml
