Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/shared/src/doc-preview.js, .github/shared/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Fix API to match service behavior for account networkInjections property
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2025-06-01/cognitiveservices.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Fix 2025-04-01 preview API to match service behavior for account networkInjections property
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2025-04-01-preview/cognitiveservices.json
Due: eng/pipelines/swagger-api-doc-preview.yml

remove all the sub-client config, because clientinitialization does not support python
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/client.tsp
Due: eng/pipelines/swagger-api-doc-preview.yml

removing "agentTransform" from all the data sources
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/dataCollectionRules_API.json
Due: eng/pipelines/swagger-api-doc-preview.yml

moving to common types v6
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/dataCollectionEndpoints_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/dataCollectionRuleAssociations_API.json
  specification/monitor/resource-manager/Microsoft.Insights/stable/2024-03-11/dataCollectionRules_API.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Add python customize code in client.tsp
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/client.tsp
Due: eng/pipelines/swagger-api-doc-preview.yml

merge latest updates, include 'copy model' preview operations
  specification/ai/data-plane/OpenAI.v1/azure-v1-preview-generated.json
  specification/ai/data-plane/OpenAI.v1/azure-v1-preview-generated.yaml
  specification/ai/data-plane/OpenAI.v1/azure-v1-v1-generated.json
  specification/ai/data-plane/OpenAI.v1/azure-v1-v1-generated.yaml
Due: eng/pipelines/swagger-api-doc-preview.yml

update
  specification/ai/Azure.AI.Projects/fine_tuning/models.tsp
  specification/ai/Azure.AI.Projects/fine_tuning/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
Due: eng/pipelines/swagger-api-doc-preview.yml

API Doc Preview: Don't fail on files where verison information cannot be parsed (e.g. common files within an RP)
  .github/shared/cmd/api-doc-preview.js
  .github/shared/src/doc-preview.js
Due: eng/pipelines/swagger-api-doc-preview.yml

Doc preview pipeline: Handle the case where the docs build does not output a report.json file
  eng/pipelines/swagger-api-doc-preview.yml
Due: eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

fix spell check
  specification/ai/cspell.yaml
Due: eng/pipelines/swagger-api-doc-preview.yml

Fix tests
  .github/shared/test/doc-preview.test.js
Due: none

Lint, Format
  .github/shared/src/doc-preview.js
Due: eng/pipelines/swagger-api-doc-preview.yml

doc update
  specification/azuredatatransfer/AzureDataTransfer.Management/models.flowprofile.tsp
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2025-05-30-preview/azuredatatransfer.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Test docs build should skip evaluating file
  specification/resources/resource-manager/Microsoft.Authorization/common/v2/types.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Test docs change
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/stable/2021-11-01/contoso.json
Due: eng/pipelines/swagger-api-doc-preview.yml

readme
  specification/azuredatatransfer/resource-manager/readme.md
Due: eng/pipelines/swagger-api-doc-preview.yml

Test failure
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/stable/2021-11-01/contoso.json
Due: eng/pipelines/swagger-api-doc-preview.yml

spell check
  specification/azuredatatransfer/AzureDataTransfer.Management/cspell.yaml
  specification/azuredatatransfer/AzureDataTransfer.Management/models.flowprofile.tsp
  specification/azuredatatransfer/resource-manager/Microsoft.AzureDataTransfer/preview/2025-05-30-preview/azuredatatransfer.json
Due: eng/pipelines/swagger-api-doc-preview.yml

update
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.python.md
Due: eng/pipelines/swagger-api-doc-preview.yml

Revert "Test docs change"
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/stable/2021-11-01/contoso.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Revert "Test failure"
  specification/contosowidgetmanager/resource-manager/Microsoft.Contoso/stable/2021-11-01/contoso.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Revert "Test docs build should skip evaluating file"
  specification/resources/resource-manager/Microsoft.Authorization/common/v2/types.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Update eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
Due: eng/pipelines/typespec-validation-all.yml

place prompts in common place
  eng/common/instructions/azsdk-tools/check-api-readiness.prompt.md
  eng/common/instructions/azsdk-tools/check-package-readiness.prompt.md
  eng/common/instructions/azsdk-tools/create-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.prompt.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.prompt.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/validate-typespec.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Due: eng/pipelines/typespec-validation-all.yml

Update eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Due: eng/pipelines/typespec-validation-all.yml

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Due: eng/pipelines/typespec-validation-all.yml

rename to .instructions.md
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Due: eng/pipelines/typespec-validation-all.yml

updates
  specification/ai/Azure.AI.Projects/fine_tuning/models.tsp
  specification/ai/cspell.yaml
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
Due: eng/pipelines/swagger-api-doc-preview.yml

fixes
  specification/ai/Azure.AI.Projects/fine_tuning/models.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Add delta classes for tools.
  specification/ai/Azure.AI.Agents/run_steps/models.tsp
  specification/ai/data-plane/Azure.AI.Agents/preview/2025-05-15-preview/azure-ai-agents.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Bump dependency oav to 3.6.4
  eng/tools/oav-runner/package.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Fix paths
  specification/ai/Azure.AI.Projects/evaluations/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-07-31-preview/azure-ai-projects.json
Due: eng/pipelines/swagger-api-doc-preview.yml

Revert older version changes
  specification/ai/Azure.AI.Projects/evaluations/chat_messages.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects.json
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-07-31-preview/azure-ai-projects.json
Due: eng/pipelines/swagger-api-doc-preview.yml
