Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Use inferred query names for session list pagination
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix suppression workflow comparison revisions
  .github/workflows/typespec-suppressions-code.yaml
Due: none

Clarify global and datazone training tier documentation
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

add new global approvers (#46697)
  .github/protected-labels.yml
Due: none

Removes illegal imports
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/VirtualMachineScaleSetVMGalleryApplication.tsp
  specification/compute/resource-manager/Microsoft.Compute/Compute/Compute/VirtualMachineVMGalleryApplication.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove location/tags from 2026-11-02-preview CertificatePolicy examples
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/examples/2026-11-02-preview/CreateOrReplace_CertificatePolicy.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/examples/2026-11-02-preview/Get_CertificatePolicy.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/examples/2026-11-02-preview/List_CertificatePolicies_ByCertificateAuthority.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/examples/2026-11-02-preview/Update_CertificatePolicy.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/preview/2026-11-02-preview/examples/CreateOrReplace_CertificatePolicy.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/preview/2026-11-02-preview/examples/Get_CertificatePolicy.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/preview/2026-11-02-preview/examples/List_CertificatePolicies_ByCertificateAuthority.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/DeviceRegistry/preview/2026-11-02-preview/examples/Update_CertificatePolicy.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Adds documentation
  specification/compute/resource-manager/Microsoft.Compute/Compute/ComputeGallery/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Clarify Critic final output contract
  .github/agents/arm-api-review-critic.agent.md
  .github/skills/evals/arm-api-reviewer/vally/eval-protocol-safety.yaml
Due: none

Clarify Autocomplete result types with limited availability
  specification/maps/data-plane/Search/models.tsp
  specification/maps/data-plane/Search/stable/2026-01-01/search.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix Storage management C# names and key URI type
  specification/storage/Storage.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Run documentation preview dependency setup from repository root
  eng/pipelines/swagger-api-doc-preview.yml
Due: eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Restore protected documentation preview pipeline
  eng/pipelines/swagger-api-doc-preview.yml
Due: eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Rename Storage metrics RuleType property to RuleKind for C#
  specification/storage/Storage.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Retain Storage metrics Type naming pending emitter fix
  specification/storage/Storage.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix(foundry): unblock SDK validation
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-agents.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/tspconfig.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Report SDK metadata failures instead of skipping generation
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/emitter-check.ts
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
  eng/tools/spec-gen-sdk-runner/test/emitter-check.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Keep SDK metadata tests focused on failure classification
  eng/tools/spec-gen-sdk-runner/test/commands.test.ts
  eng/tools/spec-gen-sdk-runner/test/emitter-check.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Rename TypeSpec suppression labels
  .github/workflows/src/label.ts
  .github/workflows/src/summarize-checks/labelling.ts
  .github/workflows/src/summarize-checks/summarize-checks.ts
  .github/workflows/src/summarize-checks/tsgs.ts
  .github/workflows/src/typespec-suppressions/post-results.ts
  .github/workflows/src/typespec-suppressions/suppressions-comment.ts
  .github/workflows/test/typespec-suppressions/post-results.test.ts
  .github/workflows/test/typespec-suppressions/suppressions-comment.test.ts
  .github/workflows/typespec-suppressions-status.yaml
  documentation/ci-fix.md
Due: none

Update ARM suppression approval label
  .github/agents/arm-api-review-critic.agent.md
  .github/agents/arm-api-reviewer.agent.md
  .github/instructions/arm-api-review.instructions.md
  .github/workflows/arm-api-review.lock.yml
  .github/workflows/arm-api-review.md
  documentation/api-reviewer-agent.md
Due: none

[Storage] Fix C# management SDK names and key URI type (#46700)
  specification/storage/Storage.Management/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

alternate type misalignment model
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-agents/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-java-azure-ai-projects/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add ARM API Reviewer export contract
  .github/agents/README.md
  .github/agents/arm-api-reviewer.export.json
  .github/skills/evals/arm-api-reviewer/.vally.yaml
  .github/skills/evals/arm-api-reviewer/README.md
  .github/skills/evals/arm-api-reviewer/vally/release-smoke.yaml
  .github/workflows/cmd/arm-api-reviewer-export.ts
  .github/workflows/src/arm-api-reviewer-export.ts
  .github/workflows/test/arm-api-review-workflow.test.ts
  .github/workflows/test/arm-api-reviewer-export.test.ts
Due: none

Use available release smoke models
  .github/agents/arm-api-reviewer.export.json
  .github/skills/evals/arm-api-reviewer/vally/release-smoke.yaml
  .github/workflows/test/arm-api-review-workflow.test.ts
  .github/workflows/test/arm-api-reviewer-export.test.ts
Due: none

Fix export contract CI validation
  .github/agents/arm-api-review-critic.agent.md
  .github/agents/arm-api-reviewer.export.json
  .github/workflows/src/arm-api-reviewer-export.ts
  .github/workflows/test/arm-api-reviewer-export.test.ts
Due: none

Update eng common code owners
  .github/CODEOWNERS
Due: none

fix(ci): invoke install-pnpm.mts directly to fix non-root WorkingDirectory failures
  eng/pipelines/templates/steps/npm-install.yml
Due: eng/pipelines/typespec-validation-all.yml

Add NVIDIA device plugin API flag
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/HybridContainerService/models.tsp
  specification/hybridaks/resource-manager/Microsoft.HybridContainerService/HybridContainerService/preview/2026-04-01-preview/openapi.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

IoT Operations: complete 2026-10-01 GA contract updates
  specification/iotoperations/cspell.yaml
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/IoTOperations/examples/2026-10-01/BrokerListener_CreateOrUpdate_Complex.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/IoTOperations/models/base.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/IoTOperations/models/dataflows/dataflowEndpoints.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/IoTOperations/models/instance.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/IoTOperations/stable/2026-10-01/examples/BrokerListener_CreateOrUpdate_Complex.json
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/IoTOperations/stable/2026-10-01/iotoperations.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add input chunk discriminator and reuse canonical preview features
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/client.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-azure-ai-finetuningsessions/loom-models.tsp
  specification/ai-foundry/data-plane/Foundry/src/session-finetuning/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert "fix(ci): invoke install-pnpm.mts directly to fix non-root WorkingDirectory failures"
  eng/pipelines/templates/steps/npm-install.yml
Due: eng/pipelines/typespec-validation-all.yml

Restore CloudHealth readme spacing
  specification/cloudhealth/resource-manager/Microsoft.CloudHealth/CloudHealth/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Format CloudHealth readme
  specification/cloudhealth/resource-manager/Microsoft.CloudHealth/CloudHealth/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore grouped TSV-All logs with relative project paths
  eng/tools/typespec-validation/src/run-all.ts
  eng/tools/typespec-validation/test/cli.test.ts
  eng/tools/typespec-validation/test/run-all.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Introduce 2026-09-25-preview for cloudName support
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/azurekeyvaultsecretproviderclass.tsp
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2024-08-21-preview/AzureKeyVaultSecretProviderClasses_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/AzureKeyVaultSecretProviderClasses_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/AzureKeyVaultSecretProviderClasses_Delete_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/AzureKeyVaultSecretProviderClasses_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/AzureKeyVaultSecretProviderClasses_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/AzureKeyVaultSecretProviderClasses_ListBySubscription_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/AzureKeyVaultSecretProviderClasses_Update_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/Operations_List_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/SecretSyncs_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/SecretSyncs_Delete_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/SecretSyncs_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/SecretSyncs_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/SecretSyncs_ListBySubscription_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/examples/2026-09-25-preview/SecretSyncs_Update_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/main.tsp
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_ListBySubscription_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2024-08-21-preview/examples/AzureKeyVaultSecretProviderClasses_Update_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/AzureKeyVaultSecretProviderClasses_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/AzureKeyVaultSecretProviderClasses_Delete_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/AzureKeyVaultSecretProviderClasses_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/AzureKeyVaultSecretProviderClasses_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/AzureKeyVaultSecretProviderClasses_ListBySubscription_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/AzureKeyVaultSecretProviderClasses_Update_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/Operations_List_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/SecretSyncs_CreateOrUpdate_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/SecretSyncs_Delete_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/SecretSyncs_Get_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/SecretSyncs_ListByResourceGroup_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/SecretSyncs_ListBySubscription_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/examples/SecretSyncs_Update_MaximumSet_Gen.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/preview/2026-09-25-preview/secretsynccontroller.json
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/readme.md
  specification/ews/resource-manager/Microsoft.SecretSyncController/SecretSyncController/service.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Restore grouped TSV-All logs with relative project paths (#46711)
  eng/tools/typespec-validation/src/run-all.ts
  eng/tools/typespec-validation/test/cli.test.ts
  eng/tools/typespec-validation/test/run-all.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Validate impacted TypeSpec projects without PowerShell
  .github/shared/src/changed-files.ts
  .github/shared/test/changed-files.test.ts
  .github/workflows/typespec-validation.yaml
  eng/scripts/Array-Functions.ps1
  eng/scripts/Tests/Array-Functions.Tests.ps1
  eng/scripts/TypeSpec-Validation.ps1
  eng/tools/typespec-validation/README.md
  eng/tools/typespec-validation/src/find-projects.ts
  eng/tools/typespec-validation/src/index.ts
  eng/tools/typespec-validation/src/run-projects.ts
  eng/tools/typespec-validation/test/cli.test.ts
  eng/tools/typespec-validation/test/find-projects.test.ts
  eng/tools/typespec-validation/test/run-all.test.ts
  eng/tools/typespec-validation/test/run-changed.test.ts
Due: eng/pipelines/typespec-validation-all.yml
