Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mariner-2.0-gen2
          OsVmImage: mariner-2.0-gen2
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Added tag for 2024-05-01-preview in readme file
  specification/containerinstance/resource-manager/readme.md
Due: none

Added ContainerGroupProfile, StandbyPoolProfile, isCreatedFromStandbyPool to Container Group Properties and ConfigMap to ContainerProperties specs and modified examples
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupCreateStandbyPool.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsUpdate.json
Due: none

Corrected code style issues using prettier
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/containerInstance.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/CachedImagesList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/CapabilitiesList.json
Due: none

Fixed code styling issues using prettier
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerAttach.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerExec.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupCreateConfidential.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupEncryptionProperties.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupExtensions.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupUsage.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsCreatePriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGetPriority.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsRestart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsStart.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsStop.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerListLogs.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/OperationsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/SubnetServiceAssociationLinkDelete.json
Due: none

Corrected definition types
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/containerInstance.json
Due: none

Added isCreatedFromStandbyPool to container group properties in examples
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupCreateStandbyPool.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsCreateOrUpdate.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsDelete.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Failed.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsGet_Succeeded.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsList.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsListByResourceGroup.json
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupsUpdate.json
Due: none

Corrected config map property definition in example
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-05-01-preview/examples/ContainerGroupCreateStandbyPool.json
Due: none

Add empty paths element.
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Add 'values' to x-ms-enum for PublicNetworkAccess.
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

arm requested changes
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/CreateOrUpdateDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsConfigurationsWithCapabilities_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/GetDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/ListDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/examples/SecurityConnectorsDevOps/UpdateDevOpsPolicyAssignments_example.json
  specification/security/resource-manager/Microsoft.Security/preview/2024-05-15-preview/securityConnectorsDevOps.json
Due: none

Updating comment to trigger checks
  specification/clouddeviceplatform/CloudDevicePlatform.Management/main.tsp
  specification/clouddeviceplatform/resource-manager/Microsoft.CloudDevicePlatform/preview/2024-05-01-preview/openapi.json
Due: none

Add more x-ms-enum values documentation
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Add a new data plane Upload API (#27639)
  cSpell.json
  specification/securityinsights/data-plane/Microsoft.SecurityInsights/preview/2024-02-01-preview/ThreatIntelligence.json
  specification/securityinsights/data-plane/Microsoft.SecurityInsights/preview/2024-02-01-preview/examples/threatintelligence/UploadStixObjects.json
  specification/securityinsights/data-plane/readme.md
Due: none

Nits - review comments (#28957)
  specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2024-05-15/managedCassandra.json
  specification/cosmos-db/resource-manager/readme.md
Due: none

Revise readOnly-ness and comments
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Fix values declaration
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Fix closing braces
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Fix common-types link
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Update readme.md
  specification/mobilenetwork/resource-manager/readme.md
Due: none

Promote NetworkSecurityPerimeterConfigurationProvisioningState to top-level Definition so it can more easily be reused.
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Promote ResourceAssociationAccessMode to top level definition
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Promote AccessRuleDirection to top level
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

Fix prettier check failures
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2024-04-01/CertificateOrdersDiagnostics.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2024-04-01/CertificateRegistrationProvider.json
  specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2024-04-01/examples/CreateAppServiceCertificate.json
Due: none

updating as per comments
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/definitions.json
Due: none

fix PR errors
  specification/oracle/resource-manager/Oracle.Database/preview/2023-09-01-preview/examples/systemVersions_listSystemVersions.json
  specification/oracle/resource-manager/Oracle.Database/preview/2023-09-01-preview/openapi.json
Due: none

Update SystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/SystemEvents.json
Due: none

fixed url for signature overrides - replaced with correct intrusionDetectionSignaturesOverrides
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/examples/FirewallPolicySignatureOverridesPatch.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-01-01/firewallPolicy.json
Due: .azure-pipelines/network-validation.yml

Fix modelCapacities APIs
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2024-04-01-preview/cognitiveservices.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2024-04-01-preview/examples/ListLocationBasedModelCapacities.json
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2024-04-01-preview/examples/ListModelCapacities.json
Due: none

property type fix
  specification/appconfiguration/AppConfiguration/models.tsp
Due: none

tsp compile
  specification/appconfiguration/data-plane/Microsoft.AppConfiguration/stable/2023-11-01/appconfiguration.json
Due: none

remove required parameter in workspacenopublicipbooleanparameter
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/databricks.json
Due: none

removed $
  specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/preview/2024-04-01-preview/cognitiveservices.json
Due: none

Fix
  specification/monitor/Microsoft.Monitor/typespec/service.tsp
Due: none

Fix spelling errors and nextLink propery
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

remove required parameter in workspacenNoPublicIpBooleanpParameter (#28967)
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/databricks.json
Due: none

Use library "zod" to validate schema
  eng/tools/suppressions/package.json
  eng/tools/suppressions/src/index.ts
  eng/tools/suppressions/test/index.test.ts
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Fix spectral OpenAPI warnings
  specification/common-types/resource-management/v5/networksecurityperimeter.json
Due: eng/pipelines/typespec-validation-all.yml

add back the required parameter and remove default
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/databricks.json
Due: none

add back the required parameter and remove default (#28968)
  specification/databricks/resource-manager/Microsoft.Databricks/stable/2024-05-01/databricks.json
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
