Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/rpaas-private-check.yml:
  jobs:
  - job: PresentInRPaaSCheck
    name: Check RP Presenence in RPSaaSMaster
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
  ...

eng/pipelines/swagger-api-doc-preview.yml:
  jobs:
  - job: SwaggerApiDocPreview
    pool:
      name: $(LINUXPOOL)
      vmImage: $(LINUXVMIMAGE)
    variables:
    - template: /eng/pipelines/templates/variables/globals.yml
    - template: /eng/pipelines/templates/variables/image.yml
    - name: BranchName
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

fix: address ARM reviewer telemetry gaps
  .github/workflows/arm-api-review.lock.yml
  .github/workflows/arm-api-review.md
  .github/workflows/test/arm-api-review-workflow.test.js
  documentation/api-reviewer-agent.md
Due: none

queue: return response headers as a model for getProperties + updateMessage (java)
  specification/storage/data-plane/QueueStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update tag for Compute API to package-2026-04-01
  specification/compute/resource-manager/Microsoft.Compute/Compute/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add systemData to MarkupRules CreateOrUpdate example responses
  specification/cost-management/resource-manager/Microsoft.CostManagement/CostManagement/examples/2026-06-01/MarkupRulesCreateOrUpdate.json
  specification/cost-management/resource-manager/Microsoft.CostManagement/CostManagement/stable/2026-06-01/examples/MarkupRulesCreateOrUpdate.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: reconcile ARM review sessions
  .github/agents/arm-api-review-critic.agent.md
  .github/agents/arm-api-reviewer.agent.md
  .github/agents/protocols/arm-api-review-critic-inputs.template.md
  .github/agents/protocols/arm-api-review-critic.protocol.md
  .github/skills/azure-api-review/SKILL.md
  .github/skills/azure-api-review/references/reviewer-posted-parity.md
  .github/skills/evals/arm-api-reviewer/README.md
  .github/skills/evals/arm-api-reviewer/vally/eval-protocol-safety.yaml
  .github/workflows/arm-api-review.lock.yml
  .github/workflows/arm-api-review.md
  .github/workflows/test/arm-api-review-workflow.test.js
  documentation/api-reviewer-agent.md
Due: none

TypeSpec and Swagger changes for SQL MI STR API for immutabilityStatus
  specification/sql/resource-manager/Microsoft.Sql/SQL/examples/2026-08-01-preview/GetListManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/examples/2026-08-01-preview/GetListManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/examples/2026-08-01-preview/GetManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/examples/2026-08-01-preview/GetManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/examples/2026-08-01-preview/UpdateManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/examples/2026-08-01-preview/UpdateManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/models.tsp
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2026-08-01-preview/examples/GetListManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2026-08-01-preview/examples/GetListManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2026-08-01-preview/examples/GetManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2026-08-01-preview/examples/GetManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2026-08-01-preview/examples/UpdateManagedShortTermRetentionPolicy.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2026-08-01-preview/examples/UpdateManagedShortTermRetentionPolicyRestorableDropped.json
  specification/sql/resource-manager/Microsoft.Sql/SQL/preview/2026-08-01-preview/managedBackupShortTermRetentionPolicies.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Preserve Java DPS resource parameter order
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

AgentsOptimization V3Preview: strategy default, retire v2preview key, relocate new methods to Agents subclient
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents-optimization/models.tsp
  specification/ai-foundry/data-plane/Foundry/src/common/servicepatterns.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-common/ops-relocation-agents.tsp
  specification/ai-foundry/data-plane/Foundry/src/sdk-python-js-azure-ai-projects/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Suppress arm-resource-operation diagnostics in remaining projects
  specification/resources/resource-manager/Microsoft.Authorization/policy/client.tsp
  specification/search/resource-manager/Microsoft.Search/Search/client.tsp
  specification/search/resource-manager/Microsoft.Search/Search/routes.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/client.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update tags and input files for Compute API to package-2026-04-01
  specification/compute/resource-manager/Microsoft.Compute/Compute/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

fix: align ARM reviewer contracts and docs
  .github/agents/arm-api-review-critic.agent.md
  .github/agents/arm-api-reviewer.agent.md
  .github/agents/protocols/arm-api-review-critic.protocol.md
  .github/skills/evals/arm-api-reviewer/README.md
  .github/workflows/arm-api-review.lock.yml
  .github/workflows/arm-api-review.md
  .github/workflows/test/arm-api-review-workflow.test.js
  documentation/api-reviewer-agent.md
Due: none

fix: recognize ARM reconciliation token
  .github/workflows/test/arm-api-review-workflow.test.js
Due: none

Restore MessagingEndpoint.address as optional to fix ModelValidation
  specification/deviceregistry/DeviceRegistry.Management/namespaces.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/deviceregistry.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix cross-version breaking changes for 2026-11 previews (common-types v5 + address required) (#45348)
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-01-preview/deviceregistry.json
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/deviceregistry.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Device Update - update endpoint format (#45337)
  specification/deviceupdate/data-plane/duiothub/main.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Disallow legacy C# emitter for data-plane TypeSpec specs (#45253)
  eng/tools/typespec-validation/src/rules/sdk-tspconfig-validation.ts
  eng/tools/typespec-validation/test/sdk-tspconfig-validation.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Handle generated OpenAPI 3 in spec checks
  cspell.yaml
  eng/tools/oav-runner/src/runner.ts
  eng/tools/oav-runner/test/fixtures/specification/serviceB/data-plane/service.B/openapi3/v1/serviceBspec.json
  eng/tools/oav-runner/test/runner.test.ts
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/readme.md
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/readme.md
  specification/ai-foundry/data-plane/Foundry/src/evaluators/readme.md
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

update dotnet specific overrides
  specification/keyvault/data-plane/Administration/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove arm-resource-operation suppressions to re-test in pipeline
  specification/resources/resource-manager/Microsoft.Authorization/policy/client.tsp
  specification/search/resource-manager/Microsoft.Search/Search/client.tsp
  specification/search/resource-manager/Microsoft.Search/Search/routes.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/client.tsp
  specification/web/resource-manager/Microsoft.Web/AppService/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Suppress no-openapi-client-extensions diagnostics (#45367)
  specification/ai-foundry/data-plane/Foundry/src/schedules/routes.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add price limit routing config typespec
  specification/ai-foundry/data-plane/Foundry/src/openai/responses/models.tsp
  specification/cognitiveservices/OpenAI.Inference/models/completions/chat_completions.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

compiled files
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2024-10-01-preview/generated.json
  specification/cognitiveservices/data-plane/AzureOpenAI/inference/preview/2025-01-01-preview/generated.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Use spec-local OpenAPI validation metadata
  cspell.yaml
  eng/tools/oav-runner/src/runner.ts
  eng/tools/oav-runner/test/fixtures/specification/serviceB/data-plane/service.B/openapi3/v1/serviceBspec.json
  eng/tools/oav-runner/test/runner.test.ts
  specification/ai-foundry/data-plane/Foundry/examples/2025-11-15-preview/Evaluators_ListDiagnostics_MaximumSet_Gen.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/readme.md
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/readme.md
  specification/ai-foundry/data-plane/Foundry/src/evaluators/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml

Register DPS 2026 API versions
  specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/DeviceProvisioningServices/service.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add model_router_controls_v1_preview to FoundryFeaturesOptInKeys
  specification/ai-foundry/data-plane/Foundry/src/common/servicepatterns.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Add missing namespace customizations
  specification/search/data-plane/Search/client.tsp
  specification/search/data-plane/Search/service.yaml
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Move Entra sign-in config into the Entra scheme as audience_types + agent_blueprint
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/v1/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.json
  specification/ai-foundry/data-plane/Foundry/openapi3/virtual-public-preview/microsoft-foundry-openapi3.yaml
  specification/ai-foundry/data-plane/Foundry/src/agents/models.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Update job run $filter docs to advertise the in operator
  specification/deviceregistry/DeviceRegistry.Management/jobRuns.tsp
  specification/deviceregistry/resource-manager/Microsoft.DeviceRegistry/preview/2026-11-02-preview/deviceregistry.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix stale GitHub MCP tool names
  .github/agents/arm-api-review-critic.agent.md
  .github/agents/arm-api-reviewer.agent.md
  .github/agents/data-plane-api-review-critic.agent.md
  .github/agents/data-plane-api-reviewer.agent.md
  .github/agents/protocols/arm-api-review-critic.protocol.md
  .github/workflows/arm-api-review.md
  .vscode/mcp.json
Due: none

Create Sessions TypeSpec
  specification/storage/data-plane/BlobStorage/Common/models.tsp
  specification/storage/data-plane/BlobStorage/Common/routes.tsp
  specification/storage/data-plane/BlobStorage/stable/2026-12-06/generated_blob.json
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

initial work
  .github/shared/package.json
  .github/shared/src/swagger-suppressions.js
  eng/tools/lint-diff/package.json
  eng/tools/lint-diff/src/lint-diff.ts
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/other/four.json
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/preview/three.json
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/readme.md
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/stable/one.json
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/stable/two.json
  eng/tools/lint-diff/test/fixtures/suppressions/specification/contoso/suppressions.yaml
  eng/tools/lint-diff/test/suppressions.test.ts
  eng/tools/oav-runner/package.json
  eng/tools/oav-runner/src/runner.ts
  eng/tools/oav-runner/test/fixtures/specification/serviceB/data-plane/service.B/stable/2025-06-01/serviceBspec2.json
  eng/tools/oav-runner/test/fixtures/specification/serviceB/data-plane/service.B/suppressions.yaml
  eng/tools/oav-runner/test/runner.test.ts
  eng/tools/openapi-diff-runner/package.json
  eng/tools/openapi-diff-runner/src/commands.ts
  eng/tools/openapi-diff-runner/test/commands.test.ts
  eng/tools/openapi-diff-runner/test/suppression-fixtures/base/specification/contoso/deleted/removed.json
  eng/tools/openapi-diff-runner/test/suppression-fixtures/base/specification/contoso/suppressions.yaml
  eng/tools/openapi-diff-runner/test/suppression-fixtures/head/specification/contoso/cross/four.json
  eng/tools/openapi-diff-runner/test/suppression-fixtures/head/specification/contoso/preview/three.json
  eng/tools/openapi-diff-runner/test/suppression-fixtures/head/specification/contoso/rules/rule-scoped.json
  eng/tools/openapi-diff-runner/test/suppression-fixtures/head/specification/contoso/stable/one.json
  eng/tools/openapi-diff-runner/test/suppression-fixtures/head/specification/contoso/stable/two.json
  eng/tools/openapi-diff-runner/test/suppression-fixtures/head/specification/contoso/suppressions.yaml
  eng/tools/suppressions/README.md
  eng/tools/suppressions/src/index.ts
  eng/tools/suppressions/src/suppressions.ts
  eng/tools/suppressions/test/e2e/suppressFooJson/suppressions.yaml
  eng/tools/suppressions/test/suppressions.e2e.test.ts
Due: eng/pipelines/typespec-validation-all.yml

[storage-blob] JS rename of contentCrc64 => xMsContentCrc64
  specification/storage/data-plane/BlobStorage/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

TSV Fixups
  specification/ai-foundry/data-plane/Foundry/src/sdk-csharp-azure-ai-extensions-openai/client.tsp
Due: eng/pipelines/rpaas-private-check.yml, eng/pipelines/swagger-api-doc-preview.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/rpaas-private-check.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/templates/steps/set-sha-check.yml, .github/workflows/src/doc-preview.js, .github/workflows/cmd/api-doc-preview.js
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
