Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/swagger-api-doc-preview.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

Added Dedicated backend connection and certificate validation options in template for application Gateway Backend Settings (#35161)
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/applicationGateway.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

naming error fix (#35733)
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/azureFirewall.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/examples/AzureFirewallPacketCaptureOperation.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Packet Capture Parameter Fix: Adding a default integer to prevent default value of 1 being passed by powershell/generatedSDKs (#35779)
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/azureFirewall.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Quic Protocol to TransportProtocol. (#35601)
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/loadBalancer.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Add host config for Java: Microsoft.Network API Version 2024-10-01 (#35710)
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/ipAddressManager.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkVerifier.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Update API Version 2024-10-01 in Microsoft.Network (#35744)
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkManagerRoutingConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkManagerSecurityAdminConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkManagerSecurityUserConfiguration.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/networkVerifier.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/virtualWan.json
  specification/network/resource-manager/Microsoft.Network/stable/2024-10-01/webapplicationfirewall.json
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Fixing Semantic validation
  specification/billing/resource-manager/Microsoft.Billing/preview/2025-07-01-preview/contingency.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Remove extra backtick from readme.md
  specification/network/resource-manager/readme.md
Due: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Update LintDiff's README.md (#36070)
  eng/tools/lint-diff/README.md
Due: eng/pipelines/typespec-validation-all.yml

sdk error fix
  specification/purviewdatagovernance/PurviewDataCatalog/tspconfig.yaml
  specification/purviewdatagovernance/data-plane/Microsoft.Purview.UnifiedCatalog/preview/2025-06-16-preview/CatalogApiService.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Targeting common security perimeter definition.
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2025-07-01/SummaryLogs.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2025-07-01/Workspaces_NetworkSecurityPerimeter_API.json
  specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2025-07-01/networksecurityperimeter.json
  specification/operationalinsights/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Change gates from tracked to proxy resource. (#35619)
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_Get.json
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_ListByFleet.json
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/Gates_Update.json
  specification/containerservice/Fleet.Management/gate.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_Get.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/Gates_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Rebase on top of 0401preview
  specification/containerservice/Fleet.Management/fleetnamespace.tsp
  specification/containerservice/Fleet.Management/k8s.io/api/core/v1/types.tsp
  specification/containerservice/Fleet.Management/k8s.io/apimachinery/apis/meta/v1/types.tsp
  specification/containerservice/Fleet.Management/kubefleet/apis/placement/v1/types.tsp
  specification/containerservice/Fleet.Management/main.tsp
  specification/containerservice/cspell.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

set GateTargetId to use alias and not union to fix go sdk issues (#35801)
  specification/containerservice/Fleet.Management/gate.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/fleets.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

add to 20250401preview (#35393) (#35799)
  specification/containerservice/Fleet.Management/examples/2025-04-01-preview/AutoUpgradeProfiles_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/update/autoupgradeprofile.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/examples/AutoUpgradeProfiles_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-04-01-preview/fleets.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Add Patch Fleet Managed Namespace to typespec (#35377)
  specification/containerservice/Fleet.Management/fleetnamespace.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/fleets.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

updates (#35394)
  specification/containerservice/Fleet.Management/k8s.io/api/core/v1/types.tsp
  specification/containerservice/Fleet.Management/k8s.io/apimachinery/apis/meta/v1/types.tsp
  specification/containerservice/Fleet.Management/kubefleet/apis/placement/v1/types.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/fleets.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Add 2025-08-01-preview
  specification/containerservice/Fleet.Management/fleetnamespace.tsp
  specification/containerservice/Fleet.Management/k8s.io/api/core/v1/types.tsp
  specification/containerservice/Fleet.Management/k8s.io/apimachinery/apis/meta/v1/types.tsp
  specification/containerservice/Fleet.Management/kubefleet/apis/placement/v1/types.tsp
  specification/containerservice/Fleet.Management/main.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/fleets.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Fix lints and validation errors
  specification/containerservice/Fleet.Management/examples/2025-08-01-preview/FleetManagedNamespaces_CreateOrUpdate.json
  specification/containerservice/Fleet.Management/examples/2025-08-01-preview/FleetManagedNamespaces_ListByFleet.json
  specification/containerservice/Fleet.Management/examples/2025-08-01-preview/FleetManagedNamespaces_Update.json
  specification/containerservice/Fleet.Management/examples/2025-08-01-preview/Gates_Get_MaximumSet_Gen.json
  specification/containerservice/Fleet.Management/examples/2025-08-01-preview/Gates_ListByFleet_MaximumSet_Gen.json
  specification/containerservice/Fleet.Management/examples/2025-08-01-preview/Gates_Update_MaximumSet_Gen.json
  specification/containerservice/Fleet.Management/k8s.io/api/core/v1/types.tsp
  specification/containerservice/Fleet.Management/k8s.io/apimachinery/apis/meta/v1/types.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/examples/FleetManagedNamespaces_CreateOrUpdate.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/examples/FleetManagedNamespaces_ListByFleet.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/examples/FleetManagedNamespaces_Update.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/examples/Gates_Get_MaximumSet_Gen.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/examples/Gates_ListByFleet_MaximumSet_Gen.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/examples/Gates_Update_MaximumSet_Gen.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/fleets.json
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Revert auto-format stuff from readme.md
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

remove schema from 202 returns
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScriptVersion_Update.json
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScript_Update.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScriptVersion_Update.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScript_Update.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Add SDK generation configuration files
  specification/monitor/resource-manager/Microsoft.Monitor/Accounts/readme.java.md
  specification/monitor/resource-manager/Microsoft.Monitor/Accounts/readme.md
  specification/monitor/resource-manager/Microsoft.Monitor/Accounts/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

fix typo
  specification/compute/Gallery.Management/examples/2025-03-03/galleryScriptExamples/GalleryScript_Update.json
  specification/compute/resource-manager/Microsoft.Compute/GalleryRP/stable/2025-03-03/examples/galleryScriptExamples/GalleryScript_Update.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

removed panda from owners
  .github/CODEOWNERS
Due: none

[.github] Add plugin to sort imports (#36128)
  .github/.prettierrc.yaml
  .github/package-lock.json
  .github/package.json
  .github/shared/package-lock.json
  .github/shared/package.json
  .github/shared/src/simple-git.js
  .github/shared/test/error-reporting.test.js
  .github/shared/test/simple-git.test.js
  .github/workflows/src/summarize-checks/summarize-checks.js
  .github/workflows/test/artifacts.test.js
  .github/workflows/test/issues.test.js
  .github/workflows/test/retries.test.js
  .github/workflows/test/spec-gen-sdk-status.test.js
  .github/workflows/test/summarize-checks.test.js
  .github/workflows/test/verify-run-status.test.js
  eng/tools/.prettierrc.yaml
  package-lock.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

remove duplicate tags property
  specification/containerservice/Fleet.Management/fleetnamespace.tsp
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/preview/2025-08-01-preview/fleets.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Fall back to use the version from the swagger content
  eng/tools/openapi-diff-runner/src/detect-breaking-change.ts
  eng/tools/openapi-diff-runner/src/utils/common-utils.ts
  eng/tools/openapi-diff-runner/test/detect-breaking-change.test.ts
  eng/tools/openapi-diff-runner/test/utils/common-utils.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Always install .NET before running perf automation - May not be pre-installed on ubuntu-24 (#36113)
  eng/common/pipelines/templates/jobs/perf.yml
Due: eng/pipelines/typespec-validation-all.yml

Exclude changes in gitignore.
  .github/copilot-instructions.md
Due: none

rephrase
  .github/copilot-instructions.md
Due: none

Edited service label prompt file to include new MCP tools
  .github/prompts/validate-service-label.prompt.md
Due: none

Fix error message
  specification/sql/resource-manager/Microsoft.Sql/preview/2025-02-01-preview/SyncGroups.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2025-02-01-preview/SyncMembers.json
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

removed entry - @azure-tools/typespec-csharp
  specification/purviewdatagovernance/PurviewDataCatalog/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/swagger-api-doc-preview.yml

Apply suggestions from code review
  .github/workflows/src/set-status.js
  .github/workflows/src/spec-gen-sdk-status.js
Due: none
