Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: ${{ parameters.SdkRepoCommit }}
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

[Private 1DP] Simulation + Annotation APIs (#33741)
  specification/ai/Azure.AI.Projects/common/models.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/models.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
  specification/ai/Azure.AI.Projects/evaluations/models.tsp
  specification/ai/Azure.AI.Projects/evaluations/routes.tsp
  specification/ai/Azure.AI.Projects/main.tsp
  specification/ai/Azure.AI.Projects/red-teams/models.tsp
  specification/ai/Azure.AI.Projects/red-teams/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

Fix avocado
  specification/compute/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

prettiercheck fix
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ServerAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/DatabaseRecommendedActionListExpand.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ServerRecommendedActionListExpand.json
Due: eng/pipelines/spec-gen-sdk.yml

Update version
  specification/ai/Azure.AI.Assistants/client.tsp
  specification/ai/Azure.AI.Assistants/main.tsp
  specification/ai/Azure.AI.Assistants/vector_stores/main.tsp
  specification/ai/data-plane/Azure.AI.Assistants/preview/2025-05-15-preview/azure-ai-assistants.json
Due: eng/pipelines/spec-gen-sdk.yml

Add missing backticks (#33811)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/typespec-validation-all.yml

jobName
  specification/healthdataaiservices/HealthDataAIServices.DeidServices/models_document_flow.tsp
Due: eng/pipelines/spec-gen-sdk.yml

remove required for managed network settings basic resource
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2025-04-01/workspaceRP.json
Due: eng/pipelines/spec-gen-sdk.yml

Merging #31080 , #31062 and #30912 for new API release (#33807)
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseRecommendedActions.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ServerAdvisors.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/DatabaseRecommendedActionListExpand.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ServerRecommendedActionListExpand.json
Due: eng/pipelines/spec-gen-sdk.yml

Addressing reviewers comments
  specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2025-07-01/amlfilesystem.json
Due: eng/pipelines/spec-gen-sdk.yml

add managed network settings info in preview version
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/createOrUpdateManagedNetwork.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/createOrUpdateRuleV2.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/deleteRuleV2.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/getManagedNetwork.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/getRuleV2.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/listRuleV2.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/patchManagedNetwork.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/postOutboundRules.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/workspaceRP.json
Due: eng/pipelines/spec-gen-sdk.yml

modify api version in examples
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/createOrUpdateManagedNetwork.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/createOrUpdateRuleV2.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/deleteRuleV2.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/getManagedNetwork.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/getRuleV2.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/examples/ManagedNetwork/listRuleV2.json
Due: eng/pipelines/spec-gen-sdk.yml

addc config (#33783)
  specification/containerservice/Fleet.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Update for Online Experimentation CODEOWNERS
  .github/CODEOWNERS
Due: none

Removing files related to AOGS
  specification/orbital/resource-manager/readme.az.md
  specification/orbital/resource-manager/readme.cli.md
  specification/orbital/resource-manager/readme.csharp.md
  specification/orbital/resource-manager/readme.go.md
  specification/orbital/resource-manager/readme.md
  specification/orbital/resource-manager/readme.python.md
  specification/orbital/resource-manager/readme.typescript.md
Due: eng/pipelines/spec-gen-sdk.yml

java, mgmt, DependencyMap, client (#33784)
  specification/azuredependencymap/DependencyMap.Management/client.tsp
  specification/azuredependencymap/DependencyMap.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

merging #30969, #31008, #31181 for new API release
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ListDatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/LocationCapabilityListByLocation.json
Due: eng/pipelines/spec-gen-sdk.yml

Update readme.python.md
  specification/recoveryservicesbackup/resource-manager/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

update
  specification/machinelearning/Azure.AI.ChatProtocol/tspconfig.yaml
  specification/scvmm/ScVmm.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

update
  specification/ai/HealthInsights/HealthInsights.RadiologyInsights/tspconfig.yaml
  specification/machinelearningservices/AzureAI.Assets/tspconfig.yaml
  specification/programmableconnectivity/Azure.ProgrammableConnectivity/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

add download
  specification/ai/Azure.AI.Projects/evaluation-results/models.tsp
  specification/ai/Azure.AI.Projects/evaluation-results/routes.tsp
  specification/ai/data-plane/Azure.AI.Projects/preview/2025-05-15-preview/azure-ai-projects-1dp.json
Due: eng/pipelines/spec-gen-sdk.yml

Skip swagger apiview steps when no swagger file found (#33131)
  eng/scripts/Create-APIView.ps1
Due: eng/pipelines/typespec-validation-all.yml

merging #30969, #31008, #31181 for new API release (#33817)
  specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2022-11-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-02-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2023-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-05-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/DatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/LocationCapabilities.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/ManagedInstances.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/ListDatabaseOperations.json
  specification/sql/resource-manager/Microsoft.Sql/preview/2024-08-01-preview/examples/LocationCapabilityListByLocation.json
Due: eng/pipelines/spec-gen-sdk.yml

including managed network list call
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/workspaceRP.json
Due: eng/pipelines/spec-gen-sdk.yml

Fixing the naming to meaningful
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/client.tsp
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/chat_azure_bot_command_received_in_thread.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/chat_azure_bot_command_received_in_thread.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Due: eng/pipelines/spec-gen-sdk.yml

adding managed network paginated result
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2025-04-01-preview/workspaceRP.json
Due: eng/pipelines/spec-gen-sdk.yml

[Avocado] Fix "npm exec" params (#33809)
  .github/workflows/avocado.yml
Due: none

Updating schemas and adding missing schema examples.
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_ended.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_participant_added.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_participant_removed.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_started.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/chat_azure_bot_command_received_in_thread.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/chat_typing_indicator_received_in_thread.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_ended.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_participant_added.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_participant_removed.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_started.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_ended.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_participant_added.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_participant_removed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_started.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/chat_azure_bot_command_received_in_thread.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/chat_typing_indicator_received_in_thread.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_ended.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_participant_added.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_participant_removed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_started.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/chat_azure_bot_command_received_in_thread.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/chat_typing_indicator_received_in_thread.json
Due: eng/pipelines/spec-gen-sdk.yml

Revert "fix avocado paths"
  .github/workflows/avocado.yml
Due: none

Revert "Patch avocado"
  .github/workflows/avocado.yml
Due: none

revert avocado
  .github/workflows/avocado.yml
Due: none

Add suppressions for Swagger LintDiff errors to readme file.
  specification/containerservice/resource-manager/Microsoft.ContainerService/fleet/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

[Avocado] Verify result of new GH Action (#33805)
  .github/workflows/watch-avocado.yaml
Due: none

mq
  specification/iotoperations/IoTOperations.Management/eng/openapi-script.sh
  specification/iotoperations/IoTOperations.Management/main.tsp
  specification/iotoperations/IoTOperations.Management/models/broker/brokers.tsp
  specification/iotoperations/resource-manager/Microsoft.IoTOperations/preview/2025-07-01-preview/iotoperations.json
Due: eng/pipelines/spec-gen-sdk.yml

restore original utilizaiton api error response
  specification/baremetal/Microsoft.BareMetal.Management/models.tsp
  specification/baremetal/Microsoft.BareMetal.Management/routes.tsp
  specification/baremetal/resource-manager/Microsoft.BareMetal/preview/2025-02-01-preview/BootstrapRP.json
Due: eng/pipelines/spec-gen-sdk.yml

Added tag for 2025-03-01-preview in readme file
  specification/desktopvirtualization/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Revert "restore original utilizaiton api error response"
  specification/baremetal/Microsoft.BareMetal.Management/models.tsp
  specification/baremetal/Microsoft.BareMetal.Management/routes.tsp
  specification/baremetal/resource-manager/Microsoft.BareMetal/preview/2025-02-01-preview/BootstrapRP.json
Due: eng/pipelines/spec-gen-sdk.yml

fix data plane of app insights
  specification/applicationinsights/data-plane/Microsoft.Insights/preview/v1/AppInsights.json
Due: eng/pipelines/spec-gen-sdk.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
