Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation

missing character
  specification/app/resource-manager/Microsoft.App/preview/2025-02-02-preview/ManagedEnvironments.json
Due: eng/pipelines/spec-gen-sdk.yml

Updates to fix more Swagger ModelValidation errors on UserAssignedIdentity
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/extensions/stable/2025-03-01/extensions.json
Due: eng/pipelines/spec-gen-sdk.yml

Adding Call Started and Call Ended Events.
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_ended.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_started.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_ended.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_started.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_ended.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_started.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_ended.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_started.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Due: eng/pipelines/spec-gen-sdk.yml

more logging
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

log result
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

log command with result
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Disable concurrency
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Allow PullRequest Write (#33644)
  .github/workflows/post-apiview.yml
Due: none

Revert "Disable concurrency"
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Revert "log command with result"
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Revert "log result"
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Revert "more logging"
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

[Storage] Omit response headers for certain headers (#33593)
  specification/storage/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/spec-gen-sdk.yml

[TypeSpecRequirementTest] Merge stdout and stderr - Reaction to Azure/azure-sdk-tools#10181
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

New Microsoft.Resources/deployments stable API version 2025-03-01 (#32822)
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ExportResourceGroupAsBicep.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentValidateOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-03-01/resources.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

Initial commit
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ExportResourceGroupAsBicep.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/resources.json
Due: eng/pipelines/spec-gen-sdk.yml

Initial scaffolding
  specification/deviceregistry/DeviceRegistry.Management/main.tsp
Due: eng/pipelines/spec-gen-sdk.yml

[TypeSpecRequirementTest] Merge stdout and stderr (#33649)
  eng/tools/typespec-requirement/test/typespec-requirement.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Add new functionality
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/CalculateTemplateHash.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/CreateResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/DeleteTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/DeleteTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ExportResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ExportResourceGroupAsBicep.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ExportResourceGroupWithFiltering.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ForceDeleteVMsAndVMSSInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/ForceDeleteVMsInResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetNamedProviderAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProvider.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProviderPermissions.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProviderResourceTypes.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetProviders.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/GetTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PatchTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PatchTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentValidateOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PostDeploymentWhatIfOnTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentAtManagementGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentAtScope.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentAtTenant.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentResourceGroup.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentResourceGroupTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentSubscriptionTemplateSpecsWithId.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentWithOnErrorDeploymentLastSuccessful.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutDeploymentWithOnErrorDeploymentSpecificDeployment.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutTagsResource.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/examples/PutTagsSubscription.json
  specification/resources/resource-manager/Microsoft.Resources/stable/2025-04-01/resources.json
  specification/resources/resource-manager/readme.md
  specification/resources/resource-manager/readme.python.md
Due: eng/pipelines/spec-gen-sdk.yml

ci
  .github/copilot-instructions.md
Due: none

add go config
  specification/chaos/Chaos.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Set the api-version used by emitted SDKs (#33642)
  specification/ai/Azure.AI.Projects/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

Added CallParticipant Added and Removed event.
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/AzureCommunicationServices.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/Microsoft.Communication/client.tsp
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_participant_added.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2018-01-01/call_participant_removed.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_participant_added.json
  specification/eventgrid/Azure.Messaging.EventGrid.SystemEvents/examples/2024-01-01/call_participant_removed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/AzureCommunicationServices.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_participant_added.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/cloud-events-schema/call_participant_removed.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_participant_added.json
  specification/eventgrid/data-plane/Microsoft.Communication/stable/2018-01-01/examples/event-grid-schema/call_participant_removed.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/GeneratedSystemEvents.json
  specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2024-01-01/GeneratedSystemEvents.json
Due: eng/pipelines/spec-gen-sdk.yml

added DataGenerationConnectionInfo and related models
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/project.tsp
Due: eng/pipelines/spec-gen-sdk.yml

add `dataGenerationSettings` property to `TrainingJobOptions`
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/project.tsp
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzeconversations-authoring.json
Due: eng/pipelines/spec-gen-sdk.yml

Updates to fix PrettierCheck issues
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/extensions/stable/2024-11-01/extensions.json
  specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/extensions/stable/2025-03-01/examples/CreateExtensionWithIdentity.json
Due: eng/pipelines/spec-gen-sdk.yml

Add reference to pricesheet json file in ReadMe
  specification/consumption/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

move reason above paths
  specification/suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml

comment
  specification/suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml

remove extra newlines
  specification/suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml

formatting
  eng/tools/typespec-validation/src/rules/compile.ts
Due: eng/pipelines/typespec-validation-all.yml

simplify
  eng/tools/typespec-validation/test/compile.test.ts
Due: eng/pipelines/typespec-validation-all.yml

[TypeSpec Validation] Fail if spec folder contains extra tsp-generated swagger files (#33546)
  eng/tools/typespec-validation/package.json
  eng/tools/typespec-validation/src/rules/compile.ts
  eng/tools/typespec-validation/src/tsv-host.ts
  eng/tools/typespec-validation/src/tsv-runner-host.ts
  eng/tools/typespec-validation/src/utils.ts
  eng/tools/typespec-validation/test/compile.test.ts
  eng/tools/typespec-validation/test/tsv-test-host.ts
  package-lock.json
  specification/suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

[TypeSpecValidation] Add suppressions for Compile:ExtraSwagger (#22142)
  specification/suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml

added `assignedResources` properties
  specification/cognitiveservices/Language.AnalyzeConversations-authoring/models/project.tsp
Due: eng/pipelines/spec-gen-sdk.yml

[contoso] Remove canonical swagger (#22147)
  specification/contoso/resource-manager/Microsoft.Contoso/canonical/openapi.json
  specification/suppressions.yaml
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml

Update readme.go.md
  specification/bing/resource-manager/readme.go.md
Due: eng/pipelines/spec-gen-sdk.yml
