Repository Azure/azure-rest-api-specs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/network-validation.yml, eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

.azure-pipelines/network-validation.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: '& "C:/Program Files (x86)/Microsoft SDKs/Windows/v10.0A/bin/NETFX 4.6.1 Tools/sn.exe" -Vr *,31bf3856ad364e35
  
      '
    displayName: Bypass Strong Name validation
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
  ...

eng/pipelines/spec-gen-sdk.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
    parameters:
      SpecRepoUrl: https://github.com/$(Build.Repository.Name)
      SdkRepoUrl: $(SdkRepoUrl)
      SdkRepoCommit: 242bfd6027c22fab048166dc671df712f2a2d200
      ConfigType: ${{ parameters.ConfigType }}
  ...

eng/pipelines/typespec-validation-all.yml:
  jobs:
  - job: null
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
      vmImage: $(OSVmImage)
    steps:
  ...

eng/pipelines/typespec-validation-ci.yml:
  jobs:
  - job: Test_TypeSpec_Validation
    strategy:
      matrix:
        Linux:
          Pool: azsdk-pool-mms-ubuntu-2204-general
          OsVmImage: ubuntu-22.04
        Windows:
          Pool: azsdk-pool-mms-win-2022-general
          OsVmImage: windows-2022
    pool:
      name: $(Pool)
  ...

Skip sdk gen for specific batch run type (#34907)
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/spec-gen-sdk-runner/src/commands.ts
  eng/tools/spec-gen-sdk-runner/src/index.ts
  eng/tools/spec-gen-sdk-runner/src/spec-helpers.ts
  package-lock.json
  package.json
Due: eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

Sync eng/common directory with azure-sdk-tools for PR 10736 (#34916)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/typespec-validation-all.yml

Update client settings for releasing Dell Storage .Net SDK (#34553)
  specification/dell/Dell.Storage.Management/LiftrBase/main.tsp
  specification/dell/Dell.Storage.Management/client.tsp
  specification/dell/Dell.Storage.Management/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

add clientname for servicefabricmanagedclusters (#34928)
  specification/servicefabricmanagedclusters/ServiceFabricManagedClusters.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

support jsonOutput in tsmv tool (#34936)
  eng/tools/typespec-migration-validation/package.json
  eng/tools/typespec-migration-validation/src/fix/readonly.ts
  eng/tools/typespec-migration-validation/src/fix/troubleshooting.ts
  eng/tools/typespec-migration-validation/src/index.ts
Due: eng/pipelines/typespec-validation-all.yml

update client.tsp for chaos (#34901)
  specification/chaos/Chaos.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

change QuickBooks swagger (#34792)
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/LinkedService.json
Due: eng/pipelines/spec-gen-sdk.yml

Update example to remove potentially unsafe url (#34850)
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2020-06-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-01-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-04-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2021-12-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-04-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2022-09-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-03-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-05-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2023-09-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2024-06-01-preview/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-12-01/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2022-08-01/examples/ApiManagementCreateOpenIdConnectProvider.json
  specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2024-05-01/examples/ApiManagementCreateOpenIdConnectProvider.json
Due: eng/pipelines/spec-gen-sdk.yml

some properties were wrongly marked as required (#34910)
  specification/batch/Azure.Batch/models.tsp
  specification/batch/data-plane/Azure.Batch/preview/2024-07-01.20.0/BatchService.json
Due: eng/pipelines/spec-gen-sdk.yml

[Dell.Storage.Management] tsp format (#34952)
  specification/dell/Dell.Storage.Management/LiftrBase/main.tsp
  specification/dell/Dell.Storage.Management/client.tsp
Due: eng/pipelines/spec-gen-sdk.yml

2025-05-15-preview Entitysynonym bug fix (#34955)
  specification/cognitiveservices/Language.AnalyzeText/models/pii.entity.recognition.tsp
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzetext.json
Due: eng/pipelines/spec-gen-sdk.yml

Add common npm publishing template (#34959)
  eng/common/pipelines/templates/jobs/npm-publish.yml
Due: eng/pipelines/typespec-validation-all.yml

Update for typespec brownfield migration hotfix May 27th (#34960)
  package-lock.json
  package.json
  specification/desktopvirtualization/DesktopVirtualization.Management/back-compat.tsp
Due: eng/pipelines/spec-gen-sdk.yml, eng/pipelines/typespec-validation-all.yml, eng/pipelines/typespec-validation-ci.yml

LintDiff: Fix correlations and usage of Readme objects (#34915)
  eng/tools/lint-diff/src/correlateResults.ts
  eng/tools/lint-diff/src/processChanges.ts
  eng/tools/lint-diff/test/correlateResults.test.ts
  eng/tools/lint-diff/test/fixtures/correlateRuns/before/specification/service1/resource-manager/readme.md
  eng/tools/lint-diff/test/processChanges.test.ts
Due: eng/pipelines/typespec-validation-all.yml

Updated Java TSP config (#34975)
  specification/keyvault/Security.KeyVault.Administration/client.tsp
  specification/keyvault/Security.KeyVault.Administration/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Certificates/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Keys/client.tsp
  specification/keyvault/Security.KeyVault.Keys/tspconfig.yaml
  specification/keyvault/Security.KeyVault.Secrets/tspconfig.yaml
Due: eng/pipelines/spec-gen-sdk.yml

add Databricks Job Activity to DataFactory Pipeline (#34520)
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
Due: eng/pipelines/spec-gen-sdk.yml

update the model to DeploymentResourceJobState (#34645)
  specification/cognitiveservices/Language.AnalyzeText-authoring/models.tsp
  specification/cognitiveservices/Language.AnalyzeText-authoring/routes.tsp
  specification/cognitiveservices/data-plane/Language/preview/2023-04-15-preview/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2024-11-15-preview/analyzetext-authoring.json
  specification/cognitiveservices/data-plane/Language/preview/2025-05-15-preview/analyzetext-authoring.json
Due: eng/pipelines/spec-gen-sdk.yml

Removed conflicting fields from Ngroup definition and created NGroupPatch (#34801)
  specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2024-11-01-preview/containerInstance.json
Due: eng/pipelines/spec-gen-sdk.yml

Removed deprecated documents and scripts (#34965)
  documentation/Getting-started-with-TypeSpec-specifications.md
  documentation/samplefiles/samplereadme.md
  documentation/typespec-end-to-end-scenarios.md
  documentation/typespec-rest-api-dev-process.md
  documentation/typespec-structure-guidelines.md
  eng/scripts/TypeSpec-Generate-Sdk.ps1
Due: eng/pipelines/typespec-validation-all.yml

Pass ArtifactName properly, confiton APIView step on presence of the artifact (#34951)
  eng/pipelines/templates/stages/archetype-spec-gen-sdk.yml
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
Due: eng/pipelines/typespec-validation-all.yml

Enhancement for GitHub Action - SDK suppression label (#33990)
  .github/shared/src/sdk-types.js
  .github/workflows/SDK-Suppressions-Label.yaml
  .github/workflows/src/sdk-breaking-change-labels.js
  eng/tools/sdk-suppressions/src/common.ts
  eng/tools/sdk-suppressions/src/index.ts
  eng/tools/sdk-suppressions/src/sdk.ts
  eng/tools/sdk-suppressions/src/sdkSuppressions.ts
  eng/tools/sdk-suppressions/src/updateSdkSuppressionsLabel.ts
Due: eng/pipelines/typespec-validation-all.yml

Update Pull Request APIView endpoint (#34704)
  eng/pipelines/swagger-apiview.yml
  eng/pipelines/typespec-apiview.yml
  eng/scripts/Create-APIView.ps1
Due: eng/pipelines/typespec-validation-all.yml

Support more openapi options in the batch run (#34979)
  eng/pipelines/spec-gen-sdk-batch.yml
  eng/tools/spec-gen-sdk-runner/src/command-helpers.ts
Due: eng/pipelines/typespec-validation-all.yml

Update APIView Endpoint to use API COntrollers (#34984)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: eng/pipelines/typespec-validation-all.yml

ServiceNow V2 swagger update for value type from string to object (#34678)
  specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Pipeline.json
  specification/datafactory/resource-manager/sdk-suppressions.yaml
  specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01/entityTypes/Pipeline.json
Due: eng/pipelines/spec-gen-sdk.yml

IC3 ACS - Auth] <stable/2025-06-30> ACS Token Exchange for Teams Phone Extensibility (#34712)
  specification/communication/data-plane/Common/readme.md
  specification/communication/data-plane/Common/stable/2025-06-30/common.json
  specification/communication/data-plane/Identity/readme.md
  specification/communication/data-plane/Identity/stable/2025-06-30/CommunicationIdentity.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/CreateIdentity.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/CreateOrReplaceTeamsExtensionAssignment.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/DeleteIdentity.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/DeleteTeamsExtensionAssignment.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/ExchangeTeamsPhoneToken.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/ExchangeTeamsUserAccessToken.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/GetTeamsExtensionAssignment.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/IssueAccessToken.json
  specification/communication/data-plane/Identity/stable/2025-06-30/examples/RevokeAccessTokens.json
Due: eng/pipelines/spec-gen-sdk.yml

fix checkout (#34995)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/typespec-validation-all.yml

Add RegistryId field to Registry (#34882)
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2024-07-01-preview/registries.json
  specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2024-10-01/registries.json
Due: eng/pipelines/spec-gen-sdk.yml

Update copilot instructions to generate SDK locally (#34973)
  .github/copilot-instructions.md
  .vscode/mcp.json
Due: none

RnR User Has Review (#32980)
  specification/marketplacecatalog/Reviews.Management/examples/2023-01-01-preview/Operations_List.json
  specification/marketplacecatalog/Reviews.Management/examples/2023-01-01-preview/RatingAndReviews_CheckUserHasReview.json
  specification/marketplacecatalog/Reviews.Management/main.tsp
  specification/marketplacecatalog/Reviews.Management/reviews.models.tsp
  specification/marketplacecatalog/Reviews.Management/tspconfig.yaml
  specification/marketplacecatalog/resource-manager/Reviews/preview/2023-01-01-preview/examples/Operations_List.json
  specification/marketplacecatalog/resource-manager/Reviews/preview/2023-01-01-preview/examples/RatingAndReviews_CheckUserHasReview.json
  specification/marketplacecatalog/resource-manager/Reviews/preview/2023-01-01-preview/reviews.json
  specification/marketplacecatalog/resource-manager/Reviews/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

Microsoft.AzureTerraform: add new version 2025-06-01-preview (#34857)
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2023-07-01-preview/ExportTerraform.json
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2025-06-01-preview/ExportTerraform.json
  specification/terraform/Microsoft.AzureTerraform.Management/examples/2025-06-01-preview/ListOperations.json
  specification/terraform/Microsoft.AzureTerraform.Management/main.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/models.tsp
  specification/terraform/Microsoft.AzureTerraform.Management/routes.tsp
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2023-07-01-preview/examples/ExportTerraform.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2025-06-01-preview/examples/ExportTerraform.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2025-06-01-preview/examples/ListOperations.json
  specification/terraform/resource-manager/Microsoft.AzureTerraform/preview/2025-06-01-preview/export.json
  specification/terraform/resource-manager/readme.md
Due: eng/pipelines/spec-gen-sdk.yml

[CODEOWNERS] Remove owners for readme.*.md (#35001)
  .github/CODEOWNERS
Due: none

Path conditions:
  .azure-pipelines/network-validation.yml: any of: specification/network
  eng/pipelines/spec-gen-sdk.yml: any of: specification
  eng/pipelines/typespec-validation-all.yml: any of: .gitattributes, .prettierrc.json, package-lock.json, package.json, tsconfig.json, eng, specification/suppressions.yaml, specification/common-types
  eng/pipelines/typespec-validation-ci.yml: any of: package-lock.json, package.json, tsconfig.json, eng/tools/TypeSpecValidation
